@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.img_container{
    background-image: url('https://cdn.b12.io/client_media/pYiUYPFe/e1bbab32-0489-11f0-9106-0242ac110002-jpg-hero_image.jpeg');
    height: 300px;
    background-size: cover;
}
.header{
    text-decoration: underline;
}
.first{
    justify-content: space-between;
}
.icon{
    margin-top:7px;
}