@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.footer{
    background-color:#466F87;
}
.head{
    padding-top:2px;
    padding-left:10px;
    margin-top:1px;
}
.img1{
    background-image:url('https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg');
    background-size:cover;
    height:60vh;
}
.but{
    background-color:#558D97;
}
.explore{
    background-color:#C4DDDE;
}
.para1{
    color:#466F87;
}
.got{
    height:200px;
    width:200px;
}