@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.h-center{
    text-align: center;
   
}
.heading{
    color: skyblue;
    font-family: "Roboto";
}
.para{
    font-family: "Roboto";
    font-size: 23px;
}
.image{
    height: 428px;
    width: 588px;
    border-radius: 15px;
}
.bat{
    padding: 10px;
}
.liu{
    padding: 230px;
}