@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
}

.header-sec {
    background-color: #0056b3;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    height: 30px;
    padding: 10px;
}

nav {
    background-color: white !important;
}

.nav-icon {
    height: 20px;
}

.ham-menu {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.nav-items {
    color: black !important;
    font-weight: bold !important;
}

.nav-items:hover {
    color: #0056b3 !important;
}

.top-section-home {
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821283/pixie/assets/images/banner-bg.jpg");
    background-size: cover;
    height: 70vh;
    width: 100vw;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-home-card {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    opacity: 0.8;
}

.top-home-card span {
    color: black;
    font-weight: bold;
}

.top-home-card h1 {
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
}

.top-home-card div {
    background-color: #0056b3;
    height: 5px;
    width: 40px;
}

.top-home-card p {
    color: grey;
    font-size: 10px;
    padding-top: 10px;
}

.top-home-card p {
    color: grey;
    font-size: 10px;
    padding-top: 10px;
}

.top-home-card button {
    background-color: #00bcd4;
    border-width: 0px;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.featured-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.products-head {
    align-self: flex-start;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.products-cards {
    display: flex;
    justify-content: center;
}

.product-card {
    border: 2px solid #f4f4f4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.product-card-img {
    height: 150px;
}

.product-card p {
    align-self: flex-start;
    color: black;
    font-weight: bold;
}

.product-card h1 {
    align-self: flex-start;
    color: #00bcd4;
    font-weight: bold;
    font-size: 15px;
}

.line {
    align-self: flex-start;
    background-color: #0056b3;
    height: 5px;
    width: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

.product-scroll {
    display: flex;
    justify-content: center;
}

.box-product {
    background-color: grey;
    margin: 10px;
    height: 10px;
    width: 10px;
}

.box-product-1 {
    background-color: #0056b3;
}

.lg {
    display: none;
}

@media (min-width:992px) {
    .sm {
        display: none;
    }

    .lg {
        display: flex;
        flex-direction: column;
    }
}

.about-us {
    text-align: center;
    background-color: #0056b3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line1 {
    background-color: #ffffff;
    height: 5px;
    width: 20px;
    margin: 20px;
}

.about-us h1 {
    font-size: 20px;
    color: white;
}

.about-us p {
    font-size: 12px;
    color: white;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.aboutus-btns {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.aboutus-btns div {
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    text-align: left;
    color: grey;
    width: 60vw;
    padding: 3px;
    font-size: 10px;
}

.aboutus-btns button {
    background-color: #ffffff;
    border-width: 0px;
    border-radius: 2px;
    width: 60vw;
    color: #0056b3;
    font-size: 10px;
    padding: 3px;
}

@media (min-width:992px) {
    .aboutus-btns {
        flex-direction: row;
    }

    .aboutus-btns div {
        margin-right: 10px;
        width: 100px;
    }

    .aboutus-btns button {
        width: 90px;
    }
}

.contact-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
}

.sub-cat {
    display: flex;
    font-size: 10px;
    color: gray;
}

.sub-cat p {
    margin: 8px;
    margin-top: 20px;
}

.font-awesome-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: 20px;
}

.font-awesome-icons div {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 15px;
    background-color: grey;
    border-radius: 30px;
    margin: 10px;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 10px;
}

@media (min-width:992px) {
    .navbar-display {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}