/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.a{
    background-color: lightblue;
    height: 100vh;
    width: 200vh;
    text-align: center;
    padding:30px;
}
.b{
    background-color: #f8f9fa;
    
    padding: 10px;
}
.bb{
    color: #007bff;
}
.c{
    background-color: #f8f9fa;
    padding:10px;
}
.cc{
    color:328a7;
}
