@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bun {
    background-color: #17A2B8;
}

.bunn {
    color: #ffffff;
}

.btn {
    background-color: #000000;
    padding: 10px;
    width: 150px;
    margin: 5px;
}

.ar {
    background-color: #ffffff;
    width: 150px;
    margin: 5px;
    padding: 10px;
}
.arun{
    width: 1280px;
    background-size: cover;
    height: 500px;
}
.harsha{
    background-color: #A7E399;
}
.moh{
    background-color: #F6FF99;
}