/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
.container{
   
      background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/Aseop_8u98jknjkfvj.jpg");
    height: 35vh;
    width: 70vh;
    background-size: cover;
}
.header{
    background-color: #333333;
}
.head{
    color: #ffffff;
    font-size: 16px;
}
.btm{
    height: 30vh;
    width: 35vh;
}
.imgone{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/side1.jpg");
    height:30vh;
    width: 35vh;
    background-size: cover;
}
.imgtwo{
   background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/product.webp");
    height: 30vh;
    width: 35vh;
    background-size: cover;  
    background-color: #ed6a5a;
}
.footer{
     background-color: #333333;
      color: #ffffff;
    font-size: 16px;
    height: 30px;
    padding-left: 33vh;
}
