@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.sel {
    background-color: #17A2B8;
    font-family: "Roboto";
    color: white;
    font-size: 50px;
    padding: 10px;
}

.a {
    background-color: #A7E399;
    font-size: 30px;

}

.b {
    width: 80px;
    height: 70px;
}

.d {
    width: 10vw;
    height: 10vh;
    text-align: center;
}

.c {
    background-color: #F6FF99;
}

/*Write your CSS code below and don't modify anything above*/