@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar{
    background-color:#162415;
    font-family: Poppins;
    height: 45px;
} 
.event{
    color: #FFFFFF;
   padding: 10px;
    font-weight: bold;
}
.b1{
    background-image: url("https://cdn.b12.io/client_media/bgjFMIEJ/9b307e74-0572-11f0-833d-0242ac110002-jpg-hero_image.jpeg");
    height:400px;
    background-size: cover;
    text-align: center;
    padding: 100px;
    color: #FFFFFF;
}
.create{
    font-size:35px;
    margin: 5px;
   font-weight: bold;
}
.view{
    background-color: #32AA27;
  height: 40px;
  margin: 25px;
  padding: 10px;
   font-family: Poppins;  
}
.b2{
    margin: 25px;
}
.green{
    color: #32AA27;
    font-size: 20px;
}
.craft{
     font-size: 30px;
      font-weight: bold;
}
.pic1{
    background-color: #FFFFFF;
    height: 300px;
    padding: 2px;
    margin: 2px;
}
.footer{
    background-color:#20341E ;
    height: 200px;
    color: #FFFFFF;
    text-align: center;
    margin: 3px;
    padding: 3px;
}