/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.container{
    background-color:#FAA533;
    height:300px;
    
}
.heading{
    font-size:20px;
    
}
.para{
    font-size:15px;
}
.btn1{
    background-color:#007bff;
    border-width:0px;
    color:white;
    
}
.btn2{
    background-color: #ff5b5b;
    border-width:0px;
    color:white;
}
.image1{
    text-align: left;
    height:100px;
}
.main{
    background-color: #EF7722;
    height:100px;
}
.card{
    background-color: white;
    height:100px;
}
.image2{
    height:100px;
    
}
