@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container{
    background-color:#343A40;
}
.container1{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg");
    text-align:center;
    padding:30px;
    background-size:cover;
}
.heading{
    font-size:15px;
    color:#FFFFFF;
    font-family: "Caveat";
}
.para{
    font-family: "Roboto";
    font-size:10px;
    color:#FFFFFF;
}
.btn{
    border-radius:5px;
    background-color: #EB5B00;
}
.container2{
    background-color: #FFDE63;
    text-align: center;
    padding:20px;
}
.para1{
    font-family: "Caveat";
}
.ice{
    font-size:10px;
}
.paraour{
    font-size:15px;
    font-family: "Caveat";
}
.paramor{
    font-size:10px;
}
.container3{
    background-color: #FFBC4C;
    text-align: center;
}
.img1{
    height:50px;
}
.headidli{
    font-size: 10px;
}
.idli{
    background-color: #FFFFFF;
}
.container4{
    height:40px;
}