@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav-para1{
    text-align: right;
    color:white;
    text-decoration: underline;
}
.nav-para{
    text-align: right;
    color: white;
}
.navbar{
    background-color:#008080 ;
    height:100px;
}
.nav-head{
    color:white;
    font-family: "Roboto";
    font-weight: bold;
    text-align: left;
    font-size: 20;
}
.header{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    background-size:cover;
    height:70vh;
    width:100vw;
 
}
.header-head{
    text-align: center;
    color:white ;
    font-family: "Roboto";
    font-weight:bold;
}
.header-para{
    text-align: center;
    color:white;
    font-family: "Roboto";
    font-weight:bold;
}
.header-para1{
    
    text-decoration: underline;
}
.paragraph{
    background-color: #ccffff;
}
.paragraph-head{
    color:black;
    font-family: "Roboto";
    text-align: center;
    text-decoration: underline;
}
.card{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.card-image{
    height:100px;
    width:100px;
    border-radius:50px;
    text-align: right;
    
}
.card-head{
    font-size: 20px;
    text-align: center;
}
.card-3{
    text-align: center;
}
.card-1{
    text-align: center;
}
.footer-para{
    font-size: 20px;
    font-weight:bold;
    text-align: left;
}
.footer-p{
    text-align: right;
}
@media (max-width:768px){
    .container{
        display:flex;
        flex-direction: column;
    }
    
}