@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    font-family: "Playfair Display";
}
.footer{
    background-color:#1b262c;
    color:white;
    height:40vh;
    width:100vw;
    font-size:10px;
}
.ft-h{
    padding-left:20px;
    padding-top:30px;
}
.ft-p{
    padding-left:20px;
}
.a-1{
    padding-top:0px;
    padding-left:400px;
}