@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav-bar{
    background-color: black;
    display:flex;
    justify-content: space-around;
    color:white;
}
.head1{
    font-size: 20px;
    font-weight: bold;
}
.nav-items{
    display:flex;
    justify-content: space-between;
    margin-top:2px;
    color:white;
}
.nav-para{
    font-size: 15px;
    margin-right:10px;
    font-weight: bold;
}
.bg-img{
    background-image: url('https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg');
    height:50vh;
    width:100%;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.box-cont{
    margin-left: 30px;
}
.head2{
    font-weight: bold;
    font-size: 30px;
    color:white;
}
.para1{
    font-weight: bold;
    font-size: 14px;
    color:white;
}
.buttonE1{
    margin-top:10px;
}
.btn1{
    background-color: #38BF2C;
    color:white;
    height:40px;
    width:100px;
}
.card-container{
    margin-top: 20px;
}
.heading{
    margin-left: 10px;
}
.para2{
    color:#38BF2C;
    font-weight: bold;
    font-size: 14px;
}
.head3{
    font-size: 20px;
    font-weight: bold;
}
.lalith{
    display: flex;
    flex-direction: row;
}
.card1{
    padding:10px;
}
.card1:hover{
    padding:5px;
}
.head4{
   font-weight: bold; 
}
.head4:hover{
   font-weight: bold; 
   color:#38BF2C;
}
.footer-section{
    margin-top:10px;
    background-color: #38BF2C;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (min-height:576){
    .lalith{
        display: flex;
        flex-direction: column;
}
}