@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.head {
    background-color: #c9182c;

}

.a {
    color: #FFFFFF;

}

.three {
    justify-content: end;
    background-color: #000000;
    color: #FFFFFF;
}

.b {
    color: #FFFFFF;
    padding: 5px;
    margin: 5px;
}

.ba {
    background-color: #8bc28c;
}

.r {
    background-color: #000000;
    color: #FFFFFF;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.bo {
    background-color: #a7c957;
}

.v {
    text-align: center;
    font-weight: bold;
    padding: 60px;

}

.container {
    background-color: #c5dbf0;
    height: 200px;
    width: 400px;
}

.star {
    background-color: #797d62;
}

.n {
    background-color: #782832;
}
