@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
    color: white;
    text-align: center;
    height: 40px;
    padding: 10px;
    font-family: Poppins;
}

.container {
    background-image: url("");
}