@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.navbar-expand-lg {
    background-color: #DC3545;
}
.bg{
    background-size:cover;
    height:70vh;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/imagenew.jpeg');
}
.cont{
    text-align: center;
    padding:250px;
}
.chir{
    color: white;
    font-weight:bold;
    font-family: "Roboto";
    font-size: 32px;
}
.pa{
    color: white;
    font-family: "Roboto";
}
.b{
    color:white;
    background-color: #DC3545;
   padding:5px;
   border-width: 0;
   border-radius:5px;
}
.d{
   background-color: #FF6B6B; 
   height:60vh;
   padding: 20px;
   
}
.gt{
    text-align: center;
    color: white;
    padding: 5px;
}
.card{
    height: 200px;
    margin: 30px;
    
}
.head{
    padding: 2px;
    text-align: center;
}
.para{
    text-align: center;
    color:#818281;
}
.bt1{
    border-radius:2px;
    color:#007BFF;
    border-color:#007BFF ;
    width:200px;
}