@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
body {
    font-family: "Roboto, sans-serif";
    background-color: #FFE0CC;
    color: #0000000;
}

.hero {
    background-color: #FFE0CC;

}

.hero h1 {
    font-size: 2.2rem;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.btn-priamary{
 background-color: #0761F2;   
 border: none;
 
}
.btn-priamary:hover{
    background-color: #054dc0;
}
.specialities{
    background-color: #0761F2;
    
}
.specialities .card{
    background-color: #FFFFFF;
    border: none;
    
}
.footer{
    background-color: #F77943;
}