@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.ramzan-bg{
  background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
  background-size: cover;
  height: 50vh;
  padding: 270px;
}
.ramzan-head{
color: #ffffff;
font-family: Roboto;
text-align: center;
font-size: 35px;

}
.ramzan-para{
    color: #ffffff;
    text-align: center;
}
.button{
    width: ;
}
.green{
    background-color: #28a745;
    height: 50vh;
}
.highlight{
    color: #ffffff;
    text-align: center;
    padding: 30px;
}
.navbar-brand{
    background-color: #343a40;
    color: #ffffff;
}
.container-fluid{
    background-color: #343a40;
}
.nav-link{
   color: #ffffff;
}
.call{
    text-align: center;
    background-color: #ffffff;
    width: 30vw;
    height: 250px;
    border-radius: 25px;
    padding: 55px;
    margin: 20px;
}
.headcall{
    font-size: 30px;
}

/*Write your CSS code below and don't modify anything above*/