@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/


.nav {
    color: white;
    width: 200vh;
} 

.text {
    text-align: center;
    font-family: "Caveat";
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/biryani+images.jpg');
}

.biryani {
    height: 25vh;
}

.our {
    text-align: center;
    background-color: #A94A4A;
    color: white;
    font-family: "Caveat";
    height: 50vh;
    
}
.menu {
    background-color: #A31D1D;
    height: 75vh;
    color: white;
    font-family: "Caveat";
    text-align: center;
}
.distext {
    text-align: center;
    font-family: "Caveat";
    color: white;
    background-color: #A94A4A;
}
.disimg {
    text-align: center;
    height: 10vh;
}
.book {
    font-family: "Caveat";
    text-align: center;
    background-color: #A31D1D;
    color: white;
}
.dish {
    height: 10vh;
    
}
.copy {
    background-color: #343A40;
    color: white;
    text-align: center;
}