@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
/* .container-fluid{

} */
.bi bi-fork-knife {
    color: white;
}

.Main1 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg');
    text-align: center;
    color: white;
    font-family: Caveat;
    height: 35vh;
    padding: 120px;
    background-size: cover;
}

.p1 {
    font-family: Roboto;
    font-weight: 200;
}

.btn1 {
    background-color: #6FE6FC;
    color: #FFFFFF;
    height: 40px;
    font-size: 18px;
    width: 160px;
    font-family: Roboto;
    border-radius: 8px;
}

.Main2 {
    background-color: #A8F1FF;
    text-align: center;
    padding: 15px;
}

.h1 {
    font-family: Caveat;
}

p {
    font-size: 11px;
}

.name1 {
    /* font-style: italic; */
    font-family: Caveat;
    font-size: 14px;
}
.Main3{
    background-color: #6FE6FC;
    text-align: center;
    padding: 10px;
}
.card1{
    background-color: #FFFFFF;
    margin-left: 60px;
    padding: 8px;
}
.card2{
    background-color: #FFFFFF;
   /*  margin-left: 60px; */
   margin-left: 40px;
   padding: 8px;
   
}
.btn2{
    border: none;
    color: #6FE6FC;
    background-color: #FFFFFF;
}
.Main4{
    background-color: #A8F1FF;
}
.img1{
    margin-left: 60px;
    margin-top: 35px;
}