@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.hedder{
    background-color: #008080;
    /* display: flex; */
    color: #FFFFFF;
}
.hedder-img{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg');
    /* height: 100vh; */
    /* margin: 0px; */
    text-align: center;
    padding: 30px;
    font: Roboto;
}
.bar-1{
    color: #008080;
}
.bar-2{
    color: #FFFFFF;
}
.servic-sec{
    background-color: #ccffff;
    text-align: center;
   /*  padding: 10px; */
}
.img-1{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.pro{
    color: #000000;
    
}
.contact-sec{
    background-color: #FFFFFF;
    text-align: left;
}
.right-1{
    color:black
    
}