@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    background-color: #466f87;
    height: 7vh;
    color: white;
    padding: 12px;

}

.inner-nav {
    display: flex;
    justify-content: space-between;
}

.main-page {
    background-image: url('https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg');
    height: 83vh;
    background-size: cover;
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 170px;
    padding-left: 70px;


}

.main-heading {
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 40px;
}

.main-para {
    color: white;
    padding: 10px;
    font-weight: bold;
}

.button {
    background-color: #558d97;
    color: white;
    height: 40px;
    width: 110px;
    padding: 5px;
    border-radius: 9px;
    margin: 5px;
}

.second-part {
    background-color: #c4ddde;
    height: 80vh;
    background-size: cover;
    padding: 15px;
}

.world {
    color: #558d97;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 0px;
}

.best {
    color: black;
    font-weight: bold;
    font-size: 30px;

    padding: 20px;
    padding-top: 1px;
}

.card-carring-part {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
}

.card {

    background-color: #c4ddde;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    width: 40vw;
    padding: 8px;
    font-weight: bold;
}

.card-iamge {
    height: 30vh;
    width: 40vw;
}