@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.im {
    background-image: url(https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/vinayaka.jpg);
    height: 100vh;
    background-size: cover;
    text-align: center;

}

.h {
    color: #ffffff;
    font-family: "Roboto";

}

.p {
    color: #ffffff;
    font-family: "Roboto";

}

.b {
    background-color: #FFC107;
    border-style: none;
}

.red {
    background-color: #FFF0CE;
    height: 70vh;
}

.card {
    background-color: white;
    height: 300px;
    width: 250px;
}

.cup {
    color: #28a745;
    text-align: center;
}

.hi {
    text-align: center;
}

.bi {
    text-align: center;
}

.ni {
    width: 100px;
    text-align: center;
    
}