/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
   margin: 0;
    font-family: "Roboto";
}

.navbar-nav{
    color:white;
}
/*Write your CSS code below and don't modify anything above*/
.scusection{
    background-color:#34656D;
    height:180vh;
    
}
.heading{
    color:white;
    text-align: center;
    padding-top:10px;
}
.para{
    color:white;
    text-align: center;
    padding-bottom:30px;
}
.popular-playlist{
    background-color:#334443;
    height:550px;
    padding:20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:850px;
    
}
.parag{
    color:#ffc10a;
    font-size:30px;
    text-align: center;
    margin-top:20px;
}
.card{
    height:240px;
    margin-right:10px;
}

.image{
    width:240px;
}
