@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    max-height: auto;
    background-color: #f9f9f9;
}

i {
    font-size: 30px;
    margin: 20px;
}

.logo {
    color: #000000;
    font-family: "Roboto";
    text-align: center;
}


.home {
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    background-size: cover;
    width: 100vw;
    height: 40vh;
}

.H-heading {
    color: #ffffff;
    /* font-family: "Roboto"; */
    font-weight: bold;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}

.H-para {
    color: #ffffff;
    /*  font-family: "Roboto"; */
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.blue-line {
    background-color: #1976d2;
    height: 0.3rem;
    width: 2.5rem;
    text-align: center;
}

/*Services Section*/
.service {
    background-color: #d1e5f9;
    text-align: center;
    padding: 20px;
    /* text-decoration-color: #1976d2; */
}

.S-heading {
    font-size: 30px;
    font-weight: 100;
}

.s-img {
    height: 6rem;
    width: 6rem;
    border-radius: 100px;
}

.img-heading {
    font-weight: 900;
    font-size: 23px;
}

.services {
    padding: 40px;
}


/*footer section*/
footer {
    background-color: #1b262c;
    color: #ffffff;
    padding: 40px;
    text-align: center;
}