@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.nv{
    font-size:20px;
    font-family:"Roboto";
}

.head{
    color:#ffffff;
    font-family:"Caveat";
    font-size:28px;
}
.bg-container{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg");
    background-size:cover;
    height:40vh;
}
.first{
    text-align:center;
    margin:auto;
    padding:50px;
}
.para1{
    font-family:"Roboto";
    font-weight:bold;
    color:#ffffff;
}
.button1{
    background-color:#EB5B00;
    border-color:#EB5B00;
    color:#FFFFFF;
    font-size:15px;
    border-radius:5px;
}
.bg{
    background-color:#FFDE63;
    height:20vh;
    text-align:center;
}
.head2{
    text-align:center;
    font-size:24px;
    font-family:"Caveat";
    font-weight:bold;
}
.h{
    font-family:"Caveat";
    font-size:10px;
}

.para2{
    font-size:8px;
}
.background{
    background-color:#FFBC4C;
    height:22vh;
}
.card{
    background-color:#FFFFFF;
    height:17vh;
    width:25vw;
    margin:10px;
    
}
.image1{
    padding:10px;
    height:10vh;
    width:22vw;
} 
.heading{
    font-size:12px;
    text-align:center;
    font-family:"Roboto";
    font-weight:bold;
}
.para3{
    text-align:center;
    font-size:12px;
}
.button2{
    color:#EB5000;
    font-size:10px;
}
.image2{
    height:10vh;
    width:40vw;
}