@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.first{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    height:650px;
    width:800px;
    background-size: cover;
}
.head{
    color: white;
    text-align: center;
    font-size: 50px;
    
}
.para{
    color: white;
    text-align: center;
    font-size: 25px;
}
.a1{
    text-align:right;
}
.a2{
    text-align: right;
}
.second{
    background-color:#d1e5f9 ;
    width:800px;
    height:650px;
}
.a4{
    text-align: center;
}