@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav-bar{
    background-color: #008080;
}
.wcl-section{
    background-image:url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg ");
    padding: 100px;
    background-color: #008080;
}
.heading1{
    color: #f9f9f9;
    font-family: "roboto";
    text-align: center;
    padding: 80px;
    font-weight: bold;
}
.para1{
    color:#f9f9f9;
    text-align: center;
    font-family: "roboto";
}
.services-section{
    background-color: #ccffff;
    align-content: center;
    text-align: center;
}
.heading2{
    font-family: "roboto";
    text-align: center;
    padding: 50px;
}
.image1{
    border-radius: 810px;
    border-top-left-radius: 800px;
}
.hed1{
    font-family: "roboto";
    font-size: 23px;
    font-weight: bold;
}
.pa1{
    font-family: "roboto";
    font-size: 20px;
}