@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar{
    display: flex;
    flex-direction: row;
}
.nav-link{
    margin-left: auto;
}
.nav-link:hover{
    text-decoration: underline;
}
.body{
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    background-position: center;
    background-size: cover;
    height: 90vh;
}
.heading{
    color: white;
    text-align: center;
    padding-top: 200px;
}
.bluedash{
    background-color: #1976d2;
    height: 10px;
    width: 80px;
    margin: auto;
}
.heading2{
    color: white;
    text-align: center;
}
.services-container{
    background-color: #d1e5f9;
    padding-top: 20px;
}
.services-heading{
    color: black;
    text-align: center;
}
.image{
    height: 90px;
    width: 90px;
    border-radius: 45px;
}
.services-section{
    text-align: center;
    padding-top: 50px;
}
.row{
    display: flex;
    flex-direction: column;
}
@media(medium: 786px){
    .row{
        flex-direction: row;
    }
}
.footer{
    background-color: black;
    height: 220px;
}
.headfoot{
    color: white;
    font-family: "Roboto";
    margin: auto;
    padding-top: 20px;
    text-align: center;
}
.para{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.foot{
    color: white;
    font-family: "Roboto";
    margin: auto;
    text-align: center;
}