@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.heading{
    color: white;
    background-color:#000000;
    font-family: "Roboto";
    padding: 15px;
    width: 120vw;
    
}
.box1{
    color: white;
    font-family: "Roboto";
    align-content: center;
    align-items: center;
    justify-content: center;
   text-align: center;
}
.h2{
    color:#39ff14;
    font-size: 100px;
}
.image1{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg');
    height: 160vh;
    width: 120vw;
}
.h1{
    font-size: 50px;
}