@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

* {
    font-family: "Roboto";
}

@media (min-height:768px) {
    .grey-bg {
        background-color: #000000;
        opacity: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
    }

    .cycle {
        color: white;
        font-weight: bold;
    }

    .nav {
        color: white;
        font-weight: bold;
        padding: 25px;

    }

    .nav:hover {
        text-decoration: underline;
    }

    .nav-align {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* padding: 10px; */
    }

    .bg-img {
        background-image: url("https:://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
        min-height: 50vh;
        background-size: cover;
    }

    .home-align {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 180px;
    }

    .cycle1 {
        font-weight: bold;
        color: white;
        font-size: 40px;

    }

    .quote {
        color: white;

    }

    .line {
        background-color: #39ff14;
        height: 10px;
        width: 100px;
        /* display: hidden; */
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bg-green {
        background-color: #d4ffcc;
        min-height: 100vh;
        text-align: center;

    }

    .white-card {
        background-color: white;
        min-height: 500px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .img1 {
        border-radius: 200px;
        height: 190px;
        width: 200px;
        padding: 50px;
    }

    .services-align {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .services-align1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .white-bg {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        min-height: 200px;
    }

    .nav-footer {
        color: black;
        padding: 30px;
    }

    .footer {
        color: black;
        font-size: 20px;
    }
}

@media (max-height:768px) {
    .grey-bg {
        background-color: #000000;
        opacity: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
    }

    .cycle {
        color: white;
        font-weight: bold;
    }

    .nav {
        color: white;
        font-weight: bold;
        padding: 25px;
        display: hidden;

    }

    .nav:hover {
        text-decoration: underline;
    }

    .nav-align {
        display: flex;

        flex-direction: row;
        justify-content: center;


    }

    .bg-img {
        background-image: url("https:://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
        min-height: 50vh;
        background-size: cover;
    }

    .home-align {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 180px;
    }

    .cycle1 {
        font-weight: bold;
        color: white;
        font-size: 40px;

    }

    .quote {
        color: white;

    }

    .line {
        background-color: #39ff14;
        height: 10px;
        width: 100px;
        /* display: hidden; */
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .bg-green {
        background-color: #d4ffcc;
        min-height: 120vh;
        text-align: center;


    }

    .white-card {
        background-color: white;
        min-height: 500px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .img1 {
        border-radius: 200px;
        height: 190px;
        width: 200px;
        padding: 50px;
    }

    /* .services-align {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .services-align1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    } */

    .white-bg {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 200px;
    }

    .nav-footer {
        color: black;
        padding: 30px;
        order: 1;
    }

    .footer {
        color: black;
        font-size: 20px;
        order: 0;
    }
}