@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.navbar-brand{
    font-weight:bold ;
    color:#000000;
}

.logo{
    font-weight:bold ;
    color:#ff6b6b;
}

.banner{
    background-image:url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821276/sixteen-clothing/assets/images/slide_01.jpg');
    width:100vw;
    height:50vh;
    background-size:cover;
    text-align: center;
    
}

.text{
    margin-top:20%;
}

.text1{
    color:#ff6b6b;
    font-weight:bold;
    
}

.text2{
    color:white;
    font-size: 50px;
}

section{
    margin-top:50px;
    margin-left: 50px;
}

.view{
    color:#ff6b6b;
    font-weight: bold;
    font-size: 25px;
}

.card{
    margin:20px;
}


.contact{
    width:80vw;
    height:20vh;
    margin:20px;
    text-align: center;
    background-color: #f4f4f4;
    padding:10px;
    border-radius: 5px;
}
.creative{
    color: #00bcd4;
    font-size:20px;
    padding:10px;
}
.span{
    font-weight:bold;
}

.look{
    margin-top:30px;
    color:#00bcd4;
    margin-bottom: 30px;
}

ul{
    list-style-type: square;
    margin-left:0px;
}
.read{
    margin:10px;
}

button{
    background-color:#ff6b6b ;
    color:white;
    border-width: 0px;
    border-radius:5px;
    height:50px;
    padding:15px;
}
.purchase{
    width:80%;
    font-size:23px;
    padding:10px;
    margin:15px;
    margin-left:25px ;
}

.review{
    color:#ff6b6b;
    margin-left:50%;
}

footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}