/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.back{background-color:lightblue ;
    background-size: cover;
    height:100vh;
    text-align: center;
}
.a1{background-color:#f8f9fa ;
    background-size:cover;
padding:8px;
margin:8px;
    border-radius:10px;
    border-style:solid;
    border-color:#0071e3;
    
}
.b1{color:#007bff;}
.b2{color:#28a745;}
.b3{color:#dc3545;}
.button1{background-color: #007bff;
    color:#ffffff;
}
.button2{background-color:#28a745 ;
    color:#ffffff;
}
.button3{background-color:#dc3545;
    color:#ffffff;
}
