/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container{
    background-color: lightblue;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding: 100px;
}
.firstbox{
    border: solid #0071e3 ;
    background-color: white;
    text-align: center;
}
.heading{
    font-family:Caveat ;
    color:#007bff ;
}
.para{
    font-family: Caveat;
}
.btn{
    background-color: #007bff;
    font-family: Caveat;
    color: #ffffff;
   margin: 10px;
}
.secondbox{
    border: solid #0071e3 ;
    background-color: white;
    text-align: center;
}
.simple{
    font-family:Caveat ;
    color:#28a745 ;
}
.graph{
    font-family: Caveat;
}
.bot{
    background-color: #28a745;
    font-family: Caveat;
    color: #ffffff;
   margin: 10px;
}
.thirdbox{
    border: solid #0071e3 ;
    background-color: white;
    text-align: center;
}
.phone{
    font-family:Caveat ;
    color:#dc3545 ;
}
.matter{
    font-family: Caveat;
}
.botton{
    background-color: #dc3545;
    font-family: Caveat;
    color: #ffffff;
   margin: 10px;
}
