@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.bat {
    text-align: center;
    color: lightblue;
}

.pavan {
    background-color: #f0f8ff;
    height: 400vh;
    width: 345vw;
    font-family: "Roboto";

}

.n {
    width: 240px;
    height: 200px margin: 40px;
    border-radius: 10px;
}

.m {
    width: 240px;
    height: 200px margin: 10px;
    border-radius: 10px;
}

.l {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
}

.a {
    color: black;
}

.rat {
    text-align: center;
}

.pa {
    background-color: blue;
    color: white;
}

.va {
    background-color: green;
    color: white;

}

.nf {
    background-color: yellow;
    color: white;
}