@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.ok{
    display: flex;
    justify-content: space-between;
    font-family: "Poppins";
}
.ok1{
    font-weight: bold;
    font-family: "Poppins";
}
.ok2{
    background-size: cover;
    font-family: "Poppins";
    height: 60vh;
}
.img{
    height: 25vh;
   
}
.para{
    text-decoration: underline;
    color: white;
}