@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.head{
    background-color:#008080 ;
    color:white;
    font-weight: normal;
    padding: 10px;
    height: 30px;
    font-family: "Roboto";
    font-size: 20px;
}
.para{
    color:white;
    background-color:#008080 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cd{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg');
    background-size:cover ;
    height: 40vh;
    display:flex ;
    flex-direction:column ;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.hero_section{
    color:white;
    font-family: "Roboto";
    font-weight:normal ;
}
.param{
   color:#008080; 
   font-weight:900;
   font-style: normal;
}
.bg{
    background-color: #ccffff;
    padding: 10px;
    height: 110vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.p{
    font-size: 30px;
    font-family: "Roboto";
}
.h{
    color:black;
    font-family: "Roboto";
    font-size: 25px;
}
.paragraph{
     color:black;
    font-family: "Roboto";
    font-size: 15px;
}
.image{
    border-radius:60px;
    height: 100px;
    width:110px;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.container{
   display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer{
    background-color: white;
    height: 50vh;
}
.f2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.f1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (min-width:768px){
    .service{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    }
}



@media (min-width:768px){
    .bg{
        height:50vh;
    }
}