@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821276/sixteen-clothing/assets/images/slide_01.jpg");
    height: 50vh;
    background-size: cover;
    margin-bottom: 10px;
}

.bg-para {
    color: #ff6b6b;
    font-weight: bold;
    text-align: center;
}

.bg-head {
    text-align: center;
    color: #f4f4f4;
}

.latest-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}

.Latest-heading {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-head {
    width: 70%;
}

.latest-para {
    margin-top: 5px;
    display: flex;
    align-self: center;
    color: #ff6b6b;
    font-weight: bold;
}

.latest-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.card-container {
    width: 350px;
    border: 1px solid black;
    margin: 10px;
}

.card-text-1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* padding: 20px; */
}

.card-text-head {
    color: #00bcd4;
    font-size: 22px;
}

.card-text-para {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.about-text-container {
    width: 400px;
    margin: 15px 0px 0px 0px;
}

.about-card-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

li {
    list-style-type: square;
}

.p-card-text-head {
    color: #00bcd4;
    font-size: 28px;
}

.purchase-card-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

button {
    background-color: #ff6b6b;
    border: 0px;
    color: white;
    border-radius: 5px;
    height: 35px;
    width: 140px;
}

.nav-logo{
    font-weight: bold;
    padding-left: 20px;
}

.nav-buttoon{
    color: #ffffff;
    font-weight: bold;
}

footer {
    text-align: center;
}

span{
    color: #ff6b6b;
}

hr{
    width: 90%;
}