/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg-container {
    background-color: #0018f9;
    height: 40vh;
    width: 100vh;
}

.main-head {
    color: #FFFFFF;
    font-family: Roboto;
    text-align:center;
}

.para {
    color: #FFFFFF;
    text-align:center;
}
.bg{
    background-color:#f4f4f4;
}
.sec-head {
    color: #000000;
    text-align:center;
    font-weight:bold;
}

.sec-para {
    color:#000000;
}
.third-para{
    background-color:#333;
    color:#FFFFFF;
    height:10vh;
    width:100vw;
    text-align:center;
}
.change{
    padding:15px;
    margin:20px;
}
.button-1{
    background-color:green;
    color:white;
}
.button-2{
    color:yellow;
    background-color:white;
    border-color:yellow;
}
.button-3{
    background-color:yellow;
    color:black;
}
.button-4{
    background-color:blue;
    color:white;
}
