@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.img1 {
    height: 150px;
    width: 150px;
}

.img2 {
    height: 100px;
    width: 100px;
}

.head {
    background-color: #DC3545;
    color: #ffffff;
    font-size: 10px;
    font-weight: 10px;
    border-radius: 10px;
    border-width: 0px;
    padding: 20px;
}

.bt2 {
    background-color: #FF7043;
}

.bt1 {
    background-color: #0761F2;
}

.mid {
    background-color: #FFE0CC;
    padding: 40px;
}

.last {
    background-color: #0761F2;
}

.card {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin: 20px;
    font-family: Roboto;
    color: #000000;
}