@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.herotitle {
    text-align: center;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/buger+image.jpg");
    background-size: cover;
    padding: 165px;
    
}
.headcenter {
    text-align: center;
    font-weight: bold;
}
.menusec {
    background-color: #FAA533;
    padding: 30px;
}
.cardcollect {
    text-align: center;
}
.card1 {
    background-color: #FFFFFF;
    padding: 5px;
    margin: 20px;
    border-radius: 5px;
}
.img1 {
    height: 200px;
    border-radius: 5px;
}
.para4 {
    font-weight: bold;
    font-size: 25px;
}
.nav-link {
    color: #FFFFFF;
    text-decoration: none;
}
.navbar {
    padding: 15px;
}
.anchor1 {
    text-decoration: none;
    color: #F97A00;
}
.button2 {
    background-color: #FFFFFF;
    color: #000000;
    border-width: 0;
    border-style: solid;
    border-radius: 5px;
}
.discountsec {
    background-color: #FFBC4C;
    padding: 50px;
}
.offer {
    margin-left: 50px;
}
.img2 {
    height: 500px;
}
.head1 {
    font-family: Caveat;
    color: #FFFFFF;
    font-weight: bold;
}
.booksec {
    text-align: center;
    padding: 130px;
    background-color: #FAA533;
}
.button3 {
    width: 150px;
    padding: 10px;
}
.head2 {
    font-family: Caveat;
    color: #000000;
    font-weight: bold;
}
.para1{
    color: #FFFFFF;
    font-family: Roboto;
}
.para2{
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
}
.para3 {
    font-family: Caveat;
    font-weight: bold;
    color: #000000;
}
.storysec {
    text-align: center;
    padding: 30px;
}
.parax {
    color: #FFFFFF;
}
.storyback {
    background-color: #FFBC4C;
}
.footer1 {
    background-color: #343A40;
    text-align: center;
    padding: 30px;
}
.button1 {
    border-style: solid;
    border-width: 0px;
    background-color: #F97A00;
    padding: 5px;
    color: #FFFFFF;
    width: 150px;
    border-radius: 5px;
}