@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.bg-container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg");
    

}

.MH {
    font-family: "Caveat";
    color: #FFFFFF;
    text-align: center;

}

.para {
    text-align: center;
    color: #FFFFFF;
}

.bnt {
    text-align: center;
    color: #FFFFFF;
    background-color: #4ED7F1;
}

.bg-container2 {
    background-color: #A8F1FF;

}
.MH2{
    color: #000000;
    
}
.para 


/*Write your CSS code below and don't modify anything above*/