@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.hi{
    padding-left: 200px;
}
.ho{
    padding-left:20px ;
}
.bg1{
    background-image: url('https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg');
}