@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.container2 {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    height: 500px;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 5px;

}

.heading1 {
    color: #FFFFFF;
    font-family: Caveat;
    margin-top: 20px;
}

.paragraph1 {
    color: #FFFFFF;
    font-family: Roboto;
}

.btn {
    color: #FFFFFF;
    background-color: #52FA6C;
}

.container3 {
    background-color: #9BFAA9;
    text-align: center;
}

.heading2 {
    font-family: Caveat;
    font-style: bold;
}

.paragraph2 {
    font-family: Roboto;
}

.paragraph3 {
    font-family: Caveat;
}

.image-card1 {
    height: 100px;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
}

.cards1 {
    background-color: #FFFFFF;
    height: 400px;
}

.container4 {
    background-color: #0ec930;
    height: 400px;
    text-align: center;
}

.cards1 {
    height: 300px;
    width: 200px;
    margin-left: 10px;
}

.nav-link2 {
    color: #0ec930;
}

.container5 {
    background-color: #9BFAA9;
    text-align:center;
}

.headings3 {
    font-family: Caveat;
    margin-top:10px;
}

.paragraph5 {
    color: black;

}

.btn2 {
    background-color: #FFFFFF;
    border-color: 5px;
}