@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

#white {
    color: white;
}

.card1 {
    text-align: center;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/biryani+images.jpg");
    background-color: #000000;
    height: 30vh;
    background-size: cover;
}

.heading {
    font-family: "Caveat";
    padding-top: 10vh;
    color: #ffffff;
    font-size: 40px;
}

.paragraph {
    color: #ffffff;
}

.button {
    padding: 1vh;
    font-size: 20px;
}

.first {
    height: 10vh;
}

.card2 {
    text-align: center;
    background-color: #A94A4A;

}

.writing {
    font-family: "Caveat";
}

.card3 {
    text-align: center;
    background-color: #A31D1D;
}

.fix-first {
    height: 200px;
}

.first-image {
    background-size: 50vh;
}

.card5 {
    background-color: #A94A4A;
    background-size: 40vh;
}