@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.carservices{
    font-family: Roboto;
    
}
.navbar{
    background-color: #1b262c;
    color:white;
    
}
h1{
    text-align: center;
     padding:10px;
}
.first-page{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    background-size: cover;
    height:400px;
    color:white;
    font-size: 28px;
    font-family: Roboto;
    text-align: center;
     padding:10px;
}
.image{
    border-radius: 10px;
    width:300px;
  
}
.sec-page{
    background-color: #f2ccff;
    padding:10px;
}
.third-page{
    text-align: center;
     padding:10px;
}
@media(min-height:700px){
    .three-services{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
        .one-service{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         
    }
}
@media(max-height:576px){
    .first-page{
         font-size: 18px;
         
    }
    .image{
            width:240px; 
         }
   
}
@media(max-height:700px){
     .three-services{
        display:flex;
        flex-direction: column;
    }
}