@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.card1 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 120px;
}

.butt1 {
    background-color: #EB5B00;
    height: 40px;
    width: 140px;
    color: white;
}

.heading1 {
    font-family: "Caveat";
}

.card2 {
    background-color: #FFDE63;
    text-align: center;
    padding: 30px;
}

.card3 {
    background-color: #FFBC4C;
    text-align: center;
    width: 100%;
}

.mcard {
    background-color: white;
    margin: 20px;
}

.image {
    width: 290px;
    height: 180px;
    padding: 10px;
}

.hed {
    font-size: 25px;
    font-style: Bold;
}

.card4 {
    background-color: #FFDE63;
}

.imagelast {
    height: 300px;
    width: 600px;
    padding: 30px;
}

.card5 {
    background-color: #FFBC4C;
    text-align: center;
}