@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.container1 {
    background-color: #0d3b66;
    color: #ffffff;
    text-align: center;
   
}

.button1 {
    background-color: #ee964b;
}

.container2 {
    background-color: #faf0ca;
    background-size: cover;
    text-align: center;
    color: black;
}
.containergarden{
    background-color: #f4d35e;
    justify-content: space-between;
    width: 360px;
    margin: 0px;
}
.containerwizard{
    background-color: #f4d35e;
    justify-content: space-between;
}
.containercastle{
    color: #f4d35e;
    justify-content: space-between;
    
    margin: 35px;
}
.containerend{
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
}
.conatinernavbar{
    background-color: #faf0ca;
    color: #0d3b66;
}
