@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.card{
    background-color: #FAA533;
}
.img{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.im{
    height: 100px;
    width: 100px;
}
.bu{
    background-color:#007bff ;
    color:#ffffff;
}
.bot{
    background-color: #ff5b5b;
    color: #ffffff;
}
.a{
    background-color: #ffffff;
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 40px;
    text-align: center;
}
.b{
    height: 100px;
    width: 100px;
    padding: 10px;
}
.card2{
    background-color: #EF7722;
}