@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav{
    background-color: #008080;
    height:30px;
    width:100vw;
    color:#ffffff;
    text-align: center;
}
.container{
    background-image:url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    height:60vh;
    width:100vw;
}
.h1{
    color:#ffffff;
    font-family:"Roboto";
    padding:15px;
    text-align:center;
}
.para{
    color:#ffffff;
    font-family: "Roboto";
    text-align:center;
    padding:10px;
}
.card{
    background-color:#ccffff;
    height:200vh;
    width:100vw;
}
.h2{
    color:#000000;
    font-size:30px;
    text-align: center;
}
.img1{
    height:40vh;
    width:50vw;
    padding:20px;
    border-radius:2000px;
    
}
.h3{
    color:#000000;
    font-size:15px; 
    text-align:center;
}
.p1{
    color:#000000;
    font-size:10px;
}
.img2{
     height:40vh;
    width:50vw;
    padding:20px;
    border-radius:2000px;
    
}
.footersection{
    background-color:#f9f9f9;
    height:50vh;
    width:100vw;
    
}
.home{
    color:#000000;
    font-size:10px;
    text-align: center;
    padding:20px;
}
.h5{
    color:#000000;
     text-align: center;
    padding:20px;
    
}
.p{
    color:#000000;
    text-align: center;
}