@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg-contanier {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/dusear+1.jpg");
    height: 50vh;
    background-size: cover;
    width: 500px;
    text-align: center;
    padding: 60px;
    font-family: "Roboto";
}

.head {
    color: #FFFFFF;
    font-size: 25px;
}

.para {
    color: #FFFFFF;
    font-size: 15px;
}

.card {
    background-color: #F08787
}

.c {
    background-color: #FFFFFF;
    width: 200px;
    height: 230px;
    margin: 10px;
}

.ha {
    font-size: 20px;
    margin: 10px;
}

.pp {
    font-size: 10px;
    margin: 10px;
}

.btn {
    color: #dc3545;
    border-color: #dc3545;
    margin: 10px;
}

.ca {
    background-color: #FFFFFF;
    width: 200px;
    height: 230px;
    margin: 10px;
}

.hhh {
    font-size: 20px;
    margin: 10px;
}

.ppp {
    font-size: 10px;
    margin: 10px;
}

.btn {
    color: #ffffff;
    margin: 10px;
}
.u{
    background-color: #FFFFFF;
    width: 200px;
    height: 230px;
    margin: 10px;
}