@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
}
#nav_itm_1{
    color: #ffffff;
}
.nav_container {
    background-color: #5c4a7a;
}

.nav_heading {
    font-family: "Open Sans";
    color: #ffffff;
}

.collapse_btn {
    background-color: #ffffff;
}

.welcome_sec {
    min-height: 50vh;
    background-color: black;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.welcome_sec_img {
    position: absolute;
    /* background-color: black; */
    height: 100%;
    width: 100%;
    opacity: 0.3;
}

.welcome_sec_content {
    color: white;
    text-align: center;
    z-index: 1;
}

.welcome_sec_btn {
    background-color: transparent;
    height: 36px;
    width: 120px;
    color: #ffffff;
    border: 2px solid #333333;
    border-radius: 18px;
}

.welcome_sec_ethereal { 
    color: red;
}
.bulb_sec_card{
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bulb_sec_card_icon_div{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #f3edf7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bulb_sec_card_heading{
    color: #333333;
}
.bulb_sec_card_txt_div{
    font-family: "Open Sans";
    width: 70%;
}

/* OUR WORK SECTION */
.ourwork_sec{
    background-color: #f3edf7;
}
.ourwork_sec_heading{
    text-decoration: underline;
    text-decoration-color: red;
    text-align: center;
    font-family: "Roboto";
}
.ourwork_sec_button{
    background-color: #ef4c3c;
    height: 40px;
    min-width: 200px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
}
.ourwork_sec_img{
    width: 95%;
}

/* SUBSCRIBE SECTION */
.subscribe_sec{
    min-height: 10vh;
    background-color: black;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.subscribe_sec_img{
    position: absolute;
    /* background-color: black; */
    height: 100%;
    width: 100%;
    opacity: 0.3;
}
.subscribe_sec_txt{
    color: #ffffff;
    z-index: 1;
    font-family: "Roboto";
    margin-left: 36px;
}
.subscribe_sec_txt h3{
    text-decoration: underline;
    text-decoration-color: red;
}
.subscribe_sec_button_div{
    z-index: 2;
    
}

/* ABOUT US */

.about_sec{
    font-family: "Roboto";
}
.about_sec h2{
    text-align: center;
    text-decoration: underline;
    text-decoration-color: red;
}
.about_sec_small_card{
    /* border: 1px solid red; */
    min-height: 50px;
    min-width: 50px;
    text-align: center;
}
.about_sec_small_card h1{
    color: #ef4c3c;
}
.about_sec_small_card_div{
    display: flex;
    justify-content: space-around;
    font-family: "Roboto";
}