@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0px;
}

.navbar {
    background-color: #008080;
    height: 40px;
    padding: 10px;
    width: 700px;
}

.nav {
    display: flex;
    font-family: Roboto;
    color: white;
}

.ele {
    font-size: 30px;
    padding-right: 200px;

}
.home{
    font-size: 20px;
    padding-right: 20px;
    padding-top:10px ;
    
}
.ser{
    font-size: 20px;
    padding-right: 20px;
    padding-top:10px ;
    
}
.banner{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg') ;
    height: 500px;
    width: 700px;
    background-size: cover;
}
.baninfo{
    padding: 100px;
    padding-top:200px ;
    color: white;
}

.banpa{
    padding: 15px;
    font-size: 30px;
}
.cardcont{
    display: flex;
    /* flex-wrap: wrap; */
    background-color: #ccffff;
    width: 500px;
    background-size:cover ;
    padding: 100px;
    
}
.cardinfo{
    border-width: 0px;
    background-color: #ccffff;
    padding: 10px;
    margin: 30px;
}
.cardim{
    height: 50px;
    width: 50px;
    border-width: 0px;
    border-radius: 100%;
}
.foot{
    background-color: white;
    display: flex;
    font-family: Roboto;
    padding: 30px;
}
.class{
    display: flex;
    padding-left: 200px ;
    margin: 10px;
}
.pp{
    padding-left:10px ;
}