@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar{
    height: 100px;
    background-color:#1b262c ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.h1{
    color: white;
}
.p1{
    color: white;
    margin: 40px;
    
}
.para{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 540px;
}
.bg_img{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2{
    color: white;
}
.p2{
    color: white;
    margin: 40px;
    
}
.br{
    color: #bf00ff;
    height: 20px;
}
.cards{
     display: flex;
    flex-direction:row;
    align-items:flex-start;
    
}
.card{
    margin: 20px;
}
@media (max-width:576px){
    .cards{
     display: flex;
    flex-direction:column;
    align-items:flex-start;
    
}
.h1{
    color: white;
    text-align: center;
    margin-left: 200px;
}
}