@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.top_container{
    width: 100%;
    height: 400px;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg');
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 130px;
}
.top_container h1{
    font-family: 'Caveat';
    font-size: 24px;
}
.top_container p{
    font-size: 13px;
    font-family: 'Roboto';
}
.top_container button{
    background-color: #0ec930;
    border: 0px solid white;
    font-size: 15px;
    color: white;
    border-radius: 2px;
    padding: 0px 15px 0px 15px;
}
.sec_container{
    background-color: #9BFAA9;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec_container h1{
    font-family: 'Caveat';
    font-size: 30px;
    font-weight: bold;
}
.sec_container p{
    font-size: 13px;
    font-family: 'Roboto';
}
.Name_foot_sec{
    font-family: 'Caveat';
}
.third_container{
    text-align: center;
    background-color: #52FA6C;
    height: 400px;
    padding-top: 15px;
}
.third_container h1{
    font-family: 'Caveat';
    font-size: 30px;
    font-weight: bold;
}
.flex_menu{
    display: flex;
    justify-content: space-evenly;
}
.card{
    height: 275px;
}
img{
    width: 96%;
    margin: 4px auto 2px auto;
    height: 55%;
}
.card h1{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: bold;
}
.card p{
    font-size: 12px;
}
#anchor{
    color: #52FA6C;
    margin-bottom: 5px;
}
.fourth_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #9BFAA9;
    height: 400px;
}
.disc_off{
    margin-left: 50px;
    height: 300px;
    width: auto;
}
.content_fourth h1{
    font-family: 'Caveat';
    font-size: 30px;
    font-weight: bold;
}
.content_fourth p{
    font-size: 12px;
}
.content_fourth button{
    border: 0px solid white;
    padding: 5px;
}
.fifth_container{
    padding: 100px 0px 0px 0px;
    background-color: #52FA6C;
    height: 350px;
    text-align: center;
}
.fifth_container h1{
    font-family: 'Caveat';
    font-size: 30px;
    font-weight: bold;
}
.fifth_container p{
    font-size: 14px;
}
.fifth_container button{
    border: 0px solid white;
    padding: 5px;
}
.footer{
    text-align: center;
    color: white;
    font-size: 12px;
    background-color: #343A40;
    height: 30px;
    padding-top: 7px;
}