@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.background0 {
    background-color: #f0f8ff;
    height: 166vh;
    background-size: cover;
}

.head0 {
    font-size: 40px;
    text-align: center;
    color: blue;
    padding: 15px;
    margin: 0px;
}

.image1 {
    border-radius: 15px;
    width: 545px;
    height: 300px;
}

.background1 {
    text-align: center;
}

.image2 {
    border-radius: 15px;
    width: 545px;
    height: 300px;
}

.image3 {
    border-radius: 15px;
    width: 545px;
    height: 300px;
}

.para1 {
    font-size: 23px;
    font-family: Roboto;
}

.para2 {
    font-size: 23px;
    font-family: Roboto;
}

.para3 {
    font-size: 23px;
    font-family: Roboto;
}



.but1 {
    color: white;
    background-color: blue;
    border-color: blue;
    border-radius: 3px;
    font-family: "Roboto";
    height: 35px;
    margin: 3px;
}

.but2 {
    color: white;
    background-color: green;
    border-color: green;
    border-radius: 5px;
    font-family: "Roboto";
    height: 35px;
    margin: 3px;
}

.but3 {
    color: black;
    background-color: yellow;
    border-color: yellow;
    border-radius: 5px;
    font-family: "Roboto";
    height: 35px;
    margin: 3px;
}

.but {
    text-align: center;
    padding: 15px;
}