@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.img{
    background-image: url("https://cdn.b12.io/client_media/bgjFMIEJ/9b307e74-0572-11f0-833d-0242ac110002-jpg-hero_image.jpeg");
    height: 50vh;
    background-size: cover;

}
.container{
    font-family: Poppins;
}
.img1{
    height: 30vh;
    
}
.cards{
    height: 50vh;
    width: 45vw;
}