@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.navbar {
    background-color: #006d77;
    height: 5vh;
}

.button {
    border-width: 0px;
    color: #000000;
}

.button2 {
    border-width: 0px;
    background-color: #000000;
    color: #ffffff;
}

.image1 {
    height: 300px;
}

.pic {
    height: 80px;
    border-radius: 10px;
    width: 80px;
}

.sec1 {
    height: 50vh;
    background-color: #83C5BE;
    padding: 50px;
}

.sec2 {
    height: 45vh;
    background-color: #FFA69E;
    padding: 10px;
}