@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.a {
    background-color: #f0f8ff;
    height: 189vh;
    text-align: center;
    padding: 10px;
}

.b {
    font-family: Roboto;

    color: blue;
}

.c {

    font-size: 22px;
}

.d {
    height: 330px;
    border-radius: 10px;
}

.e {
    font-size: 22px;
}

.f {
    height: 30px;
}

.g {
    padding: 20px;
}

.h {
    height: 330px;
    border-radius: 10px;
}

.i {
    padding: 20px;
}