/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: 'Roboto';
    margin: 0px;
}

/*Write your CSS code below and don't modify anything above*/
.img{
    height: 10vh;
    width: 25vw;
}
.container{
    text-align: center;
    background-color:#E2F2FD ;
    height: 100vh;
}
.cont1{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: 10px;
}
.a{
    font-family: "Roboto";
    font-weight: bold;
}
.c{
    text-decoration: underline;
    font-size: 20px;
    text-align: left;
}
.d{
    background-color: #FFFFFF;
    border-radius: 10px;
}
.e{
    background-color: #f9f9f9;

    border-radius: 20px;
    margin: 30px;
    margin-bottom: 30px;
}
