@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
    background-color: #20341E;
    background-size: cover;
    height: 10vh;
    width: 100vw;
}

.navbar {}

.h1 {

    color: #FFFFFF;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 18px;
    padding: 30px;
}

.nav {}

.home {
    background-image: url("https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
    height: 80vh;
    width: 100vw;

}

.heading {
    text-align: center;
    color: #FFFFFF;
    font-family: "Poppins";
    font-size: 30px;
    font-weight: bold;
}

.para {

    color: #FFFFFF;
}

.btn {
    text-align: center;
    background-color: #32AA27;
    color: #FFFFFF;
    margin: 5px;
    padding: 5px;
}