@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg-container {
    background-color: #c9182c;
    height: 30px;
    width: 100vw;
}

.head {
    font-size: 10px;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
}

.Hidden-container {
    background-color: #8bc28c;
    height: 120px;
}

.header {
    font-size: 25px;
    color: #ffffff;
}

.para {
    font-size: 6px;
    color: #ffffff;
}

.button {
    color: #23362b;
}

.Top-container {
    background-color: #a7c957;
    height: 200px;
    width: 100vw;
}

.heading {
    text-align: center;
    font-size: 1;
}
