@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container1{
    background-color: #8bc28c;
    color: #FFFFFF;
}
.button1{
    background-color: #23362b;
    color: #FFFFFF;
}
.containerred{
    background-color: #c9182c;
    color: #FFFFFF;
}
.buttongrey{
    background-color: #23362b;
    color: #FFFFFF;
}
.container2{
    background-color: #a7c957;
    color: #FFFFFF;
}
.container3{
    background-color: #c5dbf0;
    color: #000000;
}
.container4{
    background-color: #c5dbf0;
    color: #000000;
}
.container5{
    background-color: #c5dbf0;
    color: #000000;
}
.containergreen{
    background-color: #797d62;
    color: #000000;
}
.containerend{
    background-color: #782832;
    font-size: 12px;
}
