@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
1.breakpointssm: md: md:max-xl:flex lg: xl: 2xl: <meta name="viewport"content="width=device-width, initial-scale=1.0"/>for break point <div class="@container"><div class="flex flex-col @md:flex-row">2.box decoration: box-decoration-clone box-decoration-slice 3.max-width max-w-sm <div class="w-full max-w-96 ...">max-w-96</div><div class="w-full max-w-80 ...">max-w-80</div><div class="w-full max-w-64 ...">max-w-64</div><div class="w-full max-w-48 ...">max-w-48</div>4.box-sizing: box-content box-border 5.display inline display: inline;
block display: block;
inline-block display: inline-block;
flow-root display: flow-root;
flex display: flex;
inline-flex display: inline-flex;
grid display: grid;
inline-grid display: inline-grid;
contents display: contents;
table display: table;
inline-table display: inline-table;
5.grid: grid grid-cols-3 grid-rows-3 gap-4 6.object object-contain object-fit: contain;
object-cover object-fit: cover;
object-fill object-fit: fill;
object-none object-fit: none;
object-scale-down object-fit: scale-down;

7.object-position: object-bottom object-position: bottom;
object-center object-position: center;
object-left object-position: left;
object-left-bottom object-position: left bottom;
object-left-top object-position: left top;
object-right object-position: right;
object-right-bottom object-position: right bottom;
object-right-top object-position: right top;
object-top object-position: top;
object-(<custom-property>) object-position: var(<custom-property>);
object-[<value>] object-position: <value>;

8.overflow: overflow-auto overflow: auto;
overflow-hidden overflow: hidden;
overflow-clip overflow: clip;
overflow-visible overflow: visible;
overflow-scroll overflow: scroll;
overflow-x-auto overflow-x: auto;
overflow-y-auto overflow-y: auto;
overflow-x-hidden overflow-x: hidden;
overflow-y-hidden overflow-y: hidden;
overflow-x-clip overflow-x: clip;
overflow-y-clip overflow-y: clip;
overflow-x-visible overflow-x: visible;
overflow-y-visible overflow-y: visible;
overflow-x-scroll overflow-x: scroll;
overflow-y-scroll overflow-y: scroll;

9.position: .static position: static;
.fixed position: fixed;
.absolute position: absolute;
.relative position: relative;
.sticky position: sticky;

10.top right left .inset-0 top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
.-inset-0 top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
.inset-x-0 left: 0px;
right: 0px;
.-inset-x-0 left: 0px;
right: 0px;
.inset-y-0 top: 0px;
bottom: 0px;
.-inset-y-0 top: 0px;
bottom: 0px;
.top-0 top: 0px;
.-top-0 top: 0px;
.right-0 right: 0px;
.-right-0 right: 0px;

10. visibility: .visible visibility: visible;
.invisible visibility: hidden;

11.out line: .outline-none outline: 2px solid transparent;
outline-offset: 2px;
.outline-white outline: 2px dotted white;
outline-offset: 2px;
.outline-black outline: 2px dotted black;
outline-offset: 2px;

12.Flex box: |justify-start,
juatify-end,
justify-center,
justify-between/arpund/evenly flex inline-flex flrx-row flex-row-reverse flex-col flex-col-reverse flex-wrap/nowrap/wrap-reverse 13.padding: p-1,
2,
3,
4,
...4,
8,
... m-0,
12,
3,
4,
5....4,
8,
12,
16,

14.width: w-1,
2,
3,
4,
5,
6,
...4,
8,
12,
16,
20... .min-w-0 min-width: 0px;
.min-w-full min-width: 100%;
.min-w-min min-width: min-content;
.min-w-max min-width: max-content;
15.height: .min-h-0 min-height: 0px;
.min-h-full min-height: 100%;
.min-h-screen min-height: 100vh;
16. text-color: .text-transparent color: transparent;
.text-current color: currentColor;
.text-black --tw-text-opacity: 1;
color: rgba(0, 0, 0, var(--tw-text-opacity));
.text-white --tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
.text-gray-50 --tw-text-opacity: 1;
color: rgba(249, 250, 251, var(--tw-text-opacity));
.text-gray-100 --tw-text-opacity: 1;
color: rgba(243, 244, 246, var(--tw-text-opacity));
.text-gray-200 --tw-text-opacity: 1;
color: rgba(229, 231, 235, var(--tw-text-opacity));
.text-gray-300 --tw-text-opacity: 1;
color: rgba(209, 213, 219, var(--tw-text-opacity));
.text-gray-400 --tw-text-opacity: 1;
color: rgba(156, 163, 175, var(--tw-text-opacity));
.text-gray-500 --tw-text-opacity: 1;
color: rgba(107, 114, 128, var(--tw-text-opacity));
.text-gray-600 --tw-text-opacity: 1;
color: rgba(75, 85, 99, var(--tw-text-opacity));
.text-gray-700 --tw-text-opacity: 1;
.font-sans font-size: text-xs /sm/base/lg font-weight: font-thin font-weight: 100;
.font-extralight font-weight: 200;
.font-light font-weight: 300;
.font-normal font-weight: 400;
.font-medium font-weight: 500;
.font-semibold font-weight: 600;
.font-bold font-weight: 700;
.font-extrabold font-weight: 800;
.font-black list .list-none list-style-type: none;
.list-disc list-style-type: disc;
.list-decimal list-style-type: decimal;
.text-left text-align: left;
.text-center text-align: center;
.text-right text-align: right;
.text-justify underline text-decoration: underline;
.line-through text-decoration: line-through;
.no-underline text-decoration: none;
.bg-transparent background-color: transparent;
.bg-current background-color: currentColor;
.bg-black --tw-bg-opacity: 1;
background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
.bg-auto background-size: auto;
.bg-cover background-size: cover;
.bg-contain background-size: contain;
borders: .rounded-none border-radius: 0px;
.rounded-sm border-radius: 0.125rem;
2px .rounded border-radius: 0.25rem;
4px .rounded-md border-radius: 0.375rem;
6px .rounded-lg border-radius: 0.5rem;
8px .rounded-xl border-radius: 0.75rem;
12px .rounded-2xl border-radius: 1rem;
16p border border-width: 1px;
border-solid border-style: solid;
.border-dashed border-style: dashed;
.border-dotted border-style: dotted;
.border-double border-style: double;

< !DOCTYPE html><html><head><script src="https://cdn.tailwindcss.com"></script><script>tailwind.config= {
    theme: {
        extend: {
            fontFamily: {
                caveat: ["Caveat", "cursive"],
                    breeserif: ["Bree Serif", "serif"],
                    roboto: ["Roboto", "sans-serif"],
            }

            ,
        }

        ,
    }

    ,
}

;
</script></head><body><div><div class="bg-[url(https://cdn.b12.io/client_media/oAtx1PrP/15f3e0d2-03e9-11f0-ba9b-0242ac110002-jpg-hero_image.jpeg)]  min-h-screen bg-fixed "><div class="bg-black/50 min-h-screen flex flex-col justify-center bg-fixed"><h1 class="text-white font-bold text-6xl m-4 flex flex-col justify-center">Build Your Vision</h1><p class="text-white text-2xl m-4">Transform dream into reality </p><button class="text-white bg-yellow-500 m-2 text-1xl p-3 pl-1 pr-1 h-16 w-36 hover:bg-white">View Services </button></div></div><div><h1>Building Excellence</h1><h1>Transform Vision into reality</h1>< !-- <div class="grid md:grid-col-2 place-items-center "><div class="h-44 w-[80%] "><img src="https://cdn.b12.io/client_media/oAtx1PrP/1a233888-03e9-11f0-ba9b-0242ac110002-jpg-regular_image.jpeg"/></div><div><h1>Project Managment</h1><p>Ensure your construction project runs smoothly with expert oversight</p></div></div>--></div><div class="grid gap-8 md:grid-cols-2 md:items-center md:text-left"><div><img src="https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-with-coconut-plam-tree-paradise-island_74198-2206.jpg"class="w-full rounded-lg"/></div><div><h1 class="mb-2 text-4xl font-medium">headline</h1><p>efhdugfusgfg jsefygwswef jkasgd uawjsoj wiurwegetq uagxs6 uwdiuwed oiiwgst jgtq5r jukeb gftq grftbeib ug qywrfsqw ujt6ujhqywsfuyqwvdhd jwytdw</p><div></div></div></div></div></body></html>