@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg-body-dark{
    background-color: #162415;
    
}
.navbar-brand{
    color: #ffffff;
    font-weight: bold;
}
.navbar-togglers {
    color: white;
    
}
.section
{
    color: white;
}
.main_head_image{
    background-image: url('https://cdn.b12.io/client_media/bgjFMIEJ/9b307e74-0572-11f0-833d-0242ac110002-jpg-hero_image.jpeg');
    height: 50vh;
    width: 74vh;
    flex: row;
    justify-content: center;
    
}
.create {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
}
.build{
    color: #ffffff;
    font-family: "Poppins";
    font-size: 14px;
    text-align: center;
}
.View_services{
    background-color: #32aa27;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 3px;
    margin-left: 180px;
    
}
.website{
    color: #32aa27;
    font-weight: bold;
}
.crafting{
    font-weight: bold;
}
.matter{
   color: grey ;
}
.box:hover{
  color: black;
}