@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.background{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    background-size:cover ;
    text-align: center;
    padding: 100px;
}
.head1{
    font-family:"Caveat" ;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 50px;
}
.head2{
    font-family:"Caveat" ;
    font-weight: bold;
    font-size: 40px;
    color: #000000;
    padding-top: 20px;
}
.para1{
    font-family:"Roboto" ;
    font-size: 20px;
    color: #FFFFFF;
    
}
.button1{
    background-color: #0ec930;
    border-width: 0px;
    color: #FFFFFF;
    width: 130px;
    height: 35px;
    font-family:"Roboto" ;
   
}
.para3{
    font-family:"Caveat" ;
    font-size: 20px;
    color: #000000;
    
}
.para2{
    font-family:"Roboto" ;
    font-size: 20px;
    color: #000000;
}

.background3{
    background-color: #52FA6C;
    background-size:cover ;
    text-align: center;
    padding: 20px;
    padding-right: 60px;
    padding-left: 60px;
    gap: 20px;
}
.background2{
    background-color: #9BFAA9;
    background-size:cover ;
    text-align: center;
    padding: 10px;
}
.card1{
    background-color: #FFFFFF;
    height: 350px;
    width: 280px;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
    
}
.image1{
    height: 150px;
    width: 260px;
    
}
.para4{
    font-family:"Roboto" ;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    
}
.para5{
    font-family:"Roboto" ;
    font-size: 24px;
    color: #000000;
    
}
.para6{
    font-family:"Roboto" ;
    font-size: 24px;
    color: #0ec930;
    
    
}
.image2{
    height: 280px;
    width: 400px;
}
.card2{
    padding: 50px;
    
}
.background4{
    background-color: #9BFAA9;
    background-size:cover ;
    
    padding: 10px;
    padding-right: 60px;
    padding-left: 60px;
}
.button2{
    background-color: #FFFFFF;
    border-width: 0px;
    color: #000000;
    border-radius: 6px;
    width: 120px;
    font-family:"Roboto" ;
}
.footer{
    background-color: #343A40;
    text-align: center;
    color: #FFFFFF;
    font-size: 24px;
    padding: 10px;
}
.top{
    height: 100vh;
}