/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.boomm {
    color: red;
}

.back_ground_image {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/app.png");
    background-size: cover;
    height: 100vh;
    width: 180vw;
}

.main_head {
    text-align: center;
    padding: 20px;
}

.head {
    color: white;
    font-size: 40px;
    font-family: "Roboto";
}

.down_card {
    background-color: white;
    padding: 20px;
}

.button1 {
    width: 150px;
    margin: 2px;
}

.button2 {
    width: 150px;
    margin: 2px;
    color: green;
    border-color: green;
    background-color: white;
}

.button3 {
    width: 150px;
    margin: 2px;
}

.button4 {
    width: 150px;
    margin: 2px;
}

.back_down {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: "Roboto";
    font-size: 2;
}

/*Write your CSS code below and don't modify anything above*/
