@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

/* .collapse{
    color: white;
} */
.banner {
    text-align: center;
    height: 60vh;
    width: 100vw;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg");
    background-size: cover;
    color: white;
}

.main-heading {
    font-family: "Caveat";
}

.btn {
    background-color: #EB5B00;
    color: white;
}

.our-story {
    background-color: #ffde63;
    text-align: center;
    padding: 20px;
    /* height: 30vh; */
}

.heading2 {
    font-weight: bold;
}

.writer {
    font-family: "Caveat";
}

.today-menu {
    background-color: #ffbc4c;
    text-align: center;
    padding: 20px;
}

.card {
    background-color: white;
    height: 300px;
    width: 250px;
}

/* .img{
  height: 40vh;
  width: 80vw;
} */

.photu {
    height: 200px;
    width: 330px;
    margin: 10px;
}