@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.first{
   
    text-align: center;
    color:white;
    
}
.btn{
    background-color: #bf00ff;
    width: 100px;
}
.h1{
    padding: 300px;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg');
    height: 90vh;
    width:100vw;
    background-size: cover ;
    font-size: 30px;
}
.pink{
    background-color: #f2ccff;
    
}