@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.head{
    background-image: url('https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg');
padding: 50px;

}
.body{
    padding: 50px;
    height: 120px;
    width: 60px;
}