@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*write your code below*/
.card1 {
    background-color: #faf0ca;
}

#h1 {
    color: black;
    font-weight: bold;
}

#p1 {
    color: brown;
}
.card2{
    background-color: #0d3b66;
    text-align: center;
    padding:70px;
}
.h2{
    color: #ffffff;
}
.p1{
    color: #ffffff;
}
.button{
    color: #0d3b66;
    font-weight: bold;
    text-align: center;
    background-color: #ee964b;
    border-radius: 10px;
    padding: 10px;
}
.card3{
    background-color: #faf0ca;
    padding: 20px;
}
.h3{
    text-align: center;
    color: black;
    font-size: 40px;
}
.p3{
    text-align: center;
    color: black;
}
.card5{
    background-color: #f4d35e;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    margin: 15px;
}
.img{
    height: 300px;
    width: 300px;
    border-radius: 15px;
    padding: 10px;
    margin-left: 25px;
}
.h4{
    color: #0d3b66;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.p4{
    color: #0d3b66;
    text-align: center;
}
.card4{
    display: flex;
    flex-direction: row;
}
.card6{
    background-color: #343a40;
    padding: 15px;
}
.p5{
    color: #ffffff;
    text-align: center;
}
