@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.head {
    background-color: #0056b3;
    color: white;
}

#navbarNavAltMarkup {
    color: #0056b3;
}

* {
    font-family: 'Poppins', Sans-Serif;
}

nav {
    background-color: #fff;
}

.mod {
    height: 80vh;
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821283/pixie/assets/images/banner-bg.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.con1 {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
}

.bue {
    height: 5px;
    width: 10%;
    background-color: #0056b3;
}

.btn1 {
    background-color: #0056b3;
    border-radius: 6px;
}

.do {
    color: #0056b3;

}

.con-b>p {
    font-weight: bold;
}

.dre {
    max-width: 200px;
}

.g {
    gap: 2em;

}

.sub {
    height: 50vh;
    background-color: #0056b3;
}

.bot>.bue {
    background-color: white;
}

.a {
    background-color: transparent;
    border: 2px white solid;
    border-radius: 5px;
    height: 45px;

}

.bb {
    color: #0056b3;
    height: 45px;
    border-radius: 5px;
}

.bram {
    height: 60vh;
}

.k {
    gap: 20px;
    list-style: none;
}

.fk {
    gap: 30px;
}