@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.navbar-nav{
     gap: 10px;
     display: flex;
    flex-direction: row;
    justify-content: end;
 
}
.navbar a{
    color: #FFFFFF;
}
.navbar{
    background-color:#343A40;

    gap: 40px;
}
.navbar h1{
    font-size: 1.5rem;
    color: #FFFFFF;
    
    
}
/* main */
.main{
    text-align: center;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg');
    height: 500px;
    width: 100vw;
    background-size: cover;
    align-content: center;
}
.main h1{
    color: #FFFFFF;
    font-family: Caveat;
    
}

.main p {
    color: #FFFFFF;
    font-family: Caveat;
}

button{
    background-color: #52Fa6C;
    color: #FFFFFF;
    border: #52Fa6C;
}
.fluid-container{
    text-align: center;
    align-content: center;
    background-color: #9BFAA9;
}
.fluid-container h1{
    color: #343A40;
    font-family: Caveat;  
}
.font{
    color: #343A40;
    font-family: Caveat;  
}
.Menu{
    align-content: center;
    display: flex;
    gap: 10px;
    
}
.card{
height: 200px;
width: 200px;
background-size: cover;

}