@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.header{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    background-size: cover;
    height:300px;
}
.heading{
    color:white;
    text-align: center;
    padding:50px;
    font-size: 35px;
}
.para{
    color:white;
    text-align: center;
    
}
.service{
    text-align: center;
    background-color: #d1e5f9;
}
.img{
    border-radius: 90px;
    width:100px;
    height: 100px;
}
.img-1{
    border-radius: 90px;
    width:100px;
    height: 100px;
}
.footer{
    background-color: black;
    color:#ffffff;
    text-align: center;
}
.items{
  align-items: flex-start;  
}