@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}
.top{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/food+banner+image.jpg');
    background-size: cover;
    height: 65vh;
    text-align: center;
    color: #FFFFFF;
}
.th{
    font-family: "Caveat";
    font-size: 50px;
}
.btn{
    color: #FFFFFF;
    background-color: #FF0000;
    width: 175px;
    height: 40px;
}
.mid{
    text-align: center;
    background-color: #FFF0CE;
    background-size: cover;
    height: 25vh;
}
.mh{
    font-family: "Caveat";
    color: #FF0000;
    font-size: 50px;
    padding: 10px;
}
.mp{
     font-family: "Caveat";
    color: #FF0000;
}
.mid-2{
    background-color: #FFDE63;
    background-size: cover;
    height: 45vh;
    text-align: center;
}
.m2h{
    font-family: "Caveat";
    color: #FF0000;
    font-size: 50px;
    text-align: center;
}
.img{
    height: 20vh;
    width: 25vw;
}
.card{
    padding: 8px;
   
}