/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.container {
    background-color: #0018f9;
    text-align: center;
    color: #FFFFFF;
}
.qq{
    padding:5px;
    margin: 5px;
    width: 20vh;
    border-radius: 10px;
}
.rr{
    padding: 5px;
    margin: 5px;
    width: 20vh;
    border-radius: 10px;
    color: red;
    border-color: red;
}
.ee{
    color: black;
    padding:5px;
    margin: 5px;
    width: 20vh;
    border-radius: 10px;
}
.aa{
    padding: 5px;
    margin: 5px;
    width: 20vh;
    border-radius: 10px;
}
.ww{
    padding: 10px;
}
.pp{
    background-color: #333333;
    color: #f4f4f4;
    text-align: center;
    height: 50px;
}
