@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696803/aj/assets/images/banner1.png');
    height: 70vh;
    font-family: "Roboto";
}

.navbar {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696803/aj/assets/images/banner1.png');

}

.main-image {
    align-items: center;
    padding-left: 20px;
}

.nav-items {
    color: #FFFFFF;
}

.jewellery-heading {
    font-weight: bold;
    font-family: "Roboto";
}

.heading {
    text-align: center;
    font-weight: bold;
    font-family: "Roboto";
}

.landingpage-heading {
    color: white;
}

.text-card {
    text-align: center;
}

.btn {
    background-color: white;
    color: black;
    border: 0px;
    border-radius: 20px;
}

.main-image {
    height: 200px;
}

.best-jewellery-heading {
    font-weight: normal;
    font-family: Roboto;
    text-align: center;
    padding: 10px;
    font-family: "Roboto";
}

.para1 {
    font-family: Roboto;
    padding: 20px;
    font-family: Open Sans-Serif;

}

.para2 {
    font-family: Roboto;
    padding: 20px;
    color: grey;
    font-family: Open Sans-Serif;
}

.btn1 {
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 20px;
    border: solid;
    border-color: #F9D342;
    font-family: Open Sans-Serif;
}

.card-image {
    height: 200px;
    border: solid;
    border-color: #F9D342;
    border-radius: 50%;
    border-width: 20px;
    font-family: Open Sans-Serif;
}

.bottom-text-card {
    text-align: center;
    margin-top: 40px;
    font-family: Open Sans-Serif;
}

.breakline {
    color: black;
}

.details-card {
    font-family: Open Sans-Serif;
    border: solid;
    border-color: #F9D342;
    width: 250px;
    padding: 20px;
    margin: 10px;
    border-width: 10px;
    border-radius: 10px;
}

.card-button {
    padding-left: 20px;
    padding-right: 20px;
}

.last-image {
    height: 250px;
    width: 300px;
    margin: 20px;
}

.bg-container3 {
    /* background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696803/aj/assets/images/banner1.png'); */
    background-color: #FFD700;

}

.last-card1 {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.free {
    color: white;
}

.last2 {
    padding: 10px;
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696803/aj/assets/images/banner1.png');
    text-align: center;
}

.nav-link {
    color: white;

}