@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container{
    background-color: #20341E;
    color:#ffffff;
    text-align: center;
}
.bg{
    font-size: 20px;
    text-align: left;
}
.hh{
    align-items: center;
}
.jk{
    background-color: #32AA27;
    color:#ffffff;
}
.oo{
    background-color: #ffffff;
}
.pp{
    color: #32AA27;
    text-align: left;
}
.li{
    color: #162415;
    text-align: left;
    font-size: 20px;
}
.gt{
    color:#32AA27;
    text-align: left;
}
.time{
    border: 20px;
    padding: 20px;
    
}
.dd{
    border-spacing: 5px;
    margin: 5px;
    border-block-start-width:20px ;
    border-block-end-width: 20px;
}
.gy{
    color: #162415;
    text-align: left;
}