@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar {
    background-color: #008080;

}

.title {
    color: #f9f9f9;
    padding: 5px;
    margin: 5px;
    font-family: Roboto;
}

.subtitle {
    color: #f9f9f9;
    text-align: right;
    font-family: Roboto;

}

.para {
    text-align: right;
    font-family: Roboto;
}

.section2 {
    background-size: cover;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg');
}

.heading {
    padding: 10px;
    margin: 10px;
    color: #f9f9f9;
    text-align: center;
    font-family: Roboto;
}

.but {
    background-color: #008080;
    margin-left: 350px;
    text-align: center;
    height: 10px;
    width: 100px;
    border-width: 0px;
}

.paragraph {
    color: #f9f9f9;
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-family: Roboto;
}

.heading2 {
    font-family: Roboto;
    text-align: center;
    color: #000000;
}

.box {

    background-color: #008080;
    justify-content: center;
    height: 5px;
    width: 100px;
    border-width: 0px;
    margin-left: 330px;
}

.section3 {
    background-color: #ccffff;
    background-size: cover;
}

.img {
    flex-direction: row;
    justify-items: center;
    margin-left: 200px;

}

.same {
    border-radius: 500px;
    flex-direction: row;
    justify-items: center;
}