@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav {
    height: 20vh;
    width: 100vw;
    background-color: black;
}

p {
    padding-left: 20px;
    padding-top: 10%;
}

p:hover {
    text-decoration: underline;
}

.backimg