@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
*{
    margin:0px;
    padding: 0px;
}
body {
    font-family: "Roboto", "Caveat";
}

.container-fluid {
    background-color: #343A40;
}
.nav{
    margin: 10px;
    color:white;
}
.nav-link{
    color:white;
}
.pg-2{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    margin-top: 0px;
    height:400px;
    width:100%;
    
}
.h-2{
    text-align: center;
    font-size: 30px;
    color:white;
    
    font-family: Caveat;
    padding:30px;
}
.p-2{
    text-align: center;
    color:white;
    font-family: Roboto;
}
.button-2{
    text-align: center;
    color:white;
    font-family: Roboto;
    background-color: green;
}
.pg-3{
    text-align: center;
    background-color: #9BFAA9;
    padding:30px;
}
.h-3{
    font-family: Caveat;
    font-size: 50px;
   padding: 30px;
}
.p-3{
    font-family: Caveat;
}
.h3-1{
    font-size: 20px;
}
.pg-4{
    background-color:#0ec930 ;
    height:100vh;
}
.h-4{
    text-align: center;
    font-family: Caveat;
    padding:10px;
}
.box{
    height:100px;
    width:150px;
    background-color: white;
}
.img{
    height:80px;
    width:140px;
    padding-left: 10px;
}
.m1{
    font-size: 10px;
}
.m2{
    font-size: 10px;
}
.m3{
    font-size: 10px;
}
.row{
    height:100;
}
.row{
    display:flex;
    flex-direction:row;
    justify-content: center;
    
}
.pg-5{
    text-align: center;
    padding:30px;
    background-color: #0ec930;
}
.last{
    font-family: Caveat;
}
.im2{
    height:60px;
    width:50px;
}