@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.main-container{
    font-family: "Open Sans";
}
.navbar{
    background-color: transparent !important;
}
.nav-con{
    color: white !important;
}
p{
    color: grey;
}
.container0{
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696803/aj/assets/images/banner1.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}
.img1{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-width: 30px;
    border-color: #FFD700;
    border-radius: 300px;
}
.img0{
    height: 100%;
    width: 100%;
}
.con-btn{
    height: 50px;
    width: 150px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border-style: solid;
    border-color: #FFD700;
    border-width: 5px;
}
.con-btn1{
    height: 50px;
    width: 150px;
    background-color: white;
    border-radius: 30px;
    border-style: none;
}
.con-box{
    border-radius: 30px;
    border-style:solid;
    border-color: #F9D342;
    border-width: 10px;
}
.container2{
    background-color: #F9D342;
    padding: 30px;
}
footer{
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696813/aj/assets/images/cop.jpg");
    text-align: center;
    padding: 15px;
}