@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #008080;
    color: #ffffff;
    font: Roboto;
}
.home{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg');
    height: 100vh;
    width: 100vw;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font: Roboto;
}
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #ccffff;
    color: #000000;
    font: Roboto;
}
.img{
    border-radius: 200px;
    height: 35vh;
    width: 30vw;
}
.fotter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f9f9f9;
    color: #000000;
    font: Roboto;
}
.fotter-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}