@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.bg-container {
    background-color: #f0f8ff;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.head {
    color: blue;
    font-family: "Roboto";
    font-size: 20px;
    padding: 10px;
}

.img1 {
    height: 180px;
    width: 300px;
    border-radius: 8px;
}

.para {
    font-family: "Roboto";
    font-size: 12px;

}

.but1 {
    border-radius: 5px;
    border-width: 0px;
    font-family: "Roboto";
}

.but2 {
    border-radius: 5px;
    border-width: 0px;
    background-color: green;
    color: white;
    height: 37px;
    font-family: "Roboto";
}

.but3 {
    border-radius: 5px;
    border-width: 0px;
    background-color: yellow;
    height: 37px;
    font-family: "Roboto";
    font-weight: bold;
}

.totbut {
    padding: 10px;
    font-size: 10px;
}

/*Write your CSS code below and don't modify anything above*/