@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
    background-image: url("https://cdn.b12.io/client media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg");
    text-align: center;
}

.heading1 {
    text-align: center;
    color: white;
}
.para1{
    text-align: center;
    color: white;
}
.button{
    text-align: center;
    background-color: green;
    color: white;
}