@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.abc {
    color: #20341E;
    font-size: 36px;
    padding: 24px;
}

.bg {
    background-size: cover;
    color: black;
    text-align: center;

}

.button {
    color: white;
    height: 16px;
    width: 4px;
    background-color: green;
    size: 24px;
}

.aaa {
    background-color: black;
    color: white;
    text-align: center;
}

.card-container1 {
    background-image: ("");
}