@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.container-fluid {
    background-color: #343A40;
}

.bg-container {
    background-image: img src="https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pizza.jpeg";
}
.b{
    text-align: center;
    background-color: #E9B3FB;
    font-family: Caveat;
}
.c{
    background-color: #AE75DA;
    text-align: center;
    font-family: Caveat;
}
.d{
    text-align: right;
    background-color: #E9B3FB;
    font-family: Caveat;
}
.e{
    background-color: #AE75DA;
    font-family: Caveat;
}
.class="ss"{
    font-family: Caveat;
    text-align: center;
}