@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.set-1 {
    background-color: red;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fist-btn {
    background-color: black;
    color: white;
    padding: 5px;
    border-width: 0px;
    border-radius: 10px;
    margin: 10px;
}

.head {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.set-2 {
    background-color: #8bc28c;
    height: 70%;
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: row;

}

.img {
    height: 90px;
    width: 140px;
}

.set-3 {
    background-color: #a7c957;
    height: 100%;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.head-3 {
    font-size: 20px;
    text-align: center;
}

.img-2 {
    height: 80px;
    width: 160px;
    margin: 10px;
}

.div {
    background-color: #c5dbf0;
    height: 170px;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    margin: 10px;

}

.head-set-3 {
    font-size: 20px;
}

.set-3-2 {
    display: flex;
}
.sec {
    background-color: #a7c957;
    height: 100px;
}
.thr {
    background-color: #797d62;
    height: 100px;
}
