@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.umar {
    color: white;
}

.umar1 {
    background-color: #FAA533;
    height: 30vh;
    width: 100vw;
    padding: 30px;
    font-family: Roboto;
}

.umar2 {
    font-size: 25px;
}

.tt {
    margin-left: 200px;
}

.pp {
    display: flex;
    flex-direction: row;
}

.umar3 {
    background-color: #EF7722;
    height: 50vh;

}

.umar4 {
    background-color: white;
    height: 25vh;
    width: 55vw;
    margin: 10px;
    padding: 5px;
}

.umar5 {
    margin: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.umar6 {
    font-size: 15px;
}

.umar7 {
    font-size: 15px;
}

.umar10 {
    padding: 5px;
    color: white;
    border-width: 0px;
    width: 90px;
    height: 50px;
    font-size: 13px;
}

.umar11 {
    height: 30px;
    width: 120px;
    color: white;
    background-color: #ff5b5b;
    padding: 3px;
    border-width: 0px;
}

.umar21 {}