/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.head{
    text-align: center;
}
.container{
    background-color: lightblue;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.card1{
    background-color:white ;
    font-family: Roboto;
    padding: 10px;
    margin: 10px;
}
.card2{
    background-color:white ;
    font-family: Roboto;
    padding: 10px;
    margin: 10px;
}
.card3{
    background-color:white ;
    font-family: Roboto;
    padding: 10px;
    margin: 10px;
}
.card4{
    background-color:white ;
    font-family: Roboto;
    padding: 10px;
    margin: 10px;
}  
.box{
    text-align: start;
}
