@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.d1 {
    background-color: #343A40;
}

.container-fluid {
    background-color: #343A40;
}

.navbar {
    color: #ffffff;
    background-color: #343A40;
}

.d2 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg');
    background-size: cover;
    height: 600px;
}

.h1 {
    color: #ffffff;
    text-align: center;
}

.p1 {
    color: #ffffff;
    text-align: center;
}

.button {
    color: #ffffff;
    background-color: #17A2B8;
    width: 100px;
    text-align: center;
}

.d3 {
    background-color: #2C3E50;
}

.h3 {
    color: #ffffff;
    text-align: center;
}

.main-div {

    margin: 20px;
    text-align: center;
    padding: 10px;
}

.div31 {
    margin: 30px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.div32 {
    margin: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.div33 {
    margin: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.btn1 {
    color: #28A745;
    border-color: #28A745;
    background-color: transparent;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.btn2 {
    color: #007BFF;
    border-color: #007BFF;
    background-color: transparent;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.btn3 {
    color: #DC3545;
    border-color: #DC3545;
    background-color: transparent;
    height: 40px;
    width: 120px;
    border-radius: 5px;
}

.last {
    text-align: center;
    background-color: #343A40;
    height: 40px;
    color: #ffffff;
}