/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container{
    height: 100vh;
    background-color: lightblue;
    background-size: cover;
}
.cont1{
    background-color: #f8f9fa;
    border-style: solid;
    border-color: #0071e3;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    border-width: 0px;
}
.haeding{
    font-family: "Caveat";
    color: #007bff;
}
.paragraph{
    color: #000000;
    font-family: Caveat;
}
.box{
    background-color: blue;
     font-family: Caveat;
       color:#f8f9fa ;
}
.cont2{
    background-color: #f8f9fa;
      border-style: solid;
    border-color: #0071e3;
       text-align: center;
       border-radius: 5px;
           padding: 20px;
            margin: 20px;
            border-width: 0px;
}
.haeding2{
    font-family: "Caveat";
    color: #28a745;
}
.paragraph2{
    color: #000000;
    font-family: "Caveat";
}
.box2{
    background-color: #28a745;
     font-family: "Caveat";
       color:#f8f9fa ;
}
.cont3{
    background-color: #f8f9fa;
    border-style: solid;
    border-color: #0071e3;
       text-align: center;
       border-radius: 5px;
           padding: 20px;
            margin: 20px;
            border-width: 0px;
}
.haeding3{
    font-family: "Caveat";
    color: #dc3545;
}
.paragraph3{
    color: #000000;
    font-family: Caveat;
}
.box3{
    background-color: #dc3545;
     font-family: Caveat;
     color:#f8f9fa ;
}
.pavan{
  text-align: center;
}
