@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.epw-section {
    height: 80vh;
    width: 100%;
    background-size: cover;
}

/* .nav-section{
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
} */
.card1 {}