@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.image{
    color: #FFFFFF;
    background-color: #008080;
    margin-top: 20px;
}
.h1{
    text-decoration: underline ;
  
}
.container{
    display: flex;
    justify-content: flex-end;
    
}
.south{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    background-size: cover;
    height: 500px;
    width: 450px;
    text-align: center;
}
.p{
    text-decoration-style: dashed;
}
.store{
    text-align: center;
    background-color: #ccffff;
    height: 900px;
   
    
}
.service{
    text-decoration: underline ;
}
.sea{
    border-radius:200px;
    height: 200px;
    width: 200px;
}
.files{
    border-radius:200px;
    height: 200px;
    width: 200px;
}
.mobile{
    background-color: #ccffff;
    border-radius: 200px;
    height: 200px;
    width: 200px;
}