@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg-container{
    background-image: url('https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg');
    height: 70vh;
    background-size: cover;
    
}
.card:hover{
    transform: scale(1.1);
    animation-timing-function: linear;
}
.card-head:hover{
    color: #558D97;
}