@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.card {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pizza.jpeg");
    color: white;
    text-align: center;
    font-size: 30px;

}

.heading {
    font-size: 30px;
}

.button {
    text-align: center;
    height: 50px;
    width: 5px;
}

.container-fluid {
    background-color: #343A40;
    color: white;
}

.container2 {
    background-color: #E9B3FB;
    text-align: center;
    font-family: ;
}

.heading2 {
    font-size: 25px;
}

.para2 {
    font-size: 15px;
}

.container6 {
    text-align: center;
    height: 40px;
    background-color: #AE75DA;
}

.rhead {
    background-color: #AE75DA;
}

.rpara {
    background-color: #AE75DA;
}

.rbutton {
    background-color: #AE75DA;
}