@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.nav-items {
    color: #000000;
    font-weight: bold;
    margin: 2px;
    font-size: 15px;
    font-family: Sans-Serif;
}

.nav-items:hover {
    color: #ff6b6b;
    text-decoration: underline;
}

.nav-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.nav-head-1 {
    color: #000000;
    font-weight: bold;
    font-family: Roboto;
    padding: 5px;
    font-size: 30px;
}

.nav-head-2 {
    color: #ff6b6b;
    font-weight: bold;
    font-family: Roboto;
    padding: 5px;
    font-size: 30px;
}

.bar {
    background-color: #f4f4f4;
}

.home-bg-container {
    height: 50vh;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821276/sixteen-clothing/assets/images/slide_01.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home-para {
    color: #ff6b6b;
    font-weight: bold;
}

.home-head {
    color: #ffffff;
    font-family: Montserrat;
}

#SectionLatestProducts {
    margin-top: 35px;
    padding-left: 80px;
    padding-right: 80px;
}

.slp-headings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slp-view {
    color: #ff6b6b;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

.slp-view:hover {
    text-decoration: underline;
}

.card {
    margin-top: 10px;

}

.card-content {
    margin: 5px;

}

.card-title {
    color: #00bcd4;
}

.card-price {
    color: #000000;
    font-weight: bold;
    margin: 2px;
}

.card-container {

    margin-top: 20px;
}

.card-discription {
    color: grey;
}

.card-reviews {
    color: #ff6b6b;
    font-weight: bold;
}

#SectionAbout {
    margin-top: 35px;
    padding-left: 80px;
    padding-right: 80px;

}

.ul-list {
    list-style: square;
}

.about-discription {
    color: grey;
}

.about-btn {
    background-color: #ff6b6b;
    color: #ffffff;
    border-radius: 10px;
    height: 50px;
    width: 120px;
    border-width: 0;
}

.about-title {
    color: #00bcd4;
}

.about-img {
    height: 250px;
    width: 100%;
    margin-top: 25px;
}

#SectionContact {

    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
}

.contact-card {
    background-color: #f4f4f4;
    border-radius: 15px;
}

.contact-content {
    margin: 10px;
    color: grey;
}

.contact-head {
    color: #00bcd4;
}

.contact-btn {
    width: 100%;
    height: 40px;
    background-color: #ff6b6b;
    border-radius: 7px;
    color: #ffffff;
    border-width: 0px;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

.contact-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#SectionFooter {}