@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/

.navbar-nav{
    color: #ffffff;
}

.bg-container {
    background-color: #FAA533;
    padding-top: 30px;
    padding-bottom: 20px;
    height: 50vh;
}

.container-img {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 10px;
    padding-bottom:20px ;
}

.features-img{
    height: 50px;
    border-radius: 5px;
}

.key-fetures-container{
    background-color: #EF7722;
    height: 100%;
    padding-top: 10px;
}

.fetures-card-container1{
    background-color: #ffffff;
    padding-top: 10px;
    border-radius: 7px;
}

.task{
    font-size: 12px;
}