/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.container {
    background-color: #333333;
    color: white;
}

.image-1 {
    width: 100vw;
    height: 50vh;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/Aseop_8u98jknjkfvj.jpg');
    text-align: center;
    color: white;
    padding-top: 200px;
}

.btn-1 {
    padding: 10px;
}

.image-2 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/side1.jpg');
    width: 50vw;
    height: 50vh;
    background-size: cover;
    color: white;
    text-align: left;
}

.image-3 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-mp4videos-april28/product.webp');
    background-color: #ed6a5a;
    width: 50vw;
    height: 50vh;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 30px;
}

.heading {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 20px;
}
