@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.full-container{
    background-image:url('https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg');
    background-size:cover;
    height:100vh;
    width:100vw;
}

.nav{
    height:80px;
    width:100vw;
    justify-content:space-between;
    
    color:#ffffff;
    font-weight:600;
}

.space{
    margin:20px;
}

.page-content{
    font-size:52px;
    
}

.font-weight-h1{
    font-weight:700;
}

.font-weight-p{
    font-weight:500;
}

.button_element{
    font-size:32px;
}

.sec-h1{
    font-size:42px;
    font-weight:600;
}

.dabbas{
    width:320px;
    height:420px;
}

.dabba-1{
    background-image: url('https://cdn.b12.io/client_media/4AY7x8u9/d52268b8-04aa-11f0-b0d9-0242ac110002-jpg-regular_image.jpeg');
    background-size:cover;
    width:320px;
    height:210px;
}

.h1-dabba{
    font-weight:600;
    font-size:38px;
}

.dabba-2{
    background-image: url('https://cdn.b12.io/client_media/4AY7x8u9/d54416ca-04aa-11f0-b0d9-0242ac110002-jpg-regular_image.jpeg');
    background-size:cover;
    width:320px;
    height:210px;
}

.dabba-3{
    background-image: url('https://cdn.b12.io/client_media/4AY7x8u9/d584e312-04aa-11f0-b0d9-0242ac110002-jpg-regular_image.jpeg');
    background-size:cover;
    width:320px;
    height:210px;
}