@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg");
    background-size: cover;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (max-width:360px){
    .container{
        background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg");
    background-size: cover;
    height: 50vh;
    text-align: center;
    }
}
.head{
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 30px;
}
.para{
    color: #FFFFFF;
    font-family: "Roboto";
}
.btn-success{
    height: 3vh;
    width: 160px;
    color: #FFFFFF;
}
.card-container{
    height: 40vh;
    background-color: #28A745;
    text-align: center;
    padding: 10px;
}
.H{
    color: #FFFFFF;
}
.card-1{
    text-align: center;
    background-color: #FFFFFF;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    
}
.hh{
    color: #000000;
    font-family: "Roboto";
    font-size: 20px;
}
.pp{
    font-family: "Roboto";
    font-size: 15px;
    color: #818281;
}
.bb{
    background-color: transparent;
    border-color: #FFC107;
    color: #FFC107;
    border-radius: 5px;
}
.bb2{
    background-color: transparent;
    border-color: #dc3545;
    color: #dc3545;
    border-radius: 5px;
    
}
.bb3{
    background-color: transparent;
    border-color: #007BFF;
    color: #007BFF;
    border-radius: 5px;
}
.cards-container{
    display: flex;
    flex-direction: row;
}