@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.card {
    text-align: center;
    color: blue;
    background-color: #f0f8ff;
}

.peak {
    color: black;
    font-style: normal;
    font-size: 30px;
}

.sunset {
    color: black;
    font-style: normal;
    font-size: 25px;
}

.river {
    color: black;
    border-image: 100vh;
    background-position: 100px;
    width: 100vh;
    font-size: 20px;
}

.btn {
    text-align: center;
    margin: auto;
    border: 100px;
    border-style: edge;

}

.btna {
    background-color: blue;
    color: white;
    padding: 15px;
    margin: 10px;
    border: 80px;

}

.btnb {
    background-color: green;
    color: white;
    margin: 10px;

}

.btnc {
    background-color: yellow;
    color: black;
    margin: 10px;

}