@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.whole-page{
    height:100vh;
}
.bg-head{
    background-color : #1b262c;
}
.bg-container{
    background-image:url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height:50vh;
    width:100vw;
    background-size:cover;
}
.center-part{
    text-align: center;
    padding-top:10vh;
    color:#FFFFFF;
}
.middle-content{
    background-color:#f2ccff;
    height:50vh;
    width:100vw;
}