@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.image1 {
    background-color: #5c4a7a;
}

.one {
    color: white;
    font-size: 20px;
    margin-left: 50px;
    font-family: " Sans-Serif";
}

.card1 {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642069/ethereal/assets/images/background.jpg');
    height: 50vh;
    width: 120vh;


}

.image {
    height: 50vh;
    width: 100vh;


}

.head1 {
    text-align: center;
    color: white;
    padding-top: 60px;
    padding-right: 10px;
    font-family: " Sans-Serif";

}

.para {
    margin-left: 90px;
    color: white;
    padding-bottom: 10px;


}

.two {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 12px;
    margin-left: 200px;
    color: #ffffff;


}

.com {
    background-color: white;
    height: 4vh;
    width: 4vh;
    border-radius: 3px;
}

.bulb {
    height: 10px;
    width: 30px;
    padding: 20px;
    border-style: solid;
    margin-left: 30px;
    margin-top: 30px;
    color: #e74c3c;
    border-color: transparent;
    padding: 30px;
    margin-top: 30px;
}

.frst {
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
}

.para1 {
    color: black;
    margin-left: 5px;
    font-size: 10px;
}

.three {
    background-color: #f3edf7;
    text-align: center;
    height: 650px;
    width: 100vw;

}

.heading {
    font-size: 30px;
    font-family: "Sans-Serif";
    text-decoration: underline red;

}

.image2 {
    height: 200px;
    width: 150px;
    margin-left: 150px;
    margin-top: 50px;

}

.button2 {
    background-color: #e74c3c;
    border-radius: 3px;
    margin-top: 63px;
    margin-left: 90px;
    border-color: #e74c3c;
    height: 45px;
    width: 150px;
}

.Subscribes-section {
    background-color: #5c4a7a;
    width:125vh;
}

.Subscribes {
    font-size: 20px;
    margin-left: 90px;
 width:120vh;
    color: white;
    text-decoration: underline red;
}

.joining {
    font-size: 15px;
    margin-left: 70px;
    color: white;

}

.button3 {
    background-color: red;
    border-radius: 3px;
    margin-left: 90vh;


}
.head4{
    text-align:center;
    font-family:"Sans-Serif";
    text-decoration: underline red ;
    font-size:20px;
  
    
}
.head5{
    font-size:20px;
       margin-left: 20vh;
    
}
.para5{
     margin-left: 10vh;
}
.para6{
   
    font-size:20px;
       margin-left: 20vh;
       color:#e74c3c;
    

}
.Contactus-section{
    background-color:#f3edf7;
    height:30vh;
    width:120vh;
    
}
.para4{
    color:grey;
    margin-left:30vh;
    margin-top:40px;
   text-decoration: underline red;
}
span{
    color:#e74c3c;
}
.para3{
    font-size:15px;
    color:grey;
    margin-left:30px;
}
.icon{
    margin-left:3vh;
      margin-top:2vh;
    
}
.Design{
    margin-left:30vh;
    font-size:10px;
     margin-top:2vh;
     color:grey;
    
}