@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.bg-container {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height: 150vh;
    width: 300vw;

}

.heading {
    text-align: center;
    color: #FFFFFF;
    font-family: Roboto;
}
.heading2{
   text-align: center;
   color:black;
   font-family: Roboto;
}


.para {
    color: #bf00ff;
    background-color: #bf00ff;
    height:8px;
    width:100px;
    text-align:center;
    margin-left:600px;
}
.para2{
    text-align: center;
    color:#FFFFFF;
    font-family: Roboto;
}
.top{
    display: flex;
    flex-direction: column;
    
}
.bg-container2{
    background-color: #f2ccff;
    height:150vh;
    width:300vw;
}
.image{
    height:10px;
}