/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}


.card{
    background-color:lightblue;
    padding:15px;
    
}
.h1{
    text-align:center;
}
.card2{
    background-color:#ffffff;
    border-radius:10px;
    margin:5px;
    border-style:solid;
}
.h2{
    text-align:center;
}
.ul{
    list-style-type:square;
}
.card3{
    background-color:#ffffff;
    border-radius:10px;
    margin:5px;
    border-style:solid;
}
.h3{
    text-align:center;
}
.ol{
    list-style-type:upper-roman;
}
.ul2{
    list-style-type: circle;
}
.card4{
    background-color:#ffffff;
    border-radius:10px;
    margin:5px;
    border-style:solid;
    
}
.h4{
    text-align:center;
}
.ol2{
    list-style-type:upper-alpha;
}
.card5{
    background-color:#ffffff;
    border-radius:10px;
    margin:5px;
    border-style:solid;
}
.h5{
    text-align: center;
}
