@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav {
    background-color: #32AA27;
    height: 30px;
    background-size: cover;
}

.back {
    background-image: url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
    height: 60vh;
    width: 100vw;
    background-size: cover;
}
.button{
  background-color: #32AA27;
     text-align: center;
    border-style: dotted;
    border-color: black;
    border-width: 5px;
     
}
.back2{
    background-color: #FFFFFF;
     height: 60vh;
    width: 100vw;
    background-size: cover;
}
.p2{
    color: #32AA27;
}
.card{
    background-color: grey;
    height: 200px;
    width: 200px;
    
}