@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
/*write your code below*/
.main-container{
    background-color:#faf0ca ;
    height: 100%;
    width: 100%;
    font-family: "Roboto";
    text-align: center;
}
.nav-item{
    color: #faf0ca;
}
.contain{
    background-color:#0d3b66 ;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
.text{
    font-size:25px ;
}
.button1{
    color:#0d3b66 ;
    background-color: #ee964b;
    border-radius: 5px;
    
}
.maintain{
    margin-top: 20px;
    margin-bottom: 10px;
}
.more{
    background-color:#f4d35e;
    padding: 10px;
    margin-left: 20px;
    height:100%;
    width:90% ;
    margin: 10px;
    border-radius:10px ;
   
}
.image1{
  width: 60%;
  height: 100px;
  margin: 5px;
  border-radius:5px ;
}
.wait{
    font-size: 18px;
}
.not{
    font-size: 15px;
}
.gem{
    display: flex;
    flex-direction:row ;
    justify-content: center;
    
    padding: 20px;
   
     
}
.para{
    font-size:20px;
    color: #ffffff;
    background-color: #343a40;
    padding: 10px;
}
.most{
    font-family: Roboto;
    background-color:#faf0ca ;
}
