@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar{
    background-color: #162415;
    height: 10vh;
    color: #FFFFFF;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    font-weight: bold;
    
}
.background{
    background-image: url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg");
    height: 100vh;
    background-size: cover;
    color: #FFFFFF;
}
.heading{
    color: #FFFFFF;
    font-family: "Poppins";
    height:70px;
    
    
}