@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
    top: 0px;
    right: 0px;
    left: 0px;
}

.banner {
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-image: url('https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg');
    padding: 10px;
}

media scree