@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navContainer{
    position:fixed;
}
.card{
    width:280px;
    background-color: white;
}
.card:hover{
    transform:scale(1.2);
}
.card-image{
    height:200px;
    width:280px;
}
.face{
    color:white;
    
    
}