/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.main_heading{
    text-align: center;
    background-color: lightblue;
    background-size: cover;
    height: 100vh;
    font-family: "Caveat";
}
.card1{
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 3px;
    border-color: #0071e3;
    border-style: solid;
    border-width: 3px;
    font-family: "Caveat";
}
.card2{
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    border-color: #0071e3;
    border-style: solid;
    border-width: 3px;
    font-family: "Caveat";
}
.card3{
    text-align: center;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    border-color: #0071e3;
    border-style: solid;
    border-width: 0px;
    font-family: "Caveat";
}
.head1{
    color: blue;
}
.head2{
    color: green;
}
.head3{
    color: red ;
}
.btn{
    margin: 20px;
}
