@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.container-fluid {
    background-color: #17A2BB;
color: white;
}

.container-fluid {
    color: #ffffff;
    
}

.bg {
    background-color: #A7E399;
    height: 30vh;
}

h1 {
    color: #000000;
    font-size: 20px;
    font-family: Roboto;
}

p {
    color: #000000;
    font-family: roboto;
    font-size: 10px;
}

.button1 {
    background-color: #000000;
    color: white;
}

.button2 {
    background-color: #ffffff;
    color: black;
    border: 0px;
}

.image {
    height: 55px;
    width: 55px;
}

.section {
    background-color: #F6FF99;
    background-size: cover;
    height: 100vh;
}

.cont1 {
    background-color: white;
    border-radius: 5px;
    height: 20vh;
    width: 20vh;
    padding: 5px;
    margin: 5px;
}

.image2 {
    height: 40px;
    width: 40px;
    border-radius: 5px;
}

.para {
    text-align: center;
}