@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar {
    background-color: #32aa27;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    place-self: fixed;
}
.navbar-heading {
    color: #ffffff;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 29px;
}
.nav-items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    color: white;
    margin: 20PX;
}
.bg-container {
    background-image: url("https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.main-heading {
    color: white;
    font-family: "Poppins";
    font-size: 70px;
    font-weight: 900;
    text-align: left;
}
.main-para  {
    text-align: left;
}