@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg1{
    background-color: #006d77;
    color: #ffffff;
    height: 60px;
    width:1280px;
    padding: 10px;
}
.img{
    height: 30vh;
    width: 20vw;
}
.bg2{
    background-color: #83C5BE;
    width: 1280px;
    height: 50vh;
    width: 1280px;
}
.bg3{
    background-color: #FFA69E;
    height: 50vh;
    width: 1280px;
}
.img1{
    height: 20vh;
    width: 120px;
}
.image1{
    background-color: #ffffff;
    height: 30vh;
    width: 20px;
    margin: 10px;
    
}