@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.card {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/vinayaka.jpg");
    height: 40vh;
    width: 72vh;
    background-size: cover;
    text-align: center;
    font-family: "Roboto";
    padding: 25px;
}

.b {
    color: white;
    font-size: 20px;
}

.c {
    color: white;
    font-size: 10px;

}

.a {
    height: 35px;
    width: 135px;
    background-color: yellow;

}

.g {
    text-align: center;

}

.container {
    height: 40vh;
    width: 72vh;
    background-color: #FFf0CE;
    text-align: center;
    padding: 20px;
}

.m {
    font-size: 20px;
}

.v {
    background-color: white;
    color: #28a745;
}

.d {
    background-color: white;
    color: #dc3545;
}

.w {
    background-color: white;
    color: #007bff;
}

.h {
    height: 10vh;
    width: 72vh;
    background-color: orange;
}