@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.navbar{
    width: 95vw;
    color: white;
}
.bg-col{
   background-color: #006d77;
   color: #ffffff;
}
.card-1{
    background-color: #83C5BE;
}
.card-2{
    background-color: #FFA69E;
    padding: 20px;
}
.padding{
    padding-right: 90px;
}
.sec-1{
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    height: 250px;
    width: 400px;
    background-color: #F7F4EB;
}
.image-2{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.sec-text{
    font-family: 'Roboto';
    
}
.main-image{
    height: 300px;
    width: 450px;
}
.heading-1{
    font-family: 'Roboto';
}
.para1{
    font-family: 'Roboto';
    font-size: 18px;
}
.button{
    height: 40px;
    width: 200px;
    border-width: 0px;
}
.dark{
    background-color: #000000;
    color: #ffffff;
}
.light{
    background-color: #ffffff;
    color: #000000;
}
/*Write your CSS code below and don't modify anything above*/