/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
body {
    text-align: center;
    background-color: lightblue;
    margin-bottom:20px;
}
button{
    padding:10px;
}
.box {
    background-color: #f8f9fa;
    height: 175px;
    width: 80vw;
    border-width: 2px;
    border-color: #0071e3;
    border-style: solid;
    margin-left: 10%;
    border-radius:10px;
    padding:10px;
}
.b-red{
    background-color: #dc3545;
    border-radius:2px;
    border-style:none;
    color:#ffffff;
    width:125px;
}
.b-green{
    background-color:#28a745;
    border-radius:2px;
    border-style:none;
    color:#ffffff;
    width:125px;
}
.b-blue{
    background-color:#007bff;
    border-radius:2px;
    border-style:none;
    color:#ffffff;
    width:125px;
}
h1{
    font-size:26px;
}
.mainhead{
    font-size:40px;
    margin-top:40px;
}
.h-blue{
    color:#007bff;
}
.h-green{
    color:#28a745;
}
.h-red{
    color:#dc3545;
}
