@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.card1{
    background-color: #FFC107;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto";
}
.bg-container{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pexels-suvan-chowdhury-37305-1580085.jpg");
    width:100%;
    background-size: cover;
    padding:200px;
}
.head{
    text-align:center;
    color: #ffffff;
    font-size:24px;
}
.para{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}
.button1{
    text-align:center;
}
.button2{
    padding: 6px;
    background-color: #FFC107;
    border-radius:10px;
    font-size: 14px;
}
.card4{
    background-color: #FBDB93;
    text-align: center;
    padding: 40px;
}
.card5{
    background-color: #ffffff;
    padding:10px;
    margin: 10px;
    font-size:10px
}
.head1{
    font-size: 18px;
    font-family: "Roboto";
    font-weight: bold;
    color: #000000;
}
.card6{
    background-color: #ffffff;
     padding:10px;
      margin: 10px;
}
.card7{
    background-color: #ffffff;
     padding:10px; 
     margin: 10px;
}