/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.flex-container {
    background-color: lightblue;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.card1 {
    background-color: #ffffff;
    width: 72vw;
    border-style: solid;
    border-color: #007bff;
    border-radius: 12px;
    margin-left: 40px;
    padding: 12px;
}

.head {
    font-family: Caveat;
    font-weight: bold;
    font-size: 50px;

    color: #000000;
}

.para {
    font-family: Caveat;
    color: #000000;
}

.headcard1 {
    font-weight: bold;
    color: #007bff;
}

.headcard2 {
    color: #28a745;
}

.headcard3 {
    color: #dc3545;
}
