@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
nav {
    width: 100vw;
}

.image_container{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
    background-size: cover;
    height: 700px;
    width: 97vw;
    margin-left: 17px;
    text-align: center;
    color: #ffffff;
    margin-top: -10px;
    align-items: center;
}
.image_content{
    padding-top: 275px;
}
.cards_sec{
    width: 97vw;
    margin-left: 17px;
    height: 700px;
    background-color: #28a745;
}
.cards_heading{
    color: #ffffff;
    padding: 20px;
}
.cards1{
    background-color: #ffffff;
    height: 200px;
    text-align: center;
}
.basket_icon1{
    color: #ffc107;
}
.cards_heading{
    color: #000000;
    font-weight: bold;
}
.cards_para{
    color: #818281;
}