@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.navbar-brand{
    font-family: Sans-Serif;
}
.bg-container{
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642069/ethereal/assets/images/background.jpg");
    width: 100vw;
    height: 90vh;
    text-align: center;
}
.main-headings{
    text-align: center;
    color: white;
    font-family: open Sans;
}
.heading{
    margin-top: 30%;
    font-size: 50px;
}
.ethereal{
    color: #e74c3c;
}
.learnmore{
    color: #f3edf7;
    background-color: transparent;
    border-width: 1px;
    border-color: #f3edf7;
    height: 30px;
    width: 25%;
    border-radius: 20px;
}
.icon{
    color: #e74c3c;
}
.container{
    margin: 40px;
    height: 30px;
    text-align: center;
}
.small-icon-container-heading{
    font-size: 30px;
    font-family: Sans-Serif;
}
.small-icon-container-text{
    color: #333333;
}
.image-container{
    text-decoration: underline red;
    text-align: center;
}