/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container-fluid{
    background-color: #f4f4f4;
}




.card-1{
    background-color: #0018f9;
    height: 40vh;
    color: #FFFFFF;
    background-size: cover;
    text-align: center;
}

.card-2{
    background-color: #f4f4f4;
    height: 40vh;
    color: #000000;
    background-size: cover;
}

.card-3{
    background-color: #333;
    height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    font-size: 10px;
}

.button-card{
    padding: 10px;
}


.blueh{
    font-size: 30px;
    padding-top: 15px;
}

.bluep{
    font-size: 25px;
}


.grayh{
    padding: 15px;
}
