@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar{
    background-color: black;
    color: white;
     display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        width: 500px;
    
    
}
.dot{
    color: black;
}
.content{
     display: flex;
    flex-direction:row;
    justify-content: center;
   
    height: 300px;
    width: 500px;
    
    background-size: cover;
    background-image: url('https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg');
}
.content-inside{
     display: flex;
    flex-direction:row;
    /* justify-content: center; */
    place-items: center;
    color: white;
    width: 40px;
}

.contenthead{
    color: white;
    font-weight: bold;
}
.card{
    height: 120px;
    width: 70px;
    background-color: white;
    padding: 5px;
    margin: 3px;
    border-color: black  solid;
}
.cardsss{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.footer-1{
    background-color: #20341E;
    color: white;
}
.footer-2{
    background-color: #20341E;
    color: white;
}
.footers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
width: 400px;
}