@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}
.nav-link{
    color:white;
}

.bg-container{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    height: 50vh;
    text-align: center;
    color: #FFFFFF;
    font-family: "Caveat";
    background-size: cover;
}
.button{
    background-color: #52FA6C;
    color: #FFFFFF;
}
.bgmi{
    text-align: center;
  background-color: #9BFAA9;
  padding: 15px;
  font-family: "Caveat";
}
.head1{
    font-weight: bold;
}
.head2{
    text-align: center;
    font-family: "Caveat";
    padding: 9px;
    font-weight: bold;
}
.bgmi-container{
    background-color: #0ec930;
 
    
}
.img1{
    height: 120px;
   margin: 5px;
  
}
.card-1{
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius:20px;
}
h1{
   font-size: 18px;
   font-weight: bold;
}
.pain{
    color:green;
}
.card-number{
     background-color: white;
    text-align: center;
    padding: 30px;
    border-radius:20px;
}
.section{
    background-color:#52FA6C;
        
    }
.section-bar{
    background-color: #0ec930;
    text-align: center;
    padding: 40px;
    font-family: "Caveat";
    height: 29vh;
    
}
.seen{
    background-color: #000000;
    color:white;
    text-align: center;
    height: 7vh;
}
.img2{
    height: 140px;
    
}
