@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #008080;
    justify-content: space-between;
    font-family: "Roboto";
    
    
}
.navbarheading{
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: flex-start;
    font-family: "Roboto";
}
.navparah{
    display: flex;
    flex-direction: row;
    gap: 10px;
   
    font-family: "Roboto";
    
}

.part1{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg');
    background-size: cover;
    height:500px ;
    font-family: "Roboto";
}
.part1heading{
    display: flex;
    text-align: center;
    color: white;
    font-family: "Roboto";
}
.part1parah{
    color: white;
    font-family: "Roboto";
}
img{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    height: 100px ;
    border-radius: 50px;
}
.productconsultation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.repairs{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.home{
     display: flex;
     flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.repaircontent{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.consultationcontent{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.homecontent{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
.image1{
    order: 0;
}
.image2{
    order: 0;
}
.image3{
    order:1;
}
.part2{
    display: flex;
    flex-direction: column;
    order: 1;
    background-color: #ccffff;
}
.part2heading{
    display: flex;
    text-align: center;
    margin: 10px;
    justify-content: center;
    font-family: "Roboto";
}
.allparts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.part3{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    font-family: "Roboto";
    
}

.leftsidecontent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: "Roboto";
}
.rightsidecontent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: "Roboto";
}

@media (orientation:landsacpe){
    .navbarheading{
        display: flex;
        justify-content: center;
    }
    .image1{
        order: 1;
        
    }
    
}