@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media (max-width:765px) {
    .span1 {
        display: none;

    }

    @media (min-width:766px) {
        .span1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .icon {
            display: none;
        }