@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.A {
    background-color: green;
    color: white;
    text-align: center;
    font-family: Poppins;
}

.b {
    text-align: center;
    font-family: Poppins;

}

.bb {
    background-image: url("https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg");
}

.btn {
    background-color: green;
    color: white;
}

.amo {
    background-color: #162415;
    color: white;
    font-family: Poppins;
    gap: 3;
}

.mm {
    height: 150px;
    gap: 3;
}