@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
*{
    padding:0px;
    margin:0px;
    font-family: "Roboto";
}
.navbar{
    height:40px;
    width:100vw;
    background-color: #000000;
    color:#FFFFFF;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.hr-first{
    background-color:#39ff14;
    height:5px;
    margin:7px;
    width:100px;
}

.home-page{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg');
    height:35vh;
    width:100vw;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
}

.second-page{
    height:auto;
    width:96vw;
    background-color: #d4ffcc;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.hr-second{
    background-color:#39ff14;
    height:2px;
    margin:7px;
    width:70px;
}

.all-cards{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding:10px;
}

.each-card{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    height:auto;
    border-radius:10px;
    width:auto;
    margin:10px;
}

p{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

img{
    height: 150px;
    width:150px;
    border-radius: 100px;
}

.footer{
    background-color:#FFFFFF;
    height:35vh;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.footer-start{
    padding-top:60px;
    padding-bottom:10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    margin-right:3px;
}

h3{
    padding:5px;
}

.footer-end{
    padding-bottom: 60px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
@media (max-width:767px){
    .footer{
        flex-direction: row;
    }
    .footer-start{
        flex-direction: row;
    }
    .all-cards{
        flex-direction:column;
    }
}