@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.nav1{
    background-color: black;
    height: 50px;
    text-align: center;
}
.para{
    color: white;
    padding-top: 14px;
    font-weight: bold;
}
.img1{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg");
    height: 500px;
    background-size: cover;
}
.setting{
    padding-top: 200px;
}
.h1{
    color: #ffffff;
    font-size: 50px;
}
.line{
    color: red;
    font-weight: bold;
    height: 30px;
}
.para1{
    color: white;
    padding-top: 24px;
    font-size: 20px;
    font-weight: 600;
}
.back1{
    background-color: #f7c1c1;
}
.img2{
    padding-top: 20px;
    width: 90%;
    border-radius: 20px;
}
.setting3{
    text-align: left;
    margin-left: 24px;
}
.p1{
    font-size: 19px;
    font-weight: 500;
}
.end1{
    background-color: #808080;
    height: 190px;
}
.setting5{
    padding-top: 20px;
}
.headend{
    font-weight: 500;
}