@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container{
    background-image: url(https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg);
    height:50vh;
}
.head2{
    height:10px;
    color:#32AA27;
}
.head3{
    height:10px;
}
.img1{
    height:100px;
    margin:10px;
}
.img2{
    height:100px;
    margin:10px;
}
.img3{
    height:100px;
    margin:10px;
}
.con4{
    background-color: black;
    height:200px;
}
.con5{
    background-color: #FFFFFF;
    height:200px;
}
.head6{
    color:#FFFFFF;
    
}
.head7{
    color:black;
}
.navbar{
    background-color: #32AA27;
    
}