/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


/*Write your CSS code below and don't modify anything above*/
.img{
    height:25vh;
    width:35vw;
    padding:10px;
}
#container{
    background-color: #FFFFFF;
    padding:10px;
}
.container1{
    background-color: #f2f4ff;
    height:100vh;
    background-size:cover;
    text-align: center;
}
.btn{
    background-color: #4e73df;
    border-style: solid;
    border-radius:5px;
    text-align: center;
}
.btn2{
    background-color: #e2e2e2;
    border-style: solid;
    border-radius:5px;
    text-align: center;
}
.button{
    text-align: center;
}
