@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.baclb {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/image+(1).jpeg");
    background-size: cover;
    height: 100vh;
    background-color: #CBEAED;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#fgffgfg{
    color: #ffffff;
}
.color {
    color: #ffffff;

    text-align: center;
    align-self: center;

}

.backblue {
    background-color: #CBEAED;
   padding-top: 80px;
}

.backwhite {
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px;

    border-radius: 12px;
    margin: 20px;
}

.kkkkkkkk {
    color: #28a745;
}

.lastpad {
    padding: 20px;
}

.tetetet {
    text-align: center;
}

.kkkkkk {
    color: #dc3545;
    margin: 10px;
}

.greencolor {
    color: #28a745;
}

.yellowcolor {
    color: #FFC107;
}

.backgreen {
    background-color: #28A745;
    text-align: center;
}

.text {
    text-align: center;
}

@media (min-width:361px) {
    .baclb {
        background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/illustration-pongal-holiday-background-with-space-text_91314-448.jpg");
        background-size: cover;
        height: 100vh;
        background-color: #CBEAED;
    }

    .allcards {
        display: flex;
        flex-direction: row;
    }
}