/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.bg {
    background-color: #0018f9;
    height: 45vh;
    background-size: cover;
    padding: 40px;
}

.htext {
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;

    font-family: Roboto;
}

.ptext {
    color: #FFFFFF;
    text-align: center;
}

.car {
    background-color: #f4f4f4;
    height: 50vh;
    background-size: cover;
    padding: 20px;
}

.htext2 {
    font-family: Roboto;
    font-weight: bold;

}
.jk{
    background-color: #333;
    height: 50px;
    width: 100vw;
    padding: 10px;
}
.p{
    text-align: center;
    color: #FFFFFF;
}


/*Write your CSS code below and don't modify anything above*/
