@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar{
    background-color: #162425;
    display: flex;
    color: white;
}
.main{
    background-image: url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
    height: 50vh;
    width:100vw;
    font-family: Poppins;
}
.btn{
    background-color: green;
    color: white;
    border-radius:5px ;
}
.text{
    color: black;
}
.sec1{
    color: black;
}