@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.navbar{
    color: #ffffff;
}
.bg-image{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
    background-size: cover;
    height: 80vh;
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 0px;
    font-family: "Roboto";
}
.head{
    font-size: 45px;
    font-weight: 700;
    padding-top: 300px;
    font-family: "Roboto";
}
.para{
    font-family: "Roboto";
}
.btn{
    background-color: #28A745;
    color: #ffffff
}
.bg-color{
    background-color: #28A745;
    height: 50vh;
    text-align: center;
    padding-top: 5px;
    color: #ffffff;
    font-family: "Roboto";
}
.card1{
    background-color: #FFFFFF;
    height: 18vh;
    width: 20vw;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;
    color: #000000;
    margin: 20px;
    text-align: center;
}
.heads{
     font-size: 20px;
}
.paras{
    font-size: 15px;
    color: #818281;
    
}
.btns{
    border-color: #FFC107;
    color: #FFC107;
    border: solid;
    background-color: transparent;
    border-width: 1px;
    border-radius: 5px;
}
.btn2{
    border-color: #dc3545;
    color: #dc3545;
    border: solid;
    background-color: transparent;
    border-width: 1px;
    border-radius: 5px;
}
.btn3{
    border-color: #007BFF;
    color: #007BFF;
    border: solid;
    background-color: transparent;
    border-width: 1px;
    border-radius: 5px;
}
.last{
    background-color: #343a40;
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-family: "Roboto";
}