@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.page1 {
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641277/entro/assets/images/gallery1.jpg");
    background-size: cover;
    height: 100vh;
    width: 150vw;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 30px;
}

nav {
    background-color: transparent;
}

.main_headings {
    font-size: 100px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 130px;
}

.button {
    height: 40px;
    width: 240px;
    background-color: #ffffff;
    border-radius: 20px;
    border-color: white;
}

.page2 {
    font-family: sans-serif;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641274/entro/assets/images/about_bg.jpg");
    background-size: cover;
    height: 100vh;
    width: 150vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.page2_content {
    margin: 20px;
    font-size: 30px;
}

.button1 {
    height: 50px;
    width: 240px;
    color: #ffffff;
    background-color: black;
    border-radius: 30px;
    border-color: white;
    font-size: 25px;
}

.page3 {
    font-family: sans-serif;
    background-size: cover;
    height: 100vh;
    width: 150vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headphone {
    height: 100vh;
    width: 70vw;
}

.image_edit {
    display: flex;
    flex-direction: row;
}

.images {
    margin: 20px;
}

.page4 {
    display: flex;
    flex-direction: row;
    background-color: #ececec;
    height: 100vh;
    width: 150vw;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.page4_content {
    text-align: right;
    width: 30%;
}

.ContactUs {
    background-color: black;
    color: #ffffff;
    text-align: center;
    height: 60vh;
    width: 150vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes {
    color: #161616;
    text-align: left;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    height: 40px;
    width: 500px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sendbutton {
    width: 80px;

}

.news {
    color: #ffffff;
    text-align: left;
    padding: 10px;
    background-color: lightblue;
    height: 40px;
}

.last {
    display: flex;
    flex-direction: row;
}

.newsletter {
    text-align: left;
}
.locations{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.tags{
    display: flex;
    flex-direction: row;
}
.icons{
    background-color: blue;
    color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}