@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar1{
    background-color:#008080;
    height:50px;
    background-size: cover;
    
}
.item{
    color:white;
    padding:20px;
}
.nav1{
    display: flex;
}
.nav-para{
    color:white;
    text-align:center;
}
.main-div{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    background-size:cover;
    height:50vh;
    
}
.main-head{
    color:white;
    text-align:center;
    padding:20px;
}
.center{
    align-content: center;
   
}
.line{
    width:20px;
    color:#008080;
}
.page2{
    background-color: #ccffff;
    background-size:cover;
    height:100%;
}
.head1{
    text-align:center;
    font-family:Roboto;
}
.sub-div{
    text-align:center;
    padding:20px;
}
.image{
    height:100px;
    width:100px;
    border-radius:50px;
}
.para-head{
    font-size:20px;
}
.para-head1{
    font-size:15px;
}
.footer{
    text-align: center;
}
.foot1{
display:flex;
padding:20px;
}
.para{
    margin-right:10px;
}