@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.nav-link {
    color: white !important;
}

.top-container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    background-size: cover;
    height: 35vh;
}

.top-text {
    padding: 180px;
    color: white;
    padding-left: 230px;
    text-align: center;
}

.s {
    color: white;
    width: 150px;
}

.about-container {
    background-color: #9BFAA9;
    height: 20vh;
    text-align: center;
    padding: 30px;
}

.menu-container {
    background-color: #52FA6C;
    height: 39vh;
    font-family: "Caveat";
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.f {
    font-weight: bold;
}

img {
    height: 220px;
    width: 260px;
    margin: 10px;
}

.card {
    width: 300px;
    font-family: "Roboto";
    margin: 10px;
}

.ca-header {
    font-size: 20px;
    font-weight: bold;
}

.para {
    color: #0ec930;
}

.img {
    margin: 30px;
    width: 340px;
}

.offer-text {
    padding-top: 50px;
}

Button {
    border-width: 0px;
    background-color: white;
}

.offer-container {
    background-color: #9BFAA9;
}
.bottom{
    background-color: #52FA6C;
    text-align: center;
    padding: 100px;
    font-family: "Roboto";
}
.bottom-head{
    font-family: "Caveat";
    font-size: 45px;
    font-weight: bold;
}
.last{
    background-color: #343A40;
    color: #ffffff;
    text-align: center;
}
h2{
    font-family: "caveat";
    font-weight: bold;
}
h3{
    font-family: "caveat";
    font-weight: bold;
}