@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar{
    background-color: ;
}
.list{
    justify-content: flex-end;
}
.heading-1{
    display: flex;
    align-self: flex-start;
}