@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.background {
    background-color:#A31D1D;
    height:100vh;
    width:100vw;
}
.topbox-navbar1 {
    background-color:#343A40;
}
.top-section {
    height:500px;
    width:100vw;
    background-image:url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/biryani+images.jpg');
    background-size:cover;
    text-align:center;
    color:#ffffff;
}
.top-section h1 {
    font-family: "Caveat";
}
.top-section p {
    font-family: Roboto;
}
.button1 {
    width:200px;
    background-color:#A31D1D;
    color:#ffffff;
}
.OurStory {
    height:400px;
    width:100vw;
    background-color:#A94A4A;
    text-align: center;
    color:#FFFFFF;
}
.OurStory h1 {
    font-family: "Caveat";
    font-weight: bold;
}
.OurStory p {
    font-family: "Roboto";
}
.Midsection {
    height:300px;
    width:100vw;
}
.card {
    padding:7px;
    text-align:center;
    height:400px;
    width:350px;
    margin:30px;
}
.card h1 {
    color:#000000;
    font-family: Roboto;
    font-weight:bold;
}
.card-image {
    
    height:200px;
    width:100%;
}
.button2 {
    background-color:transparent;
    color:#A31D1D;
    border-radius: 5px;
    border-width:0px;
}
.Midsection {
    padding: 10px;
    margin:10px;
    text-align: center;
}
.Midsection h1 {
    color:#FFFFFF;
    font-family: "Caveat";
}
.bottom-image {
    height:250px;
    width:400px;
}
.discount {
    height:500px;
    width:100vw;
}
.footer {
    height:300px;
    width:100vw;
}
.button3 {
    width:200px;
}