@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
    height: 50vh;
    background-image: url('https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg');
    background-attachment: fixed;
    background-size: cover;
}

.subcon {
    height: 300px;
    width: 200px;
}