@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    background-size: cover;
    height: 30vh;
    color: #FFFFFF;
    text-align: center;
     padding: 80px;
    

}
.a{
    
    font-family: Caveat;
    
}
.b{
   font-family: Caveat;  
}
.c{
    background-color: #0ec930;
    border-width: 0px;
    color: #FFFFFF;
    font-family: Roboto;
}
.about-container{
    background-color: #9BFAA9;
    text-align: center;
    padding: 50px;
}
.d{
    font-family: Caveat;
}
.e{
    font-family: Roboto;
}
.f{
    font-family: Caveat;
}
.img1{
    height: 200px;
}
.menu-container{
    background-color: #52FA6C;
}
.viru{
    background-color: white;
}
.img2{
    height:200px;
}
.offer-container{
    background-color: #9BFAA9;
    
}
.img5{
    height: 300px;
}.v{
    font-family: Caveat;
}
.z{
    background-color: #52FA6C;
}
.g{
    font-family: Caveat;
}
.x{
    font-family: Caveat;
}

/*Write your CSS code below and don't modify anything above*/
