@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.bg {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg');
    height: 100vh;
    background-size: cover;
    text-align: center;
    padding: 80px;

}

.h1 {
    font-size: 30px;
    color: white;
}

.p {
    font-size: 20px;
    color: white;
}

.btn {
    background-color: #17A2B8;

}

.bg2 {
    background-color: #2C3E50;
    height: 100vh;
    background-size: cover;
    text-align: center;
}

.ve {
    font-size: 40px;
    color: white;
}

.card {
    height: 20vh;
    width: 50vh;
    margin: 30px;
}