@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav{
    background-color:#020402;
    min-height:10vh;
    width:100vw;
    display:flex;
    justify-content: space-around;
}
.nav-heading{
    color:#ffffff;
    font-size:20px;
    font-family: "Poppins";
    display:flex;
    padding:10px;
    font-weight:bold;
}
.nav-element1{
    color:#ffffff;
    font-size:20px;
    font-family: "Poppins";
    
}
.nav-element2{
    color:#ffffff;
    font-size:20px;
    font-family: "Poppins";
    
}
.nav-elements{
    display:flex;
    justify-content: flex-end;
    gap:10px;
}

.background-img{
    background-image:url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg");
    min-height:50vh;
    min-width:100vw;
    background-size:cover;
}
.back-img-head{
    color:#ffffff;
    font-size:40px;
    font-family: "Poppins";
    font-weight:bold;
    
}
.back-img-desc{
    color:#ffffff;
    font-size:30px;
    font-family: "Poppins";

}
.back-img-button{
    color:#ffffff;
    font-size:28px;
    font-family: "Poppins";
    background-color:#32aa27;
    padding:10px;
}
.back-img{
    display:flex;
    flex-direction: column;
    justify-content: center;    
    align-items:center;
}

.para{
    color:#32aa27;
    font-size:20px;
    font-weight:bold;
}
/* .middle{
    display:flex;
    gap:10px;
} */
.heading{
    font-size:40px;
    font-weight:600;
}
.card{
    min-height:400px;
    width:400px;
}
.card:hover{
    width:420px;
    
}
.img-head:hover{
    color:#32aa27;
    
}
.img-head{
    font-size:30px;
    font-weight:500;
    padding:10px;
}
.img-desc{
    font-size:30px;
    padding:10px;
}
.mid{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:20px;
}

@media (max-width:576){
    .card{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:20px;
    }
}