@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.navbar {
    background-color: #343A40;

}

.bg-container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/biryani+images.jpg");
    background-size: cover;
    height: 30vh;
    width: 100vw;
    text-align: center;
    color: white;
    padding: 20px;
}

.bg-container2 {
    background-color: #A94A4A;
    color: #FFFFFF;
    text-align: center;
    height: 15vh;
}

.bg-container3 {
    background-color: #A31D1D;
    text-align: center;
    padding: 20px;
}

.bg-container4 {
    background-color: #A94A4A;
    color: #FFFFFF;
    text-align: center;
    text-align: left;
    padding: 20px;
}

.bg-container5 {
    background-color: #A31D1D;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.footer {
    background-color: #343A40;
    color: white;
    text-align: center;
}

.img1 {
    height: 20vh;
    width: 30vw;
}

.card {
    height: 30vh;
    width: 60vw;
    margin: 5px;
}

.h1 {
    font-size: 20px;
    font-weight: bold;
}

.img2 {
    height: 30vh;
    width: 50vw;
}

.button {
    height: 5vh;
    width: 30vw;
    color: #A31D1D;
    border-radius: 20px;
}

.button1 {
    height: 5vh;
    width: 30vw;
    color: white;
    background-color: #A31D1D;
    border-radius: 20px;
}

.align {
    text-align: center;
}

.h4 {
    color: white;
    font-family: "Caveat";
}

.h1 {
    color: white;
    font-family: "Caveat";
}

.head {
    color: white;
    font-family: "Caveat";
}

.h2 {
    color: black;
}



/*Write your CSS code below and don't modify anything above*/