@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body{
    margin: 0px;
    padding: 0px;
}
.carservices{
  
    background-color:#1b262c ;
    color: #FFFFFF;
    font-family: "Roboto";
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar{
    display: flex;
}
p{
    padding: 5px;
}
.home{
    text-decoration: underline;
    
}
.head{
    font-size: 30px;
    padding-top: 15px;
    padding-left: 7px;
}
.TopServices{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg');
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:500px;
    width: auto;
}
.underline{
    text-decoration: underline;
    background-color:#bf00ff;
    width: 100px;
}