@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.total_cards {
    padding-right: 35px;
}

.card1 {
    border-color: lightblue;
    border-style: solid;
    border-top-width: 4px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    margin: 10px;
    max-width: 350px;
    margin-right: 20px;
    font-family: "sans-serif";
    margin-left: 20px;
}

nav {
    font-family: "Poppins";
}

.footer_para2 {
    color: grey;
    font-size: 13px;
}

.footer_card2 {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;

    flex-wrap: wrap;
    margin-left: 50px;
}

.image {
    width: 270px;
    margin-top: 0px;
    margin-bottom: 20px;
    transition-duration: 1s;
}

.image:hover {
    width: 300px;
}

.head1 {
    color: lightblue;
    font-size: 20px;
}

.para1 {
    color: grey;
    margin-right: 10px;
}

.sub_card1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.line {
    color: grey;
}

.para2 {
    color: lightblue;
}

.para3 {
    color: grey;
}

.sub2 {
    margin-left: auto;
    width: 40px;
    background-color: lightblue;
    height: 30px;

    color: white;
    padding-left: 5px;
    margin-top: 20px;
    padding-top: 5px;
    font-size: 14px;
}

.nav_card {
    display: flex;
    flex-direction: row;
    margin: 30px;

}

.nav_sub {
    width: 28px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    padding-left: 5px;
    background-color: lightgrey;
    margin: 5px;
}

.button2 {
    border-width: 0px;
    background-color: lightblue;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.footer_para {
    color: grey;
    margin-top: 5px;
}

.fooder_sub_2 {
    display: flex;
    flex-direction: row;

    margin-left: 20px;

}

.search_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    margin-left: 50px;
}

.search_sub1 {
    background-color: white;
    border-color: lightblue;
    border-width: 3px;
    border-style: solid;
    color: lightblue;
    width: 200px;
    margin-right: 20px;
    height: 35px;
    border-width: 2px;


}

.search_sub2 {
    width: 35px;
    height: 35px;
    background-color: lightblue;
    color: white;
    padding: 5px;
    padding-left: 10px;
}

.footer_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer_box1 {
    width: 30px;
    height: 30px;
    background-color: lightblue;
    padding: 4px;
    color: white;
    padding-left: 7px;
    margin: 5px;
    border-radius: 3px;
}

.footer_box2 {
    width: 30px;
    height: 30px;
    background-color: lightgrey;
    margin: 5px;
    padding-left: 7px;
    border-radius: 3px;
    padding-top: 4px;
}

.button1 {
    border-width: 0px;
    background-color: lightgrey;
    color: grey;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    margin-right: 10px;
}

.fooder_sub_1 {
    margin-left: 20px;
}

.sub1 {
    display: flex;
    flex-direction: column;
}