@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    font-size: 85%;
    font-family: "Lobster";
    color: #333333;
    box-sizing: border-box;
}

nav {
    font-family: Lobster;
    background-color: #5c4a7a;
    color: white;
}

#nav-fo {

    color: white;
    /*font-family: "Open Sans";*/
}

.welcome-but {
    width: 20vh;
    height: 7vh;
    border-radius: 35px;
    background-color: transparent;
    border: 1px solid grey;
}

.nav-coll {

    background-color: white;
}

.h-color {
    color: hotpink;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    background-size: cover;
    /*background-blend-mode: darken;*/
    background-image: linear-gradient(rgba(92, 75, 122, 0.8), rgba(92, 75, 122, 0.7)), url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642069/ethereal/assets/images/background.jpg');
}

.elementum-icon {
    font-size: 0.75rem;
    color: hotpink;
    padding: 10px;
    border: 0.5px solid grey;
    border-radius: 100%;
    margin: 1%;
}

.elementum {
    width: 100vw;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elementum-ele {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.inner-elementum {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ele-small-h {
    font-size: 3vh;
    color: #5c4a7a;
}


.our-work {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    width: 100vw;
    height: fit-content;
    background-color: #f3edf7;
}

.our-work-h {
    text-decoration: underline;
    text-decoration-color: hotpink;
}

.img-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding: ;*/
}

.work-img {
    margin: 2%;
    width: 100%;
}

.typical-but {
    border-color: hotpink;
    background-color: hotpink;
    color: white;
}

.up-h {
    color: white;
}

.up-p {
    color: white;
}

.up-but {
    align-self: center;
}

.updates {
    background-image: linear-gradient(rgba(92, 75, 122, 0.8), rgba(92, 75, 122, 0.7)), url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642069/ethereal/assets/images/background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: fit-content;
    padding: 4%;
    background-color: #5c4a7a;
}

.about-us {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.about-h {
    color: black;
}

.about-p {
    font-family: "Roboto";
}

.inner-about {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    font-family: "Roboto";
}

.cli-h {
    font-family: "Roboto";
}

.clients {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cli-p {
    font-size: 5vh;
    font-family: "Roboto";
    color: hotpink;
}

.contact {
    width: 100vw;
    height: fit-content;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-h {}

.text-bo {
    padding: 5%;
    font-family: "Roboto";
    color: grey;
    background-color: rgba(0, 0, 0, 0);
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-bottom-color: hotpink;
}

.add {
    align-self: start;
    margin-bottom: 0;
}

.add-p {
    font-family: "Roboto";
}

#address {
    font-weight: bold;
}

.add-add {

    color: hotpink;
}

#msg-box {
    text-align: start;
    width: 90%;
    height: 25vh;
    margin-bottom: 5%;
}


.copy{
    width: 100vw;
    padding: 5%;
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-copy{
    width: 100vw;
    
    text-align: center;
}
.copy-i{
    
    background-color: black;
    color: white;
    width: 3%;
    height: 15%;
    border: 1px solid black;
    border-radius: 100%;
    margin: 0.5%;
}
p{
    font-family: "Roboto";
}
.w3{
    color: hotpink;
    font-family: "Roboto";
}

@media (min-width:768px){
    .web-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .elementum{
        flex-direction: row;
    }
    .img-cont{
        justify-content: center;
        flex-direction: row;
    }
    .updates{
        flex-direction: row;
        justify-content: space-between;
    }
    .maxi{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .contact{
        flex-direction: row;
        justify-content: center;
    }
    .copy{
        flex-direction: row;
        justify-content: space-evenly;
    }
}