@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg-main {
    background-color: #f0f8ff;
    background-size: cover;
    text-align: center;
    font-family: "Roboto";
    height: 1600px;
    width: 1400px;
    padding: 70px;

}

.img1 {
    height: 450px;
    width: 500px;
    border-radius: 15px;

}

.b {
    margin: 8px;
}

.head {
    font-size: 40px;
}

.para {
    font-size: 23px;
}