/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg1{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/app.png');
    background-size: cover;
    height: 100vh;
}
.he1{
    color: white;
    text-align: center;
}
.p1{
    color: white;
    text-align: center;
    font-size: 15px;
}
.bg2{
    background-color: #f4f4f4;
    padding: 10px;
    height: 50vh;
}
.he2{
    color: red;
    font-weight: bold;
    margin: 10px;
}
.p2{
    margin: 10px;
    
}
.butt{
    height: 30px;
    width: 120px;
    border-radius: 8px;
    text-align: center;
}
.bg3{
    background-color: black;
    padding: 8px;
}
