@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.nav {
    background-color: #343A40;
    color: #FFFFFF;
}

.heading {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg');
    text-align: center;
    color: white;
    height: 30vh;
    background-size: cover;
}

h1 {
    font-family: Caveat;
    font-weight: bold;
}

.btn {
    background-color: #0ec930;
    color: white;
}

.body1 {
    background-color: #9BFAA9;
    height: 20vh;
    color: black;
    text-align: center;
}

.main {
    font-family: Caveat;
}

.body2 {
    background-color: #52FA6C;
    height: 35vh;
    color: black;
    text-align: center;
    padding: 20px;
}

.bg {
    background-color: white;
    height: 20vh;
    width: 30vw;
    padding: 5px;
    margin: 10px;
    text-align: center;
}

.img {
    height: 9vh;
    width: 23vw;
}

.para {
    color: #343A40;
    font-size: 10px;
}

.main2 {
    color: #52FA6C;
    font-size: 10px;
}

.heading2 {
    font-size: 10px;
}

.body3 {
    background-color: #9BFAA9;
    height: 30vh;
    color: black;
    text-align: center;
    padding: 20px;
}

.img2 {
    height: 25vh;
    width: 40vw;
}