@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.card11 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg');
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.card1_he1 {
    text-align: center;
    color: white;
    padding-top: 200px;
}

.card1_pe1 {
    text-align: center;
    color: white;
}

.card1_bu1 {
    color: white;
    background-color: #17a2b8;
    height: 40px;
    width: 170px;
    border-width: 0px;
    border-radius: 10px;
}

.card2 {
    background-color: #2c3e50;
    height: 85vh;
    text-align: center;
    padding: 10px;
}

.card3 {
    background-color: #343a40;
    height: 10vh;
}

.card2_he1 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card2_card1 {
    background-color: white;
    height: 300px;
    width: 330px;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    margin-left: 40px;
}

.card2_card2 {
    background-color: white;
    height: 300px;
    width: 330px;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
}

.card2_card3 {
    background-color: white;
    height: 300px;
    width: 330px;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    margin-right: 40px;
}

.hh11 {
    color: white;
    padding-top: 100px;
}

.pp11 {
    color: white;
    text-align: center;
}