@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container-fluid {
    color: #FFFFFF;
}

.container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    height: 50vh;
    width: 130vw;
    font-size: cover;
}

.h1 {
    color: #343a40;
    font-family: "Caveat";
    padding: 20px;
}

.p {
    color: #FFFFFF;
    font-family: "Roboto";
    padding: 20px;
}

.btn {
    color: #FFFFFF;
    background-color: #0ec930;
    border-color: #9BFAA9;
    padding: 10px;
}

.card {
    background-color: #9BFAA9;
    height: 220px;
    width: 630px;
}

.h2 {
    text-align: center;
    color: #343a40;
    font-family: "Caveat";
    font-weight: bold;
}

.p1 {
    text-align: center;
    color: #343a40;
    font-family: "Roboto";
}

.p2 {
    text-align: center;
    color: #343a40;
    font-family: "Roboto";
    height: 10px;
}

.p3 {
    color: #343a40;
    font-family: "Caveat";
    height: 50vh;
}

.card-container {
    background-color: #52FA6C;
    height: 300px;
    width: 630px;
}

.h5 {
    text-align: center;
    color: #343a40;
    font-family: "Caveat";
    font-weight: bold;
}

.crispy {
    background-color: #FFFFFF;
    height: 150px;
    width: 200px;
}

.img {
    height: 100px;
    width: 200px;
    padding: 10px;
    padding-bottom: 10px;
}

.a {
    color: #343a40;
    font-family: "Roboto";
}

.b {
    color: #343a40;
}

.c {
    color: #0ec930;
}

.offer-container {
    background-color: #52FA6C;
    height: 220px;
    width: 645px;
}

.d {
    height: 100px;
    width: 200px;
    padding: 10px;
    padding-bottom: 10px;
}
.book{
    background-color: #0ec930;
    
}
.j{
    text-align: center;
    color: #343a40;
    font-family: "Caveat";
}
.k{
    text-align: center;
    color: #343a40;
    font-family: "Roboto";
}
.btn2{
    color: #343a40;
    background-color: #FFFFFF;
    border-radius: 0px;
}
