@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.box1 {
    background-color: #9BFAA9;
    background-image: src="https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg";
    size: cover;
    height: 20vh;
    width: 1280px;
    text-align: center;
}

.box2 {
    text-align: center;
    height: 30vh;
    background-color: #343A40;
    width: 1280px;
}

.box3 {
    text-align: center;
    height: 30vh;
    background-color: #52FA6C;
    width: 1280px;
}

.box4 {
    text-align: center;
    height: 30vh;
    background-color: #FFFFFF;
    width: 1280px;
}

.box5 {
    text-align: center;
    height: 30vh;
    background-color: #0ec930;
    width: 1280px;
}