@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
    background-color: #40677D;
    color: #ffffff;
    font-family: "Poppins";
}

.heading {
    font-size: 20px;
}

.home-services {
    text-align: end;
}

.webpage {
    background-image: url('https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height: 200px;
    padding: 30px;
    font-family: "Poppins";
    font-weight: bold;
}

.heading1 {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    margin: 10px;
}

.paragraph1 {
    color: #ffffff;
    margin: 10px;
}

.button {
    background-color: #558D97;
    color: #ffffff;
    height: 30px;
    width: 150px;
    font-size: 15px;
}

.journeys {
    background-color: #C4DDDE;
    font-family: "Poppins";
}

.heading2 {
    font-size: 20px;
    font-weight: bold;
}

.card1 {}