.bg {
    background-color: #f0f8ff;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.h {
    font-family: "Roboto";
    font-size: 40px;

}

.image {
    height: 220px;
    width: 420px;
    border-radius: 20px;
}

.b {
    border-radius: 60px;
}

.p {
    font-family: "Roboto";
    font-size: 50px;

}