@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    padding:0px;
    margin:0px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #008080;
    padding:10px;
    color:white;
    margin:auto;
}
.nav-items{
    display: flex;
    gap:10px;
}
.home{
    height: 100vh;
    width:auto;
    background-size: cover;
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    text-align:center;
    align-content: center;
    color: white;
}
.home-line{
    font-size:5rem;
   
}
.line{
    height:10px;
    background-color: #008080;
    width:250px;
    margin:auto;
    margin-top:20px;
}
.tag-line{
    margin:20px;
    font-size: 1.5rem;
}
.section2{
    background-color:#ccffff;
    
    text-align: center;
    padding:50px;
    
}
.section2-heading{
    color:black;
    
}
.line2{
    height:5px;
    background-color: #008080;
    width:100px;
    margin:auto;
    margin-top:20px;
}
.frames{
    padding:20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px;
    
}
img{
    height:200px;
    border-radius: 100%;
    width:200px;
}
.boxes{
    width:300px;
}
.text{
    color:black;
    margin:10px;
    font-size:20px;
}