@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.h-center {
    background-color:"#fof8ff";
    background-size: cover;
    height: 100vh;
}

.h {

    color: blue;
    padding: 3px;
    border-radius: 15px;
    text-align: center;
}

.l {
    height: 30vh;
    width: 80vw;
    border-radius: 5px;
}

.p {
    text-align: center;
}

.q {
    height: 30vh;
    width: 80vw;
    border-radius: 5px;
}

.t {
    text-align: center;
}

.r {
    height: 30vh;
    width: 80vw;
    border-radius: 5px;
}

.e {
    text-align: center;
}

.btn-blue {
    background-color: blue;
    color: white;


}

.btn-green {
    background-color: green;
    color: white;


}

.btn-yellow {
    background-color: yellow;
    color: black;
}