@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
* {
    margin: 0;
    padding: 0;
}
.main {
    height: 100vh;
    width: 100vw;
}
.navbar {
    height: 100px;
    width: 100%;
    background-color: #3d3d3d;
    float : left;
    position: relative;
    display: flex;
    padding-right: 200px;
}
.logo {
    color: #ffffff;
    padding-top: 20px;
    padding: 20px;
    padding-right: 600px ;
}
.meun li {
    float: left;
    padding-top: 30px;
    list-style-type: none;
    text-decoration: none;
    text-decoration-line: none;
}
a {
    text-decoration: none;
    padding-right: 30px;
    font-size: 20px;
    color: #ffffff;
}
.context {
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg');
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    
}
.context h1 {
    font-size: 70px;
    font-weight: bold;
}
.context hr {
    border : #ffffff solid 2px;
}
.context p {
    font-weight: bold;
}
.cards {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #ffffff ;
    height: 400px;
    width: 50%;
    
}
.card img{
    border-radius: 200px;
}