@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.bg{
    background-color: #343A40;
    background-size: 100vh;
    height: 100vh;
    width: 90vh;
}
.img{
    height: 50vh;
    width: 70vh;
}
.bg1{
    background-color: #28A745;
    height: 50vh;
}
.h{
    font-family: Roboto;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
}
.card{
    background-color: #ffffff;
    height: 150px;
    width: 250px;
    text-align: center;
}
.h1{
    font-size:20px;
    padding: 6px;
}
.p{
    
}
.card1{
     background-color: #ffffff;
    height: 150px;
    width: 250px;
    text-align: center;
}
.card2{
     background-color: #ffffff;
    height: 150px;
    width: 250px;
    text-align: center;
}
}
/*Write your CSS code below and don't modify anything above*/