@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg-container{
    background-image: url("https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg");
    height: 400px;
    background-size: cover;
    text-align: center;
    padding-top: 100px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
}
.heading{
    font-size: 40px;
    font-weight: bold;
}
.btnn{
    font-weight: bold;
    border-color: #ffffff;
    height: 35px;
    width: 120px;
    margin: 10px;
    background-color: #558d97;
}
.Snd {
    background-color: #C4DDDE;
    padding: 15px;
    background-size: cover;
    height: 500px;
    
}
.hhh{
    color:#558D97;
    font-size: 20px;
    font-weight: bold;
    font-family: "Poppins";
}
.sndheading{
     font-size: 30px;
    font-weight: bold;
    font-family: "Poppins";
}
    
.flexx{
    display: flex;
}
.card{
    width: 300px;
    border-radius:3px;
    background-color: #558D97;
    margin: 15px;
    padding: 5px;
    height: 320px;
    
   
    
}
.cardheading{
    font-size: 20px;
    font-weight: bold;
    color: #C4DDDE;
}