@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.navbar-nav {
    color: white;
}

.bgm {
    padding: 30px;
    background-color: #DC143C;
    background-size: cover;
    height: 50vh;
}

.img1 {
    height: 100px;
    width: 200px;
}

.btn {
    color: black;
    padding: 10px;
}

.bnt {
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 10px;
}

.gg-image {
    height: 50px;
    width: 50px;
}

.bgmi {
    background-color: #F75270;
    background-size: cover;
    height: 100vh;
}