@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
    background-color: #162415;
    color: white;
    height: 100px;
    width: 100px;
    font-family: Poppins;
    padding: 6px;
}

.img {
    background-image: url("https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg ");
    background-size: cover;
}

.header {
    color: white;
    font-size: 30px;
}

.para {
    color: white;
    font-size: 15px;
}

.button {
    color: white;
    height: 60px;
    width: 75px;
    background-color: #32AA27;
}

.imagegallery {
    background-color: #32AA27;

}