/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}


/*Write your CSS code below and don't modify anything above*/


.bg{
    background-color: #f2f4ff;
    height: 100vh;
    padding: 110px;
    text-align: center;
}

.card{
    background-color: #FFFFFF;
    height: 65vh;
    width: 50vw;
    padding: 18px;
    text-align: center;
}


.button1{
    background-color: #4e73df;
    color: #FFFFFF;
    margin-bottom: 5px;
    border-width: 0px;
    height: 5vh;
}

.button2{
    background-color: #e2e2e2;
    margin-bottom: 5px;
    border-width: 0px;
    height: 5vh;
}

.para{
    color: #8a8384;
    font-family: "Roboto";
}


.img{
    width: 20vw;
    height: 20vh;
}



.card2{
    background-color: #FFFFFF;
    height: 65vh;
    width: 50vw;
    padding: 18px;
    text-align: center;
}
