@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.navbar-nav {
    color: #ffffff;
}

.first {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/food+banner+image.jpg");
    height: 200px;
    width: 400px;
    margin: 0.1px;
    background-size: cover;
    text-align: center;
}

.head1 {
    color: #ffffff;
    font-family: "Caveat";
    font-size: 10px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.para1 {
    color: #ffffff;
    font-size: 10px;

}

.btn1 {
    color: #ffffff;
    background-color: #ff0000;
}

.second {
    background-color: #fff0Ce;
    height: 190px;
    width: 400px;
    margin: 0.1px;
    background-size: cover;
    text-align: center;
}

.head2 {
    font-size: 20px;
    color: #ff0000;
    font-family: "Caveat";
}

.para2 {
    font-size: 10px;
    font-family: "Roboto";
}

.head3 {
    color: #000000;
    font-size: 15px;
    font-family: "Roboto";
}

.para3 {
    color: #ff0000;
    font-size: 15px;
}

.third {
    background-color: #ffde63;
    height: 400px;
    width: 400px;
    margin: 0.1px;
    background-size: cover;
    text-align: center;
}

.card4 {
    background-color: #ffffff;
    text-align: center;
    height: 100px;
    width: 100px;
}

.img1 {
    height: 50px;
    width: 50px;
    text-align: center;
}

.heads {
    font-size: 10px;
}

.paras {
    font-size: 5px;
}

.paraz {
    font-size: 8px;
}