@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";

}

/*Write your CSS code below and don't modify anything above*/

header {
    background-color: #fc8c14;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 100vw;
    color: #ffffff;

}

a {
    color: #ffffff;
}

nav {
    background-color: #fc8c14;
    color: #ffffff;
}

.pad {
    padding: 10px;
}

.T-container {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/vinayaka.jpg');
    background-size: cover;
    height: 50vh;
    width: 100vw;
    color: #ffffff;

}

@media (max-width:577) {
    .T-container {
        background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/vinayagar.jpg');
    }
}

.ext-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn1 {
    background-color: #FFC107;
    color: #000000;
}



footer {
    background-color: #fc8c14;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF0CE;

    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.text {
    text-align: center;
}

.pep {
    color: #007bff;
}

.fl {
    color: #dc3545;
}

.st {
    color: #28a745;
}