@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto";
    font-weight: bold;
    padding: 12px;
}
.nav2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:  10px;
    font-family: "Roboto";
}
.p1{
    margin-right: 8px;
    text-decoration: underline;
    font-family: "Roboto";
}
.p2{
    color: white;
    font-family: "Roboto";
}

.div1{
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    height: 50vh;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box{
    height: 10px;
    width: 150px;
    background-color: lightblue;
    margin-left:  300px;
    
}
.img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.div2{
    text-align: center;
    background-color: lightblue;
    font-family: "Roboto";
    padding: 30px;
}

.div21{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.box1{
    height: 4px;
    width: 120px;
    background-color: blue;
   margin-left: 285px;
    
}
.img1{
    padding: 8px;
}
.img2{
    width: 500px;
    margin-left: 100px;
}

.footer1{
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto";
    font-weight: bold;
    padding: 12px;
    background-color: lightgrey;
}
.jas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto";
    margin: 10px;
    padding: 10px;
}

.txt{
    margin-right: 7px;
}