@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

.navbar{
    background-color: #343A40;
    color: white;
}
.container{
    text-align: left;
}
.span1{
    text-align: right;
}

.title1{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/buger+image.jpg');
    padding: 95px;
    text-align: center;
}
.h4-title1{
    color: white;
    font-family: 'Caveat';
}
.p-title1{
    color: white;
    font-family: 'Caveat';
    
}
.but-title1{
 background-color: #F97A00;
 border-width: 0px;
 color: white;
 width: 125px;
}
.title2{
    background-color: #FFBC4C;
    text-align: center;
    padding: 15px;
    font-family: 'Caveat';
}
.h4-title2{
    font-weight: bold;
}
.title3{
    text-align: center;
    background-color: #FAA533;
    padding: 20px;
}
.item1{
    background-color: white;
    width: 210px;
    padding: 5px;
}
.img1{
    width: 200px;
}