@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.cont1 {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg");
    background-size: cover;
    height: 310px;
    text-align: center;
    padding: 110px;
}

.t {
    color: white;
    font-family: Caveat;
}

.button {
    background-color: #EB5B00;
    color: white;
    width: 150px;
    height: 40px;
}

.cont2 {
    background-color: #FFDE63;
    background-size: cover;
    text-align: center;
    padding: 30px;


}

.m {
    font-family: Caveat
}

.p {
    font-size: 10px;
}

.c {
    color: #FFDE63;
}

.cont3 {
    background-color: #FFBC4C;
    background-size: cover;
    text-align: center;

}

.container {}

.card1 {
    background-color: white;
    background-size: cover;
    text-align: center;
    padding: 10px;
    height: 340px;
    width: 250px;

}

.img1 {
    height: 200px;
    width: 220px;
}

.card2 {
    background-color: white;
    background-size: cover;
    text-align: center;
    padding: 10px;
    height: 340px;
    width: 250px;

}

.img2 {
    height: 200px;
    width: 220px;
}

.card3 {
    background-color: white;
    background-size: cover;
    text-align: center;
    padding: 10px;
    height: 340px;
    width: 250px;

}

.img3 {
    height: 200px;
    width: 220px;
}

.cont4 {
    background-color: #FFDE63;
    background-size: cover;
    height: 250px;
    padding: 30px;
}

.img4 {
    height: 190px;
    width: 300px;
}

.move {
    position: relative;
    bottom: 130px;
    left: 330px;
}

.cont5 {
    background-color: #FFBC4C;
    background-size: cover;
    text-align: center;
    height: 200px;
    margin: auto;
    padding: 60px;

}

.b {
    border-width: 0px;
    border-radius: 3px;
}

.card6 {
    text-align: center;
    font-size: 10px;
    height: 30px;
    padding: 6px;


}

/*Write your CSS code below and don't modify anything above*/