@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container1 {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Ice+Banner+Image.jpg");
    background-size: cover;
    height: 50vh;
}

.main-heading {
    color: #ffffff;
    font-family: "Caveat";
}

.para {
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
}

.button1 {
    background-color: #dc143c;
    padding: 8px;
    color: #ffffff;
    border-width: 0px;
}

.align {
    text-align: center;
}
.container2{
    background-size: cover;
    height: 30vh;
    background-color:#f08787;
}
.para2{
    margin-left:8px;
    margin-right:8px;
}
.container3{
    background-color:#f75270;
    background-size:cover;
    height:50vh;
}
.card{
    background-color:#ffffff;
    padding:8px;
}
.card-heading{
    font-size:25px;
    font-weight:bold;
}
.card-para2{
    color:#dc143c;
}
.container4{
    background-size: cover;
    height: 40vh;
    background-color:#f08787;
    padding:30px;
}
.container5{
    background-color:#f75270;
    background-size:cover;
    height:30vh;
}
.container6{
    background-color:#343a40;
    text-align:center;
    height:5vh;
    padding-top:20px;
}
.main-heading2{
    color:#ffffff;
    font-family:"Roboto";
    font-size:10px;
}