@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container{
    height:100vh;
    background-size:cover;
}
.image{
    height:36vh;
    width:80vw;
    background-size:cover;
}
.card1{
     height:5vh;
    width:15vh;
    background-size:cover;
    border:white;
    border-radius:8px;
    border-color:green;
    
}
.card2{
    height:10vh;
    width:15vh;
    background-size:cover;
    border:white;
    border-radius:2px;
    border-color:white;
}
.card3{
    height:10vh;
    width:15vh;
    background-size:cover;
    border:white;
}
.footer{
    text-align:left;
    
}