@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/

.container-fluid {
    background-color: orange;
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF;
    margin-left: 10px;
}

.card2 {
    background-color: #0D5EA6;

}

.card3 {
    height: 40vh;
}

.card4 {
    margin-top: 100px;
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

.card5 {
    height: 90px;
}

.card6 {
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    height: 33px;
}

.card7 {
    background-color: #000000;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    height: 33px;
    color: #FFFFFF;
}

.card8 {
    background-color: orange;
    width: 100vw;
    color: #FFFFFF;

}