@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}
.container{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    background-size:cover;
    height:40vh;
    padding:10px;
}
.h1{
    color:white;
    font-family:"Caveat";
    text-align:center;
    padding:5px;
}
.p{
    color:white;
    font-family:"Roboto";
    text-align:center;
    padding:5px;
}
.btn{
    background-color:#0ec930;
    color:white;
    font-family:"Roboto";
    text-align:center;
    padding:5px;
    align-items:center;
}
.story{
    background-color:#9BFAA8;
}
.h2{
    color:black;
    font-family:"Caveat";
    text-align:center;
    padding:5px;
    font-weight:bold;
}
.p2{
    color:black;
    font-family:"Roboto";
    text-align:center;
    padding:5px;
}
.card{
    background-color:#0ec930;
}
.card-container{
    background-color:#FFFFFF;
    height:39vh;
    width:30vh;
    padding:10px;
    margin:10px;
}
.img{
    height:20vh;
    width:30vw;
    align-items:center;
}
.h3{
    color:black;
    font-family:"Caveat";
    text-align:center;
    padding:5px;
    font-weight:bold;
}
.head{
    color:black;
    font-family:"Roboto";
    text-align:center;
    padding:5px;
    font-size:20px;
    font-weight:bold;
}
.prices{
    font-family:"Roboto";
    text-align:center;
    padding:5px;
    font-size:20px;
}
.view-more{
    color:#0ec930;
}
.h4{
    color:black;
    font-family:"Caveat";
    text-align:center;
    padding:5px;
    font-weight:bold;
    
}
.p4{
    color:black;
    font-family:"Roboto";
    text-align:center;
    padding:5px;
    }
    .image{
        height:40vh;
        width:50vw;
    }
.discounts{
     background-color:#9BFAA9;
}
.bn{
    background-color:#FFFFFF;
    text-align:center;
}
.last{
    background-color: #0ec930;
}