@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar{
    background-color: #008080;
    color:#f9f9f9;
    padding: 10px 15px;
    display: flex;
    justify-content:space-between;
    
    
}
.head{
    font-size: 20px;
    padding: 10px;
}
.me{

}
.nav-link{
    display: flex;
    align-items: center;
    justify-content:space-between;
    align-content: space-between;
    padding: 10px;
    gap: 15px;
    
}
.sec1{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg');
    align-items: center;
    padding-left:90px;
    display: flex;
    background-size:cover ;
    justify-content:center;
    
}
.head2{
    justify-content:center;
    padding: 50px;
    
    
}
.middleheading{
    justify-content: center;
    font-size: 15px;
    color: #ccffff;
    font-family: Roboto;
    font-size: 30px;
}
.para{
    color:#ccffff ;
    padding: 15px;
    
}
.headingmiddle{
    text-align: center;
    
}
.img1{
    border-radius:200px ;
    height: 150px;
}
.sec3{
    background-color: #ccffff;
}
.prd1{
    background-color: white;
    border-radius: 15px;
    height: 20px;
}