/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.card1{
    background-color: lightblue;
   font-family: 'Roboto';
    height: 100vh;
}
.head{
    text-align: center;
    padding-top: 10px;
}
.card2{
    background-color: #ffffff;
    margin: 20px;
    border-color: #3b3b3b;
    border-radius: 8px;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
}
.head1{
   list-style-type: square;
   font-size: 12px;
   
}
.head2{
   list-style-type: upper-roman;
   font-size: 12px;
   
}
.head3{
   list-style-type: lower-roman;
   font-size: 12px;
   
}
.head4{
   list-style-type: upper-alpha;
   font-size: 12px;
   
}
/*Write your CSS code below and don't modify anything above*/
