@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.n{
    background-color: #17A2B8;
    text-align: right;
    color: white;
    padding: 10px;
    
}
.h{
    background-color: #A7E399;
    background-size: cover;
}
.k{
    background-color: #F6FF99;
     padding: 35px;
     background-size: contain;
}
.CONT{
    background-color: white;
    text-align: center;
    padding: 10xp;
    height: 300px ;
    width: 300px;
    margin: 10px;
}