@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

#navbar {
    background-color: #343A40;
    color: white;
}

#nav {
    color: white;
}

.bg {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg');
    width: 100%;
    height: 45vh;
    background-size: cover;
}

.bg-head {
    font-family: "Caveat";
    color: white;
}

.bg-para {
    color: white;
}

.btnn {
    height: 30px;
    width: 120px;
    border-radius: 5px;
    background-color: #eb5b00;
    color: white;
    border-style: none;
}

.bgy {
    background-color: #FFDE63;
}

.bgy-card {
    padding: 25px;
}

.bgy-head {
    color: black;
    font-family: "Caveat";
    font-weight: bold;
}

.bgy-para {
    color: black;
    font-size: 14px;
}

.bgy-para-1 {
    color: black;
    font-family: "Caveat";
}

.bgo {
    background-color: #FFBC4C;
    padding: 25px;
}

.bgo-card {
    background-color: white;
    padding: 10px;
    margin-right: 10px;
}

.bgo-card-img {
    height: 200px;
}

.bgo-para {
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.bgo-para-1 {
    font-weight: 200;
}

.bgo-para-2 {
    color: #FFBC4C;
}
.bg-1{
    background-color: #FFDE63;
    padding: 25px;
}
.bg-1-img{
    width: 450px;
    margin-left: 40px;
}
.bg-1-card{
    padding: 25px;
    padding-top: 40px;
}
.btnn-1{
    background-color: white;
    color: black;
    height: 30px;
    width: 100px;
    border-style: none;
    border-radius: 5px;
}
.bg-2{
    background-color: #FFBC4C;
    padding-top: 60px;
    padding-bottom: 60px;
}
.btnn-2{
    background-color: white;
    color: black;
    height: 30px;
    width: 140px;
    border-style: none;
    border-radius: 5px;
}
.footerr{
    background-color: #343A40;
    padding: 10px;
}
.p{
    color: white;
}