/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.spark {
    background-color: lightblue;
    height: 150vh;
    width: 100vw;
}

.head {
    text-align: center;
    font-family: "Roboto";
    font-size: 30px;
}

.card-1 {
    background-color: #ffffff;
    height: 220px;
    width: 100vw;
    margin: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3b3b3b;
}

.lst {
    list-style-type: disc;
}

.lst1 {
    list-style-type: upper-roman;
}

.lst2 {
    list-style-type: circle;
}

.lst1 {
    list-style-type: upper-alpha;
}

.light {
    padding-top: 30px;
}
