@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
.navbar{
    background-color:#faf0ca;
}
.navbar-brand{
    font-weight: bold;
    font-family: Roboto;
}

.bg1{
    background-color:#0d3b66 ;
    height: 250px;
    
}
.heading1{
    color: white;
    font-family: Roboto;
    font-size: 40px;
    text-align: center;
}
.para1{
    color: white;
    font-family: Roboto;
    text-align: center;
}
.btn1{
    background-color:#ee964b ;
    color: #0d3b66;
    border: 0px;
    border-radius:5px ;
    height: 40px;
}
.bg2{
    background-color:#faf0ca ;
    height: 550px;
}

.bg11{
    background-color:#f4d35e ;
    width: 300px;
}
.img1{
    height: 250px;
    width: 100%;
    border-radius: 30px;
    padding: 20px;
}
.para2{
    color: #0d3b66;
    font-weight: bold;
    text-align: center;
}
.para3{
  color: #0d3b66;
    text-align: center; 
    padding-bottom: 10px;
}

.bg22{
    background-color:#343a40 ;
    height: 40px;
}
