@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.nav{
    background-color:#DC3545 ;
}

/*Write your CSS code below and don't modify anything above*/
.middle{
    background-color: #FFE0CC;
    padding: 60px;
    
}
.img{
    height: 100px;
    width: 100px;
}
.part2{
    background-color: #0761F2;
    padding:10px ;
}
.img2{
    height: 60px;
    width: 60px;
    
}
.div{
    background-color: white;
    text-align: center;
    padding: 20px;
    height: 20vh;
    width: 30vh;
    border-radius: 7px;
    font-family: Roboto;
}