@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav{
    background-color: green;
/*     display: flex,;

flex-direction:row; */
width:100%;
height:100px;

}

.para{
    color:white;
    margin:10px;
    margin-left:20%;
    /* padding:20%; */
    margin-top:10px;
}
.head{
    padding:20px;
    font-family: "roboto";
    font-size:120%px;
}

.cont{
    background-image: url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
    /* background-color: red; */
    height:100vh;
    width:100vw;
    background-size: cover;
    backface-visibility: -100%;
    
    
}
.head2{
    color:white;
    padding:20px;
    font-size:30px;
    font-family:"roboto";
    font-weight: bold;
}
.pa{
    color:white;
    padding:21px;
}
.but{
    background-color: green;
    border-radius:20px;
    color:white;
    text-align: center;
    margin-left:30px;
    /* Background-Opacity:50%; */
}
.im1{
    border-radius:20px;
    row-gap: 10px;
    padding:15px;
    
    
    
}
.exp{
    color:white;
    font-size: 50px;
    /* margin-left:5px; */
}
img.hover{
    height:200px;
    width:200px;
}
.last{
    background-color: black;
    color:white;
    font-size: 30px;
    margin:20px;
    padding:80px;
    
    
}