/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.box1{
    background-color: #f2f4ff;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    text-align: center;
    padding: 150px;
}
.box2{
    background-color: white;
    height: 50vh;
    width: 40vw;
    text-align: center;
    padding: 10px;
}
.img1{
    height: 10vh;
    width: 12vw;
}
.h1{
    font-size: 25px;
    font-family: "roboto";
}
.p1{
    font-size:12px ;
    color: #8a8384;
    font-family: "roboto";
}
.h2{
    font-size: 20px;
    font-weight: bold;
}
.b1{
    color: white;
    background-color: #4e73df;
    border-width: 0px;
    border-radius: 5px;
  
}
.b2{
    color: #8a8384;
    background-color:#e2e2e2 ;
    border-width: 0px;
    border-radius: 5px;
    width: 30vw;
}

    

/*Write your CSS code below and don't modify anything above*/
