@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.paraa {
    margin-right: 15px;
}

.back-image {
    background-image: url('https://cdn.b12.io/client_media/pYiUYPFe/e1bbab32-0489-11f0-9106-0242ac110002-jpg-hero_image.jpeg');
    height: 80vh;
    background-size: cover;
}

.heading {
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.para1 {
    color: white;
    font-size: 25px;

}

.buttonss {
    color: white;
    background-color: #32AA27;
    padding: 10px;
    font-size: 24px;
}

.headign2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.image {
    height: 200px;
    width: 250px;
}
.paraa2{
    max-width: 200px;
}
.heiaign3{
    max-width: 200px;
    color: black;
    font-size: 26px;
    font-weight: bold;
}
@media (min-width: 768px) {
    .containers{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
}
.heiaign3:hover{
    color: #32AA27;
}
.small-container:hover{
    transform: scale(1.05);
}
.heaidng4{
    color: black;
    font-weight: bold;
    
}
.back-color{
    background-color: #F2F2F2;
    height: 200px;
    
}
.back-color2{
    background-color: #FAFAFA;
    height: 200px;
}
@media (min-width: 768px) {
    .containre2{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .back-color{
        width: 450px;
    }
    .back-color2{
        width: 450px;
    }
}
.para5{
    text-decoration: underline;
}
.para5:hover{
    color: green;
    text-decoration: none;
}