@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
    background-color: #162415;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;
    color: #FFFFFF;
    font-weight: bold;
}
.footer1{
    background-color: #20341E;
    height: 10vh;
    width: 100vw;
    color: white;
    

.footer2{
    justify-content: space-between;
}