@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.z {
    background-color: #f0f8ff;
    height: 100vh;
    background-size: cover;

}

.x {
    color: blue;
    text-align: center;
    font-size: 25px;
    padding: 5px;

}

.c {
    height: 25vh;
    border-radius: 10px;
    width: 40vw;
}

.v {
    text-align: center;
    color: black;
    font-size: 15px;
    
}

.b {
    height: 25vh;
    border-radius: 10px;
    width: 40vw;

}

.n {
    text-align: center;
    color: black;
    font-size: 15px;
}

.m {
    height: 25vh;
    border-radius: 10px;
    width: 40vw;

}

.a {
    text-align: center;
    color: black;
    font-size: 15px;

}

.s {
    height: 10px;
    text-align: center;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 5px;
    
}

.btn-primary {
    background-color: blue;
    color: white;
    size: 5px;
    padding: 5px;
    border-radius: 10px;
}

.btn-green {
    background-color: green;
    color: white;
    size: 5px;
    padding: 5px;
     border-radius: 10px;
}

.btn-yellow {
    background-color: yellow;
    color: black;
    size: 5px;
    padding: 5px;
     border-radius: 10px;
}