/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.card{
    margin: 0;
    font-family: "Roboto";
    background-image: URL("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/intro+to+css3.avif");
    background-size: cover;
    height: 100vh;
}
.h{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.p{
    font-size: 20px;
    font-style: italic;
    text-decoration:underline;
    color: black;
}
.b{
    height: 40px;
    width: 150px;
}
