@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body{
  font-family: "Roboto";  
}
.nav-div{
    
    background-color: black;
    position:  fixed;
    right: 0;
    left: 0;
}
.a{
    align-self: center;
    font-size: 22px;
}
.a1{
    margin-right: 10px;
}
.nav{
   
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    margin: 10px;
}
.btn{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-color: white;
}
.page1h1{
    font-size: 62px;
}
.page1p{
    font-size: 32px;
}
.page1{
    background-image: url('https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg');
  
 height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.page2p{
    font-size: 20px;
    color: green;
  
}
.page2h1{
    font-size: 40px;
   
}
.boxs{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 300px;
     text-align: center;
   
}
.img{
    height: 200px;
}
.page2{
    margin-top: 40px;
     padding: 20px;
}