@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

nav {
    background-color: #020402;
    height: 50px;
    width: 100vw;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    color: #ffffff;
    display: none;
    gap: 2rem
}

.bars {
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
}

@media screen and (min-width:992px) {
    .nav-links {
        color: #ffffff;
        display: flex;
        gap: 2rem
    }

    .bars {
        display: none;
        margin-top: 10px;
        margin-right: 10px;
    }

    nav {
        background-color: #020402;
        height: 50px;
        width: 100vw;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
    }

    .con {
        display: flex;
    }
}

.bg {
    background-image: url("https://cdn.b12.io/client_media/bgjFMIEJ/9b307e74-0572-11f0-833d-0242ac110002-jpg-hero_image.jpeg");
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nam {
    color: #ffffff;
    font-size: 30px;
}

button {
    background-color: green;
}

body {
    font-family: "Poppins";
}

.c1 {
    height: 300px;
    width: 200px;
    border-width: 2px;
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: black;
    height: 100px;
    color: white;
}