@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.text {
    color: white;
}

.bg-1 {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    background-size: cover;
    height: 100vh;
}

.kkl {
    text-align: center;
}

.button1 {
    background-color: #0ec930;
    height: 50px;
    width: 190px;
    color: white;
    border-width: 0px;
    margin-bottom: 60px;
}

.heading1 {
    font-family: "Caveat";
    color: white;


}

.para1 {
    color: white;
    font-family: "Roboto";
}

.padding1 {
    padding-top: 100px;
}

.bg-2 {
    background-color: #9BFAA9;
    background-size: cover;
    height: 30vh;
}

.heading2 {
    font-family: "Caveat";
    color: #000000;
    font-weight: bold;


}

.para2 {
    color: #000000;
    font-family: "Roboto";
}

.padding2 {
    padding: 50px;
}

.bg-3 {
    background-color: #52FA6C;
    background-size: cover;
    height: 45vh;
}

.card1 {
    background-color: white;
    height: 300px;
    width: 240px;
    margin: 20px;
    border-radius: 3px;

}

.image1 {
    height: 190px;
    width: 220px;
    margin-top: 10px;

}

.button2 {
    background-color: white;
    border-width: 0px;
    color: #0ec930;
}

.heading3 {
    font-family: "roboto";
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.image2{
    height: 250px;
    width: 400px;
}
.kkkm{
    text-align: left;
}
.button3{
    background-color: white;
    color: black;
    border-radius: 2px;
    padding: 2px;
    border-width: 0px;
    
}


/*Write your CSS code below and don't modify anything above*/