@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main-heading {
    background-color: #162415;
    width: 1000px;
    height: 50px;
    background-size: cover;
}

.photo {
    color: white;
    font-family: Poppins;
    font-size: 20px;
}

.home {
    color: white;
}

.services {
    color: white;
}

.second {
    background-image: url("https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg");
    width: 1000px;
    height: 300px;
    background-size: cover;
}

.cap {
    color: white;
    font-family: "Poppins";
    font-size: 40px;
}

.tra {
    color: white;
}

.view {
    background-color: #32AA27;
    font-size: 17px;
    color: white;
    font-family: "Poppins";
}

.third {
    background-color: #32AA27;
    width: 1000px;
    height: 1000px;
    background-size: cover;
}

.first-img {
    height: 170px;
    width: 170px;
}