@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.nav{
    background-color:#343A40;
    color:white;
}
.h{
    color:white;
}
.card-2{
    background-image:url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg');
    background-size: cover;
    color:white;
    height:100vh;
    text-align:center;
}
.card-3{
    background-color:#FFDE63;
    text-align:center;
}
.img{
    height:250px;
    width:360px;
}
.card{
    height:250px;
    width:250px;
    background-color:white;
    
}
.bg-3{
    background-color:#FFBC4C;
    height:70vh;
}
.bg-4{
    background-color:#FFDE63;
    padding:20px;
}
.btn{
    background-color:white;
    border-radius:5px;
    
}
.bg-5{
    background-color:#FFBC4C;
    text-align:center;
    padding:20px;
}
.btn-2{
    height:100px;
    width:100px;
    background-color:white;
    border-radius:5px;
}
.foot{
    text-align:center;
    background-color:#000000;
    color:white;
}
.btn-3{
    back
}