.card1{
    background-color:#808080;
    color:white;
    font-weight:bold;
}
.image{
    background-image:"https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg";
    height:50px;
}