@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container {
    height: 992px;

}

.card1 {
    background-color: #EAA64D;
    height: 30PX;
    padding: 5px;
}

.para1 {
    font-family: "Roboto";
    color: white;
}

.card2 {
    background-color: #0D5EA6;
    height: 300px;
    padding: 10px;
}

.image1 {
    height: 200px;
    padding: 25px;
}

.button1 {
    height: 35px;
    padding: 2px;
    width: 150px;
    font-family: "Roboto";
}

.button2 {
    height: 35px;
    padding: 2px;
    width: 150px;
    font-family: "Roboto";
    background-color: #000000;
    color: #ffffff;
}

.card3 {
    height: 250px;
    background-color: #EAA64D;
    padding: 10px;
}

.heading2 {
    font-family: "Roboto";
    color: #ffffff;
}

.image2 {
    height: 60px;
    padding: 10px;

}

.para3 {
    font-family: "Roboto";
    color: #ffffff;
}

.card4 {
    background-color: #ffffff;
    height: 150px;
    width: 300px;
    border-radius: 10px;
    text-align: center;

}

.para4 {
    font-family: "Roboto";

}