/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.main {
    margin: 0;
    font-family: "Caveat";
    background-color: lightblue;
}

body {
    font-family: "Caveat";
}
.a {
    color:#007bff;
    text-align: center;
}
.b { 
    color:#28a745;
    text-align: center;
}
.c {
    color:#dc3545;
    text-align: center;
}
.d {
    background-color: #007bff;
    color:#FFFFFF;
    border-color: #0071e3;
    text-align: center;
}
.e {
    background-color: #28a745;
    color:#FFFFFF;
    border-color: #28a745;
    text-align: center;
}
.f {
    background-color: #dc3545;
    color:#FFFFFF;
    border-color: #dc3545;
    text-align: center;
}
