@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.main-bg{
    background-image: url('https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg');
    height: 80vh;
}
.h1{
    text-align: left;
    font-size: 50px;
    font-family: "Poppins";
    color: white;
    font-weight: bold;
    margin-left: 80px;
    padding-top: 60px;
    
    
    
}
.para{
    color: white;
    margin-left: 80px;
}
.button{
    background-color: #32AA27;
    width: 130px;
    font-family: "Roboto";
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}
.empty{
    overflow: scroll;
}
.para2{
    color:#32AA27;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 40px;
    
}
.head2{
    color:black;
    font-weight: bold;
    margin-left: 70px;
    font-size: 30px;
    
}
.img1{
    height: 20vh;
    margin-left: 0px;
    margin-top: 0px;
    border-color: black;
    
}
.text{
    margin-left: 0px;
    margin-top: 10px;
    font-weight: bold;
    
}
.empty2{
    border-color: black;
    border-radius:5px ;
    border-width: 2px;
    width: 160px;
    margin-left:70px ;
    height: 260px;
    
}
.text2{
    margin-left: 0px;
    margin-top: 10px;
    
    
}