@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.yash {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    text-align: center;
    color: white;
    height: 200px;
    width: 500px;

}

.yash1 {
    background-color: #0ec930;
}

.yashu {
    font-family: "Caveat";
}

.gowda {
    background-color: #9BFAA9;
    text-align: center;
}

.gowda1 {
    font-family: "Caveat";
}

.yashwanth {
    background-color: #52FA6C;
    font-family: "Caveat";

}

.web {
    height: 120px;
    margin: 10px;
}

.web1 {
    font-family: "Roboto";
}

.micky {
    background-color: #9BFAA9;
}

.abc {
    background-color: #FFFFFF;
}

.rty {
    font-family: "Caveat";
}

.poi {
    background-color: #0ec930;
}

.nkn {
    font-family: "Caveat";
}

.kn {
    background-color: white;
}

.rat {
    background-color: #000000;
    color: white;
}

.n
