@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.burger-bg{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/buger+image.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}
.c1-h{
    font-size: 30px;
    color: white;
    font-family: 'Caveat';
}
.c1-p{
    color: white;
    font-family: 'Roboto';
}
.but-1{
    height: 40px;
    width: 140px;
    color: white;
    background-color: #F97A00;
    border-width: 0px;
}
.bg-2{
    height: 300px;
    background-color: #FFBC4C;
    display: flex;
    align-items: center;
}
.c2-h{
    font-family: 'Caveat';
}
.c2-p2{
    font-family: 'Caveat';
}
.bg-3{
    background-color: #FAA533;
    text-align: center;
    padding: 10px;
    height: 550px;
}
.img{
    width: 100%;
    height: 180px;
}
.small-card{
    background-color: white;
    height: 360px;
    width: 260px;
    padding: 5px;
    margin: 20px;
}
.s-h{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.s-p{
    color: grey;
}
.menu{
    font-family: 'Caveat';
}
.bg-4{
    height: 430px;
    padding: 20px;
    background-color: #FFBC4C;
}
.last-img{
    height: 320px;
    width: 450px;
    margin: 20px;
}
.last-h{
    font-family: 'Caveat';
}
.last-p{
    color: #343A40;
}
.sm-but{
    width: 90px;
}
.extra{
    width: 500px;
}
.bg-5{
    height: 400px;
    display: flex;
    align-items: center;
    background-color: #FAA533;
}
.table{
    font-family: 'Caveat';
}
.footer{
    height: 70px;
}