@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.background_div{
    background-image: url('https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg');
    height:50vh;
    width:100%;
    background-size: cover;
    color:white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
}
.head1{
    font-size: 70px;
    font-weight: bold;
}
.main_button{
    background-color: #32AA27;
    padding: 10px;
    border-radius: 10px;
    margin-top:20px;
}

.navbar_div{
    background-color: #20341E;
    display: flex;
   color:white;
    font-weight: bold;
    height: 40px;
        font-family: Poppins;
    
    
}
.inside_navbar{
    margin-left:auto;
    display: flex;
    color:white;
    font-weight: bold;
}
.middle_section{
     height:50vh;
    width:100%;
    text-align: center;
    display: flex;
  justify-content: center;
    align-items: center;
}
.card1{
    background-color: white;
    
    width:200px;
    height: 200px;
    margin-left:30px;
}
.image{
    height: 50%;
    width:100%;
}
.card_con{
    display: flex;
    
}
.foot{
   background-color: #20341E;
   display: flex;
   justify-content: center;
  
}
.head_img{
    font-weight: bold;
}

.m{
   color:white;
}
.k{
    color:white;
     margin-left:auto;
}
@media (max-width:576px){
    .card_con{
    display: flex;
    flex-direction: column;
    
}
.head1{
    font-size: 20px;
    font-weight: bold;
}
}