@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.header{
    background-color: #32AA27;
    height: 8vh;
}
.bg-1{
    background-image:url("https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
    height: 40vh;
}
.bg-2{
    background-color:#32AA27 ;
    border-radius: 5px;
    color: white;
}
.p-2{
    color:#32AA27;
}
.bg-5{
   height: 40vh; 
   width: 60vw;
}