/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.bg1{
    background-color: lightblue;
    height: 125vh;
    width: 180vh;
}
.head{
    color: #3b3b3b;
    text-align: center;
    margin: 5px;
    
}
.bg2{
    background-color: #ffffff;
    height: 25vh;
    width:140vh;
    margin:10px ;
    border-radius: 15px;
    
}
