@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.mains{
    background-image: url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg")!important;
    background-size:cover;
    height:100vh;
}
.heading, .para{
    color:white;
}
.img{
    height:250px;
}
.cards{
    background-color: white;
}
@media (min-width:768px){
    .services{
        display:flex;
        flex-direction:row;
        
    }
}