/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.text {
    text-align: center;
    background-color: #FFFFFF;
    height: 700px;
    width: 500px;
    padding: 20px;

}

.bg {
    background-color: #e2e2e2;
    height: 1131px;
    width: 1280;
}

.btn1 {
    width: 100%;
    background-color: grey;
    margin: 5px;
}

.btn2 {
    width: 100%;
    margin: 5px;
}

.bg1 {
    margin: 150px;
}

/*Write your CSS code below and don't modify anything above*/
