@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.imgg {
    height: 150px;
    width: 250px;
    border-radius: 8px;
}

.main-heading {
    text-align: center;
    font-size: 15px;
    font-family: "Roboto";
}

.buttonu {
    height: 35px;
    font-family: "Roboto";
}

.padd {
    padding: 5px;
}

.bg-container {
    background-color: #f0f8ff;

}