@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.main{
    color: white;
    background-color:#008080 ;
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
}
.na {
    color: white;
    background-color: #008080;
}
.d{
    background-image: url(" https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    background-size: tranparent;
    height: 40vh;
    width:100vw;
    
}
.w{
    color: white;
    font-size: 40px;
    text-align: center;
     font-family: "Roboto";
}
.x{
color: white;
font-size: 30px;
 text-align: center;
 border-top: 0px;
  font-family: "Roboto";
}
.b{
    background-color: #ccffff;
}
.S{
   text-align: center;
}
.i{
    height: 20vh;
    width:30vw;
    border-radius: 80px;
    border-width:10px;
    justify-content: center;
    padding:40px;
}
.ara{
    font-size: 20px;
    text-align: center;
    font-family: "Roboto" ;
}
.ra{
  
    text-align: center;
    font-family: "Roboto" ;
}
.last{
    text-align: center;
    font-size: 7px;
    font-family: "Roboto";
}