@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.main {
    margin: 0;
    font-family: "Roboto";
    background-color: #3338A0;
}

.sub_1 {
    background-color: #C59560;
    color: #ffffff;
}

.img {
    height: 100px;
}
.img_2{
    height: 100px;
}
.container{
    background-color:#3338A0 ;
}
.sub_2{
    background-color: #ffffff;
}
.boom_1{
    background-color: #000000;
    color: #ffffff;
    border: 0px;
}
.boom_2{
    background-color: #ffffff;
    border: 0px;
    
}