@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.topblue {
    background-color: #0056b3;
    height: 40px;
    width: 100vw;
    text-align: center;
    color: white;
}
.blue{
    color:#0056b3;
}
.logodiv {
    text-align: center;
}
.nav-names{
    font-weight:bold ;
}
.logo {
    padding: 20px;
}

.bg {
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821283/pixie/assets/images/banner-bg.jpg");
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-size: cover;
}

.mod {
    background-color: #f4f4f4;
    height: 400px;
    width: 500px;
    padding: 20px;
}

.mainhead {
    font-weight: 700;
    font-size: 28px;
}

.mainhead1 {
    font-weight: 700;
    font-size: 28px;
    margin-left: 30px;
}

.bar {
    background-color: #0056b3;
    height: 8px;
    margin-top: 10px;
    width: 40px;
    margin-bottom: 20px;
}

.bar1 {
    background-color: #0056b3;
    height: 8px;
    margin-top: 30px;
    width: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.img {
    padding: 20px;
}

.card {
    margin: 20px;
}

.name {
    font-weight: 700;
    font-size: 18px;
    padding-left: 20px;
}

.price {
    color: #0056b3;
    font-weight: 600;
    padding-left: 20px;
}

.subscribe {
    background-color: #00bcd4;
    text-align: center;
    color: white;
    padding:20px;
    padding-bottom: 40px;
}

.bar2 {
    background-color: #ffffff;
    height: 8px;
    margin-top: 00px;
    width: 40px;
    margin-bottom: 10px;
}

.mail {
    text-align: start;
    padding-left:10px;
    color: grey;
    background-color: transparent;
    height: 25px;
    width: 200px;
    border: solid white 1px;
    border-radius: 2px;
}

.sub{
    color: #00bcd4;
    background-color: #ffffff;
    height: 25px;
    width: 200px;
    border-radius: 2px;
}
.navs{
    color: grey;
    margin:10px;
}
.logoholder{
    background-color: grey;
    height:40px;
    width:40px;
    text-align: center;
    border-radius:50%;
    margin:15px;
}
.icon{
    color:white;
    padding-top:10px;
}
footer{
    text-align: center;
    color: grey;
}