@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container{
    background-size:cover;
    height:130vh;
    width:100vh;
}
.burger{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/buger+image.jpg");
    height:40%;
    width:130%;
    
}
.burgerhead{
    color:#ffffff;
    text-align: center;
    font-family:"Caveat";
    padding-top:90px;
}
.burgerpara{
    color:#ffffff;
    text-align: center;
    font-family:"Caveat";
}
.burgerbutton{
    text-align: center;
    font-family:"Caveat";
    color:#ffffff;
    background-color:#F97A00;
    margin-left:320px;
}
.mid{
    background-color:#FFBC4C;
    height:30%;
    width:130%;
}
.midhead{
    font-family:"Caveat";
    text-align: center;
    padding:30px;
    font-weight:bold;
}
.midpara{
    font-family:"Caveat";
    text-align: center;
    
}
.mid1para{
    background-color: #FAA533;
    height:40%;
    width:130%;
    display:flex;
}
.mid1head{
    font-family:"Caveat";
    text-align: center;
    padding-top:12px;
    justify-content: center;
    align-self: center;
    align-items:flex-start;
}
.image-card{
    background-color: #FFFFFF;
    height:190px;
    width:150px;
    
}
.image{
    height:100px;
    width:150px;
    padding:5px;
}
.cardbutton{
    background-color: transparent;
    color:#F97A00;
    margin-left:26px;
    border-radius:0px;
}
.cardhead{
    font-size:12px;
    text-align: center;
}
.cardpara{
    font-size:12px;
    text-align: center;
    color:black;
}
.betpara{
    display:flex;
    height:40%;
    width:130%;
    background-color:#FFBC4C;
}
.betimage{
    height:280px;
    width:300px;
    padding:12px;
}
.bethead{
   font-family:"Caveat"; 
}
.betbutton{
    background-color:#ffffff;
}
.lastpara{
    background-color:#F97A00;
    height:30%;
    width:130%;
}
.lasthead{
    font-family:"Caveat";
    text-align: center;
    padding:30px;
    font-weight:bold;
}
.lastpara{
    font-family:"Caveat";
    text-align: center;
    
}
.lastbutton{
    text-align: center;
    margin:30pxpx;
}