@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
body {
    font-family: Roboto;
    background-color: #f0f8ff;
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

.gallery-container {
    width: 35px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px;
    text-align: center;
}

.gallery-container h2 {
    color: #0096db;
    font-size: 18px;
    margin-bottom: 15px;
}

.gallery-container img {
    width: 100px;
    height: auto;
    border-radius: 6px;
    margin: 5px;
}

.caption {
    font-size: 14px;
    color: #444;
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.buttons button {
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
    color: white;
}

img {
    border-image-width: 8px;
}