@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
    background-color: #20341E;
    height: 7vh;
    display: flex;
    color: white;
}

.nav-container {
    display: flex;
    margin-left: 20px;
}