@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.A {
    background-color: #f0f8ff;
    padding: 10px;
    width: 205vw;

}

.B {
    color: blue;
    text-align: center;
    font-size: 40px;
}

.O {
    background-color: green;
    color: white;
    border-radius: 5px;
    border-width: 0px;

}

.S {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border-width: 0px;
}

.Y {
    background-color: orange;
    color: black;
    border-radius: 5px;
    border-width: 0px;
}

.F {
    border-radius: 20px;
    height: 50vh;
    width: 100vw;
}

.P {
    text-align: center;

}

.L {
    size: 40px;
}