@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar{
    background-color: #1b262c;
    color: #FFFFFF;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.mgr{
    margin-right: 30px;
}
.jj{
    margin-left: 400px;
    padding: 20px;
}
.ll{
    margin-left: 30px;
    padding: 10px;
    font-size: 20px;
}
.hero{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg');
    height: 70vh;
    width: 100vw;
    background-size: cover;
}
.h1{
    color: white;
    text-align: center;
    font-size: 35px;
}
.h4{
    color: white;
    text-align: center;
}
.main{
    padding:180px;
}
.bottom{
    background-color: #f2ccff;
    padding: 10px;
    
}
.mm{
    color: #000000;
    text-align: center;
}
.footer-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}