@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.fstrow{
    background-color: #c9182c ;
    background-size: cover;
    height: 30px;
    width: 100%;
}
.fsthead{
    font-family: "Roboto";
    text-align: left;
    color: #FFFFFF;
}
.button1{
    text-align: right;
    background-color:#000000;
    color: #FFFFFF;
}
.secdiv{
    background-color: #8bc28c;
    background-size:cover ;
    height: 50vh;
    width: 100%;
}
.head2{
    color:#FFFFFF ;
    font-family: "Roboto";
    text-align: left;
}
.img1{
    text-align: right;
    height: 10vh;
    width: 20px;
} 
.button2{
    background-color:#23362b ;
    color: #FFFFFF;
}
.para{
    color: #FFFFFF;
}
.div3{
    background-color: #a7c957;
    height: 70vh;
    width: 100%;
}
.subdiv {
    background-color:#c5dbf0 ;
    border-radius: 40px;
    margin:10px;
    text-align: center;
    
}
.image{
    height:20vh;
    width: 70vw;
    border-radius: 20px;
    padding-top: 10px;
}
.div4{
    background-color: #797d62;
    margin: 10px;
    text-align: center;
    height: 100vh;
    width:100%;
    color: #FFFFFF;
}
.img2{
    border-radius: 10px;
    height: 30px;
    width: 40px;
    
}
.lowerdiv{
    background-color: #782832;
    color: #FFFFFF;
}
