@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg-container{
    background-image: url("https://cdn.b12.io/client_media/bgjFMIEJ/9b307e74-0572-11f0-833d-0242ac110002-jpg-hero_image.jpeg");
    height:100vh;
    background-size:cover;
    text-align: center;
}
.main-heading{
    font-size:40px;
    font-weight:bold;
    color:white;
    padding-top: 40vh;
}
.para{
    color:white;
}
.button{
    color:#FFFFFF;
    background-color:#32AA27;
    height:35px;
    width:120px;
    font-weight:bold;
}
.h2{
    font-size:30px;
    font-weight:bold;
}
.para2{
    color:#32AA27;
    font-weight:bold;
}
.image{
    height:150px;
    width:150px;
}
.card{
    background-color:#FFFFFF;
}
.card2{
    background-color:#162415;
    height:40vh;
    text-align: center;
}
.h3{
    color:white;
    font-weight:bold;
    font-size:30px;
    padding-top:50px;
}
.p3{
    color:white;
    font-weight:bold;
}