@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
/*write your code below*/
.container{
    font-family:"Roboto" ;
}
.suhi{
    background-color: #0d3b66;
    height:20vh;
    color:#ffffff;
    text-align: center;
}
.hitha{
    background-color: #faf0ca;
    text-align:center;
    height:40vh;
    color:#0d3b66; 
    
}
.image{
    height:150px;
    width:150px;
    align-self:center;
    text-align:center;
    margin:10px;
    
}
.head{
   color:#0d3b66; 
}
.para{
   color:#0d3b66; 
}
.card{
    height:40vh;
    width:30vw;
    text-align:center;
    font-size:10px;
    
    border-radius:10px;
    
}
