@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
.head{
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
.bg{
    background-color: #f0f8ff;
}
.hi{
    text-align: center;
    
}
.fnt{
    font-size: 12px;
}
.bye{
    height: 183px;
    width: 1358;
}
.btn{
    text-align: center;
    margin: 5px;
    
 
}
.bro{
    font-size:10px;
}
/*Write your CSS code below and don't modify anything above*/