@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.head-txt-card{
    font-size:40px;
}
.bg-container{
    display:fixed ;
}
.txt-card{
    display:flex;
    flex-direction:column ;
    justify-content:center ;
    align-items:center ;
}
.card-1{
    background-color:#F2F2F2 ;
    width:180px;
    display:flex ;
    flex-direction:column ;
    justify-content:center ;
    align-items:center ;
    
}
.card-holder{
    display:flex ;
    flex-direction: row;
    justify-content:center ;
    align-items:center ;
}