@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
    background-color: #32AA27;
    background-size: cover;
    height: 10vh;
    width: 60vh;
}

.main_3 {
    text-align: center;
    color: white;
    font-size: 20px;
}

.btn-1 {
    color: white;
    background-color: #32AA27;
    padding: 15px;
    margin-left: 80px;
    border-radius: 2px;
}

.main_2 {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 38px;
    padding-top: 200px;
}

.container_2 {
    background-color: #162415;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.main_4 {
    color: white;
    text-align: center;
    font-weight: bold;
}

.para_2 {
    color: white;
    text-align: center;
}

.para_1 {
    color: white;
    padding: 20px;
    font-family: Poppins;
}

.container_4 {
    display: flex;
}

.image_1 {
    height: 40vh;
    width: 70vw;
    padding: 30px;
}

.main_1 {
    padding: 20px;
    padding-left: 60px;
    font-size: 20px;
    color: white;
    font-family: Poppins;
    font-weight: bold;
}

.container_1 {
    background-image: url("https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}