@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.container_fluid {
    background-color: #343A40;
    color: white;
}

.a {

    color: white;
    background-color: #343A40;
}

.navbar_brand {
    color: #343A40;
}

.container {
    background-size: cover;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    text-align: center;
    height: 30vh;
    padding-top: 60px;
    padding-bottom: 60px;

}

.head {
    font-family: Caveat;
    color: White;


}

.para {
    font-family: Roboto;
    color: white;
}

.button {
    color: white;
    background-color: #0ec930;
    border-color: #0ec930;
    border-radius: 6px;
}

.hd {
    font-family: Caveat;
    font-size: 25px;
    font-weight: bold;

}

.containerr {
    text-align: center;
    background-color: #9BFAA9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.p {
    font-family: Roboto;
}

.g {
    font-family: Caveat;
    font-weight: bold;
}

.containerrr {
    background-color: #52FA6C;
}

.b {
    text-align: center;
    font-family: Caveat;
    font-weight: bold;
    font-size: 25px;
}

.images {
    height: 50vh;
}
.containerrrr{
    background-color: #9BFAA9;
}
.oop{
    height:20vh;
    width: 10vw;
}

/*Write your CSS code below and don't modify anything above*/