@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.back-color{
    background-color: #000000;
    color: white;
}
.background{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    height: 100vh;
    color: white;
    align-content: center;
    text-align: center;
}
.circle-image{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
.container{
    border-width: 10px;
    border-color: black;
}
.second{
    background-color: #d4ffcc;
}
.nav{
   display: flex;
   align-items: center;
    text-align: center;
}
.green-line{
    background-color: #39ff14;
    height: 10px;
    width: 20px;
    align-content: center;
    text-align: center;
}