@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    margin: 0px;
    font-family: "Poppins";
}

.bg-container {
    background-image: url('https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg');
    height: 50vh;
    background-size: cover;
}

.btn {
    background-color: #40677D;
    color: white;
    width: 120px;

}

.bg-container-2 {
    background-color: #C4DDDE;
    height: 50vh;
}