/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/


.card-1 {
    background-color: #0018f9;
    height: 50vh;
    width: 100vw;
    text-align: center;
    font-family: Roboto;
    color: #FFFFFF;
}

.card-2 {
    background-color: #FFFFFF;
    font-family: Roboto;

}

.a {
    border-radius: 8px;
    color: #FFFFFF;
    border-width: 0px;
    font-family: Roboto;

}

.b {
    border-radius: 8px;
    border-width: 1px;
    border-color: red;
    color: red;
    font-family: Roboto;
}

.c {
    border-radius: 8px;
    color: #000000;
    border-width: 0px;
    font-family: Roboto;
}

.d {
    border-radius: 8px;
    color: #000000;
    border-width: 0px;
    font-family: Roboto;
}

.z {
    padding: 20px;
    margin: 20PX;
    background-color: #000000;
    color: #FFFFFF;
    height: 20PX;
    width: 100VW;
    font-family: Roboto;
}
