@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.nav_bg {
    background-color: #5c4a7a;
}

.nav_elements {
    color: white;
}

.margin-ethereal {
    margin-left: 100px;
}

.bg-image {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642069/ethereal/assets/images/background.jpg');

}

.bg_image_height {
    height: 800px;
    filter: opacity(70%);

}

.aligning {
    color: white;
    text-align: center;
    align-content: center;
}

.button1 {
    background-color: transparent;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    border-color: white;
}

.icon {
    height: 20px;
    width: 20px;
}

.container2 {
    padding: 20px;
}

.container3 {
    background-color: #f3edf7;


}

.h2 {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: #e74c3c;
}

.image_container {
    height: 350px;
    width: 450px;
    padding: 20px;

}

.button2 {
    background-color: #e74c3c;
    border-radius: 25px;
    color: white;
    margin-top: 20px;
    
    height: 50px;
    width: 150px;
}

.icon {
    color: #e74c3c;
    margin: 15px;
    border-radius: 20px;
}

.icon_element {
    display: flex;
    flex-wrap: wrap;
}

.button3 {
    background-color: #e74c3c;
    border-radius: 25px;
    color: white;
    height: 50px;
    width: 150px;
    margin-left: 300px;
    margin-top: 20px;
}

.numbers {
    color: #e74c3c;
    font-size: 40px;
    margin-left: 20px;
}

.span {
    color: red;
}

.main-text {
    font-family: "Open Sans", Sans-Serif;
}

.icon-foot {
    color: white;
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 4px;

}

.button4 {
    background-color: #e74c3c;
    border-radius: 25px;
    color: white;
    height: 50px;
    width: 150px;

    margin-top: 20px;

}

.wrap {
    display: flex;
    flex-wrap: wrap;
}
.c-us{
    background-color: #5c4a7a;
}
.bg_white{
    background-color: white;
}
.align{
    text-align: center;
}