@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.bg-container {
    text-align: center;
    background-color: #f0f8ff;
    background-size: cover;
    height: 194vh;
    width: 194vh;
}

.h1 {
    text-align: center;
    color: blue;
    padding: 18px;
    font-family: "Roboto";
}

.image {
    height: 50vh;
    width: 80vh;
    border-radius: 10px;
}

.para {
    text-align: center;
    font-size: 23px;
    font-family: "Roboto";
}

.btn2 {
    background-color: green;
    border: green;
    border-radius: 0px;
    height: 35px;
    margin: 10px;
    font-family: "Roboto";
}

.btn3 {
    background-color: orange;
    border: yellow;
    border-radius: 0px;
    height: 35px;
    margin: 10px;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/