@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar {
    background-color: #162415;
    height: 15vh;
}
.navbar_logo {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Poppins";
    font-weight: bold;
    padding: 20px;
}
.navbar_elements {
    color: #FFFFFF;
    font-size: 15px;
}
.page1 {
    background-image: url("https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg");
    height: 55vh;
    background-size: cover;
}
.page1_content_head {
    color: #FFFFFF;
    font-size: 50px;
    font-family: "Poppins";
    font-weight: bold;
    padding: 5px;
    align-items: start;
    text-align: start;
}
.page1_content_para {
    color: #FFFFFF;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: light;
    padding: 2px;
}
.page1_content_btn {
  background-color: #38BF2C;
  border-radius: 2px;
  height: 50px;
  width: 150px;
  color: #FFFFFF;
  font-size: 18px;
  padding:5px;
}
.page1_content {
    text-align: start;
}
.page2_top_content_head1 {
    color: #34B229;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: bold;
    padding: 5px;
    align-items: start;
    text-align: start;
}
.page2_top_content_head2 {
    color: #162415;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: bold;
    padding: 5px;
    align-items: start;
    text-align: start;
}
.page2_top_content {
    padding: 50px 50px 50px 100px;
}
.page2_card_img {
    height: 16vh;
    
}
.page2_card_head {
    color: #162415;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: bold;
    padding: 5px;
    align-items: start;
    text-align: start;
}
.page2_card_para {
     color: #162415;
    font-size: 9px;
    font-family: "Poppins";
    font-weight: light;
    padding: 2px;
    width: none;
    overflow: auto;
}
.page2_card {
    border-color: black;
    width: 20vh;
    
}
.page3 {
    background-color: #38BF2C;
    height: 20vh;
}
.page3_top_content_head1 {
    color: white;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: bold;
    padding: 5px;
    align-items: start;
    text-align: start;
}
.page3_top_content_head2 {
    color: #162415;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: bold;
    padding: 5px;
    align-items: start;
    text-align: start;
}
.page3_top_content {
    padding: 50px 50px 50px 100px;
}