@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.big-card {
    background-color: #DC143C;
    text-align: left;
    padding: 40px;
    background-size: cover;
    height: 43vh;

}

.img {
    height: 200px;
    width: 250px;
}

.head-card {
    padding: 30px;
    text-align: left;
    margin-top: 30px;
}

.mani {
    background-color: #F75270;
    height: 57vh;
}

.img-2 {
    height: 50px;
    width: 30px;
}
.card-1{
    background-color:#ffffff;
    height:100px;
    width:100px;
}