@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.first{
    background-color: #c9182c;
    height: 60px;
}
.text{
    color: #FFFFFF;
    font-size: 25px;
    padding: 12px;
}
.second{
    background-color: #8bc28c;
    height: 180px;
    color: #FFFFFF;
    padding: 30px;
    
   
}
.par{
    margin-top: 10px;
}
.but{
    background-color: #000000;
    width: 130px;
    color: #FFFFFF;
    height: 40px;
    border-radius:5px ;
    margin-top: 15px;
  
}
.ima{
    width: 100px;
    height: 80px;
}
.third{
    background-color: #a7c957;
    height: 400px;
    
}
.ori{
    text-align: center;
    padding: 40px;
   
}
.smallbox1{
    background-color: #c5dbf0;
    height: 230px;
    width: 200px;
    margin-left: 45px;
}
.last{
    background-color: #797d62;
    height: 420px;
}
.lastfinal{
   background-color: #782832;
   height: 90px;
}
.pall{
    color: #FFFFFF;
    padding: 40px;
    font-size:20px;
    text-align: center;
}
.hi{
    text-align: center;
    padding: 40px;
    color:#FFFFFF;
    
}
/*Write your CSS code below and don't modify anything above*/
