@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.card1 {
    height: 300px;
    width: 100vh;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/biryani+images.jpg");
}

.h1 {
    text-align: center;
    font-family: "Caveat";
    color: white;
}

.p1 {
    text-align: center;
    font-family: "Roboto";
    color: white;
}

.button {
    color: white;
    background-color: #A31D1D;
}

.card2 {
    height: 250px;
    width: 100vh;
    background-color: #A94A4A;

}

.p2 {
    color: white;
    font-family: "Caveat";
    text-align: center;
}

.card4 {
    padding:20px;
    height: 300px;
    width: 100vh;
    background-color: #A94A4A;
}

.btn2 {
    background-color: white;
    color: #A31D1D;
    border: none;
}

.card5 {
    height: 300px;
    width: 100vh;
    background-color: #A31D1D;
}
.img{
    height:150px;
    width:200px;
    
}
.cardfinal{
    background-color: #A31D1D;
}
.bg{
    height:200px;
    width:200px;
}

/*Write your CSS code below and don't modify anything above*/