/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 18px;
    box-sizing: border-box;
    font-family: 'Roboto';


}

.img1 {
    padding: 7px;
    width: 20vw;
}

.container {
    text-align: center;
    background-color: #FFFFFF;
    font-family: "Roboto";
    padding: 20px;
}

.h1 {
    font-size: 30px;
    font-weight: bold;
}

.h2 {
    font-size: 20px;
    font-weight: bold;
}

.b1 {
    background-color: #4e73df;
    color: #FFFFFF;
    height: 40px;
    border-radius: 5px;
    width: 300px;
    padding: 20px;
}

.b2 {
    background-color: #e2e2e2;
    color: #FFFFFF;
    border: 5px;
    height: 40px;

    width: 300px;

}

.body {
    background-color: #f2f4ff;
}

/*Write your CSS code below and don't modify anything above*/
