/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.back-color{
    background-color: lightblue;
    background-size: cover;
    height: 95vh;
}
.head{
    color:#000000;
    font-family: "Caveat";
    text-align: center;
    font-size: 25px;
}
.white-card{
    margin-left: 25px;
    background-color: #FFFFFF;
    background-size: cover;
    width: 55vh;
    height: 18vh;
    border-radius: 10px;
    border-style: solid;
    border-color: #007bff;
    border-width: 2px;
}
.head-1{
    color:#007bff;
    font-family: "Caveat";
    font-size: 18px;
    font-weight: bold;
}
.para-1{
    font-family: "Caveat";
    font-size:12px;
}
.next-b{
    padding: 6px;
    font-size:10px;
    border-radius:6px;
    width: 16vh;
    
}
.head-2{
    color:#28a745;
    font-family: "Caveat";
    font-size: 18px;
    font-weight: bold;
}
.para-2{
    font-family: "Caveat";
    font-size:12px;
}
.head-3{
    color:#dc3545;
    font-family: "Caveat";
    font-size: 18px;
    font-weight: bold;
}
.para-3{
    font-family: "Caveat";
    font-size:12px;
}
