@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.card1 {
    background-color: black;
    text-align: center;
}
.para1 {
    color: white;
}
.heading1 {
    color: white;
}

.card2 {
    background-color: #ccffff;
}
.heading2 {
    text-align: center;
}
.heading3 {
    font-size: 15px;
    text-align: center;
}
.para2 {
    font-size:12px;
    text-align: center;
}

.heading4 {
    font-size: 15px;
    text-align: center;
}
.para3 {
    font-size:12px;
    text-align: center;
}
.heading5 {
    font-size: 15px;
    text-align: center;
}
.para4 {
    font-size:12px;
    text-align: center;
}