@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.main{
 background-color: #000000;
 color: #FFFFFF;
 font-family: "Roboto";
 font-weight: bold;
 padding: 5px;
 display: flex;
 justify-content: space-around;
}

.cycle_class{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg');
    background-size: cover;
    height: 50vh;
    text-align: center;
}
h2{
   font-size: 30px; 
        font-weight: bold;
}
.cycle{
    color: white;
    font-family: "Roboto";
    padding-top: 90px;
}
.green{
    background-color: #39ff14;
    height: 8px;
    width: 18vw;
    border-color: #39ff14;
}
.main1{
    background-color: #d4ffcc;
    text-align: center;
}
h3{
    padding-top: 20px;
}
.green1{
    background-color: #39ff14;
    height: 5px;
    width: 8vw;
    border-color: #39ff14;
}
.sub_class{
    background-color: #FFFFFF;
    text-align: center;
    font-family: "Roboto";
    border-radius: 2px;
    margin: 30px;
}
.img{
    height: 20vh;
    width: 30vw;
    margin-top: 30px;
    border-radius: 80px;
}
h4{
    font-size: 20px;
    
}
.heading{
    padding: 15px;
}
.footer1{
    background-color:#FFFFFF ;
    font-family: "Roboto";
    display: flex;
 justify-content: space-around;
}