@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.bg {
    background-color: #fc8c14;
}
.container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/vinayaka.jpg");
    height: 50vh;
    
    background-size: cover;
    text-align: center;
    padding: 150px;
}
.h3 {
    color: #ffffff;
}
.para {
     color: #ffffff;
     font-size: 20px;
}
.q {
    background-color: #FFF0CE;
    height: 500px;
    
}
.button {
    background-color: #FFFFFF;
}
.green {
    background-color: #FFFFFF;
    text-align: center;
    margin: 10px;
    
}
.z {
    background-color: #fc8c14;
    text-align: center;
}
.h1 {
    text-align: center;
    
}
.blue {
    
}
/*Write your CSS code below and don't modify anything above*/