@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.umar {
    background-color: #DC3545;
    background-size: cover;
    height: 5vh;
}

.umar2 {
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto";
    padding: 9px;
}

.umar3 {
    text-align: right;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto";
    padding: 9px;
    margin-left: 350px;
}

.umar4 {
    text-align: right;
    font-size: 14px;
    color: #ffffff;
    font-family: "Roboto";
    padding: 9px;
    margin-left: 300px;
}

.umar5 {
    background-color: #FFE0CC;
    background-size: cover;
    height: 50vh;

}

.umar6 {
    margin-top: 80px;
}

.umar7 {
    font-size: 20px;
    font-family: "Roboto";
    padding: 5px;
}

.umar8 {
    font-family: "Roboto";
    padding: 5px;
    font-size: 13px;
}

.umar9 {
    border-width: 0px;
    background-color: #0761F2;
    color: #ffffff;
    padding: 7px;
    margin: 5px;
    border-radius: 2PX;

}

.umar10 {
    border-width: 0px;
    background-color: #FF7043;
    color: #ffffff;
    padding: 7px;
    margin: 5px;
    border-radius: 2px;


}

.image {
    height: 50vh;
    width: 360px;
    margin-left: 200px;
}

.umar12 {
    background-color: #0761F2;
    background-size: cover;
    height: 50vh;
}