@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.first{
    height: 600px;
    background-size: cover;
    position: static;
    background-image: url('https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    
}
/* nav{
    position: absolute;
    display: flex;
    justify-content: space-between;
} */
button{
    height: 50px;
    width:120px;
    border-radius: 5px;
}
.hii:hover{
    transition: 2px ;
}