@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.nav {
    display: flex;
    justify-content: space-between;
}
.nav2 {
    display: flex;
}
.logo {
    font-family: Roboto;
    font-weight: bold;
}
.home {
    font-family: Roboto;
    font-size: 24px;
}
.home::hover {
    font-family: Roboto;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: black;
}
.services {
    font-family: Roboto;
    font-size: 24px;
}
.background-img {
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-top: 10px;
}
.heading {
    color: #f9f9f9;
    text-align: center;
    padding-top: 30vh;
    font-size: 56px;
    font-family: Roboto;
}
hr {
    width: 50px;
    height: 8px;
    background-color: #1976d2;
    border-width:0px;
}
.heading2 {
    color: #f9f9f9;
    text-align: center;
    font-family: Roboto;
}
.page-2 {
    background-color: #d1e5f9;
    height: 100vh;
    width: 100vw;
    padding-top:10px;
    text-align: center;
    font-family: Roboto;
}
.img {
    height: 100px;
    width:100px;
    border-radius: 100px;
}
.footer-background {
    background-color: #1b262c;
    height: 20vh;
    width:100vw;
    padding-top: 10px;
    display:flex;
    justify-content: space-between;
}
.content {
    color: white;
    font-family: Roboto;
    padding-left: 10px;
}
.content-2 {
    color: white;
    padding-right: 10px;
    display: flex;
    font-family: Roboto;
}