@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.aa {
    font-family: "Roboto";
    font-size: 18px;
}

.first {
    text-align: center;
    font-family: "Roboto";
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg");
    color: #ffffff;
    background-size: cover;
    height: 100vh;
}

.button {
    background-color: #17A2B8;
    color: #ffffff;
}
.card{
    background-color: #2C3E50;
    padding: 10px;
    
}
.cooo{
    text-align: center;
    font-family: "Roboto";
    color: #ffffff;
    font-size: 30px;
}
.inn{
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding:10px ;
}
.ppp{
    text-align: center;
    font-family: "Roboto";
    color: #ffffff;
}
.darkk{
    text-align: center;
    color: #ffffff;
    background-color: #343A40;
}