@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg-lg{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/81u981umz8n129n381yy89y1829.jpg');
    background-size: cover;
    height: 50vh;
}

.button{
    width: 20vw;
    height: 5vh;
    font-size: 10px;
}

.bg2{
    background-color: #7FDBDA;
    background-size: cover;
    height: 60vh;
}

h3{
    padding: 10px;
}

.margin{
    margin: 10px;
}

.box{
    background-color: white;
    border-radius: 10px;
    width: 50vw;
    height: 25vh;
    margin: 20px;
}

.para{
    color: #818281;
}

.button2{
    color: #28a745;
    border-radius: 5px;
    border-color: #28a745;
    border-style: solid;
    background-color: white;
}

.button3{
     color: #dc3545;
    border-radius: 5px;
    border-color:  #dc3545;
    border-style: solid;
    background-color: white;
}

.button4{
    color: #FFC107;
    border-radius: 5px;
    border-color: #FFC107;
    border-style: solid;
    background-color: white;
}