@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/

.bg {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
    background-size: cover;
    height: 650px;
    color: white;
    font-family: "Roboto";
    font-weight: 100;
}

.ot {
    color: white;
}

.tt {
    text-align: center;
    padding: 280px;

}

.hh {
    font-size: 29px;
    font-weight: bold;
}

.pp {
    font-size: 20px;
}

.bt {
    color: white;
    border: none;
    border-color: #28A745;
    border-radius: 2px;
    background-color: #28A745;
    padding: 5px;

}

.uno {
    background-color: #28A745;
    background-size: cover;
    height: 200px;
    font-family: "Robot";
    color: #FFFFFF;
}

.h2 {
    text-align: center;
    padding: 30px;
    font-weight: 100;
}
.dd{
    background-color: #343A40;
    background-size: cover;
    color: white;
    text-align: center;
    height: 50px;
}
.p1{
    padding: 3px;
}