/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.abhi {
    background-color: lightblue;
    height: 100vh;
    background-size: cover;
}

.hh1 {
    text-align: center;
    padding: 10px;
}
.abhi2{
    background-color: #ffffff;
    border-radius: 15px;
}
.hh2{
    text-align: center;
}
.abhi3{
    background-color: #ffffff;
    border-radius: 15px;
}
.hh3{
    text-align: center;
}
.abhi4{
    background-color: #ffffff;
    border-radius: 15px;
}
.hh4{
    text-align: center;
}
.abhi5{
    background-color: #ffffff;
    border-radius: 15px;
}
.hh5{
    text-align: center;
}
.uu{
    margin: 10px;
    border-style: #3b3b3b;
}
