@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.maincontainer{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    height: 100vh;
    
     bg-size:  cover;
     
     text-align: center;
     padding: 50px;
     
     font-size: 25px; 
     
}
.H1{
    color: #f9f9f9;
}
.btn{
    color: #1976d2;
    
}
.p{
    color: #FFFFFF;
}
.container{
    background-color: #d1e5f9;
    text-align: center;
    padding: 40px;
}
.btn1{
    color: #1976d2;
}
.img1{
    border-radius: 300px;
}