/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.a {
    background-color: lightblue;
    justify-content: center;
    margin: 0;
    padding: 20px;
    align-items: center;
}

.b {
    padding: 10px;
    margin: 5px;
    justify-content: center;
    background-color: #f8f9fa;
    border-radius: 20px;
        border-color: #0071e3;
}

.c {
    color: #007bff;
    font-size: 20px;
}

.d {
    color: #000000;
}

.e {
    color: #FFFFFF;
    background-color: #007bff;
    border-radius: 2px;
    border-color: #0071e3;
}
.f{
    color: #28a745;
}
.g{
    background-color: #28a745;
     border-radius: 2px;
     border-color: #0071e3;
}
.h{
   color: #dc3545; 
}
.i{
    background-color: #dc3545;
     border-radius: 2px;
     border-color: #0071e3;
}
