@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Navbar{
    background-color: #32aa27;
    height: 10vh;
    padding: 2vh;
    display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.Navbar_Heading{
    font-size: 4vh;
    color: #ffffff;
    font-weight: 700;
}

.bar{
    color: #ffffff;
}

.learn_play_section{
    background-image: url("https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
}