@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.second-nav{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   padding: 15px;
   background-color: black;
   color: white;
   height: 5vh;
   width: 100vw;
   
}
.home-ser{
    display: flex;
    gap: 20px;
}
.main-boxes{
    display: flex;
    flex-flow: row;
}
.main-footer{
    display: flex;
    justify-content: space-around;
    background-color: green;
    color: white;
    
    
}
.ma{
    gap:10px;
}