@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.back {
    background:#FBDB93;
    height:100vh;
}
.nav{
    color:#FFC107;
}
.img{
    height:300px;
    width:500px;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pexels-suvan-chowdhury-37305-1580085.jpg");
    background-size: cover;
}
.button{
    height:35px;
    width:137px;
    background-color: #FFC107;
    margin:20px;
    text-align:center;
}
.div{
    color:white;
    text-align:center;
    font-size: 12px;
}
.button2{
    text-align:center;
}
.card{
    background-color:white;
    color:black;
    text-align:center;
    
}
.center{
    text-align:center;
}
.margin{
    margin:20px;
}