/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.card1 {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-size: cover;
    padding: 50px;
    
}
.card2 {
    text-align: center;
    background-color: #f8f9fa;
    border-color: #007bff;
    border-radius: 10px;
    margin: 4px;
    padding: 30px;
    border-style: solid;
    width: 70vw;
    
}
.heading1 {
    color: #007bff;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.para1 {
    color: #000000;
    font-size: 15px;
    
}
.button1 {
    text-align: center;
    background-color: #007bff;
    color: #FFFFFF;
    border-style: solid;
    border-color:#007bff ;
    border-radius: 5px;
    
    
}
.heading2 {
    color: #28a745;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.para2 {
    color: #000000;
    font-size: 15px;
    
    
}
.button2 {
    text-align: center;
    background-color: #28a745;
    color: #FFFFFF;
    border-style: solid;
    border-color:#28a745 ;
    border-radius: 5px;
    
}
.heading3 {
    color: #dc3545;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.para3 {
    color: #000000;
    font-size: 15px;
    
    
}
.button3 {
    text-align: center;
    background-color: #dc3545;
    color: #FFFFFF;
    border-style: solid;
    border-color:#dc3545;
    border-radius: 5px;
    
}
