/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.bg-cointaner{
    background-color: lightblue;
    width: cover;
    height: 500px;
    padding: 5px;
}
.head{
    text-align: center;
    font-family: Caveat;
}
.main{
    text-align: center;
    font-family: Caveat;
    padding: 5px;
}
.reyy{
    color: #0071e3;
}
.three{
    background-color: #007bff;
    color: #f8f9fa;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100px;
}
.rith{
    text-align: center;
    font-family: Caveat;
    padding: 5px;
}
.akr{
    color: #28a745;
}
.paint{
    background-color: #28a745;
    color: #f8f9fa;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 500pxpx;
}
.mic{
    text-align: center;
}
.nip{
    color: #dc3545;
}
.vam{
    font-family: Caveat;
}
.van{
        background-color: #dc3545;
    color: #f8f9fa;
    margin: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 500pxpx;
}
