@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
}
.nav{
    display: flex;
    flex-direction: row;

}
.card{
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: left;
    color: white;
    background-image: linear-gradient(black form left to right);
}
.card-head{
    font-size: 30px;
}
.btn{
    width: 35%;
}
.card-list{
    padding: 8%;
}
.solutions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.solution-card:hover{
    
}
.address{
    text-decoration: underline;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icons{
    
}
@media(min-width:576px){
    .solutions{
    display: grid;
    gap: 5px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
}