/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.card-container {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    text-align: center;
}
.container{
    height: 22vh;
    width: 90vw;
    background-color: #ffffff;
    text-align: center;
    margin: 5px;
    border-color: #0071e3;
    border-width: 40px;
}
.head{
    color: #007bff;
    font-family: caveat;
    
}
.para{
    color:#000000;
     font-family: caveat;
     font-size: 20px;
}
.button{
    background-color: #007bff;
    color: white;
    border-width: 0px;
     font-family: caveat;
    
}
.button1{
    background-color: #28a745;
    color: white;
    border-width: 0px;
     font-family: caveat;
    
}
.button2{
    background-color: #dc3545;
    color: white;
    border-width: 0px;
     font-family: caveat;
    
}
.head1{
    color:#28a745;
     font-family: caveat;
}
.head2{
    color: #dc3545;
     font-family: caveat;
}
