@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body{
    width: 120vh;
    font-family: "Roboto";
}
.header{
    display: flex;
    direction: row;
    background-color: #1b262c;
    color: white;
    font-family: "Roboto";
    width:120vh;
    
}
.navbar{
    display: flex;
    direction: row;
    padding: 0px;
    margin: 10px;
}
p{
    margin: 10px;
}
.p{
    text-decoration: underline;
}
.section-text{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.sh{
    color: white;
    font-family: "Roboto";
    
}
.hr{
    text-decoration: underline;
    background-color: black; 
}
.sp{
    color: white;
   
    
}
.i{
    height: 150px;
    width: 150px;
}
.card{
    margin: 5px;
    padding: 5px;
}
.card-container{
    display: flex;
    flex-direction: row;
}
.card{
    display: flex;
    flex-direction: column;
    
    align-content: flex-end;
    justify-content: flex-start;
}
.section{
    height: 100vh;
    width:120vh;
    background-size: cover;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg');
}
.service-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #f2ccff;
    
}
.footer{
    background-color: white;
    text-align: center;
}