@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.h {
    margin: 15px;
    font-family: "Roboto";
}

.bg {
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px;
}

.barea {
    margin: 5px;
}

.img {
    border-radius: 10px;
    height: 316px;
    width: 512px;
}

.p {
    font-size: 22px;
}

.b {
    margin: 5px;
}