@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.full {
    background-color: #FFF0CE;
    height: 200vh;
}

.bg {
    background-color: #fc8c14;
}

.na {
    color: white;
}

.imgg {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/vinayagar.jpg');
    height: 80vh;

}

.tx {
    padding-top: 100px;
    text-align: center;
    font-size: 15px;
    color: white;
}

.tt {
    font-size: 30px;
}

.hh {
    text-align: center;
    font-size: 30px;
}

.dm {
    background-color: white;
    height: 220px;
    width: 285px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
}

.pad {
    padding-left: 10px;
}
.bbb{
    background-color: white;
}