@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.navbar {
    background-color: #343A40;
    color: white;
}

.locator {
    color: white;
}

.f-bg {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    height: 50vh;
    background-size: cover;
}

.Welcome {
    text-align: center;
    color: white;
    font-family: "Caveat";

}


.Explore {
    background-color: #0ec930;
}

.Our-Story{
    text-align: center;
    background-color: #9BFAA9;
}

.head{
    font-family: "Caveat";
    font-weight: bold;
}

.Name{
    font-family: "Caveat";
    font-weight:bold;
}

.Today{
    text-align: center;
    background-color: #52FA6C;
}

.card{
    background-color: white;
    padding: 20px;
    
}

.view{
    color:#0ec930;
}

.order{
    font-weight: bold;
}