/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.bg{
    background-color:lightblue;
    height:100vh;
    font-family:"Caveat";
}
.card-1{
    border-color:blue;
    border-width:2px;
    border-radius:20px;
    border-style:solid;
    width:600px;
    margin-left:100px;
}

.card-2{
    border-width:2px;
    border-color:blue;
    border-radius:20px;
    border-style:solid;
    width:600px;
    margin-left:100px;
}
.card-3{
    border-color:blue;
    border-width:2px;
    border-radius:20px;
    border-style:solid;
    width:600px;
    margin-left:100px;
}

.button_{
    button-size:20px;
}
