/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.card{
    background-color: #f2f4ff;
    height: 100vh;
    background-size: 100vh;
}
.sam{
    background-color: #FFFFFF;
    height: 50vh;
    width: 80vw;
    margin: 50px;
    background-size: cover;
}
.head{
    text-align: center;
    font-family: "Roboto";
}
.img{
    height: 10vh;
}
.sa{
    text-align: center;
}
.btn{
    background-color: #4e73df;
}
.b{
    text-align: center;
}
.o{
    margin: 10px;
    background-color:#e2e2e2 ;
}
