@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.mainpg{
    color: white;
    text-align: center;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
    height: 100vh;
    width:100vh;
    background-repeat: no-repeat;
}
.head2{
     text-align: center;
}
.downpg{
    background-color: #28A745;
}
.h2{
    color: #FFFFFF;
    text-align: center;
}
.p2{
     color: #FFFFFF;
    text-align: center;
}
.ending{
    background-color: #343A40;
    color: #FFFFFF;
    text-align: center;
}
.pg1{
    background-color: #FFFFFF;
    padding:25px;
    margin: 20px;
    display: flex;
}
.pg2{
    background-color: #FFFFFF;
     padding:25px;
    margin: 20px;
    display: flex;
}
.pg3{
    background-color: #FFFFFF;
     padding:25px;
    margin: 20px;
    display: flex;
}
.btn1{
    border:#FFC107 ;
    color: #FFC107;
}