@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');



/*Write your CSS code below and don't modify anything above*/
* {
    margin: 0;
    font-family: "Roboto";
    padding: 0;
    background-color: #1a1a2e;
    color: white;
}

.header {
    background-color: #0f3460;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/3c3f1d8a563bf60087f0e9dc6029b79c.jpg');
    color: white;
    padding: 20px;
    background-size: cover;
    text-align: center;
    background-position: center;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 50px;
}

.hero {
    padding: 100px;
}

.h1 {
    font-size: 3em;
    margin: 0;
}

.p {
    margin: 20px;
}

.button {
    background-color: #17A2B8;
    border: none;
    padding: 20px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.div {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/3c3f1d8a563bf60087f0e9dc6029b79c.jpg');
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg');
}