/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.header{
    background-color: #0018f9;
    color:#ffffff;
    text-align: center;
}
.sec{
    background-color:#ffffff ;
    font-family: Roboto;
}
.class1{
    color:#33333;
}
/*Write your CSS code below and don't modify anything above*/
.foot{
    background-color:#000000;
    text-align: center;
    color:#f4f4f4;
    background-size:cover;
    
}
.box1{
    background-color:lightblue ;
    color:#ffffff;
    border-radius:5px;
    border-width:0;
     margin:2px;
}
.box2{
    background-color:red ;
    color:#000000;
    border-radius:5px;
    border-width:0;
    margin:2px;
}
.box3{
    background-color:transparent ;
    color:red;
    border-radius:5px;
    border-width:1;
    border-color:red;
    margin:2px;
    
}
.box4{
    background-color: yellow;
    color:#000000;
    border-radius:5px;
    border-width:0;
  margin:2px;
}
