@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.navbar-nav{
    background-color: #007BFF;
}
/* Hero Section */
.hero{
    width: 100%;
    height: 90vh;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/81u981umz8n129n381yy89y1829.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
}
.heading{
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.para{
    font-size: 15px;
    color: white;
    text-align: center;
}
.highlight-section{
    background-color: #7FDBDA;
    padding: 50px 20px;
    text-align: center;
}
.title{
    color: #0000000;
    text-align: center;
    font-size: 30px;
}
.card-title{
    color: #0000000;
    text-align: center;
}
.card-para{
    color: #818281;
    font-size: 20px;
    
}
.button{
    color: #28a745;
    background-color: #ffffff;
    border-color: #28a745;
}