@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg-img{
background-image: url("https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg");
    height: 100vh;
    width: 100vh;
    background-size: cover; 
}
.navbar{
    width: 100vh;
}