@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container{
  background-size: cover;
    padding:70px;
    
}
.card1{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg ");
height:30vh;
background-size:cover;


    
    
}
.heading1{
   text-align: center; 
   color:#FFFFFF;
   font-family: "Caveat";
    
    
}
.para1{
   color:#FFFFFF;
    text-align: center;
    font-family: "Caveat";
    
}
    
.button1{
    background-color: #0ec930;
    text-align: center;
    color:#FFFFFF;
    
}
.card2{
    background-color: #9BFAA9;
    text-align: center;
     padding-top:10px;

    
}
.heading2{
    font-family: "Caveat";
    font-size:15px;
    padding:10px;
    font-weight: bold;
    
}
.para2{
   font-family: "Roboto"; 
    font-size: 8px;
   
    
    
    
    
}
.para3{
    font-family: "Caveat";
    font-size:8px; 
    
}
.card3{
    background-color: #0ec930;
    height:25vh;
}
.heading3{
    text-align: center;
    font-family: "Caveat";
    
}
.card4{
   background-color: #FFFFFF; 
   width:20vh;
   height:50vh;
   padding-left:200px;
    
    
}
.image2{
    height:100px;
    
    
}
