@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav-headin{
    display: flex;
    background-color: #008080;
}

.nav-para{
    margin-top: 35px;
    padding-left: 180px;
}

.bg-container{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    height: 35vh;
    background-size: cover;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
    font-family: "Roboto";
}
.line-para{
    color:#008080 ;
    font-weight: bold;
}
.service{
    text-align: center;
    background-color: #ccffff;
    padding-top: 10px;
}
.img{
    height: 90px;
    width: 90px;
    border-radius: 45px;
}
.card-containers{
    display: flex;
    
}
.foot{
    display: flex;
    background-color: #f9f9f9;
}.Home{
    margin-left: 90px;
    padding-top: 30px;
}