/* Submission 1 */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.main-box {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    margin-top: 60px;
    box-shadow: 0px 4px 10 px rgba(0,0,0,0..1);
}
h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
}
.feature {
    font-size: 18px;
}
