@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0px;
    font-family: "Roboto";
    text-align: center;
    padding: 0px;
}
.main-bg{
    padding-bottom:20px;
    background-color:#f0f8ff ;
    
    
    
}
h1{
   
    padding-bottom:10px ;
}

.imagee1 {
    width: 500px;
    height: 280px;
    margin-left: 65px;
    
    border-radius: 10px;
    background-size: cover;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/u1.webp');
}

.but2 {
    margin-left: 10px;
    margin-right: 10px;

}
.img2{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/u2.jpg');
}
.img3{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/u3.jpeg');
}
.but3 {}
p{
    font-size: 20px;
    
    
    
}
.backgroundd{
    padding-bottom: 20px;
    padding-top: 20px;
    
}




/*Write your CSS code below and don't modify anything above*/