@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container{
    background-color: #38BF2C;
    color:white;
}
.header{
    text-align: end;
    color: white;
}
.heading{
    font-size: 30px;
    font-family: Poppins;
    color: white;
}
.container1{
    background-color: #162415;
}
.btn{
    color: #34B229;
}