@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container{
    background-color: #32AA27;
    height: 40px;
    
}
.h1{
    color: white;
    font-weight: bold;
}
.div2{
    color: white;
    display: flex;
    justify-content: flex-end;
}
.div3{
    background-image: url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
    height: 300px;
    width: 440px;
    background-size: cover;
    text-align: left;
    
}
.h2{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}
.p2{
    color: white;
    font-family: Poppins;
    margin: 20px;
}
.b1{
    color: white;
    background-color: #32AA27;
    height: 35px;
    margin: 20px;
    width: 140px;
}
.div4{
    margin: 10px;
}
.p3{
    color: #32AA27;
    font-weight: bold;
}
.h3{
    font-size: 24px;
    font-weight: bold;
}
.div5{
    margin: 80px;
    background-color: white;
    
}
.img1{
    height: 200px;
    
}
.p4{
    color: #32AA27;
}
.p5{
    width: 200px;
}
.div6{
    background-color: #20341E;
    text-align: center;
    color: white;
}
.p6{
    font-size: 20px;
}
.p7{
    text-decoration: underline;
}