@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.p {
    font-family: "Caveat";
    color: #FFFFFF;
    height: 50px;
    
}
.s {
    text-align: center;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/food+banner+image.jpg");
    background-size: cover;
    height: 250px;
}
.j {
    color: white;
    background-color: #FF0000;
}
.h {
    color: #FFFFFF;
}
.n {
    color: #FF0000;
    text-align: center;
    font-family: "Caveat";
    background-color: #FFF0CE;
    height: 200px;
}
.m {
    color: black;
    font-family: "Roboto";
}
.v {
    color: black;
    font-family: "Roboto";
}
.d {
    color: #FF0000;
    text-align: center;
    font-family: "Caveat";
}
.z {
    background-color: #FFDE63;
    height: 300px;
}
.f {
    color: #FF0000;
    font-family: "Caveat";
}
.a{
    background-color: #FFF0CE;
    text-align: right;
}
.e {
    background-color: white;
    color: red;
}