@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg1 {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696803/aj/assets/images/banner1.png');
    background-size: cover;
    height: 100vh;
}

.image {
    padding-left: 40px;
}

.color {
    font-family: "Roboto";
    color: White !important;
}

.color::hover {
    color: black;
}

.bangles {
    height: 35vh;
    width: 50%;
    text-align: center;
}

h1 {
    font-family: "Open Sans";
    font-weight: bold;
    padding: 10px;

}

.bg2 {
    text-align: center;
    padding-top: 100px;
}

button {
    background-color: White;
    border-radius: 30px;
    font-family: "Open Sans";
    border-width: 0px;
    padding: 5px;
}

span {
    color: White;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
}

p {
    font-family: "Roboto";
    font-size: 20px;
}

.bg3 {
    text-align: center;
    color: black;
    display: Flex;
    justify-content: center;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: #FFD700;
    border-radius: 50px;
    margin-top: 30px;
}

.text {
    text-align: center;
}

.bg4 {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696815/aj/assets/images/croo.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

.img {
    height: 20vh;
    width: 20vw;
    border-width: 20px;
    border-color: #F9D342;
    border-style: solid;
    border-radius: 100px;
}

.para1 {
    color: grey;
}

.btns {
    background-color: black;
    color: White;
    font-family: "Open Sans";
    border-style: solid;
    border-radius: 20px;
    border-color: #FFD700;
    height: 50px;
    width: 110px;
    margin: 10px;
    border-width: 2px;
}

.bg6 {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696815/aj/assets/images/croo1.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}
.bg8 {
    text-align: center;
    font-family: "Roboto";
}
.bg9 {
    height: 60vh;
    border-width: 5px;
    border-color: #F9D342;
    border-style:solid ;
    border-radius: 10px;
    width: 60vw;
    padding: 10px;
    margin-left: 20vh ;
}
.pag {
    color: grey;
}
.imgs {
    height: 60vh;
    width: 60vw;
}
.bg10 {
    display: flex;
}
h2 {
    font-family: "Roboto";
}
.spn {
    color: White;
}
.bg11 {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696813/aj/assets/images/cop.jpg') ;
    background-size:cover ;
    height: 30vh;
    padding: 30px;
    display: flex;
}
.btn1 {
    background-color: black;
    color: White;
    margin-left: 30px;
    border-radius: 20px;
    border-width: 0px;
    padding: 10px;
}