@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.box {
    background-color: #f0f8ff;
    background-size: cover;
    height: 100vh;
}

.head {
    color: skyblue;
    text-align: center;
}

.image1 {
    height: 250px;
    width: 450px;
    border-radius: 25px;
    padding: 15px;
}

.p {
    text-align: center;
}

.image2 {
    height: 250px;
    width: 450px;
    border-radius: 25px;
    padding: 15px;
}

.image3 {
    height: 250px;
    width: 450px;
    border-radius: 25px;
    padding: 15px;
}

.button1 {
    padding: 5px;
    margin: 5px;
}

.button2 {
    padding: 5px;
    margin: 5px;
}

.button3 {
    padding: 5px;
    margin: 5px;
}