@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar{
    height:10vh;
    background-color:#008080;
    color:#ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.fa{
    padding-right:150px;
}
.nav_head{
    padding-right: 120px;
}
.bg-container{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    height:50vh;
    background-size:cover;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
}
.bg-head{
    font-size: 50px;
    text-align: center;
}
.bg-line{
    background-color: #008080;
    height:8px;
    width:130px;
    border-width: 0px;
}
.services{
    height:120vh;
    padding-top:1px;
    background-color: #ccffff;
    text-align: center;
    font-family: "Roboto";
    margin-bottom:0px;
}
.head-service{
    font-size: 30px;
}
.service-line{
    background-color: #008080;
    height:3px;
    width:80px;
    border-width: 0px;
    margin-bottom:30px;
}
.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right:10px;
    margin-bottom:25px;
}
.image1{
    align-self:center;
    border-radius:50px;
    height:100px;
    width:100px;
}
.head1{
    font-size:20px;
}
.para1{
    margin-top:2px;
}
.footer{
    background-color:#f9f9f9;
    height:30vh;
    margin-top:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homes{
    display: flex;
    flex-direction: row;
}
.home1{
    padding-right:4px;
}
.footer-head{
    font-size: 20px;
}
.homes1{

    text-align: center;
}