@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

body {
    min-height: 500vh;
    overflow: auto;
}

.high {
    color: #e74c3c;
}

.nav-container {
    background-color: #5c4a7a;
}

.logo1 {
    color: #ffffff;
    font-family: lobster;
}

.bg-container {
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642069/ethereal/assets/images/background.jpg");
    background-size: cover;
    height: 100vh;
}

.main-heading {
    font-family: lobster;
    text-align: center;
    color: #ffffff;
    font-size: 60px;
}

.paragraph {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
}

.button1 {
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    border-style: solid;
    border-color: #333333;
    color: #f3edf7;
}

.small-container {
    height: 40vh;
    padding: 100px;
}

.icon-container {
    background-color: #ffffff;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 35px;
}

.feature-icon {
    font-size: 60px;
    color: #e74c3c;
}


/* worksection */

.bg-container1 {
    background-color: #f3edf7;
}

.work-heading {
    text-decoration: underline;
    font-family: lobster;
    text-align: center;
    margin: 20px;
    padding: 30px;
}

.button2 {
    width: 200px;
    border-radius: 30px;
    padding: 10px;
    background-color: #e74c3c;
    border-style: none;
    border-color: #333333;
    color: #ffffff;
}


/* subscribe */

.subscribe-container {
    background-color: #333333;
}

.heading4 {
    color: #ffffff;
    text-decoration: under-line;
    font-family: lobster;
    font-size: 34px;
}

.paragraph1 {
    color: #ffffff;
    font-size: 10px;

}

/* aboutus */
.paragraph3 {
    color: #333333;
    font-size: 20px;
}

.about-heading {
    font-size: 30px;
}

.contact-heading {
    color: #e74c3c;
    font-family: lobster;
}