@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar{
    background-color:#f9f9f9 ;
    display: flex;
    
}
.navhead{
    font-family: "Roboto";
}
.Page1{
    align-items: center;
    padding: 30px;
    color: #f9f9f9;
    height: 60vh;
    background-size: cover;
    background-image: url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
}
.Page2{
    background-color: #d1e5f9;
    background-size: cover;
}
.page2head{
    align-items: center;
    border-style: circle;
}