@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg-container {
    font-family: Poppins;
    width: 100vw;
    height: 100vh;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}
.home-page {
    background-image: url('https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.home-page-heading {
    font-weight: bold;
}
.heading {
    font-weight: bold;
    font-size: 35px;
}
.image  {
    height: 200px;
}
.para {
    font-weight: bold;
}
.left-footer, .right-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}
@media (max-height: 576px) {
    .nav {
        display: none;
    }
    .cards-container {
        display: flex;
        flex-direction: column;
    }
}