@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.image {
    background-image: url('https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg');

    height: 80vh;
    background-size: cover;
    filter: grayscale(30%);
}

.images {
    height: 100px;

}

.second {
    margin: 20px;
}

.cards {
    margin: 30px;
}

.footer {}