@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.navbar-nav {
    color: white;
}


#homeSection {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg");
    height: 300px;
    width: 100vw;
    background-size: cover;
    text-align: center;
}

.home-page-heading {
    font-family: "Caveat";
    color: white;
    font-size: 30px;
    padding-top: 100px;
}

.home-page-para {
    font-family: "Roboto";
    color: white;
    font-size: 15px;
}

.btn {
    background-color: #4ed7f1;
    height: 40px;
    width: 140px;
    color: white;
}

#aboutSection {
    background-color: #a8f1ff;
    height: 250px;
    width: 100vw;
    text-align: center;
}

.about-page-heading {
    font-family: "Caveat";
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
    color: #000000;
}

.about-page-para1 {
    font-family: "Roboto";
    color: #000000;
    font-size: 15px;
}

.about-page-para2 {
    font-family: "Roboto";
    color: #000000;
    font-size: 15px;
}

.about-page-para3 {
    font-family: "Caveat";
    color: #000000;
    font-size: 18px;
}

#menuSection {
    background-color: #6fe6fc;
    height: 350px;
    width: 100vw;
}

.menu-page-heading {
    font-family: "Caveat";
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
    color: #000000;
}

.menu-card {
    background-color: white;
    height: 240px;
    width: 180px;
    text-align: center;
    margin: 10px;
}

.menu-card-image {
    height: 100px;
    width: 180px;
    padding: 3px;
}

.menu-card-heading {
    font-family: "Roboto";
    font-size: 15px;
    color: #000000;
    padding-top: 10px;
    font-weight: bold;
}

.menu-card-para {
    font-family: "Roboto";
    font-size: 10px;
    color: #000000;
}

.menu-card-button {
    color: #4ed7f1;
    background-color: transparent;
    border-style: none;
}