@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.nav{
    background-color: #3d3d3d;
    color:white;
    height:70px;
    display:flex;
    flex-direction:row;
    /* justify-content:space-between; */
    flex-wrap:wrap;
    justify-items: flex-start;
}
.fa-bars{
    padding:25px;
    padding-right:150px;
    height:50px;
    width:50px;
}
.main{
    text-align:center;
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg");
    background-size:cover;
    height:60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hea{
    font-weight: bold;
    font-size: 65px;
}
.line{
    background-color: white;
    height:10px;
    width:100px;
}
.sercon{
    background-color: #e5e5e5;
    display:flex;
    
    text-align:center;
    flex-direction:column;
}
.lin{
    display:flex;
    justify-content: center;
    text-align: center;
    background-color:black;
    height:7px;
    width:100px;
}