@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.card1 {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg");
    background-size: cover;
    height: 40vh;
    width: 100vw;
    text-align: center;
}

.heading1 {
    font-family: "Caveat";
    color: #FFFFFF;
    font-size: 30px;
}

.para1 {
    font-family: "Roboto";
    color: #FFFFFF;
    font-size: 10px;
}

.box1 {
    background-color: #EB5B00;
    height: 35px;
    width: 130px;
    border-width: 0px;
    color: #FFFFFF;
}

.box-card {
    text-align: center;
}

.card3 {
    background-color: #FFFFFF;
    height: 25vh;
    width: 25vw;
    margin: 10px;
}

.heading2 {
    font-family: "Caveat";
    font-size: 20px;
    color: #000000;
}
.card2-para{
    font-family: "Caveat";
    font-size: 10px;
    color: #000000;
}
.card2-heading{
    font-family: "Caveat";
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.card2 {
    background-color: #FFDE63;
    height: 20vh;
    width: 100vw;
    text-align: center;
}

.img2 {
    height: 10vh;
    width: 25vw;
    padding: 10px;
}

.bg-contianer {
    background-color: #FFBC4C;
    height: 40vh;
    width: 100vw;
    text-align: center;
    padding: 5px;
}

.heading3 {
    color: #000000;
    font-family: "Roboto";
    font-size: 20px;
}

.para3 {
    color: #000000;
    font-family: "Roboto";
    font-size: 10px;
    font-weight: lighter;
}
.para4 {
    color: #FFDE63;
    font-family: "Roboto";
    font-size: 10px;
    font-weight: lighter;
}
.box4{
    background-color: #FFFFFF;
    height: 30px;
    width:  100px;
    border-width: 0px;
    border-radius: 5px;
}
.img4{
    height: 20vh;
    width: 40vw;
}
.card4 {
    background-color: #FFDE63;
    height: 25vh;
    width: 100vw;
    text-align: center;
    padding: 10px;
}
.nav-para{
    color: #FFFFFF;
}
.last-card{
    background-color: #343A40;
    height: 30px;
}
.last-para{
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 15px;
    text-align: center;
}