@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.header{
    background-color: #32aa27;
    height: 90px;
    margin-left: auto;
}
.heading{
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    font-family: Poppins;
}
.bg-container{
    background-image: url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
    height: 100vh;
    background-size:cover;
}
.h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    font-family: Poppins;

}
span{
    color: #020402;
    background: grey;
}
.p{
    color: #ffffff;
    font-size: 20px;
    font-family: Poppins;
}
.button{
    color: #ffffff;
    font-weight: bold;
    font-family: Poppins;
    background-color: #32aa27;
    padding: 7px;
}
.head{
    font-size: 30px;
    font-weight: bold;
}
.p1{
    font-weight: bold;
    font-family: Poppins;
    font-size: 20px;
}

.card{
    margin: 20px;
    border-radius: 5px;
   
}
.p2{
    color: #020402;
    font-weight: bold;
    font-family: Poppins;
}
.footer{
    background-color: #20341e;
    height: 100vh;
    background-size: cover;
}
.hf{
    color: #ffffff;
    font-family: Poppins;
    font-size: 25px;
}
.logo{
    color: #ffffff;
}
@client_media (992px){
    
}
@client_media(576px)