@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@media (min-width:992px){
    .header{
    background-color: #1b262c;
    height:8vh;
    display:flex;
    justify-content: space-between;
    color:white;
    padding:20px;
    font-family: Roboto;
}
.icon{
    display: none;
}
.head1{
    display: flex;
    color:#ffffff;
    padding-top:10px;
}
.home{
    text-decoration: underline;
    padding-right:20px;
}
.imgsection{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    background-size: cover;
    height:50vh;
    justify-items: center;
    font-family: Roboto;
    text-align: center;
}
.section1{
    color:#ffffff;
    padding-top:150px;
}
.line{
    color:#bf00ff ;
    text-align: center;
}
.services{
    text-align: center;
    background-color: #f2ccff ;
    padding:10px;
}
.card1{
    display: flex;
    flex-direction: row;
 
}
img{
    width:290px;
    height:250px;
    border-radius: 10px;
}
.row{
    width:300px;
    text-align: left;
    margin:10px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    background-color:lightgrey ;
}
.foot1{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-right:20px;
}
.home1{
    padding-right:20px;
}
}
@media (max-width:767px){
.header{
    text-align: center; 
    background-color: #1b262c;
    height:8vh;
    color:#ffffff;
    display: flex;
}
.name{
    padding-left:130px;
    margin:10px
}
.icon{
    margin:24px;
}
.head1{
    display: none;
}
.imgsection{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    background-size: cover;
    height:50vh;
    justify-items: center;
    font-family: Roboto;
    text-align: center;
}
.section1{
    color:#ffffff;
    padding-top:150px;
}
.line{
    color:#bf00ff ;
    text-align: center;
}
.services{
    text-align: center;
    background-color: #f2ccff ;
    padding:10px;
}
img{
    width:500px;
    height:300px;
    border-radius: 10px;
}
.row{
    width:500px;
    text-align: left;
    margin:10px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color:lightgrey ;
}
.foot1{
    display: flex;
    padding-left:200px;
    flex-direction: row;
    text-decoration: none;
    padding-right:20px;
}
.home1{
    padding-right:20px;
    order:0;
}
.copyright{
    width:300px;
    order: 1;
    text-align: center;
    padding-left:120px;
}

}