@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.body {
    margin: 0;
    font-family: Arial, Sans-Serif;
    background: ;
}

.navbar {
    background-color: #007bff;
    width: 150vw;
}

.header-image {
    height: 30vh;
    width: 50vw;
}

.header-section {
    background-color: #EF7722;
    width: 150vw;
}

.Features-section {
    background-color: #FAA533;
    width: 150vw;
    height: 100v;
}

.img1 {
    height: 20vh;
    width: 25vw;
}

.features-card {
    background-color: #ffffff;
    height: 30vh;
    width: 40vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.features-list {}

.button {
    background-color: #007bff;
    padding: 5px;
    margin: 10px;
}

.button1 {
    background-color: #ff5b5b;
    padding: 5px;
    margin: 10px;
}