@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.umar{
    color: white;
}
.umar1{
    background-color: #FAA533;
    height: 40vh;
    width: 100vw;
    padding: 30px;

    font-family: "Roboto";
}
.tt{
    margin-left: 200px;
    
}
.rr{
    display: flex;
    flex-direction: row;
}
.umar2{
  font-size: 25px;  
}
.uu{
    margin-top: 40px;
}
.umar3{
    background-color: #EF7722;
    height: 40vh;

}
.umar4{
    background-color: white;
    height: 18vh;
    width: 50vw;
    margin: 15px;
    padding: 5px;
}
.umar5{
    margin: 10px;
    border-radius: 5px;
    margin-top: 5px;
}
.umar6{
    font-size: 15px;
}
.umar7{
    font-size: 13px;
}
.umar10{
    padding: 3px;
    color: white;
    border-width: 0px;
    width: 90px;
    height: 30px;
    font-size: 13px;

}
.umar11{
    height: 40px;
    width: 120px;
    color: white;
    background-color: #ff5b5b;
    padding: 3px;
    border-width: 0px;
}
.umar21{
padding: 3px;
    font-size: 20px;
    font-family: "Roboto";
}
.umar22{
    margin: 15px;
    font-size: 13px;
    font-family: "Roboto";
    padding: 3px;
}