@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    font-family: Poppins;
}
.hh{
    background-image: url('https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg');
    height: 100vh;
    background-size: cover;
    z-index: -1;
}
/* .header{
    position: fixed;
    bottom: 10px;
}  */
.th{
    font-size: 30px;
}
.lk{
    transition: all;
}
.lk::hover{
    color: #38BF2C;
}
.card1{
    transition: all 2s;
}
.card1::hover{
        transition: all 2s;
    transform: scale(10%);
}
.tx{
    font-size:50px;
}
.texti {
    font-size: 100px;
    z-index: 1;
    position: absolute;
}
img{
    height: 20px;
}