/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.navbar{
    background-color: #3338A0;
}
.nav{
    color:#ffffff;
    font-family: Roboto;
}
.first{
    background-color: #C59560;
    font-family: Roboto;
    color:#ffffff;
    height: 60vh;
    
}
.button1{
    background-color: #000000;
    color:#ffffff;
    padding: 3px;
} 
.button2{
    background-color:  #ffffff;
    color:#000000;
    padding:3px;
}
.img{
    background-size:cover;
    padding:30px;
    height: 200px;
    width: 300px;
}
.second{
    color:#ffffff;
    background-color: #3338A0;
    height: 60vh;
    
}
.p{
    color:#000000;
    padding: 3px;
}
.cadri{
    text-align: center;
}
.img{
    height: 120px;
    width:150px;
    
    background-size:cover ;
    border-radius:5px;
}
.tcard{
    background-color: #ffffff;
    width: 60vw;
    height: 40vh;
    border-radius: 5px;
    
}
/*Write your CSS code below and don't modify anything above*/
