@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* * {
    font-family: "Poppins";
} */
body {
    margin: 0px;
    padding: 0px;
    
}
.main-page {
    height: 200vh;
    
}

nav {
    position: fixed;
}


#hero-section {
    background-image: url('https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg');
    background-position: center center;
    background-size: cover;
    height: 90vh;
}

.hs-content {
    width: 70%;
}
@media all and (max-width: 768px) {
    #nav-links {
        display:  none;
    }
}

@media all and (min-width: 769px) {
    #nav-icon {
        display: none;
    }
    #nav {
        display: flex;
        justify-content: space-evenly;
    }
    
    #hero-section {
        justify-content: center;
    }
}



/* nav  {
    position: fixed;
} */