@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav{
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    font-family: Poppins;
    height: 30px;
}
.image{
    background-image: url("https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg");
    
    
}