@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
body{
    margin: 0px;
    width: 100vw;
}
.first{
    background-image: url(https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg);
    background-size: cover;
    height: 50vh;
    text-align: center;
    font-family: "Caveat";
    font-size: 50px;
    color: white;
    width: 100%;
}
.head1{
    font-size: 40px;
    color: green;
}
.bt{
    background-color: #0ec930;
    height: 40px;
    width: 90px;
    font-size: 20px;
}
.second{
    height: 30vh;
    background-color: #9BFAA9;
    color: white;
    font-family:"Caveat";
    text-align: center;
}
.third{
    height: 40vh;
    background-color: #52FA6C;
    text-align: center;
}
.card{
    height: 30vh;
    width: 27vw;
    background-color: white;
    color: black;
    margin:10px;
    font-size: 10px;
    text-align: center;
}
.headc{
    font-size: 20px;
}
.image{
    height: 12vh;
    width:120px;
    text-align: center;
    padding: 10px;
}
.fourth{
    height: 40vh;
    background-color: #9BFAA9;
    color: black;
    text-align: center;
}
.image2{
    height: 210px;
    width: 240px;
    margin: 40px;
    
}
.image2t{
    margin: 40px;
}
.but{
    background-color: white;
    color:black;
    height: 30px;
    width: 90px;
    text-align: center;
}
.fifth{
    text-align: center;
    color: black;
    height: 40vh;
    background-color: #52FA6C;
}
.but2{
    height:60px;
    color: black;
    width: 80px;
    text-align: center;
}
.last{
    background-color: #343A40;
    text-align: center;
}
.holder{
    width: 100vw;
    
}
.container{
    width: 100vw;
}