@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641276/entro/assets/images/banner2.jpg');
    background-size: cover;
    height: 100vh;
}

.Home_Heading_1 {
    color: Lightblue;
    font-family: "Roboto";
    font-size: 85px;
}

.Home_Heading_2 {
    color: White;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 85px;
}

.Home_Para_1 {
    color: White;
    font-family: "Sans-Serif";
    text-align: center;
    padding: 20px;
}

.Home_Button_1 {
    color: black;
    background-color: white;
    border-width: 0px;
    height: 45px;
    width: 175px;
    border-radius: 25px;
}

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

}

.main_2 {
    background-color: #ececec;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.About_us {
    margin-left: 125px;
}

.About_us_heading {
    font-family: "sans-serif";
}

.About_us_para {
    font-family: "Roboto";
}

.About_us_button {
    color: #ececec;
    background-color: black;
    border-width: 0px;
    height: 45px;
    width: 175px;
    border-radius: 25px;
}

.About_us_image {
    height: 300px;
    width: 300px;
}

.main_3 {
    background-color: #ffffff;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Upcoming_concerts {
    margin-left: 55px;
}

.Upcoming_concerts_heading {
    font-family: "sans-serif";
}

.Upcoming_concerts_para {
    font-family: "Roboto";
}

.Upcoming_concerts_button {
    color: #ececec;
    background-color: black;
    border-width: 0px;
    height: 45px;
    width: 175px;
    border-radius: 25px;
}

.Upcoming_concerts_image {
    height: 450px;
    width: 400px;
}

.main_2 {
    background-color: #ececec;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Gallery {
    margin-left: 125px;
}

.Gallery_heading {
    font-family: "sans-serif";
}

.Gallery_para {
    font-family: "Roboto";
}

.Gallery_button {
    color: #ececec;
    background-color: black;
    border-width: 0px;
    height: 45px;
    width: 175px;
    border-radius: 25px;
}

.Gallery_image {
    height: 150px;
    width: 300px;
}