@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.div1 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg');
    height: 50vh;
    width: 100vw;
    background-size: cover;
    font-family: Caveat;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.div2 {
    background-color: #9BFAA9;
    text-align: center;
    padding: 20px;
}

.h2 {
    font-family: Caveat;
    font-weight: bold;
}

.p2 {
    font-family: Roboto;
}

.nitesh {
    font-family: Caveat;
}

.div3 {
    background-color: #52fa6c;
    text-align: center;

}

.images {
    height: 100px;
    width: 200px;
    margin: 30px;
    text-align: center;
}

.card {
    background-color: #FFFFFF;
    margin: 10px;
    width: 300px;
}

.menu {
    font-family: Caveat;
}

.cardtext {
    font-family: Roboto;
    font-weight: bold;
}

.viewmore {
    color: #52fa6c;
}

.div4 {
    background-color: #9BFAA9;
    padding: 20px;

}

.discimg {
    margin: 10px;
}

.discount {
    text-align: center;
}

.text {
    font-family: Caveat;
    font-weight: bold;
}

.div5 {
    background-color: #52fa6c;
    text-align: center;
    padding: 20px;
}

.navi {
    color: #FFFFFF;
    
}
.div6{
    background-color: #000000;
    text-align: center;
}