@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
body{
    margin: 0px;
    padding:0px;
}

.icon-1{
    color:white;
}
.icon-1-text{
    color:white;
    font-size: 14px;
}
.hero-section{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg");
    background-size:cover;
    
    margin: 0px;
    color:white;
    text-align: center;
    height: 70vh;
}
.hero-section h1{
    font-family: "Caveat";
    
}
.hero-body{
    height: 100%;
}
.button-home{
    background-color:#EB5B00;
    color:white;
    border:0px;
}
.our-story{
    background-color:#FFDE63;
    
}
.our-story h1{
    font-family: "Caveat";
    font-weight: bold;
}
.today-menu{
    background-color:#FFBC4C;
    width:100vw;
}
.today-menu h1{
    font-family: "Caveat";
    font-weight: bold;
}
.boxy{
    background-color:white;
    width:300px;
}
.view-menu{
    color:#FFBC4C;
}