@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    font-family: Roboto;
    
}



.navbar{
    height: 17vh;
    width: 100vw;
    background-color: #1b262c;
    color: white;
}
.hero{
    background-image:  url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height: 60vh;
    width: 100vw;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 20px;
}


.hel{
    padding: 100px;
}

.oil{
    width: 28vw;
    flex-direction: row;
    
}

.hero1{
    width: 100vw;
    
    padding: 10px;
    text-align: center;
    background-color:#f2ccff ;
    
}

.img1{
    height: 28vh;
    width: 32vw;
}

.all{
    height: 25vh;
    width: 80vw;
    
}
.right{
    justify-items: right;
    padding-left:15px ;
}

.nav1{
    justify-items: right;
    font-weight: bold;
}