@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}
.A{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/81u981umz8n129n381yy89y1829.jpg");
    background-size:cover;
    height:700px;
    width:1280px;
    text-align:center;
    
}
.H{
    color:#ffffff;
    font-family:Roboto;
    font-weight:bold;
}
.H1{
    color:#000000;
    font-family:Roboto;
    font-weight:500;
}
.P{
    color:#818281;
    font-family:Roboto;
    font-weight:bold;
}
.b{
    background-color:#007BFF;
    color:#ffffff;
    font-family:Roboto;
    font-weight:bold;
    border-radius:4px;
}
.A1{
    padding:5px;
}
.B{
    background-color:#7FDBDA;
    background-size:cover;
    text-align:center;
    height:700px;
    padding:20px;
}
.B1{
    height:250px;
    width:350px;
    margin-left:20px ;
    background-color:#FFFFFF;
    background-size:cover;
    border-radius:10px;
    padding:20px;
}
.K{
    height:80px;
    width:1280px;
}