@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav{
    align-content: flex-end;
    justify-content: flex-end;
}
.back{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    background-size: cover;
    height: 100vw;
}
.head{
   color: #f9f9f9;
   font-family: "Roboto";
   text-align: center;
   padding-top: 200px;
   font-weight: bold;   
}
.pp1{
    color:white;
    font-family: "Roboto";
    text-align: center;
}
.page2{
    background-color: #d1e5f9;
    padding: 20px;
}
.head1{
    color:#1b262c;
    font-family: "Roboto";
    text-align: center;
    padding-top: 80px;
}