@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav {
    position: fixed;

}

.sub1 {
    background-image: url("https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg");
    height: 90%;
    padding: 30px;
    background-size: cover;

}

.footer {
    background-size: cover;
}