@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.main-container {
    height: 400vh;
}

.bg-container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Ice+Banner+Image.jpg");
    height: 80vh;
    background-size: cover;
    text-align: center;
}

.head {
    padding-top: 160px;
    color: #FFFFFF;
    font-family: "Caveat";
}

.para {
    font-family: "Roboto";
    color: #FFFFFF;
}

.btn {
    background-color: #DC143C;
    color: #FFFFFF;
}

.sec-container {
    text-align: center;
    background-color: #F08787;
    height: 40vh;
}

.header {
    padding-top: 30px;
    font-family: "Caveat";
    color: #FFFFFF;
}

.paraa {
    font-family: "Caveat";
    color: #FFFFFF;
}

.paragraph {
    color: #000000;
}

.card-container {
    background-color: #DC143C;
    height: 50vh;
    background-size: cover;
}

.headingg {
    text-align: center;
    font-family: "Caveat";
    color: #FFFFFF;
}

.card {
    background-color: #FFFFFF;
    height: 50vh;
    width: 40vw;
}

.sweets {
    padding: 10px;
}

.Header {
    font-family: "Roboto";
    font-weight: bold;
    color: #000000;
}

.price {
    color: grey;
}

.info-container {
    background-color: #F08787;
    height: 60vh;
}

.Heading {
    font-family: "Caveat";
    color: #FFFFFF;
}

.paragraph {
    color: #000000;
}

.custom-btn {
    color: #000000;
    background-color: #FFFFFF;
}

.green {
    height: 40vh;
    width: 40vw;
}

.booking {
    text-align: center;
    background-color: #F75270;
    height: 50vh;
    background-size: cover;
}

.book-head {
    padding-top: 100px;
    font-family: "Caveat";
    color: #FFFFFF;
}

.book-para {
    color: #000000;
}

.last {
    background-color: #343A40;
    height: 10vh;
}

.info {
    color: #FFFFFF;
    font-size:25px;
    
}