@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.heading{
    text-align: center;
    
}
.mainpage{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    background-size:cover;
}
.cart1{
    color:#FFFFFF;
    text-align: center;
    padding: 50px;
}
.cart2{
    color:#FFFFFF;
    text-align: center;
}
.subpages{
    background-color:#d4ffcc;
}
.cart3{
    text-align: center;
}