@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.lol {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg');
    background-size: cover;
    height: 50vh;
    width: 58.65vh;
    text-align: center;
}

.head {
    color: #FFFFFF;
}

.but {
    background-color: #17A2B8;
    color: #FFFFFF;
    border: 0px;
    border-width: 2px;
}

.bow {
    background-color: #2C3E50;
    height: 50vh;
}

.heading {
    color: #FFFFFF;
    text-align: center;
}

.card1 {
    background-color: #FFFFFF;
    width: 330px;
    text-align: center;
    border-radius: 10px;
    height: 200px;

}

.paragraph {
    color: #818281;
}

.button1 {
    background-color: transparent;
    border-color: #28A745;
    color: #28A745;
    border-width: 1px;
}

.bi {
    color: #28A745;
}