@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
  font-family: Poppins;  
}
.back{
    background-image: url("https://cdn.b12.io/client_media/pYiUYPFe/e1bbab32-0489-11f0-9106-0242ac110002-jpg-hero_image.jpeg");
    height:40vh;
    background-size: cover;
}

.card-1{
    transform: scale(1);
}
.last{
    display:flex;
    justify-content: center;
    align-items: center;
}