@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
.a{
    background-color: #0d3b66;
}
.b{
    text-align: center;
}
.head{
    padding: 10px;
    color: #ffffff;
}
.pa{
    color: #ffffff;
}
.t{
    background-color: #ee964b;
    color: #0d3b66;
    border-radius: 10px;
    margin-bottom: 20px;
}
.n{
    background-color: #faf0ca;
}
.k{
    text-align: center;
}
.o{
    font-weight: bold;
    margin-top: 30px;
}
.x{
    font-size: 20px;
    color: #0d3b66;
    font-weight: bold;
}
.l{
  color: #0d3b66;  
}
.bn{
    background-color: #343a40;
}
.ra{
    color: #ffffff;
}
