.one {
    background-color: #32AA27;
    height: 100px;

}

.two {
    color: white;
    font-family: poppins;
    font-size: 25px;
}

.three {
    justify-content: right;
    text-align: right;
    color: white;
    font-family: poppins;

}

.four {
    height: 1000px;
    background-image: url('https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg');
}

.five {
    color: white;
    font-family: poppins;
    font-size: 50px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.six {
    color: white;
    font-family: poppins;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.seven {
    background-color: #32AA27;
    text-align: center;
    justify-content: center;
    align-content: right;
    border-radius: 5px;
    padding: 2px;
    width: 100px;
}

.eight {
    padding: 250px;
}

.nine {
    color: #32AA27;
    font-size: 15px;
    font-family: poppins;
    font-weight: bold;
}

.ten {}