@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.first_box{
    background-color: #000000;
    height: 50vh;
    width: 94vw;
}
.headind1{
    color: #ffffff;
    text-align: center;
    
}
.second_box{
    background-color: #d4ffcc;
    text-align: center;
}
.headind2{
    text-align: center;
    width: 80vw;
    padding: 8px;
}
.second_box2{
    background-color: #ffffff;
    height: 50vh;
    width: 80vw;
    text-align: center;
    padding: 10px;
    margin: 25px;
    border-radius: 15px;
}
.img{
    border-radius: 75%;
    height: 30vh;
    width: 40vw;
}
.footer{
    text-align: center;
}