@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*write your code below*/
.navbar {
    background-color: #faf0ca;
    width: 100vw;
    margin-left: 15px;
    border-top-left-radius: 5px;

}

.welcome {
    height: 100%;
    width: 100vw;
    background-color: #0d3b66;
    text-align: center;
    color: #ffffff;
    margin: 0px;
}

.welcome-button {
    background-color: #ee964b;
    color: #0d3b66;
    margin-bottom: 40px;
    border: 0px;
    border-radius: 3px;
}

.mid {
    background-color: #faf0ca;
    text-align: center;
    width: 100vw;
}

.midh1 {
    padding-top: 10px;
    font-size: 30px;
}

.picdiv1 {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #f4d35e;
}

.picdivh1 {
    color: #0d3b366;
    font-size: 20px;
}

.picdivp {
    color: #0d3b366;
}

.last {
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    width: 100vw;
    border-bottom-left-radius: 10px;
    font-size: 10px;
    margin: 0px;
}
