@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.firstimage{
    background-image:  url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    height:650px;
    width:900px;
}
.heading2{
 color:white;
 padding:100px ;
 text-align:center ;
}
.paragraph1{
    color:white ;
    text-align:center ;
}
.secondsection{
    background-color: #d1e5f9;
    height:1000px;
    width:900px ;
}
.heading3{
    font-style:Roboto ;
    padding:50px;
    text-align:center ;
}
.secondsection{
    align-items:left ;
}
.im1{
    border-radius:600px ;
    height:100px ;
    width:100px ;
    padding:20px;
    align-items:left ;
}
.personal{
    text-align:left ;
    align-items:left ;
}
.lastpage{
    background-color:black ;
    height:250px ;
    width:900px;
    
}
.fa{
    color:white ;
    padding:30px;
}
.p{
  color:white ;
    padding:30px;
}