@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar{
    background-color: #38BF2C;
    height: 90px;
}
.ulList{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
li{
    list-style-type: none;
    margin-right: 12px;
    color: white;
    font-size: 17px;
}
.homo{
    color: white;
    font-size: 32px;
    cursor: pointer;
    display: none;
    padding: 2px;
}
.navHead{
    color:white;
    font-weight: bold;
    align-self: center;
    font-size: 24px;
    padding-top: 5px;
    max-width: 250px;
}
@media screen and (max-width:767px){
    .ulList{
        display: none;
    }
    .homo{
        display: flex;
    }
}
.mainSection{
    background: rgba(0,0,0,0.6) url('https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg');
    background-blend-mode: darken;
    background-position: fixed;
    height: 500px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainHead{
    color: white;
    font-weight: 600;
    font-size: 42px;
}
.Epara{
    color: grey;
    font-size: 16px;
}
.seviceBtn{
    margin-top: 12px;
    background-color: #38BF2C;
    width: 135px;
    color: white;
    padding: 6px;
    border: none;
}
.engagingLearn{
    background-color: #162415;
    height: 1600px;
}
.engHead{
    color: white;
    font-size: 22px;
    padding-top: 32px;
    padding-left: 32px;
}
.transHead{
    font-size: 26px;
    color: white;
    font-weight: 500;
    padding-top: 12px;
    padding-left: 32px;
}
.cardsGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 90px;
}
.card1{
    margin-top: 22px;
}
.card{
    background-color: transparent;
    height: 350px;
    width: 400px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.img{
    width: 100%;
    object-fit: cover;
}
.cardC{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
.cardHead{
    color: white;
    text-align: center;
    font-weight: 600;
    transition:  color 0.7ms ease-in;
    padding-bottom: 12px;
}
.cardPara{
    text-align: center;
    max-width: 400px;
    color: grey;
}

@media screen and  (max-width:767px){
    .card{
        width: 350px;
    }
}
@media screen and (max-width:577px ){
    .card{
        width: 260px;
    }
}
@media screen and (min-width:768px){
    .cardsGrid{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr;
        margin-top: 24px;
    }
    .card{
        width: 250px;
    }
}
@media screen and (min-width:992px){
    .cardsGrid{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px;
    }
    .transHead{
        font-size: 26px;
        padding-left: 52px;
    }
    .engHead{
        font-size:36px;
        padding-left: 52px;
        font-weight: 600;
    }
    .card{
        width: 200px;
    }
    .engagingLearn{
        height: 600px;
    }
}
.cardHead:hover{
    color: #32AA27;
    cursor: pointer;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}
.card:hover{
    transform: scale(1.05);
}
.footer{
    background-color: #38BF2C;
    height: 400px;
}
.nhead{
    color: white;
    font-weight: 600;
    font-size:25px;
}
.Spara{
    color: white;
    font-size: 22px;
}
.cHead{
    color: white;
    font-weight: 600;
    font-size: 25px;
}