@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
@media (width : 992px){
    .nav{
        background-color: grey;
        height: 70px;
    }
    .nav-elements{
        color: white;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        
        
    }
    .nav-name{
        color: white;
        margin-right:auto;
    }
    .main-container{
        background-image: url('https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg');
        height: 50vh;
        background-size: cover;
        background-position: center;
    }
    .main-heading{
        color: white;
        font-size: 40px;
        font-family: "Caladea";
    }
    .main-para{
        color: white;
        font-size: 30px;
        font-family: "Caladea";
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .red{
        background-color: red;
        color: red;
        height: 5px;
        width: 0px;
    }
    .services-section{
        background-color: #f7c1c1;
        height: 40vh;
        
        
    }
    .services-heading{
        color: black;
        font-family: "Caladea";
        text-align: center;
        
    }
    .card{
          display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .main-card{
        width: 250px;
      
    }
    .image{
        height: 180px;
        border-radius: 10px;
        width: 220px;
    }
    .footer-section{
        background-color: #FFFFFF;
        height: 15vh;
    }
    .footer-name{
        margin-right: auto;
    }
    .footer-elements{
        
        
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   .footer-sub{
       display: flex;
       flex-direction: column;
       margin-right: auto;
       
   }
        
}
@media (width : 768px )  {
    .nav{
        background-color: #080808;
        height: 70px;
    }
    .nav-elements{
        color: white;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        
        
    }
    .nav-name{
        color: white;
        margin-right:auto;
    }
    .main-container{
        background-image: url('https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg');
        height: 50vh;
        background-size: cover;
        background-position: center;
    }
    .main-heading{
        color: white;
        font-size: 40px;
        font-family: "Caladea";
    }
    .main-para{
        color: white;
        font-size: 30px;
        font-family: "Caladea";
    }
    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .red{
        background-color: red;
        color: red;
        height: 5px;
        width: 160px;
    }
    .services-section{
        background-color: #f7c1c1;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .services-heading{
        color: black;
        font-family: "Caladea";
        text-align: center;
        
    }
    .card{
         display: flex;
        flex-direction: column;
        
    }
    .main-card{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    .image{
        height: 180px;
        border-radius: 10px;
        width: 220px;
    }
    .footer-section{
        background-color: #FFFFFF;
        height: 15vh;
    }
    .footer-name{
        margin-right: auto;
    }
    .footer-elements{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
   .footer-sub{
       display: flex;
       flex-direction: column;
       margin-right: auto;
       
   }
   
}