@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar{
    flex-direction: row;
    background-color: #1b262c;
    color: #ffffff;
}
.navbar-head{
    display: ;
}
.main{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    background-size: cover;
    height: 70vh;
    width: 100vw;
    text-align: center;
}
.head{
    padding: 150px;
    text-align: center;
    font-family: Roboto;
}
.heading{
    color: #ffffff;
}
.para{
    color: #bf00ff;
    font-weight: bold;
}
.para2{
    color: #ffffff;
}
.main2{
    background-color: #f2ccff;
    text-align: center;
    padding: 10px;
}
.image{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.box{
    display: flex;
    flex-direction: row;
    padding: 15px;
}
.main3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right{
    display: flex;
    flex-direction: row;
}

@media screen (width){
    .navbar{
        
    }
}