/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.a {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    text-align: center;
}

.c {
    background-color: white;
    height: 200px;
    width: 1000px;
    border: solid #3b3b3b;
    padding: 2px;
    border-radius: 8px;
    margin: 5px;
}

.li {
    text-align: left;
    list-style-type:square;
}
.li2 {
    text-align: left;
    list-style-type: upper-roman;
}
.li3 {
    text-align: left;
    list-style-type: circle;
}
.li4 {
    text-align: left;
    list-style-type: upper-alpha;
}
