@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bar{
    color: white;
    padding: 26px;
    width: 40px;
    height: 45px;
}
.photo{
    width: 400px;
    height: 400px;
    padding-top: 16px;
   /*  background-color: green; */
}
.image{
    width: 400px;
    height: 250px;
    
}