@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.main{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
    background-size: cover;
    padding: 50px;
    text-align: center;
    color: #ffffff;
    height: 600px;
    width: 500px;
}
.butt{
    color: #ffffff;
    background-color: #28A745;
    border-width: 0px;
    padding: 5px;
}
.m1{
    color: #FFC107;
}
.m2{
    color: #dc3545;
}
.m3{
    color: #007bff;
}
.mid{
    background-color: #28A745;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    
}
.btn1{
    background-color: #ffffff;
    color: #007bff;
    border-color: #007bff;
}
.btn2{
    background-color: #ffffff;
    color: #dc3545;
    border-color: #dc3545;
}
.btn3{
    background-color: #ffffff;
    color: #FFC107;
    border-color: #FFC107;
}
.ma{
    text-align: center;
    background-color: #28A745;
    color: #ffffff;
    
}
.ma1{
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    
}
.nav1{
    color: #ffffff;
}
.a1{
    background-color: #ffffff;
    height: 300px;
    width: 250px;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}