@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");

* {
    margin-top: 0px;
}

.navbar {
    height: 10vh;
    width: 100%;
    background-color: #808080;
    display: flex;
    color: white;
}

.npart1 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
}

.npart2 {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    font-size: 20px;
}

.welcome-page {
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg');
    height: 50vh;
    width: 100%;
    background-size: cover;
}

.in-container1 {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

}

.horizontal-line {
    width: 100px;
    height: 5px;
    background-color: red;
    border-radius: 0px;
}

.services-page {
    background-color: #f7c1c1;
    height: 200vh;
    text-align: center;
}

.container-1 {
    height: 60vh;
}

.image-1 {
    border-radius: 10px;
}
.end-container{
    background-color:#808080;
    text-align:center;
    color:white;
    padding:10px;
}
.join{
    display: flex;
    justify-content:center;
    gap:10px;
    padding:10px;
    font-size:16px;
}
@media (screen && min-width:576px){
.services-page {
    background-color: #f7c1c1;
    height: 200vh;
    text-align: center;
}

.container-1 {
    height: 60vh;
}

.image-1 {
    border-radius: 10px;
}
.end-container{
    background-color:#808080;
    text-align:center;
    color:white;
    padding:10px;
}
.join{
    display: flex;
    justify-content:center;
    gap:10px;
    padding:10px;
    font-size:16px;
}