@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.front {
    background-image: url("https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg");
    height: 46vh;
    background-size: cover;
    color: white;
}

.second {
    height: 46vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: 30px;
}

.img {
    margin: 10px;
    padding: 10px;
}