@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg{
    background-color:#007bff ;
    color: #ffffff;
}
.bac1{
    background-color:#FAA533 ;
    height: 50vh;
    padding:20px ;
    font-family: Roboto;
    
}
.img1{
    height: 20vh;
    width: 25vh;
}
.bac2{
    background-color:#EF7722;
    height:60vh;
    font-family: Roboto;
}
.bu1{
    background-color:#007bff ;
    border: none;
    color: #ffffff;
}
.bu2{

    background-color:#ff5b5b ;
    border: none;
    color: #ffffff;
}
.bac3{
    background-color: #ffffff;
    height: 20vh;
    width: 35vh;
    border-radius:20px ;
    margin-bottom: 10px;
    text-align: center;
     font-family: Roboto;
     padding: 10px;
     margin-right:10px ;
}
.img2{
    height:50px ;
    margin-top: 10px;
}
.u{
    font-size: 10px;
}