@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");

*{
    margin: 0px;
}
.navbar{
    color: white;
    background-color: #808080;
    display: flex;
    justify-content: flex-start;
}
.nav_p{
    display: flex;
    padding: 10px;
    margin-left: 80px;
    align-content: flex-end;
}
.hr{
    width: 80px;
    background-color: red;
    height: 5px;
    border-width: 0px;
    margin: 20px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.main{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg');
    height: 50vh;
    width: 100vw;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services{
    text-align: center;
    background-color:#f7c1c1;
    
}
.box{
    width: 50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
img{
    margin-left: 40px;
    border-radius: 20px;
}
@media(min-height:768px){
 .boxes{
    display: flex;
    justify-content: center;
}  
}

@media (max-height:768px){
    .boxes{
        display: grid;
    }
}
.footer{
    margin: 20px;
    display: flex;
}
.foot-1{
    order: 2;
}