@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.nav-text {
    font-family: "Montserrat";
    font-size: 35px;
    color: #ff6b6b;
}

.home {
    text-decoration: underline;
    text-decoration-color: #ff6b6b;
}

.clothing-nav {
    font-size: 37px;
    font-weight: bolder;
    color: #000000;
}

.span-cloth {
    color: #ff6b6b;
    font-weight: bold;
}

.bottom-container {
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821276/sixteen-clothing/assets/images/slide_01.jpg");
    height: 70vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.heading-offer {
    color: #ff6b6b;
    font-weight: bold;
    font-family: "Sans-Serif";
    font-size: 20px;
}

.text-arrival {
    color: #ffffff;
    font-size: 40px;
}

.text-product {
    color: #ff6b6b;
    font-weight: bold;
}

@media (min-width:577px) {
    .product-name {
        display: flex;
        justify-content: space-between;
        font-size: 28px;
    }
}

@media (max-width:577px) {
    .product-name {
        font-size: 20px;
    }
}

.image {
    height: 140px;
}

.title-head {
    font-size: 14px;
    color: #00bcd4;
    margin: 6px;
}

.price {
    font-size: 14px;
    margin: 6px;
}

.concept {
    display: flex;
    justify-content: space-between;
}

.card1 {
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10px;
}

.text-card {

    font-family: "Montserrat";
}

.review {
    display: flex;
    justify-content: space-between;
}

.review-text {
    font-weight: bold;
}

.clothes-head {
    color: #00bcd4;
    font-size: 25px;
}

li {
    list-style-type: square;
}

.card2 {
    background-color: #f4f4f4;
}

.span-six {
    color: #00bcd4;
    font-weight: bolder;
}

.creative-text {
    color: #00bcd4;
    font-weight: bold;
    font-family: Sans-Serif;
}

@media (max-width:769px) {
    .cont-purchase {
        display: flex;
        flex-direction: column;
    }
}

.cont-purchase {
    display: flex;
    justify-content: space-around;
}

.button {
    height: 40px;
    margin-top: 25px;
}

.span-copy {
    border-color: #000000;
    border-radius: 100px;
    border-width: 2px;
    padding-left: 5px;
    padding-right: 3px;
    height: 2px;
    width: 2px;
    border-style: solid;
    margin-right: 5px;
}