@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #0d5ea6;
    height: 40vh;
    width: 100vw;
    background-size: cover;
}

.head1 {
    font-size: 20px;
    color: #ffffff;
    font-family: "Roboto";
    padding: 10px;
}

.img1 {
    height: 20vh;
    width: 10vw;
}

.bg-container2 {
    background-color: #EAA64D;
    height: 70vh;
    width: 100vw;
    background-size: cover;
}

.sum2 {
    text-align: right;
}

.para1 {
    color: #ffffff;
    padding: 10px;
}

.bg-container3 {
    background-color: #ffffff;
    height: 40vh;
    width: 30vw;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
    text-align: center;
    padding: 20px;
}

.img2 {
    height: 16vh;
    width: 8vw;
}