@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
#anchor1 {
    color: white;
    font-size: 20px;
    margin: 10px;
}

#anchor2 {
    color: white;
    font-size: 20px;
    margin: 10px;
}

#anchor3 {
    color: white;
    font-size: 20px;
    margin: 10px;
}

.bg-1 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/imagenew.jpeg');
    background-size: cover;
    height: 100vh;
}

.head-1 {
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Roboto";
}

.para-1 {
    color: #818281;
    font-size: 20px;
    font-family: "Roboto";
}

.btn {
    background-color: #DC3545;
    padding: 15px;
}

.bg-sm {
    background-color: #DC3545;
    width: 100vh;
}

.bg-small {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.head.sm {
    font-size: 20px;
    color: #000000;
    font-family: "Roboto";
    box-sizing: border-box;
}

.btn-1 {
    color: #007BFF;
    border: 2px solid #007BFF;
    margin-bottom: 10px;
}

.btn-2 {
    color: #FFC107;
    border: 2px solid #FFC107;
    margin-bottom: 10px;
}

.btn-3 {
    color: #28A745;
    border: 2px solid #28A745;
    margin-bottom: 10px;
}