@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.background{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Ice+Banner+Image.jpg");
    background-size:cover;
    width:100vw;
    height:200px;
}
.center{
    text-align:center;
}
.heading{
    font-family:Caveat;
    color:#FFFFFF;
}
.para{
    font-family:Roboto;
    color:#FFFFFF;
}
.button{
    background-color:#DC143C;
    color:#FFFFFF;
    width:110px;
    height:40px;
}
.para2{
    font-family:Roboto;
    color:#000000;
}
.para3{
    font-family: Caveat;
    color:#FFFFFF;
    font-size:20px;
}
.background2{
    background-color:#F08787;
    height:250px;
    width:100vw;
}
.background3{
    background-color:#F75270;
    height:400px;
    width:100vw;
}
.card{
    background-color:#FFFFFF;
    padding:10px;
    margin:10px;
    height:340px;
}
.background4{
    background-color:#F08787;
    height:300px;
    width:100vw;
}
.img{
    height:200px;
    width:200px;
    margin:20px;
    padding:5px;
}
.background5{
    background-color:#343A40;
    height:50px;
    width:100vw;
}
.back{
    background-color:#343A40;
}