.s{
    background-color:#f0f8ff;
    background-size:cover;
    height:180vh;
}
.s1{
    color:blue;
    font-size:20px;
    text-align: center;
    font-family:Roboto;
    padding:10px;
}
.s2{
    height:120px;
    width:250px;
    border-radius:10px;
}
.s3{
    text-align: center;
}
.s4{
     height:120px;
    width:250px;
    border-radius:10px;
}
.s5{
    text-align: center;
    
    
}
.s6{
     height:120px;
    width:250px;
    border-radius:20px;
    
}
.s7{
     text-align: center;
    
}
.s8{
    background-color:  blue;
    color:white;
    width:80px;
    height:30px;
    margin:3px;
    border-radius:5px;
}
.s9{
    background-color:green;
    color:white;
        width:80px;
    height:30px;
    margin:3px;
    border-radius:5px;
}
.o{
    background-color:orange;
    color:black;
        width:80px;
    height:30px;
    margin:3px;
    border-radius:5px;
}
 .o1{
        padding:20px;
        margin:20px;
        border-width:0px;
    }
    
        
    }