@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.main-page-bg {
    background-color: #f0f8ff;
    height: 135vh;
    text-align: center;
}

.max {

    border-radius: 20px;

}

.img9 {
    border-radius: 15px;

}


.head {
    color: lightblue;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
    margin-top: 10px;
    
}

.img1 {
    border-radius: 15px;
    height: 30vh;
    
}

.content {
    font-size: 15px;
    font-family: Roboto;
}

.img8 {
    height: 25vh;
    border-radius: 25px;

}

.ok {
    background-color: orange;
}
.okok{
    margin: 5px;
    border-radius: 5px;
    border-width: 0px;
}