@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #152415;
    color: white;
    justify-content: space-around;
    height: 7vh
}

.main-content-section {
    height: 40vh;
    background-image: url('https://cdn.b12.io/client_media/bgjFMIEJ/9b307e74-0572-11f0-833d-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-btn {
    background-color: #32aa27;
    width: 30vw;
}

.Features-image {
    width: 100vw;
    height: 40vh;
    size: cover;
    margin-bottom: 10px;
    box-shadow: 2px;
}

.service-section-card {
    width: 30vw;
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.service-section-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.service-section-card {
    transition-duration: 0.5s;
}

.service-section-card:hover {
    scale: 1.1;
}

.service-section-discrption {
    color: #32aa27;
}