@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.header {
    font-family: bold;
    background-color: #38BF2c;
    font-size: 20px;
    text-align: left;
    border: 50px;
}

.bg-contaner {
    background-image: url('https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg');
}

.pare {
    font-size: 60px;
    font-family: bold;
    color: white;
    padding: 80px;

}

.para {
    font-size: 50px;
}