@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav_bar {
    background-color: #162415;
    font-family: Poppins;
    height: 8vh;
}

.PHOTOGRAPHY_WEBSITE {
    color: white;
    font-size: 20px;

}

.home {
    color: white;
    font-size: 15px;
}

.background-1 {
    background-image: url("https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg");
    height: 60vh;
    background-size: cover;
}

.heading-1 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.para-1 {
    color: white;
    margin-right: 80px;
}

.button-1 {
    color: white;
    background-color: #32AA27;
    height: 40px;
    width: 120px;
    margin-top: 10px;
    margin-right: 200px;
}

.background-2 {
    background-color: #32AA27;
    height: 50vh;
}

.para-2 {
    color: white;
    margin-right: 150px;
    font-family: fonts;
    font-size: 20px;
}

.heading-2 {
    color: white;
    margin-right: 90px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;

}

.img-1 {
    height: 150px;
}

.harshith {
    margin-left: 300px;
}