@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.navbar-nav{
    color: white;
}
.img{
    width: 360px;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/image+(4).jpeg");
    height: 200px;
    background-size: cover;
    margin-right: 20px;
   
   
}
.div1{
    text-align: center;
    padding: 25px;
    
}
.p{
    color: white;
    font-size: 10px;
   
}
.btn{
    border-radius: 5px;
    width:170px;
    height: 40px;
}
.div2{
    background-color: #FF6B6B;
}
.h2{
    color: white;
    text-align: center;
}
.div3{
    border-style: solid;
    border-color: white;
    background-color: white;
    margin:20px;
}
.h4{
    font-size: 15px;
    text-align: center;
    font-family: Roboto;
}
.p1{
    font-size:10px;
    text-align: center;    
    
    
}
.btn{
    color: #007BFF;
    text-align: center;
    border-color: #007BFF;
    margin-left: 30px;
}
.cake{
    text-align: center;
    width: 200px;
    margin-left: 20px;
    color: #007BBF;
    border-radius: 30px;
}
.<svg xmlns="http://www.w3.org/2000/svg" width=