@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg-color {
    background-color: #c9182c;
}

.head {
    color: #ffffff;
    padding-left: 10px;
}

.btn {
    color: #ffffff;
    background-color: #000000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.bg {
    background-color: #8bc28c;
    height: 100vh;
    text-align: center;
}

.head1 {
    color: #ffffff;
    padding: 10px;
}

.para1 {
    color: #ffffff;
    padding-left: 10px;
}

.im {
    width: 240px;
    margin: 10px;
    margin-top: 5px;
}

.bg1 {
    background-color: #a7c957;
    height: 270vh;
    text-align: center;
}

.head2 {
    color: #000000;
    padding-top: 40px;
}

.card {
    background-color: #c5dbf0;
    margin: 10px;
    border-radius: 10px;
    width: 240px;
    text-align: center;
    margin-left: 30px;
    height: 280px;
    margin-top: 10px;
}

.im1 {
    width: 200px;
    margin: 10px;
    margin-top: 5px;
    border-radius: 10px;
}

.z {
    padding-top: 10px;
}
.bg4{
    background-color: #797d62;
    height: 200vh;
    padding: 5px;
}
.card1{
    margin: 10px;
    border-radius: 10px;
    width: 240px;
    text-align: center;
    margin-left: 30px;
    height: 280px;
    margin-top: 10px;
}
.im2{
    width: 100px;
    margin: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border-radius: 200px;
}
