@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.ElectronicStore_ {
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 10px;
}

.home {
    text-decoration: underline;
}

.Home_ {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 63%;
    padding-top: 20px;
}

.services {
    padding-left: 20px;
}

.main_ {
    background-color: #008080;
    font-family: "Roboto";
}

.welcome {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    background-size: cover;
    height: 50vh;
    font-family: Roboto;

}

.welcome_text {
    color: white;
    text-align: center;
    padding-top: 20%;
    font-weight: bold;
}

.line {
    color: #008080;
    font-weight: 700;
    text-align: center;

}

.your_ {
    text-align: center;
    color: white;
    /* font-weight: solid; */
    font-size: 20px;
}

.second_ {
    background-color: #ccffff;
    height: 70vh;
}

.Services_ {
    /* color: white; */
    font-family: Roboto;
    text-align: center;
    padding-top: 50px;
}

.rows_ {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    /* padding-top: 20px; */
}

.radius_ {
    border-radius: 130px;
}

.product_1 {
    text-align: center;
}

.imgtext1 {
    padding-left: 130px;
}

/* .imgtext2{
    padding-right: 2px;
} */
.second_texts_ {
    /* text-align: center; */
    padding-left: 20px;
}

.img_1 {
    margin-left: 40px;
}

.radius_1 {
    border-radius: 130px;
    margin-top: 70px;
}

.all {
    text-align: center;
}
.last_1{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.jee{
    padding-left: 20px;
}
.jee2{
    padding-bottom: 10px;
}
.none_{
    padding-left: 20px;
    padding-top: 20px;
}
.none_1{
    padding-left: 20px;
}