@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.hi {
    background-image: url('https://cdn.b12.io/client_media/pYiUYPFe/e1bbab32-0489-11f0-9106-0242ac110002-jpg-hero_image.jpeg');
    height: 60vh;
    width: 100vw;
    background-size: cover;
}

.hlo {
    display: flex;
    flex-direction: row;
}

.contain {
    height: 200vh;
}