@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.main-block {
    background-color: #007BFF;
    padding: 10px;
}

.head1 {
    font-size: 30px;
    color: #ffffff;

}

.second-block {
    background-color: #DC143C;
    color: #000000;
    height: 300px;
    padding: 34px;
}

.big-block {
    font-family: 'Roboto';
    width: 250vh;
    height: 200vh;
}

.head2 {
    font-size: 30px;
}

.imges {
    width: 150px;
    height: 140px;
}
.last-block{
    background-color: #F75270;
    padding: 20px;
}