@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.heading{
background-image:url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg") ;
height:100vh;
width:100vh;
padding:100vh;
color:white;
}

.section{
    background-color: #ccffff;
    font-family: "Roboto";
}
.footer-section{
    font-family: "Roboto";

}