@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.d {
    padding-top: 180px;
}

.heading {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/illustration-pongal-holiday-background-with-space-text_91314-448.jpg');
    background-size: cover;
    text-align: center;
    color: white;
    font-family: "Roboto";
    font-weight: bold;
}

.section1 {
    background-color: #CBEAED;
    text-align: center;
    height: 50vh;
    width: 100vw;
    margin-top: 50px;
}

.section2 {
    background-color: #FFFFFF;
    text-align: center;
    color: #818281;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.button1 {
    color: #28a745;
    border-color: #28a745;
    border-style: solid;
    border-width: 2px;
}

.button2 {
    color: #FFC107;
    border-color: #FFc107;
    border-style: solid;
    border-width: 2px;
}

.button3 {
    color: #dc3545;
    border-color: #dc3545;
    border-style: solid;
    border-width: 2px;
}

.e {
    color: #000000;
    padding:10px;
}

/*Write your CSS code below and don't modify anything above*/