/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

.siva {
    text-align: center;
}

.color {
    background-color: lightblue;
    height: 100vh;
    width: 680;
}
.colorr{
    text-align: center;
    background-color: #FFFFFF;
    
}
.colorrr{
    text-align: center;
    background-color: #FFFFFF;
    
}
.colorrrr{
    text-align: center;
    background-color: #FFFFFF;
    
}
.back{
    background-color: #007bff;
}
.backk{
    background-color: #28a745;
}
.backkk{
    background-color: #dc3545;
}


/*Write your CSS code below and don't modify anything above*/
