/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

.A{
    background-color:lightblue ;
    height:80VH ;
    width:110VW ;
    text-align: CENTER;
    padding:30PX ;
}
.G{
    background-color:white ;
    height:20vh ;
    width:90vw ;
    border-radius:5px ;
    border-color:darkblue;
}
.v{
    font-size:12;
    color:#0071e3;
}
.b{
    background-color:#0071e3 ;
    border-color:#0071e3 ;
    color: white;
    font-size:10px ;
    border-radius: 3px;
}
.h{
    margin:2px ;
    border-color:#007bff;
}
