@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.a {
    background-color: #007BFF;
}

.b {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/81u981umz8n129n381yy89y1829.jpg');
    height: 55vh;
    width:65;
    background-size: cover;
    text-align: center;
    padding: 90px;
}

.c {
    text-align: center;
    font-size: 25px;

}

.f {
    color: #000000;
}

.e {
    background-color: #7FDBDA;
    height: 45vh;
    text-align: center;
    padding: 15px;
}

.p {
    background-color: #FFFFFF;
    height: 20vh;
    width: 25vh;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.pranav{
    background-color:#007BFF;
    height:20vh;
    color:#ffffff;
    padding:6px;
}

.o {
    text-align: center;
}

.m {
    text-align: center;
}

.n {
    text-align: center;
}

.q {
    border: solid #28a745;
    border-radius: 5px;
    color: #28a745;
}

.r {
    color: #818281;
}

.y {
    color: #FFC107;
}

.s {
    border: solid #dc3545;
    border-radius: 5px;
    color: #dc3545;
}

.v {
    color: #dc3545;
}

.z {
    border: solid #FFC107;
    border-radius: 5px;
    color: #FFC107;
}


.x {
    color: #28a745;
}

.d {
    font-size: 15px;
    text-align: center;
}

/*Write your CSS code below and don't modify anything above*/