@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.blue-bg {
    background-color: #0D5EA6;
    text-align: left;
}

.font {
    font-family: Roboto;
    padding: 20px;
}

.yellow-bg {
    background-color: #EAA64D;
}

.img-main {
    height: 70px;

}

.images {
    background-color: #ffffff;
    padding: 10px;
}

.paddings {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.nav {
    background-color: #EAA64D;
}

.btns {
    margin: 10px;
    padding: 10px;
}