@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat"

}

.container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Ice+Banner+Image.jpg");
    text-align: center;
    background-size: 350px;
}

.heading {
    font-family: "Caveat";
    color: #FFFFFF;
}

.para {
    font-family: "Roboto";
    color: white;
}

.button {
    font-family: "Roboto";
    color: white;
    background-color: #DC143C;
    border-color: #DC143C;
}
.container2{
    background-color:#F08787;
    text-align: center;
}
.heading2{
    font-family: "Caveat";
    color: #FFFFFF;
}
.para2{
    font-size: 7px;
}
.para3{
    font-size: 7px;
    color: #FFFFFF;
    font-family: "Caveat";
}
.container3{
    text-align: center;
    background-color: #F75270;
}
.heading3{
    font-family: "Caveat";
    color: #FFFFFF;
    background-color:#F75270 ;
}
.img{
    font-size: 20px;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/choco+fudge.jpg");
}
.container4{
    text-align: center;
    background-color: #F75270;
}
.heading4{
     font-family: "Caveat";
    color: #FFFFFF;
}
.para4{
    font-size: 7px;
}
.button4{
    color: #000000;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}