@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}
.bg4{
  background-color:#28A745;   
  height: 70vh;
}
.card1{
    background-color:#FFFFFF;
    height: 30vh;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 40vh;
}
.bg1 {
    background-color: #343A40;
    color: #FFFFFF;
}
.bg3{
    height:100vh;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
}
.bg2 {
    height: 100vh;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/image+(3).jpeg');
}
.btn1{
   background-color: #28A745;
    width: 160px;
    border-radius: 5px;
    border-width: 0px;
    color: white;
    text-align: center;
    
}
/*Write your CSS code below and don't modify anything above*/