@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.background {
    background-image: url('https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height: 50vh;

}

.line1 {
    font-size: 50px;
    font-weight: bold;
    color: white;


}

.line2 {
    color: white;
}

.line3 {
    background-color: green;
}

.bleh {
    background-color: green;
    height: 100vh;
}