/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container{
    text-align: center;
    background-color:lightblue ;
    
}
.primary{
    border-radius:10px ;
    margin-right: 10px;
    margin-left: 10px;
    background-color:#f8f9fa ;
    padding:10px ;
    border-color: #0071e3;
}
.success{
    border:blue;
    border-radius:10px ;
    margin-right: 10px;
    margin-left: 10px;
    background-color:white ;
    border-color:#0071e3;

    
}
.danger{
    border:blue;
    border-radius:10px ;
    margin-right: 10px;
    margin-left: 10px;
    background-color:white ;
    border-color:#0071e3;
}
.h2{
    color: #007bff;
}
.h{
  color:  #28a745;
}
.h1{
    color: #dc3545;
}
