@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.bhargav {
    background-color: #0d3b66;
    height: 40vh;
    font-family: "Roboto";
    size: "10px";
}

.m2 {
    color: white;
    font-family: "roboto";

}

.mahi {
    background-color: #faf0ca;
    color: #faf0ca;

}

.m5 {
    color: black;
}

.hari {
    background-color: #faf0ca;
    text-align: center;
}

.nani {
    background-color: #343a40;
    text-align: center;
    color: #ffffff;
}
