@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.navcolor {
    background-color: #343A410;
}

.box1 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg');
    background-size: cover;
    text-align: center;
    height: 400px;
    padding-top: 100px;
}

.head1 {
    color: white;
    font-style: italic;
    font-family: "Caveat";
    font-weight: bold;
}

.para1 {
    color: white;
}

.btn-primary {
    background-color: #6FE6FC;
    border-style: none;
}

.head2 {
    font-style: italic;
    font-family: "Caveat";
    font-weight: bold;
    text-align: center;
}

.box2 {
    padding: 40px;
    text-align: center;
    background-color: #A8F1FF;
}

.box2para2 {
    font-style: italic;
    font-family: "Caveat";
}

.box3 {
    padding-top: 25px;
    background-color: #4ED7F1;
    height: 600px;
}

.minibox {
    background-color: white;
    margin: 20px;
    text-align: center;
    height: 250px;
}

.minihead {
    font-weight: bold;
    font-size: 30px;
}

.miniimg {

    height: 100%;
    width: 100%;
}

.box4 {
    background-color: #A8F1FF;
    padding: 10px;
    padding-left: 45px;
    height: 400px;
}

.button2 {
    background-color: white;
    border-style: none;
    margin-left: 60px;
    border-radius: 5px;
}

.lastimg {
    margin: 10px;
    height: 200px;
    width: 400px;
}

.hey {
    padding-left: 60px;
}

.box5 {
    padding: 40px;
    text-align: center;
    background-color: #4ED7F1;
}

.box6 {
    background-color: #343A40;
    text-align: center;
    color: white;
    padding: 10px;
}