@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
.n{
    background-color: #faf0ca;
}
.a{
    background-color: #0d3b66;
    padding:10px;
}
.b1{
    background-color: #ee964b;
    color:#0d3b66;
    border: 0px;
    border-radius:5px;
}
.b{
    background-color: #f4d35e;
    border:0px;
    width:300px;
    border-radius: 10px;
    padding:10px;
    margin:10px;
}
.img1{
    border-radius: 10px;
    width:200px;
    height:180px;
}
.h{
    color:#0d3b66;
    font-weight: bold;
}
.c{
    background-color:#faf0ca ;
}


/*write your code below*/
