@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.background {
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;

}

.Headers {
    padding: 20px;
    padding-top: 400px;
    padding-left: 190px;
    margin: 10px;
    align-items: center;
    justify-content: center
}

.syc {
    color: #FFFFFF;
    margin: 20px;
    font-family: "Roboto";
    font-size: 50px;

}

.para {
    color: white;
    margin: 20px;
    font-family: "Roboto";
    font-size: 25px;
    padding-left: 150px;
    padding-top: 450;
}

.services {
    margin-left: 400px;

}
.img1{
    height:200px;
    width:200px;
    border-radius:150px;
}
.sec-1{
    background-color:#d1e5f9;
    margin:0px;
    padding:0px;
}
.container{
    display: flex;
}
.footer{
    background-color:#1b262c;
    height:50vh;
    width:100vw;
}