@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.navbar{
    background-color: #162415;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}
.navitems{
    color: white;
    display: flex;
    padding: 7px;
    margin: 5px;
}
.home{
    padding-right: 5px;
}
.navhead{
    color: white;
     padding: 7px;
     padding-top: 7px;
     align-items: center;
     font-size: bold;
}
.container{
    background-image: url('https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height: 80vh;
}
img{
    height: 400px;
    width: 170px;
   
}
.containerhead{
    padding-top:150px ;
    height: 20px;
    color: white;
    font-size:30px ;
}
.containerpara{
     padding-top:160px ;
    height: 10px;
    color: white;
    font-size:30px ;
}
.containerbtn{
    background-color: #34B229;
}
.bottom{
   
}
.bottom1{
    background-color:#38BF2C ;
    height: 250px;
    background-size: cover;
}
.bottom2{
    background-color:#34B229 ;
    height: 250px;
    background-size: cover;
}