@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav_btn{
    transform: rotate(90deg);
}
@media screen and (min-width:992px){
    ul{
        display: block;
    }
    .media{
        display: block;
    }
    .nav_btn{
        display: None;
    }
}