/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.heading1 {
    text-align: center;
}

.card1 {
    background-color: white;
    height: 20vh;
    width: 150vw;
    border-radius: 5px;
    border-color: #007bff;
    border-style: solid;
}

.container {
    background-color: lightblue;
    background-size: cover;
    height: 100vh;
    width: 200vw;
}
.hbn {
    color: #0071e3;
    text-align: center;
}
.pp {
    text-align: center;
}
.ccc {
    text-align: center;
    background-color: #007bff;
    color: #f8f9fa;
}
.hbp {
    color: #28a745;
    text-align: center;
} 
.cc {
    background-color: #dc3545;
}
.hbu {
    color: #dc3545;
    text-align: center;
}
.ccd {
    background-color: #dc3545;
}
.sas {
    text-align: center;
}
.cb {
    background-color: #28a745;
} 
.cr {
    background-color: #0071e3;
}
