@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.head1{
    font-weight: bold;
    /* font-size: 30px; */
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
     font-size: 30px;
     color: white;
     background-color: #008080;
     padding: 10px;
}
.head{
    color: white;
    font-size: 20px;
}
.cont1{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg');
    background-size: cover;
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section h1{
    color: white;
}
section p{
    color: white;
}
.cont2{
    background-color: #ccffff;
    background-size: cover;
    text-align: center;
    padding: 15px;
}
hr{
    height: 7px;
    width: 100px;
    background-color: #008080;
}
.pic{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
.h1{
    font-size: 20px;
}
footer{
    margin: 20px;
}
.footer1{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: center;
    
    padding: 10px;
}
.p{
    padding: 5px;;
}
.footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
@media (minwidth:992px){
    .aa{
        display: none;
    }
}