@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.pic{
    height:25vh;
    
    
}
.bt1{
    background-color:#FDEBD0;
    height:48px;
    width:128px;
}
.bt2{
    background-color:#000000;
    color: white;
     height:48px;
    width:128px;
}
.a{
    background-color: #DC143C;
}
.collapse{
    background-color: #007BFF;
}
.h{
    
}
.pic2{
    height:25vh;
}
.c{
    background-color: #f75270;
}
.d{

}