@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg-container{
    background-image: url("https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg");
    height: 50vh;
    width: 100vw;
    
}
.button{
     height: 30px;
     width: 120px;
     
}
.container{
    height: 60vh;
}