@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg {
    background-color: #f0f8ff;
    font-family: "Roboto";
    text-align: center;
    height: 190vh;
    width: 100vw;
}

.h {
    font-size: 40px;
    margin: 10px;
    padding: 10px;
}

.ss {
    text-align: center;
    margin: 10px;
}

.img {
    height: 320px;
    width: 510px;
    border-radius: 5px;
}

.b {
    margin: 5px;
    height: 40px;
    width: 170px;
    font-size: 13px;
}

.p {
    font-size: 25px;
    padding: 17px;

}