@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.d1 {
    background-color: #40677D;
}

.d2 {
    background-image: url("https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg");
    height: 200px;
    text-align: center;
    color: white;

}

.btn {
    background-color: ;
    font-weight: bold;
    padding: 10px;

}

.d3 {
    background-color: #C4DDDE;
}

.d4 {
    background-color: #558D97;
    text-align: center;
}

.h1 {
    font-size: 40px;
    font-weight: bold;
}