@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav-container {
    background-color: #162415;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-bars {
    height: 100px;
    color: #ffffff;
}
.head {
    color: white;
    font-family: Poppins;
    font-size: 25px;
}
body {
    margin: 0px;
}
.bg-container {
    background-image: url('https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height: 100vh;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-head{
    color:white ;
    font-family: Poppins;
    font-size: 25px;
    width: 200px;
}
.text-para{
    color: white;
    font-family: Poppins;
    font-size: 15px;
    width: 180px;
}
.btn{
    height: 30px;
    width: 140px;
    border-radius: 0px;
    border-width:0px;
    color: white;
    font-family: Poppins;
    background-color: #32AA27;
}
.main-container{
    height: 100vh;
    background-color: white;
    
}
.main-para{
    color: #32AA27;
    font-size: 15px;
    font-family: Poppins;
    font-weight: bold;
}
.main-head{
    color: black;
    font-size: 25px;
    font-family: Poppins;
}
.card1{
    height: 300px;
    width: 75%;
    background-color: white;
    margin: 50px;
}
.img1{
    height: 66%;
    background-size: cover;
    width: 100%;
}
.card-head{
    color: black;
    font-family: Poppins;
    font-size: 15px;
    font-weight: bold;
}
.card-para{
    color:gray ;
    font-family: Poppins;
    font-size: 10px;
    font-weight: bold;
}
.footer{
    background-color:black;
    height: 70vh;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-para{
    color: white;
    font-size: 16px;
    font-family: Poppins;
}
.section-para1{
    color: white;
    font-size: 16px;
    font-family: Poppins;
    text-decoration: underline;
}