@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.sam{
    justify-content:flex-end;
    color:#1976d2;
}
.container{
    background-image:url('https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg');
    text-align: center;
    color: #ffffff;
    background-size:cover;
}
.container-1{
    text-align: center;
    background-color: #d1e5f9;
}
.serv{
    text-align: center;
    color:#1976d2;
}
.test{
  height: 100px;
  width:100px;
  border-radius:50px;
  justify-content:flex-start;
}
.test-1{
  height: 100px;
  width:100px;
  border-radius:50px;
  justify-content:flex-end;
}
.test-2{
  height: 100px;
  width:100px;
  border-radius:50px;
  justify-content:center;
}