@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
    background-color: #1b262c;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.color1{
    color:#bf00ff;
}

.heading {
    padding: 20px;
    color: #ffffff;
}

.bgcontainer {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height: 100vh;
    background-size: cover;
    text-align:center ;
}

.bgcard {
    background-color: #f2ccff;
    padding: 20px;
    height: 100%;
    /* text-align:center ; */
}
.bb{
    color:white;
    padding:20px ;
}