/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.bg-container {
    background-color: lightblue;
    text-align: left;
    width: 1300px;
    margin: 20px;
}

.bg-container1 {
    background-color: white;
    border-color: #0071e3;
    border-style: bold;
    border-radius: 3px;
    text-align: center;
}

.button1 {
    background-color: #007bff;
    color: #f8f9fa;
}

.button2 {
    background-color: #28a745;
    color: #f8f9fa;
}

.button3 {
    background-color: #dc3545;
    color: #f8f9fa;
}
