/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}
.container{
    background-color:lightblue;
    height:100vh;
    width:100vw;
    padding:30px;
}
.card-container{
    background-color:white;
    
}
.heading2{
    color:#007bff;
}
.para2{
    color:#000000;
}
.button2{
    color:white;
    background-color:#007bff;
    border:0px;
    font-family:Caveat;
    margin:10px;
}
.sai{
    text-align:center;
    
}
.rakesh{
    border-style:solid;
    border-color:#0071e3;
    text-align:center;
}
.heading3{
    color:#28a745;
}
.para3{
    color:#000000;
}
.button3{
    background-color: #28a745;
    color:white;
    border:0px;
    font-family: Caveat;
    margin:10px;
}
.heading4{
    color:#dc3545;
}
.para4{
    color:#000000;
}
.button4{
    background-color: #dc3545;
    border:0px;
    font-family: Caveat;
    color:white;
    margin:10px;
}
