@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container-fluid {
    background-color: #007bff;
}
.padala{
    background-color: #007bff;
    width: 100px;
    color: #ffffff;
    border: 0px;
}
.bhargav{
    background-color: #ff5b5b;
    width: 100px;
    color: #ffffff;
    border: 0px;
}
.card{
    background-color: #FAA533;
}
.card3{
    height: 110px;
    width: 110px;
    
}
.card4{
    background-color:  #FAA533;
    height: 1000px;
}