@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.navbar {
    background-color: #1b252c;
    height: 8vh;
    width: 100vw;
    color: #FFFFFF;
    text-align: center;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;

}

.icon {
    margin-left: 20px;
    padding: 25px;
}

.container {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height: 60vh;
    width: 100%;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
}

.head {
    padding-top: 100px;
}

.line {
    color: #bf00ff;
    width: 80px;
    margin-top: 10px;

}