@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.main{
    background-image: url("https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg");
    height: 600px;
    width: 700px;
    background-size: cover;
}
.head{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 35px;
    font-weight: bold;
}
.para{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
}
.btn{
    color: #FFFFFF;
    font-family: Poppins;
    background-color: #38BF2C;
    font-size: 12px;
    width: 130px;
    height: 30px;
}
.pad{
    padding: 180px;
}
.nav{
    background-color: #38BF2C;
    height: 40px;
    width: 700px;
}
.first{
    background-color: #162415;
    background-size: cover;
    width: 700px;
}
.para1{
    color: #FFFFFF;
    font-size: 15px;
}
.head1{
    color: #FFFFFF;
    font-size: 25px;
}
.second{
    padding: 20px;
}
.head2{
    color: #FFFFFF;
    font-weight: bold;
}
.para2{
    color: #FFFFFF;
    font-weight: normal;
    font-size: 15px;
}
.hi{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}