@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}
.btn-holder{
    text-align: center;
}

.back {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pizza.jpeg');
    background-size: cover;
    width: 100vw;
    height: 450px;
    text-align: center;
    padding: 15px;

    color: white;
}

.btn1 {
    background-color: #9112BC;
    color: white;
    height: 40px;
    width: 150px;
    border: 0px;
}

/*Write your CSS code below and don't modify anything above*/
.h1 {
    font-family: Caveat;

}

.section2 {
    background-color: #E9B3FB;
    text-align: center;
    height: 200px;
    width: 100vw;
    padding: 10px;
}

.h2 {
    font-family: Caveat;
    font-weight: bold;
}

.section3 {
    background-color: #9112BC;
    text-align: Center;
    padding: 10px;
}

.img1 {
    height: 100px;
    width: 150px;
}

.h3 {
    font-family: Caveat;
    font-weight: bold;
}

.cards {
    background-color: white;
    margin: 10px;
}

.s3-text {
    margin: 5px;
}

.card-h {
    font-size: 15px;
    font-weight: bold;
}

.btn2 {
    background-color: white;
    border: 0px;
    color: black;
    height: 30px;
    width: 100px;
    border-radius: 5px;
}

.section4 {
    background-color: #E9B3FB;
    height: 200px;
    width: 100vw;
}

.img_holder {}

.img2 {
    height: 150px;
    width: 300px;

}

.holder {
    padding: 10px;
}

.s4-Text {
    margin: 10px;
}

.card {
    background-color: white;
    margin: 5px;
}

.p4 {
    font-size: 12px;
}

.section5 {
    background-color: #AE75DA;
    height: 200px;
}

.s5-Text {
    Text-align: Center;
}

.btn3 {
    height: 40px;
    width: 100px;
    border: 0px;
    border-radius: 5px;

}

.section6 {
    background-color: black;
}

.s6-Text {
    color: white;
}