/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/

.charan{
    background-color: lightblue;
    height:800px;
}

.head1 {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    font-family: "roboto";
}

.block{
    background-color: #ffffff;
    padding:10px;
    margin:10px;
    border-radius: 10px;
    border-color:#3b3b3b;
    border-style: solid;
    border-width: 2px;
}

.head2{
    font-size: 25px;
    text-align: center;
    font-family: "roboto";
}

.ram{
    padding:30px;
}
