@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.top{
    background-color: #343A40;
    height: 4vh;
    color: white;
    padding: 5px;
}
.topimg{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg');
    height: 30vh;
    text-align: center;
    color: white;
}
.topgr{
    background-color: #9BFAA9;
    height: 15vh;
    text-align: center;
    color: black;
    padding: 10px;
}
.today{
    background-color: #0ec930;
    height: 23vh;
    text-align: center;
}
.dis{
    background-color: #9BFAA9;
    height: 23vh;
    padding: 10px;
}
.last{
    background-color: #0ec930;
    height: 20vh;
    text-align: center;
    
}
.black{
    background-color: #000000;
    height: 5vh;
    text-align: center;
    color: white;
}
.t{
    font-family: "Caveat";
    font-size: 20px;
}
.container{
    background-color: white;
    height: 160px;
    width: 150px;
    padding: 5px;
}
.oo{
    height: 90px;
}
.hh{
    font-size: 12px;
}
.green{
    color: green;
    font-size: 10px;
}
.ee{
    height: 190px;
}
.nav{
    display: flex;
    position: fixed;
}
.right{
    margin-left: auto;
    display: flex;
    list-style: none;
}
