/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    font-family: 'Roboto';
    margin: 0px;
}

/*Write your CSS code below and don't modify anything above*/
.bg{
    background-color: #E3F2FD;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.box{
    background-color: #007bff;
    height: 10vh;
    margin: 10px;
    margin-top: 0px;
}
.m{
    margin: 10px;
}
.color{
    color: #ffffff;
}
.bg2{
    background-color: #f9f9f9;
    height: 60%;
    width: 100%;
    margin: 10px;
}
.img1{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
