@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.main-head {
    color: white;
    background-color: #1A2A19;
    font-size: bold;
    display: flex;
    flex-direction: row;
}