/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.bg-bg-container {
    background-color: #0018f9;
    text-align: center;
    
    padding-top: 20px;
    font-family: "Roboto";
}
.bg-bg-head {
    color: #FFFFFF;
}
.bg-bg-para {
    color: #f4f4f4;
    font-size: 10px;
}
.bg-container {
    padding: 20px;
    
}
.bg-head {
    color: #333;
    font-family: "Roboto";
}
.bg-para {
    color: #f4f4f4;
    font-family: "Roboto";
}
.button {
    margin: 2px;
}
footer {
    background-color: #333;
    color: #f4f4f4;
    text-align: center;
    font-size: 15px;
    
}

/*Write your CSS code below and don't modify anything above*/
