.head {
    height: 60px;
    width: 600px;
    background-color: #32AA27;
}

.heading {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.bg {
    background-image: url('https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg');
    height: 300px;
    width: 600px;
    background-size: cover;
    padding: 60px;
}

.c1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 30px;
}

.c2 {
    color: #FFFFFF;
    font-weight: bold;
}

.btn {
    color: #FFFFFF;
    background-color: #38BF2C;
    border-radius: 0px;
    padding: 2px;
}

.bg2 {
    height: 1150px;
    width: 600px;
    background-color: #162415;
    padding: 25px;
}

.h1 {
    color: #FFFFFF;
}

.h2 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    font-family: Poppins;
}

.img1 {
    height: 300px;
    width: 500px;
}

.end {
    height: 200px;
    width: 600px;
    background-color: #32AA27;
}

.a {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}

.b {
    color: #FFFFFF;
    text-align: center;
}

.c {
    color: #FFFFFF;
    text-align: center;
}

.d {
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
}
.e{
    color: #FFFFFF;
    text-align: center;
    text-decoration: underline;
}