@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.navbar{
    background-color: #808080;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
}
.nav-link{
    display: flex;
    flex-direction:row;
    gap: 10px;
    margin-top: 10px;
    justify-content:center;
    
}
@media (max-width:768px){
    .nav-link{
        display: none;
        background-image: ;
    }
}
.main-container{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.main-heading{
    color: #ffffff;
    margin-top: 0px;
    text-decoration-line: underline;
    text-decoration-color: red;
}

.line{
    color: #ffffff;
}
.service {
    background-color: #f7c1c1;
    background-size: cover;
    font-family:"Roboto";
    padding: 20px;
}
.img{
    height:200px; 
}
.boxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media (min-width:768px){
    .boxes{
        display: flex;
        flex-direction: row;
    }
    .img {
        height: 200px;
    }
}
.last{
    background-color: #ffffff;
    font-size: 15px;
    display: flex;
    flex-direction: row;
}
.links{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 20px;
}

@media (max-width:768px){
    .last{
        display: flex;
        flex-direction: row;
    }
}