@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
/*write your code below*/
.container{
    background-color: #0d3b66;
    text-align: center;
    color: white;
    
}
.btn {
    background-color: #ee964b;
}
.card {
    background-color: #f4d35e;
    width: 40vw;
    height: 40vh;
    padding: 12px;
    margin: 15px;
}
.container1 {
    background-color: #faf0ca;
    height: ;
    
    
        
    }
.imge {
    height: 25vh;
    width: 30vw;
}    
.hdng {
    font-size: 12px;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
