/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}




.bg-colour {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.div1 {
    border-style: solid;
    border-radius: 10px;
    border-color: #0071e3;
}

.heading {
    color: #007bff;
    text-align: center;
}

.paragraph {
    color: #000000;
    text-align: center;
}
.button{
    text-align: center;
}
.heading2{
    color: #28a745;
    text-align: center;
}
