@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
   color: ;
}

/*Write your CSS code below and don't modify anything above*/
.Heading{
    text-align: center;
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg");
    background-size: cover;
    color:#ffffff;
    font-size:10px;
}
.Head{
    font-family: "Caveat";
    font-size: 10px;
    font-weight: bold;
}
.Btn{
    background-color:#6fe6fc;
    border-width: 0px;
    color: #ffffff;
    border-radius: 6px;
}
.container{
    background-color:#a8f1ff ;
    font-size: 9px;
    color:#000000;
}
.container2{
    background-color:#6fe6fc;
    color:#000000;
    font-size: 10px;
}
.card{
    height: 150px;
    width: 75px;
    padding:5px;
}
.Cardhead{
   font-family: "Caveat";
    font-size: 6px;  
}
.Arrow{
    font-size: 10px;
    color:#4ed7f1 ;
}