@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.bg {
    background-color: black;
    height: 60px;

}

.line1 {
    color: white;
}

.bg-2 {
    background-color: #f2ccff;
    height: 500px;
    width: 500px;
}

.line2 {
    text-align: center;

}
.bg-3 {
    background-color: #FFFFFF;
    height: 60px;

}