@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ececec;
}
nav {
    text-align: center;
    color: #ececec;
}

.con {
    height: 100vh;
    background-size: cover;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641277/entro/assets/images/gallery1.jpg");
}

.nav-links {
    color: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
}

.h {
    color: lightblue;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
}

.n {
    color: white;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
}

.btn {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
}

.two {
    height: 100vh;
    background-size: cover;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641274/entro/assets/images/about_bg.jpg");
    text-align: center;
    display: flex;
}

.to {
    text-align: center;
    margin-top: 100px;
    order: 1;
}

.bt {
    color: #ffffff;
    border-width: 0;
    background-color: black;
    border-radius: 10px;
}

#im {
    text-align: center;
}

.tt {
    order: 2;
}

#kalupu {
    text-align: center;
    margin: auto;
}

.three {
    display: flex;
}

img {
    margin: 4px;
}

.four {
    display: flex;

}

.five {
    background-color: #161616;
    height: 100vh;
    width: 100vw;
}

.jj {
    text-align: center;
    color: white;
    margin-top: 20px;
    padding-top: 150px;
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
}

.ft {
    text-align: center;
    color: grey;
}

#name {
    color: grey;
    margin:3px;
}
#names{
    margin:4px;
    height:60px;
    width:300px;
    color:grey;
}
.btns{
      color: black;
    background-color: white;
    border-style: solid;
    border-radius: 50px;
    margin:9px;
    height:50px;
    width:100px;
}
#nam{
    width:500px;
    color:grey;
}
.sub{
    color:white;
    background-color:lightblue;
    height:70px;
    text-align: center;
}
#icon{
    color:black;
    background-color:lightblue;
    height:30px;
    width:30px;
    border-radius:30px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-self:center;
    margin:3px;
}
.para{
    color:grey;
    font-size:30px;
    text-align: center;
}
.hr{
    color:white;
    background-color:white;
}
.ek{
    display: flex;
    text-align: center;
    align-self:center;
    justify-content: center;
}
.rara{
    padding:10px;
    color:white;
    font-family: "Montserrat", sans-serif;
}
.navba{
    color:white;
    margin:4px;
}
@media all and (max-width:577){
    .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ececec;
}

nav {
    text-align: center;
    color: #ececec;
}

.con {
    height: 100vh;
    background-size: cover;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641277/entro/assets/images/gallery1.jpg");
}

.nav-links {
    color: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
}

.h {
    color: lightblue;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
}

.n {
    color: white;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
}

.btn {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
}

.two {
    height: 100vh;
    background-size: cover;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641274/entro/assets/images/about_bg.jpg");
    text-align: center;
    display: flex;
}

.to {
    text-align: center;
    margin-top: 100px;
}

.bt {
    color: #ffffff;
    border-width: 0;
    background-color: black;
    border-radius: 10px;
}

#im {
    text-align: center;
}
#kalupu {
    text-align: center;
    margin: auto;
}

.three {
    display: flex;
}

img {
    margin: 4px;
}

.four {
    display: flex;

}

.five {
    background-color: #161616;
    height: 100vh;
    width: 100vw;
}

.jj {
    text-align: center;
    color: white;
    margin-top: 20px;
    padding-top: 150px;
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
}

.ft {
    text-align: center;
    color: grey;
}

#name {
    color: grey;
    margin:3px;
}
#names{
    margin:4px;
    height:60px;
    width:300px;
    color:grey;
}
.btns{
      color: black;
    background-color: white;
    border-style: solid;
    border-radius: 50px;
    margin:9px;
    height:50px;
    width:100px;
}
#nam{
    width:500px;
    color:grey;
}
.sub{
    color:white;
    background-color:lightblue;
    height:70px;
    text-align: center;
}
#icon{
    color:black;
    background-color:lightblue;
    height:30px;
    width:30px;
    border-radius:30px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-self:center;
    margin:3px;
}
.para{
    color:grey;
    font-size:30px;
    text-align: center;
}
.hr{
    color:white;
    background-color:white;
}
.ek{
    display: flex;
    text-align: center;
    align-self:center;
    justify-content: center;
}
.rara{
    padding:10px;
    color:white;
    font-family: "Montserrat", sans-serif;
}
.navba{
    color:white;
    margin:4px;
}
    
}
@media mobile and (min-width:577){
    
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ececec;
}

nav {
    text-align: center;
    color: #ececec;
}

.con {
    height: 100vh;
    background-size: cover;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641277/entro/assets/images/gallery1.jpg");
}

.nav-links {
    color: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 300px;
}

.h {
    color: lightblue;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
}

.n {
    color: white;
    font-size: 100px;
    font-family: "Montserrat", sans-serif;
}

.btn {
    color: black;
    background-color: white;
    border-style: solid;
    border-radius: 20px;
}

.two {
    height: 100vh;
    background-size: cover;
    width: 100vw;
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735641274/entro/assets/images/about_bg.jpg");
    text-align: center;
    display: flex;
}

.to {
    text-align: center;
    margin-top: 100px;
    order: 1;
}

.bt {
    color: #ffffff;
    border-width: 0;
    background-color: black;
    border-radius: 10px;
}

#im {
    text-align: center;
}

.tt {
    order: 2;
}

#kalupu {
    text-align: center;
    margin: auto;
}

.three {
    display: flex;
}

img {
    margin: 4px;
}

.four {
    display: flex;

}

.five {
    background-color: #161616;
    height: 100vh;
    width: 100vw;
}

.jj {
    text-align: center;
    color: white;
    margin-top: 20px;
    padding-top: 150px;
    font-size: 80px;
    font-family: "Montserrat", sans-serif;
}

.ft {
    text-align: center;
    color: grey;
}

#name {
    color: grey;
    margin:3px;
}
#names{
    margin:4px;
    height:60px;
    width:300px;
    color:grey;
}
.btns{
      color: black;
    background-color: white;
    border-style: solid;
    border-radius: 50px;
    margin:9px;
    height:50px;
    width:100px;
}
#nam{
    width:500px;
    color:grey;
}
.sub{
    color:white;
    background-color:lightblue;
    height:70px;
    text-align: center;
}
#icon{
    color:black;
    background-color:lightblue;
    height:30px;
    width:30px;
    border-radius:30px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-self:center;
    margin:3px;
}
.para{
    color:grey;
    font-size:30px;
    text-align: center;
}
.hr{
    color:white;
    background-color:white;
}
.ek{
    display: flex;
    text-align: center;
    align-self:center;
    justify-content: center;
}
.rara{
    padding:10px;
    color:white;
    font-family: "Montserrat", sans-serif;
}
.navba{
    color:white;
    margin:4px;
}
}