@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.p1{
    background-color: #FAA533;
    font-size: 15px;
    padding: 25px;
    
    font-family: Roboto;
    height: 50vh;
}
.back{
    background-color: #007BFF;
}
.p2{
    background-color: #007bff;
    color: #ffffff;
    padding: 3px;
}
.p4{
    background-color: #ff5b5b;
     color: #ffffff;
    padding: 3px;
}
.p7{
    background-color: #EF7722;
    height: 50vh;
    font-family: Roboto;
    font-size: 15px;
    padding: 10px;
}
.sub-bg{
    background-color: #ffffff;
    height: 30vh;
    width: 40vh;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    
}
.p8{
    background-size: cover;
}