@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
.a{
    background-color: #f0f8ff;
    height:190vh;
    width:200vw;
}
.h{
    font-family: "roboto";
    color:blue;
    font-size: 30px;
    padding:20px;
    text-align: center;
    font-weight: bold;
}
.img{
    height:40vh;
    width:70vw;
    border-radius:19px;
    padding:10px;
    
}
.p{
    font-family: "roboto";
    color:black;
    font-size: 20px;
    padding:10px;
    text-align: center;
}
.b{
    color:white;
    background-color: blue;
    border-radius: 10px;
    height:5vh;
    width:40vw;
    padding:2px;
    text-align: center;
    margin:3px;
}
.d{
    color:white;
    background-color: red;
    border-radius: 10px;
    height:5vh;
    width:40vw;
    padding:2px;
    text-align: center;
    margin:3px;
}
.e{
    color:black;
    background-color: yellow;
    border-radius: 10px;
    height:5vh;
    width:40vw;
    padding:2px;
    text-align: center;
    margin:3px;
}