@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.top {

    background-color: #32AA27;
    color: #ffffff;
}

.che {}


.lsg {
    color: #32AA27;

}

img {
    height: 300px;
    width: 250px;
}

.kkr {
    color: #32AA27;
    font-family: Poppins;
}