@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.w {
    color: white;
}

.s1 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg');
    text-align: center;
    background-size: cover;
    padding: 10px;
}

.s11 {
    font-family: "Caveat";
    padding: 5px;
}

.s12 {
    font-family: "Roboto";
    padding: 5px;
}

.b1 {
    background-color: #A8F1FF;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
}

.s2 {
    background-color: #A8F1FF;
    text-align: center;
    color: #000000;
    padding: 10px;
    padding-top: 10px;
}

.s21 {
    font-family: "Roboto";
}

.s22 {
    font-family: "Caveat";
}

.s31 {
    background-size: cover;
}

.s32 {
    background-color: #6fe6fc;
    padding: 10px;
}

.s33 {
    text-align: center;

}

.s34 {
    color: #6fe6fc;
}

.s35 {
    background-color: white;
    margin: 5px;
    padding: 10px;
}

.s4 {
    text-align: center;
}

.s41 {
    background-color: #6fe6fc;
}

.s42 {
    background-color: #343a40;
    color: white;
}

.s5 {
    background-color: #A8F1FF;
}