@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.main-card {
    height: auto;

}

.card1 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg');
    height: 30vh;
    color: white;
    font-family: Caveat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.but {
    width: 100px;
    color: white;
    background-color: #0ec930;
    text-align: center;
}

.b {
    text-align: center;
}

.card2 {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    background-color: #9BFAA9;
    height: auto;
}

.pa {
    font-family: Caveat;
    font-size: 40px;
    font-weight: bold;
}

.card3 {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    background-color: #0ec930;
    height: auto;
    padding: 50px;

}

.image-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.img {
    background-color: white;
    height: 330px;
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.image {
    width: 90%;
}

.card4 {

    display: flex;
    align-content: center;
    justify-content: center;

    color: black;
    background-color: #9BFAA9;
    height: auto;
    padding: 50px;
}

.imgg {
    margin-right: 20px;

}

.image2 {
    width: 90%;
}


.card5 {
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    background-color: #0ec930;
    height: auto;
}

.footer {
    background-color: #343A40;
    height: 5vh;
    text-align: center;
    color: white;
}
.one{
    text-align: center;
}
