@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/

.d {
    color:blue;
    text-align:center;
    padding:5px;
}

.d1{
   text-align:center;
   font-family:"Roboto";
}

.d2{
    text-align:center;
    font-family:"Roboto";
}

.d3{
    text-align:center;
    font-family:"Roboto";
}

.i {
    background-size:cover;
    border-radius:20px;
    border-width:40px;
}

.i1 {
    background-size:cover;
    border-radius:20px;
    border-width:40px;
}

.i2{
    background-size:cover;
    border-radius:20px;
    border-width:40px;
}

.dd{
    background-color:#f0f8ff;
    padding:200px;
}

.y{
    background-color:orange;
}


.b {
    padding:10px;
}

.h {
    background-color:#f0f8ff;
}

.m{
    background-color:#f0f8ff;
    padding:70px;
}