@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    font-family: "Roboto";
}
#navbar{
    background-color:#1b262c;
    height:80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navoptions{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding-right: 10px;
}
.navname{
    color:#FFFFFF;
    font-family: "Roboto";
}
.home{
    padding: 15px;
    color:#FFFFFF;
    text-decoration: underline;
}
.services{
    padding: 15px;
    color:#FFFFFF;
    padding-right:10px;
}
#mainpage{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}