@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
    font-family: Poppins;
}

.row {
    background-color: #20341E;
    color: #FFFFFF;
    padding: 10px;
    font-family: Poppins;
}

.bg-image {
    font-family: Poppins;
    background-color: #162415;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

.btn-green {
    color: #FFFFFF;
    background-color: #32AA27;
    border: solid;
    border-block-color: black;
}

.hello {
    color: #32AA27;
    padding: 5px;
}

.world {
    color: black;

}

.bg-text {
    background-color: lightyellow;
}

.card-1 {
    text-align: center;
}

.card-2 {
    text-align: center;
}

.card-3 {
    text-align: center;
}

.new {
    background-color: #1A2A19;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
}

.ashrith {
    text-align: center;
    color: #FFFFFF;
    background-color: #1A2A19;

}