@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.div1{
    background-color: #343A40;
    padding: 20px;
    text-align: left;
}
.div2{
    background-color: black;
}
.h1{
    color: white;
    font-size: 10px;
    padding: 25px;
    font-family: Roboto;
}
.p1{
    color: white;
    font-size: 10px;
    
}
.img{
    height: 10vh;
    margin-top: 20px;
}
.btn1{
    background-color: white;
    color: black;
    border: none;
}
.btn2{
    background-color: black;
    color: white;
    border: none;
}
.div3{
    background-color: black;
    color: white;
}
.img2{
    height: 5vh;
}
.div4{
    background-color: #1E1E1E;
    text-align: center;
}
.h2{
    font-size: 20px;
    font-family: Roboto;
}