@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.photo {
    background-color: #FFE0CC;
    background-size: cover;
    padding-top: 90px;
    padding-left: 10px;
}

.pic2 {
    height: 150px;
    width: 100px;

}

.head {
    color: #FFFFFF;
}

.vut1 {
    background-color: #0761F2;
    color: #FFFFFF;
    border: 0px;
    padding: 8px;
}

.vut2 {
    background-color: #FF7043;
    padding: 8px;
    color: #FFFFFF;
    border: 0px;

}
.head{
    color: #FFFFFF;
}
.sec1 {
    background-color: #FFFFFF;

    text-align: center;
    background-size: cover;
}

.photo2 {
    background-color: #0761F2;
    background-size: cover;
    height: 100%;
}