@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.nav{
    background-color: #2c3E50;
   /*  color: #ffffff; */
}
.main-card{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg");
    height: 60vh;
    background-size: cover;
}
.main-heading{
    color: #ffffff;
    font-size: 30px;
    font-family: Roboto;
    /* text-align: center; */
    
}
.card-content{
    text-align: center;
    padding-top: 200px;
}
.para{
    color: #ffffff;
    font-size: 20px;
    /* text-align: center; */
    font-family: Roboto;
}
.button1{
    border-width: 0px;
    background-color: #17A2B8;
    color: #ffffff;
    width: 100%;
    align-self: center;
   /*  text-align: center; */
}
.main-card2{
    background-color: #2C3E50;
    height: 60vh;
    background-size: cover;
}
.heading1{
    color: #ffffff;
    font-size: 30px;
    font-family: Roboto;
    text-align: center;
    padding-top: 30px;
}
.bottom-card{
    background-color: #ffffff;
    border-radius: 10px;
    border-style: solid;
    height: 300px;
    width: 400px;
    
}
.card2{
    text-align: center;
    padding: 10px;
    margin: 30px;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.b2{
    color: #28A745;
    background-color: transparent;
    height: 50px;
    width: 90px;
    border-color: #28A745;
    align-self: center;
}