@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.navbar {
    background-color: #343A40;
    height: 50px;
    width: 100vh;
    c
}

.back {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
    text-align: center;
    height: 50vh;
    width: 100vh;
    background-size: cover;
}

.head {
    color: white;
    font-family: Roboto;
    font-size: 30px;
    
}

.para {
    color: white;
    font-size: 20px;
}

.button {
    height: 36px;
    width: 136px;
    background-color: #28A745;
    border-width: 0px;
    text-align: center;
    color: white;
}

.card-cont {
    background-color: #28A745;
    height: 60vh;
    width: 100vh;
    text-align: center;

}

.card-cont1 {
    background-color: white;
    text-align: center;
    height: 35vh;
    width: 30vh;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

.button1 {
    height: 36px;
    width: 136px;

    border-color: #FFC107;
    border-style: solid;
    color: #FFC107;
    background-color: transparent;
}

.button2 {
    height: 36px;
    width: 136px;

    border-color: #dc3545;
    border-style: solid;
    color: #dc3545;
    background-color: transparent;
}

.button3 {
    height: 36px;
    width: 136px;

    border-color: #007BFF;
    border-style: solid;
    color: #007BFF;
    background-color: transparent;
}

.box {
    background-color: #343A40;
    height: 30px;
    width: 100vh;
}
.bi1{
    color:#FFC107;
}
.bi2{
    color:#dc3545;
}
.bi3{
    color: #007BFF;
}