@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.img{
    height: 60px;
    width:60px;
}
.containe{
    background-image:url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642096/atlas/assets/img/banner-bk.jpg');
    color: #ffffff;
    text-align: center;
    font-family: "Roboto",sans-serif;
}
.head{
    font-weight: bold;
    font-size: 44.5px;
}
.button{
    background-color: #1b998b;
    border-width: 0px;
    border-radius: 19px;
    padding: 7px;
    font-weight: bold;
    margin-bottom: 20px;
}
.head1{
    font-weight: bold;
}
.head2{
    font-size: 25px;
    font-weight: normal;
}
.para1{
    font-size: 16px;
}
.img2{
    height: 200px;
    width: 290px;
}
.button1{
    background-color: #162447;
    color: #ffffff;
    border-radius: 20px;
    padding: 9px;
    font-weight: bold;
}
.head3{
    font-size:25px;
    font-weight: normal;
}
.head4{
    font-size: 15px;
    font-weight: bold;
}
span{
    font-size: 70px;
}
.para2{
    font-size: 18px;
}
.button2{
    background-color: transparent;
    border-radius: 25px;
    padding: 9px;
    width:100px;
}
.container3{
    background-color: #ffffff;
}
.button3{
    background-color: #1b998b;
    border-radius: 25px;
    padding: 9px;
    width:100px;
    border-width: 0px;
    margin: 20px;
}
.cards{
    background-color: #1f4068;
    color: #ffffff;
}
.container4{
    background-color: #d9edf7;
}
.img3{
    width: 120px;
    height: 60px;
}
.head5{
    font-weight: bold;
    color: #ffffff;
}
.container5{
    background-color: #162447;
    color: #ffffff;
}
.para4{
    color: #1b998b;
}
.tool{
    background-color: transparent;
    border-color: #1b998b;
    width: 100%;
}
.tool1{
    background-color: transparent;
    border-color: #1b998b;
    width: 100%;
    padding: 20px;
}
.container6{
    background-color: #162447;
}
.head6{
    color: #ffffff;
    font-size: 20px;
}
.fab{
    background-color: #ffffff;
    border-radius: 30px;
    padding: 15px;
    margin: 10px;
}