.container-fluid{
    background-color: #000000;
}
.niat{
    background-color: #343A40;
    padding: 10px;
}
.a1{
    font-size: 20px;
    color: #ffffff;
    font-family: Roboto;
}
.a2{
   color: #ffffff;
   font-size: 15px;
}
.a3{
    background-color: #ffffff;
}
.a4{
    background-color: #000000;
}
.image1{
    height: 150px;
    width: 100px;
    background-size: cover;
}
.back{
    background-color: #000000;
    color: #ffffff;
}
.niab{
    color: #ffffff;
}
.image3{
    height: 150px;
    width: 100px;
}
.image2{
    height: 150px;
    width: 100px;
}
.image4{
    height: 150px;
    width: 100px;
}