@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg{
    background-image: url("https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg");
    /* height:500px; */
    background-size: cover;
    background-color: transparent;
}
*{
    font-family: Poppins;
}
.card:hover{
    transform:scale(1.05) ;
    
}
.card:hover h2{
    color:#32AA27;
}
.images{
    display: flex;
}

@media (max-width:768px){
    .images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
  
}