@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.container {
    background-color: #343A40;
}

.c {
    color: #FFFFFF;
}

.w {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
}

.h {
    font-family: Caveat;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.p {
    font-family: Roboto;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;
}

.b {
    background-color: #0ec930;
    padding: 20px;
}

.f {
    background-color: #9BFAA9;
}

.n {
    color: #343A40;
    font-family: Caveat;
    text-align: center;
}

.nav {
    text-align: center;
    color: #343A40;
    font-family: Roboto;

}

.nav {
    text-align: center;
}
.bc{
      background-color: #0ec930;
}
.re{
    background-color: #9BFAA9;
}
.gama{
    background-color: #0ec930 ;
}
