@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.U {
    background-color: #f0f8ff;
    background-size: cover;
    text-align: center;
    padding: 25px;
    font-size: 10px;
}

.H {
    color: blue;
}

.image {
    border-radius: 5px;
    height: 150px;
    width: 250px;
}

.btn-blue {
    color: white;
    border-width: 0px;
    background-color: blue;
    border-radius: 5px;
}

.btn-green {
    color: white;
    border-width: 0px;
    background-color: green;
    border-radius: 5px;
}

.btn-orange {
    color: black;
    border-width: 0px;
    background-color: orange;
    border-radius: 5px;
}

/*Write your CSS code below and don't modify anything above*/