@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.coursel{
    background-image: url("https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
    height: 40vh;
    text-align: start;
    padding-top: 80px;
    
}
.footer{
    background-color: #20341E;
    text-align: center;
    color: #ffffff;
}
.navvvv{
    text-align: right;
}