/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.mainhead {
    text-align: center;
}

.container {
    background-color: lightblue;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 10px;
    margin: 10px;
}

.bottomcard {
    background-color: white;
    background-color: #f8f9fa;
    height: 150px;
    width: 100vw;
    border-style: solid;
    text-align: center;
    margin: 5px;
    border-color: #0071e3;
    border-radius: 5px;
}

.blue {
    color: #007bff;
}

.green {
    color: #28a745;
}

.red {
    color: #dc3545;
}

.button1 {
    background-color: #007bff;
}

.button2 {
    background-color: #007bff;
}

.button1 {
    background-color: #007bff;
}
