@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.fir-bg {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pexels-suvan-chowdhury-37305-1580085.jpg');
    background-size: cover;
    height: 50vh;
    width: 100vw;
}

#Diwali-heading {
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
}
.Diwali-para{
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
}
.Diwali-button{
    
    color: #FFFFFF;
    
}
.sec-bg{
    background-color: #FBDB93;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center;

}
#fir-con{
    background-color: #FFFFFF;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    
}
.con-head{
    text-align: center;
    font-size: 25px;
}
.con-btton-fir{
    background-color: #17A2B8;
    color: #FFFFFF;
}