.bg-color {
    background-color: #FAA533;
}

.bg-color2 {
    background-color: #EF7722;
}

.niaa {
    padding: 50px;
}
.niac{
    padding: 10px;
}
.niad {
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.niae{
        border-radius: 5px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.niaf{
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
.image1 {
    height: 25vh;
    width: 30vh;
    padding: 30px;
}

.image2 {
    height: 10vh;
    width: 10vh;
}
.image3{
     height: 10vh;
    width: 10vh;
}
.image4{
    height: 10vh;
    width: 10vh;
}
.a {
    font-size: 30px;
    font-family: Roboto;
}

.a2 {
    font-size: 20px;
    font-family: Roboto;
}

.a3 {
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    height: 35px;
    width: 130px;
}

.a4 {
    border-radius: 3px;
    background-color: #ff5b5b;
    color: white;
    height: 35px;
    width: 130px;
}
.c1{
    font-size: 30px;
    font-family: Roboto;
}
.d1 {
    font-size: 15px;
    font-family: Roboto;
}
.e1{
    font-size: 15px;
    font-family: Roboto;
}
.f1{
    font-size: 15px;
    font-family: Roboto;
}
.navbar{
    background-color: #007bff;
}