@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.nav{
    background-color: #3d3d3d;
    color:white;
    padding:5px;
}
.li{
    color:white;
    text-decoration: none;
    padding:5px;
}
.li:hover{
    text-decoration: underline;
}
.div{
    text-align: right;
}
.back{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg");
    background-size: cover;
    height:100vh;
}
.h1{
    padding:20px;
    font-size: 50px;
    font-weight: bold;
}
.p1{
    padding:20px;
    font-size: 20px;
    font-weight: bold;
}
.hr{
    color:white;
    padding-left:20px;
    font-size: 50px;
    font-weight: bold;
}
.pg2{
    text-align: center;
    background-color: #e5e5e5;
}
.img{
    height:150px;
    width:150px;
    border-radius: 100px;
}
.card{
    height:300px;
    border-radius: 5px;
    margin:35px;
    background-color: white;
    padding:20px;
}
.h{
  font-size:20px;
  text-align: left;
}
.nav2{
    background-color: #3d3d3d;
    color:white;
    padding:20px;
}
.p{
    text-align: left;
}