@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.m-head {
    font-size: 20px;
    color: white;
    font-weight: bold;
    padding: 20px;
}

.bg1 {
    background-color: #466F87;
}

.bg2 {
    background-image: url('https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    padding: 100px;
}

.head {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.para {
    color: white;
}

.btnn {
    color: white;
    background-color: #40677D;
    height: 40px;
    width: 120px;
    margin: 10px;
}

.bg3 {
    padding: 40px;
}

.bg4 {
    padding: 30px;
}

.head2 {
    font-size: 20px;
    color: #558D97;
    font-weight: bold;
}

.head3 {
    color: black;
    font-weight: bold;
    font-size: 40px;
}

.img {
    height: 200px;
    width: 190px;
}