@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.img1 {
    width:500px;
    height:400;
}
.part {
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Ice+Banner+Image.jpg");
    height:300px;
    width:500px;
    padding:50px;
    
}
.bg-container {
    text-align: center;
    
    
}
.img-word {
    font-family:Caveat;
    color:white;
    
}
.para-img {
    font-family: Roboto;
    color:white;
    
}
.button-img {
    background-color:#DC143c ;
    color:#FFFFFF;
    border-radius:4px solid;
    border-color:#DC143c;
   
}
.next-part {
    background-color:#F75270;
}
.text {
    text-align: center;
    color:white;
    font-family:Caveat;
}
.text-para {
    text-align: center;

    font-family:Roboto;
}
.text-para2 {
    text-align: center;
    
    font-family:Roboto;
}
.text-para3 {
    text-align: center;
    color:white;
    font-family:Caveat;
} 
.part3 {
    background-color: #Dc143C;
    width: 700px;
}
.part3-heading {
    text-align: center;
    color:white;
    font-family: Caveat;
}
.container {
   display: flex;
   padding:20px;
   
   
}
.container-img{
    background-color: white;
    height:200px;
    width:200px;
}
.container-img1{
    height:100px;
    width:200px;
   
}
.container-heading {
    font-size: 30px;
    text-align: center;
    font-family: Roboto;
}
.container-para {
    text-align: center;
    
}
.container-para2 {
    text-align: center;
    color:#DC143C;
}