@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
header{
   color:#FFFFFF;
   height:100px;
   background-color:#008080;
    font-family:'Roboto';
    display:flex;
    display-direction:col;
    margin-bottom:0px;
}
.toggle{
    margin-left:10px;
    padding:2px;
    margin-right:15px;
}
.orderedlist{
    color:#FFFFFF;
    font-family:'Roboto';
    display: flex;
    display-direction:col;
    gap:2px;
    font-weight:bold ;
    font-size:16px ;
    margin-left :30px;
   margin-top:30px;
}
.mainconatiner{
    margin-top:1px;
    height:100vh;
    background-image:url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg');
    background-size:cover;
    color:#FFFFFF;
}
.heading{
    font-family:'Roboto' ;
    display:flex;
    justify-content:center ;
   padding-top:50px;
}
.bar{
    background-color:#008080;
    height:10px;
    width:100px;
   justify-self:center ;
}
p{
    font-family:'Roboto' ;
    display:flex;
    justify-content:center ;
   
}
.second{
    height:100vh;
    background-color:#ccffff;
    color:#000000;
      font-family:'Roboto' ;
     justify-content:center ;
    
     }
h1{
    justify-self:center ;
}
img{
    border-radius:100%;
   height:150px;
   width:150px;
   display:flex ;
   justify-items: center;
}
.cart{
    display:flex;
    display-direction:col;
     margin-left:30px;
     justify-content:center ;
}
.cart2{
    margin-left:20px;
      justify-self:center ;
}
.carthead{
    font-size:25px ;
}
.subcart{
    height:300px;
    width:400px;
}
footer{
    display:flex;
    display-direction:col; 
}
.footp1{
      font-family:'Roboto' ;
      background-color:#FFFFFF;
      
}
.foot{
       font-family:'Roboto' ;
      background-color:#FFFFFF;
      
}