@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    font-family: "Poppins";
}
.heropage{
    background-image: url('https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height: 80vh;
}