@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");

.container {
    height: 310vh;
}

.card1 {
    background-color: #808080;
    height: 18vh;
    margin: 1px;
    text-align: center;
    padding: 20px;
}

.header1 {
    color: #FFFFFF;
    font-size: 20px;
}

.card2 {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg");
    background-size: cover;
    height: 80vh;
    margin: 1px;
    text-align: center;
    padding: 20px;
}

.header2 {
    color: #FFFFFF;
    font-size: 25px;
    font-family: "Caladea";
    margin: 5px;
    margin-top:75px;
    font-weight: bold;
}

.para2 {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
}

.card3 {
    background-color: #f7c1c1;
    height: 120vh;
    padding: 30px;
    text-align:center;
}

.smcard1 {
    background-color: #f7c1c1;
    width:150px;
}

.img1 {
    height: 150px;
    width: 150px;
    border-radius: 3px;

}

.smhd1 {
    font-family: "Caladea";
    font-size: 20px;
}

.smpr1 {
    font-size: 10px;
}
.header5{
    font-size:20px;
}