@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.h-center {
    font-size: 35px;
}

.bg-image {
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    height: 40vh;
    width: 90vw;
    background-size: cover;
    text-align: center;
}

.h-center1 {
    font-size: 40px;
    text-align: center;
    color: white;
    padding-top: 80px;
    font-style: bold;
}

.h-center2 {
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 30px;
}

.light {
    background-color: #d1e5f9;
    height: 150vh;
    width: 90vw;
}

.h-center3 {
    text-align: center;
    padding-top: 20px;
    font-family: "Roboto";

}

.light1 {
    height: 300px;
    width: 200px;
    padding-left: 20px;
    padding-top: 30px;
}

.image {
    height: 70px;
    width: 70px;
    border-radius: 100px;
}

.custhom {
    font-size: 20px;
}

.clothingStore {
    background-color: #000000;
    height: 30vh;
    width: 84vw;
    padding-top: 40px;
    padding-left: 30px;
}

.clothing1 {
    font-size: 25px;
    color: white;
}

.clothing2 {
    color: white;
}
.home{
    padding-left:115px;
    font-family: "Roboto";
    font-size:20px;
}
.services{
    padding-left:15px;
    font-family: "Roboto";
    font-size:20px;
}