@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.cybg {
    background-color: #17A2B8;
}

.ybg {
    background-color: #F6FF99;
}

.gbg {
    background-color: #A7E399;
}

.wbg {
    background-color: #ffffff;
}

.bbg {
    background-color: #000000;
}

.bt {
    color: #000000;
}

.wt {
    color: #ffffff;
}

.font {
    font-family: Roboto;
}

.size {
    height: 18vh;
}

.gcar {
    height: 40vh;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.btn {
    width: 18vh;
}

.spad {
    padding: 10px;
}

.pad {
    padding: 20px;
}

.tpad {
    padding-top: 5px;
}

.size2 {
    height: 5vh;
    width: 10vw;
}

.card {
    width: 30vh;
}

.bpad {
    margin-bottom: 5vh;
}