@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.top-img {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tiffin+bg+image.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    height: 65vh;
    padding: 20px;
}

h1 {
    font-family: "Caveat";
    font-size: 50px;
    font-weight: bold;
}

p {
    font-family: "Roboto";
    font-size: 20px;
}

.explore-menu {
    background-color: #EB5B00;
    width: 200PX;
    height: 50PX;
    color: white;
    border-width: 0px;
    border-radius: 5px;
}

.our-story {
    background-color: #FFDE63;
    text-align: center;
    padding: 20px;
    color: black;
}

.todays-menu {
    background-color: #FFBC4C;
    text-align: center;
    padding: 30px;
    color: black;
}

.card {
    background-color: white;
    text-align: center;
    padding: 10px;
}

.menu-imgs {
    height: 270px;
    width: 355px;
}

.view-more {
    color: #FFDE63;
}

h2 {
    font-weight: bold;
}

.offers-img {
    width: 100%;
}

.footer{
    background-color: #343A40;
    color: white;
    text-align: center;
    padding: 20px;
}