@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/dusear+1.jpg');
    background-size: cover;
    height: 300px;
    text-align: center;
    color: #ffffff;
    padding: 50px;
    font-family: Roboto;
    
}
.h{
    background-color: #dc3545;
    color: #ffffff;
}
.container-fluid{
    background-color: #dc3545;
    color: #ffffff;
}
.muru{
    text-align: center;
    background-color: #F08787;
    height: 500px;
    
}
.muru1{
    color: #000000;
    padding: 30px;
    margin: 30px;
    background-color: #FFFFFF;
    
    
}
.h2{
    color: #dc3545;
    border-style: solid #dc3545;
}
.muru4{
    color: #000000;
    padding: 30px;
}