@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.con{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg');
    background-size: cover;
    height: 500px;
}

.con1{
    padding-top: 200px;
    padding-left:25px;
}
.h1{
    font-size: 40px;
}
.p1{
    font-size: 15px;
}
.serve{
    background-color: #e5e5e5;
    padding-top: 10px;
    height: 730px;
}
.head{
    text-align: center;
}
.art1{
    text-align: center;
    background-color: #fff;
    margin:20px;
    height: 300px;
}
.img{
    border-radius:100px;
    width: 150px;
    height: 150px;
}
.h2{
    font-size: 20px;
}