@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.h{
    background-color: #1E1E1E;
    color: #ffffff;
}
.s{
  color: white; 
  font-family: Roboto;
  background-color: #343A40;
}
.m1{
  padding: 2px;
  height: 200px;
  width: 200px;
}
.m2{
   padding: 2px; 
   height: 90px;
   width: 90px;
}
.d{
    background-color: #1E1E1E;
    border-radius: 10px;text-align: center;
  
    
}
.s1{
    background-color: #000000;
    color: #ffffff;
}
.b2{
    background-color: #1E1E1E;
    color: #ffffff;
   width: 100px;
}
.b1{
    background-color:#ffffff ;
    color: #000000;
}
/*Writpe your CSS code below and don't modify anything above*/