@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: green;
    height: 10vh;
    position: fixed;
    width: 100vw;
    text-align: center;
    margin: auto;
    
}
a{
    text-decoration: none;
    font-family: "Roboto";
    font-size: 20px;
    background: center;
    text-align: center;
    margin: auto;
}
.container{
    
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-content{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg');
    background-size: cover;
    height: 60vh;
   justify-content: center;
   flex-direction: column;
   display: flex;
   align-items: center;
  
}
.middle{
    color: #ffffff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";

    text-align: center;
}
.head{
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.pa{
    color: green;
    font-weight: bold;
    font-size: 30px;
}
.cont_1{
    background-color: #d4ffcc;
    height: 70vh;
    padding: 10px 50px 100px;

}
.h-1{
    text-align: center;
    font-family: "Roboto";
}
.card{
   background-color: #ffffff;
    height: 30vh;
    width: 40vw;
    gap: 20;
   
  
}
.card-1{
    background-color: #ffffff;
    height: 30vh;
    width: 40vw;
}
.imge{
   text-align: center;
    height: 10vh;
    border-radius: 50vh;
    margin: auto;
  
}
.he{
    gap: 30;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 20;
}
.two{
    display: flex;
    flex-direction:row;
    
}
.last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cl{
    display: flex;
    flex-direction: row;
    font-size: 8px;
    font-family: Roboto;
    
    font-weight: Bold;
}