@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.bg{
    background-color: #FFDE63;
}
.h1{
    color: #FFFFFF;
    font-family: Caveat;
    text-align: center;
}
.card{
    background-color: #FFF0CE;
    width: 100%;
}
.card2{
    background-color: #FFFFFF;
    width: 100px;
    height: 200px;
}
.img{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/food+banner+image.jpg');
}
.para{
    color: #FFFFFF;
    font-family: Roboto;
    text-align: center;
}
.h2{
    color: #FF0000;
    font-family: Roboto;
    text-align: center;
    font-family: Caveat;
}
.bh{
    background-color: #FFDE63;
}
.bt{
    background-color: #FFF0CE;
    border: #FF0000;
}
.tw{
    height: 100px;
    width: 200px;
}