/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.you {
    background-color: lightblue;
    background-size: cover;
    text-align: center;
    padding: 20px;
}

.iphone {
    background-color: #f8f9fa;
    border: solid 2px #0071e3;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.pro {
    color: #007bff;
}

.pro1 {
    color: #28a745;
}

.pro2 {
    color: #dc3545;
}

.dis {
    background-color: #007bff;
    color: #FFFFFF;
    border-width: 0px;
}

.dis1 {
    background-color: #28a745;
    color: #FFFFFF;
    border-width: 0px;
    padding: 10px;
    bord
}

.dis2 {
    background-color: #dc3545;
    color: #FFFFFF;
    border-width: 0px;
}
