@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.header1 {
    color: white;
    background-color: #818281;
    padding: 10px;
    width: 1300px;
}

.mid-sec {
    background-color: #343A40;
    text-align: center;
    color: white;
    height: 500px;
    width: 1300px;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg");
    background-size: cover;


}

.butt {
    color: white;
    background-color: #28A745;
}

.down-sec {
    padding: 15px;
    color: white;
    background-color: #28A745;
    height: 400px;
    width: 1300px;
}

.down-sec-header {
    text-align: center;
}

.box {
    border-radius: 5px;
    background-color: white;
    height: 200px;
    width: 260px;
    text-align: center;
    margin: 10px;
}

.box-header {
    color: black;
    font-size: 30px;
}

.box-para {
    color: #818281;

}

.xx {
    text-align: center;
    color: white;
}