@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.container-fluid{
    background-color: #17A2B8;
}
.dg-container{
    background-color: #A7E399;
    height: 40vh;
}
.bg-container{
    background-color: #F6FF99;
    
}
.img{
    height: 90px;
    padding: 10px;
}
.image{
    height: 170px;
    padding: 10px;
}
.first{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    height: 200px;
}
.second{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    height: 200px;
}
.third{
   background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    height: 200px; 
}
/*Write your CSS code below and don't modify anything above*/