@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.navbar{
    background: #808080;
    padding-top: 5;
    margin-top: 0;
    display: flex;
    color: white;
    flex-wrap: wrap;
}

.navbar > h1{
    margin-left: 10px;
}

.navbar > a{
    padding-top: 25px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row-reverse;
}

.Home{
    margin-left: 100px;
}

.Hero{
    text-align: center;
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/3268938/2000_5e26bbfd63b60.jpg');
    background-size: cover;
    margin-top: 0px;
    height: 50vh;
    color: white;
    padding-top: 150px;
    background: transparent(0);
}

.horizontal_line{
    background-color: red;
    height: 5px;
    border: none;
    width: 130px;
}

.s1{
    text-align: center;
    background-color: #f7c1c1;
    margin-top: -22px;
}

.image{
    border-radius: 20px;
}

.footer{
    background: lightgray;
    padding-top: 5;
    margin-top: 0;
    display: flex;
    color: black;
    flex-wrap: wrap;
}

.footer > h1{
    margin-left: 10px;
}

.footer > p{
    padding-top: 15px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row-reverse;
}