@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container-fluid{
    background-color: #17A2B8;
}
.card1{
    background-color: #A7E399;
    height: 50vh;
    width: 150vh;
}
.haeding{
    color: #000000;
    font-family: Roboto;
    font-size: 20px;
    
}
.para{
    color: #000000;
    font-family: Roboto;
    font-size: 10px;
}
.but{
    background-color: #000000;
    color: #ffffff;
}
.butn{
    background-color: #ffffff;
    color: #000000;
}
.img{
    height: 100px;
    width: 150px;
}
.card2{
    background-color: #F6FF99;
    height: 50vh;
    width: 150vh;
}
.card3{
    background-color: #ffffff;
    height: 30vh;
    width: 50vh;
    text-align: center;
    margin: 20px;
}
.para2{
    font-family: Roboto;
    font-size: 13px;
}
.para3{
    font-family: Roboto;
    font-size: 15px;
}
.img1{
    height: 150px;
    width: 170px;
}