@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.bgimg {
    background-image: url('https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg');
    text-align: center;
    font-family: Poppins;
    color: #ffffff;
    background-size: cover;
    height: 200px;
    padding: 50px;
}

.word {
    font-weight: bold;
}

.button {
    background-color: #32AA27;
    padding: 10px;
}

.list {
    height: 20px;
    width: 20px;
    margin: 10px;
}