@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.h1Heading{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    background-size:cover;
    height:100vh;
    width:100vh;
    text-align: center;
    padding:10px;
    margin:5px;
    background-color: #f9f9f9;
}
.heading{
    color:white;
    justify-content: center;
}
.para{
    color:white;
    justify-content: center;
}
.service{
    background-color:#d1e5f9;
    height:150vh;
    width:100vh;
    text-align: center;
    margin:2px;
    padding:5px;
}
img{
    height:300px;
    width:300px;
    border-radius:100px;
    border-style:circle;
}
footer{
    background-color: #1b262c;
}