@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.top-main-background {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pizza.jpeg");
    width: 100vw;
    height: 50vh;
    background-size: cover;
}

.top-main-text {
    margin-top: 120px;
    text-align: center;
}

.top-main-welcome {
    font-family: "Caveat";
    color: white;
    font-size: 50px;
    text-align: center;
}

.top-main-para {
    font-family: "Roboto";
    font-size: 20px;
    color: white;
}

.top-main-button {
    text-align: center;
    background-color: #9112BC;
    height: 35px;
    width: 170px;
    color: white;
    border: solid 0px;
    border-radius: 4px;
}

.our-story {
    margin-top: 142px;
    padding: 50px;
    text-align: center;
    background-color: #E9B3FB;
}

.our-story-heading {
    font-family: "Caveat";
    color: black;
    font-weight: bold;
}

.our-story-para {
    font-family: "Roboto";
}

.our-story-credits {
    font-family: "Caveat";

}

.Menu {
    text-align: center;
    background-color: #AE75DA;
    padding-top: 20px;
}

.Menu-heading {
    font-family: "Caveat";
    color: black;
    font-weight: bold;
    margin: 20px;
}

.Menu-holder {
    margin-left: 70px;
    margin-right: 70px;
}

.Menu-card {
    background-color: white;
    height: 340px;
    width: 290px;
    margin: 20px;
}

.Menu-card-pic {
    margin-top: 7px;
    width: 280px;
    height: 180px;
}

.Menu-card-item {
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    margin-top: 14px;
    font-weight: bold;
}

.Menu-card-price {
    font-family: "Roboto";
    margin-top: 20px;
}

.Menu-card-menu {
    color: #9112BC;
}

.discount {
    background-color: #E9B3FB;
    padding: 48px;
}

.discount-pic {
    height: 220px;
    width: 380px;
    margin-left: 45px;
}

.discount-heading {
    font-family: "Caveat";
    color: black;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 40px;
}

.discount-para {
    font-family: "Roboto";
    color: black;
    margin-left: 40px;
}

.discount-button {
    border-radius: 5px;
    margin-left: 40px;
}
.second-end {
    background-color:#9112BC;
}
.second-end-heading {
    font-family:"Caveat";
    margin-top:60px;
}
.second-end-para {
    font-family:"Roboto";
}