@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: #ffffff;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    padding: 13px;
}

.car-services {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hr1 {
    color: #bf00ff;
}

.head {
    text-decoration: underline;
    color: #ffffff;
}

.services {
    background-color: #f2ccff;
    color: #000000;
    text-align: center;
    padding-top: 10px;
    font-family: "Roboto";
}

.img {
    height: 150px;
    width: 180px;
    border-radius: 5px;
}

.service-row {
    display: flex;
    flex-direction: row;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.foot {
    display: flex;
    gap: 15px;
}

.foote {
    display: flex;
    flex-direction: column;
}

@media(min-width:576px) {
    .service-row {
        display: flex;
        flex-direction: column;
    }

    .ser-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
}

@media(min-width:576px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foot {
        display: flex;
        gap: 15px;
        order: 0;
    }

    .foote {
        display: flex;
        flex-direction: column;
        order: 1;
    }
}