@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins";
}

.navbar,.navbar-brand {
    font-weight: bold;
    font-size: 25px;
    background-color: #162415;
    height: 60px;
    width: 100%;
    color: white;
}
.navbar-toggler{
    color:white;
}
fa{
    color:white;
}
.navbar-nav,
.nav-item {
    color: white;
    font-size: 15px;
}