@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
    font-family: Poppins;
}
#nav{
    color: white;
    font-weight:bold;
    background-color: #32AA27;
    display: flex;
    justify-content: space-around;
    height: 5vh;
    position: fixed;
    width: 100vw;
}
.b1{
    font-weight: normal;
    font-size: 14px;
}
#home{
    background-image: url('https://cdn.b12.io/client_media/eyqMhjc9/320363ae-0580-11f0-ba5c-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height:50vh;
    width: 100vw;
    color: white;
}
.inhome{
    margin: 30px;
    padding: 30px;
    font-weight: bold;
    font-size: 30px;
}
.inhome p{
    font-size: 15px;
    font-weight: normal;
}
.inhome button{
    background-color: #32AA27;
    margin:10px;
    font-size: 20px;
    padding: 4px;
}
.paraimp{
    color: #32AA27;
    font-weight:bold;
}
#section h3{
    font-weight: bold;
}
img{
    width: 85%;
}

.style{
    display: flex;
}
.card{
    margin: 10px;
    padding: 10px;
}
.para11{
    font-size: 10px;
}
.card::hover{
    width: 90%;
}
#footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#footer h2{
    font-size:20px;
   
}
#footer p{
    font-weight: normal;
    font-size:10px;
    padding: 5px;
}
.rft{
    background-color: #1A2A19;
    color: white;
    width: 100vw;
    padding: 20px;
}
.lft{
    background-color: #20341E;
    color: white;
    width: 100vw;
    padding: 20px;
}
@media (max-width:576px){
    #style{
        
        display: flex;
        flex-direction: column;
    }
    #footer{
        display: normal;
    }
}