@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg.con {
    background-color: lightblue;
    color: blue;
    text-align: center;
    height: 150vh;

}

.img {
    height: 310px;
    width: 350px;
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
}

.head {
    color: blue;
    font-size: 35px;
    font-family: "Roboto";
    text-align: center;

}

.button {
    border-radius: 10px;
    height: 35px;
    margin: 15px;
}

.p {
    text-align: center;
    font-family: "Roboto";
}