@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");

.color {
    color: white;
    background-color: #3d3d3d;
    padding: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    
}

.header {
    background-color: #3d3d3d;
    height: 60px;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: serif;
}

.image {
    width: 100vh;
    height: 200px;
}

.h2 {
    color: #3d3d3d;
    text-decoration: underline;
    text-align: center;
    font-size: 30px;
    font-family: Times New Roman;
}

.card {
    width: 60vh;
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: Times;
}
.footer{
    background-color: #FFFFFF;
}
.bg{
    background-color: Lightblue;
}