@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.a1 {
    background-color: #FFE0CC;
    color: #000000;
}

.but {
    color: #ffffff;
    border: 0px;
    padding: 10px;
    width: 20vh;
}

.but2 {
    border: 0px;
    color: White;
    background-color: #FF7043;
    padding: 10px;
    width: 20vh;
}

.b1 {
    padding: 100px;
    text-align: left;
}

.text1 {
    text-align: left;
}

.image {
    height: 60vh;
    width: 60vh;
}