/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg-container{
    background-color: lightblue;

    font-family: "Roboto";
    background-size: cover;
}
.card1{
    background-color: #ffffff;
    color:#3b3b3b;
    border-style: solid;
    border-color:#3b3b3b;
    margin: 5px;
}
.card2{
    background-color: #ffffff;
    color:#3b3b3b;
    border-style: solid;
    border-color:#3b3b3b;
    margin: 5px;
    
}
.card-roman{
    list-style-type:upper-roman;
}
.card3{
    background-color: #ffffff;
    color:#3b3b3b;
    border-style: solid;
    border-width: 0px;
    margin: 5px;
    
}
.card-circle{
    list-style-type:circle;
}
.card4{
    background-color: #ffffff;
    color:#3b3b3b;
    border-style: solid;
    border-color:#3b3b3b;
    margin: 5px;
}
.card44{
    list-style-type: upper-alpha;
}

*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
