@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.content1 {
    background-color: #FAA533;
    height: 50vh;
    padding: 10px;
    font-family: "Roboto";

}

.content2 {
    background-color: #EF7722;
    height: 60vh;
    font-family: "Roboto";
    padding: 10px;
}

.heading1 {
    font-size: 30px;
    color: #000000;
    margin-top: 60px;
    font-family: "Roboto";
}

.paragraph1 {
    font-size: 15px;
    font-family: "Roboto";
    color: #000000;
}

.heading2 {
    font-size: 30px;
    color: #000000;
    font-family: "Roboto";
}

.paragraph2 {
    font-size: 15px;
    color: #000000;
    font-family: "Roboto";
}

.para1 {
    font-size: 15px;
    color: #000000;
    font-family: "Roboto";
}

.para2 {
    font-size: 12px;
    color: #000000;
    font-family: "Roboto";
}

.img0 {
    height: 200px;
    width: 230px;
    margin-top: 35px;
    margin-left: 350px;
}

.img {
    height: 90px;
    width: 90px;
    border-radius: 5px;
    margin-left: 85px;
    padding: 5px;
}

.card {
    background-color: #ffffff;
    text-align: center;
    margin: 10px;
    font-family: "Roboto";
    border-radius: 5px;
}

.btn1 {
    background-color: #007bff;
    font-size: 12px;
    border-style: solid;
    border-width: 0px;
    color: #ffffff;
    font-family: "Roboto";
    height: 30px;
    width: 120px;
}

.btn2 {
    background-color: #ff5b5b;
    font-size: 12px;
    border-style: solid;
    border-width: 0px;
    color: #ffffff;
    font-family: "Roboto";
    height: 30px;
    width: 120px;
}


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/