/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.navbar{
    background-color:#EAA64D;
    color:white;
}
.text{
    color:white;
}
.div1{
    background-color:#0D5EA6;
    height:48vh;
    padding:10px;
    color:white;
}
.head{
    padding-top:100px;
    
}
.btn1{
    background-color:white;
    color:#000000;
    border-color:white;
    border-width:0px;
    padding:6px;
    width:150px;
}
.btn2{
    background-color:#000000;
    color:white;
    width:100px;
    border-width:0px;
    font-size:15px;
    height:3.5vh;
}
.image{
    width:250px;
    height:250px;
    padding:20px;
}
.div2{
    background-color: #EAA64D;
    height:45vw;
    color:white;
    padding:15px;
}
.h1{
    font-size:30px;
}
.cards{
}
.card1{
    background-color:#ffffff;
    height:30vh;
    width:20vw;
    padding:10px;
}
.img1{
    width:100px;
    height:100px;
}
