@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.top-ad {
    background-color: #00bcd4;
    height: 35px;
}

.top-head {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    padding: 10px;
}

.logo,
.contactus-logo {
    height: 30px;
    width: 30px;
}

.nav-bar-bg {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.icon {
    font-size: 22px;
    color: #000000;
    background-color: #0056b3;


}

.icon-bg {
    height: 25px;
}

.home-bg {
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1735821283/pixie/assets/images/banner-bg.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

.card-bg {
    background-color: #ffffff;

    height: 400px;
    width: 400px;
    padding: 10px;

}

.card-heading {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}

.des {
    color: #000000;
    font-weight: lighter;
    font-size: 18px;

}

.line {
    height: 10px;
    width: 30px;
    background-color: #0056b3;
}

.order-now-button {
    background-color: #0056b3;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: 0px;
    color: #ffffff;
    padding: 10px;
    font-weight: lighter;
}

.items-bg {
    background-color: #ffffff;
    height: 50%;
    padding: 10px;
}

.product-bg {
    background-color: #ffffff;
    height: 100%;
    width: 250px;
    border: 1px #000000 solid;
    padding: 20px;


}

.products-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.products-img {

    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.product-name {
    color: #000000;
    font-size: 18px;

}

.product-price {
    color: #00bcd4;
    font-size: 12px;
}

.items-heading {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
}

.help-desk {
    background-color: #0056b3;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.email-bg {
    background-color: transparent;
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: 2px #ffffff solid;



}

.subscribe-button {
    background-color: #ffffff;
    height: 40px;
    width: 80%;
    color: #00bcd4;
    font-family: "Sans-Serif";
    border: 0px;
    border-radius: 10px;
    margin-top: 10px;
}

.email-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.subscribe-heading {
    color: #ffffff;
    font-size: 20px;
    font-family: "Sans-Serif";

}

.subscribe-description {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    width: 70%;
}

.contactus-bg {
    background-color: #ffffff;
    height: 100%;
}