@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.navbar{
    background-color: #000000;
    height:100px;
    width:140vh;
}
.heading{
    color:white;
    font-size:40px;
    padding:30px;
    padding-left:50px;
}
.heading2{
   color:black;
   
}
.mainpage{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    height:100vh;
    width:140vh;
    background-size:cover;
    margin-top:0px;
}
.description{
    text-align:center;
    margin-top:0px;
    padding-top:40vh;
}
.mainheading{
    color:white;
}
.para{
    color:white;
}

hr{
     color:#39ff14;
     width:100px;
     font-size:50px;
     font-weight:bold;
}

.secondpage{
    background-color: #d4ffcc;
    height:140vh;
    width:140vh;
    text-align:center;
    padding-top:10px;
}
.card1{
    background-color:white;
    width:80vh;
    height:60vh;
    margin:20px;
    border-radius:5px;
}
.img{
    height:150px;
    width:150px;
    border-radius:180px;
    margin-top:20px;
}
.footer{
    height:30vh;
    color:#FFFFFF;
}
.foothead{
    color:black;
    padding:0px;
}