@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

/* .body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
} */
.home {
    background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696803/aj/assets/images/banner1.png");
    background-size: cover;
    height: 50vh;
}

.list {
    list-style-type: none;
    font-family: Roboto;
    color: #000000;
    margin: 10px;

}

.ulist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.home-head {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 40px;

}

.cont {
    padding-left: 20px;
}

.home-para {
    font-family: "Open Sans";
    color: #000000;

    font-size: 23px;

}

.home-btn {
    font-family: "Open Sans", sans-serif;
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    height: 35px;
    width: 120px;

}

.home-img {
    height: 300px;
}

.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.jew-img {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    align-self: center;
    margin: 6px;
}

.jew-head {
    font-family: "Open Sans", "sans-serif";
    color: #333333;
    font-size: 35px;
    font-weight: 20;
}

.jew-para {
    font-family: "Open Sans", "sans-serif";
    color: #333333;
    font-size: 15px;
    padding: 10px;
    /* text-align: center; */
}

.bg {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:600px) {
    .bg {
        background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696815/aj/assets/images/croo.png");
        background-size: cover;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .jew-collection {
        align-self: flex-start;
        padding-right: 20px;
        text-align: center;
    }

}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.jew-btn {

    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #FFD700;
    border-radius: 15px;
    height: 40px;
    width: 130px;

}

.collection {
    max-height: 350px;
    border: 10px solid #FFD700;
    border-radius: 700px;
    align-self: center;

}

.jew-content {
    align-self: flex-start;
    padding: 20px;
}

.jew-collection {
    align-self: center;
    padding-right: 20px;
    text-align: center;
}

.bg1 {
    background-image: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media (min-width:600px) {
    .bg1 {
        background-image: url("https://res.cloudinary.com/dg8n2jeur/image/upload/v1737696814/aj/assets/images/croo1.png");
        background-size: cover;
        /* height: 500px; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .jew-collection {
        align-self: flex-start;
        padding-right: 20px;
        text-align: center;
    }

}

.bg-container {
    flex-wrap: wrap;
}

.bg2 {
    background-image: none;
}

@media (min-width:600px) {
    .bg2 {
        background-image: none;
        background-size: cover;
        /* height: 500px; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .jew-collection {
        align-self: flex-start;
        padding-right: 20px;
        text-align: center;
    }

}

.btn1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
}

.jew-btn1 {

    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    background-color: #000000;
    border: 3px solid #FFD700;
    border-radius: 15px;
    height: 40px;
    width: 130px;

}

.contact-head {
    font-family: "Open Sans", "sans-serif";
    color: #333333;
    font-size: 35px;
    font-weight: bold;
}

.contact-para {
    font-family: "Open Sans", "sans-serif";
    color: #333333;
    font-size: 15px;
    padding: 10px;
}
.card{
    border: 5px solid #FFD700;
    text-align: left;
}