@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.nav {
    background-color:#000000;
    height:10vh;
    color: white;
}
.container {
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    color:white;
    text-align: center;
    height:40vh;
    background-size:cover;
}
.service-container {
    background-color: #d4ffcc ;
    
}
.rentals {
    height:40vh;
    width:55vh;
    
}
.events {
     height:40vh;
    width:55vh;
}
.rides{
     height:55vh;
    width:60vh;
}
.ser {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #39ff14;
}
.underline {
    text-decoration: underline;
    text-decoration-color: #39ff14;
}