@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.red{
    background-image:url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg") ;
    width: 100vh;
    height: 300px;
    background-size: cover;
    color: #FFFFFF;
    font:"Roboto";
    text-align: bottom;
}
.run{
    text-align: center;
}