@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.navbar{
    background-color:#343A40 !important
}
.nc{
    color:#FFFFFF !important
}
.bg{
    height:200vh;
}
.bg1{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Ice+Banner+Image.jpg");
    background-size:cover;
    height:40vh;
    padding:1px;
}
.txt1{
    color:#FFFFFF;
    font-family: "Caveat";
    font-size:25px;
    margin-top:100px;
    text-align:center;
    
}
.txt2{
    color:#FFFFFF;
    font-family: "Roboto";
    font-size:14px;
    text-align:center;
    
    
}
.btn1{
    height:40px;
    width:120px;
    background-color:#DC143C;
    color:white;
    border-style:none;
    border-radius:4px;
    
}
.bg2{
    background-color:#F08787;
    height:20vh;
    padding:1px;
}
.txt3{
    color:#FFFFFF;
    font-family: "Caveat";
    font-size:25px;
    margin-top:25px;
    text-align:center;
    
}
.txt4{
    font-family:"Roboto";
    text-align:center;
    font-size:12px;
}
.bg3{
    background-color:#F75270;
    height:40vh;
    padding:1px;
}
.card{
    background-color:white;
    height:200px;
    width:200px;
    padding:6px;
    margin-left:20px;
}
.txt5{
    font-family:"Roboto";
    font-size:12px;
    text-align:center;
}
.bg4{
    background-color:#F08787;
    height:40vh;
}
.img1{
    height:300px;
    width:400px;
    padding:12px;
}
.bg5{
    background-color:#F75270;
    background-size:cover;
    height:40vh;
    padding:1px;
}
.btn2{
    height:40px;
    width:120px;
    background-color:white;
    color:black;
    border-style:none;
    border-radius:4px;
    
}
.bg6{
    background-color:#343A40;
    height:10vh;
    padding:1px;
}
.txt6{
    color:white;
    font-size:12px;
    text-align:center;
    padding:12px;
    margin-top:12px;
    
}