@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

.home {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Ice+Banner+Image.jpg');
    text-align: center;
    background-image: cover;
    padding: 48px;
    
}

.homeh1{
    color: white;
    font-family: Caveat;
}
.homep{
    color: white;
}

.homeb{
    height: 36px;
    width: 136px;
    background-color: #F75370;
    color: white;
}

.story{
    background-color: #F08787;
    background: cover;
    text-align: center;
    padding: 38px;
}
.storyh1{
    color: white;
    font-family: Caveat;
}
.storyp{
    color: black;
}
.storyp1{
    color: white;
    font-family: Caveat;
}

.menu{
    background-color: #F75370;
    background: cover;
    color: white;
    text-align: center;
    padding: 38px;
}
.menuh1{
    font-family: Caveat;
}
.offers{
    background-color: #F08787;
    color: white;
    text-align: center;
    padding: 38px;
}
.offersh1{
     font-family: Caveat;
}
.offersp{
    color: black;
}

.book{
    background-color: #F75370;
    color: white;
    text-align: center;
    padding: 38px;
}
.bookh1{
    font-family: Caveat;
}

.bookp{
    color: black;
}


.footer{
    background-color: #343A40;
    padding: 38px;
    
}

.footerp{
    color: white;
    text-align: center;
}