@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");

nav {
    background-color: black;
    color: white;
    width: 100vw;
    height: 50px;
    font-size: 20px;
}

.buttons {
    align-items: flex-end;
}

.button1 {
    background-color: transparent;
    color: white;
    text-decoration: underline;
}

.button2 {
    background-color: transparent;
    color: white;
}

.homepage {
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding-left: 90px;
    padding-top: 100px;
}

.line {
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.words {
    font-weight: bold;
}

img {
    height: 150px;
    width: 200px;
    border-radius: 10000px;
}

.servicepage {
    text-align: center;
    background-color: #e5e5e5;
    padding: 70px;
    width: 100vw;
}

.service {
    text-decoration: underline;
}

.servicepage1 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-bottom-color: black;
    border-width: 10px;
    margin: 5px;
}

.servicepage2 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-bottom-color: black;
    border-width: 10px;
    margin: 5px;
}

.servicepage3 {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-bottom-color: black;
    border-width: 10px;
    margin: 5px;
}

footer {
    padding: 20px;
    background-color: black;
    color: white;
}