@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.header{
    background-color: ;
    color:#ffffff;
    padding: 20px;
    text-align:20px ;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav{
    list-style:none ;
    margin:0 ;
    padding:0 ;
    display: flex;
    gap: 20px;
}
.hero{
    background-color: ;
    padding: 20px;
    text-align: center;
}
.features{


















































.line-1{
    background-color:#007bff;
    color: #ffffff;
    font-size: 20px;
    
}
.line2{
    background-color: #FAA533;
}
.head2{
    font-size: 20px;
}
.button{
    
}