@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.img{
    height: 720px;
    width: 1280px;
    }/*Write your CSS code below and don't modify anything above*/
.head{
    text-align: center;
    
}
.A{
    background-color: #7FDBDA;
    height: 610px;
    padding: 40px;
}
.B{
    background-color: white;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin: 30px;
}
.bt{
    background-color: white;
    color: green;
    border-color: green;
    border-width: 3px;
    font-family: Roboto;
    padding: 10px;
    border-radius: 10px;
}
.C{
    text-align: center;
    font-size: 24px;
    font-family: Roboto;
}
.D{
    text-align: center;
    color: #818281;
}
.F{
    background-color: #007BFF;
  
}
.btt{
    background-color: white;
    color: yellow;
    border-color: yellow;
    border-width: 3px;
    font-family: Roboto;
    padding: 10px;
    border-radius: 10px;
}
.bttt{
    background-color: white;
    color: red;
    border-color: red;
    border-width: 3px;
    font-family: Roboto;
    padding: 10px;
    border-radius: 10px;
}
.head1{
    color: white;
    text-align: center;
    padding: 20px;
}