.card{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    background-size: cover;
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.para{
    font-weight: bold;
    font-size: 40px;
}
.img1{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.page2{
    background-color: #d1e5f9;
}