@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.card{
    background-image: url('https://cdn.b12.io/client_media/pYiUYPFe/e1bbab32-0489-11f0-9106-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height: 50vh;
    width: 70vh;
}
.button{
    background-color: #32aa27;
    
}
.heading{
    font-family: "Poppins";
}
.para{
     font-family: "Poppins";
}
.image{
    margin: 20px;
}
.card2{
    background-color: #fafafa;
}