@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@media screen and (max-width:576px){
.Navbar{
    height:10vh;
    background-color:#162415;
    color:white;
    display:flex;
}
.main-container{
    background-image:url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg");
    height:70vh;
    background-size:cover;
}
.Nav-item1{
    align-self:center;
    font-family:"Poppins";
    font-weight:bold;
    font-size:15px;
    padding:10px;
}
.Nav-item2{
    margin-left:auto;
    display:flex;
    gap:10px;
    align-self:center;
    font-family:"Poppins";
    padding:10px;
    font-size:10px;
}
.button{
    background-color:#32AA27;
    color:white;
    padding:6px;
}
.content-1{
    height:50vh;
    width:80vw;
    align-content:center;
    align-items:center;
    color:white;
    margin-left:30px;
   
}
.para2{
    font-size:30px;
    font-weight:bold;
}
.para-3{
    font-weight:bold;
    font-family:"Poppins";
    font-size:40px;
}
.cards-container{
    height:80vh;
    gap:30px;
    
    
}
.card{
    height:60vh;
    width:100vw;
    border:2px;
}

.extra-content{
  margin-top:40px;
 
}
.title{
    color:black;
    font-size:18px;
}
.cont-1{
    color:grey;
   
}
.para4{
    font-size:30px;
}
.para-3{
    font-size:20px;
}
}
@media screen and (min-width:768px){
    .Navbar{
    height:10vh;
    background-color:#162415;
    color:white;
    display:flex;
}
.main-container{
    background-image:url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg");
    height:60vh;
    background-size:cover;
}
.Nav-item1{
    align-self:center;
    font-family:"Poppins";
    font-weight:bold;
    padding:10px;
}
.Nav-item2{
    margin-left:auto;
    display:flex;
    gap:10px;
    align-self:center;
    font-family:"Poppins";
    padding:10px;
}
.button{
    background-color:#32AA27;
    color:white;
    padding:6px;
}
.content-1{
    height:50vh;
    width:80vw;
    align-content:center;
    align-items:center;
    color:white;
    margin-left:70px;
   
}
.para2{
    font-size:30px;
    font-weight:bold;
}
.para-3{
    font-weight:bold;
    font-family:"Poppins";
    font-size:40px;
}
.cards-container{
    height:80vh;
    display:flex;
    gap:10px;
    
}
.card{
    height:50vh;
    width:40vw;
    border:2px;
}

.extra-content{
  margin-top:40px;
 
}
.title{
    color:black;
    font-size:18px;
}
.cont-1{
    color:grey;
}
.para4{
    font-size:30px;
}
}