/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.bg-container{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/intro+to+css2.avif");
    height: 40vh;
    width: 87vw;
}
.header{
    font-size: 40px;
    font-weight: bold;
}
.element{
    font-size: 8px;
    font-style: italic;
    text-decoration: underline;
}
.btn{
    border-radius:2px;
    height: 5vh;
    width: 20vh;
    
}
*{
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
