@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
*{
    margin: 0;
    box-sizing: border-box;
    font-family:"Roboto" ;
}
.navbar{
    background-color: #008080;
    display: flex;
}
.navbar-head{
    color: white;
}
.list{
    display: flex;
   justify-content: flex-end;
    padding-left: 120px;
}
.list-1{
    color: white;
    display: flex;
     
     padding: 20px;
}
.list-2{
    color: white;
    
    padding: 20px;
}
.hero-section{
    background-image:url('https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg ');
    background-position: center;
    background-size: cover;
}
.hero-section-head{
    color: white;
    font-family: "Roboto";
    text-align: center;
    padding: 40px;
    font-size: 80px;
}
.vertical-line{
    color: white;
}
.hero-section-para{
    color: white;
    font-family: "Roboto";
    text-align: center;
    padding: 40px;
    font-size: 30px;
}
.services_section{
    background-color: #ccffff;
    background-size: cover;
}
.Services-head{
    color: black;
    text-align: center;
    padding: 30px;
    font-family: "Roboto";
}
.product-section{
    display: flex;
}
.img{
    border-radius: 500px;
    
}
.product-1{
   padding: 10px; 
}
.head{
    text-align: center;
    padding: 5px;
}
.para{
    text-align: center;
}
.footer{
    display: flex;
}
.footer-1{
    display: flex;
    padding-left: 750px;
}
.home{
    padding-right:30px ;
}