@import url("https://fonts.googleapis.com/css2?family=Caladea&display=swap");
.navbar{
    background-color: black;
    height: 120px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar2{
    display: flex;
}
.navh1{
    color: white;
}
.navh2{
    color: white;
}
.container1{
    background-image: url('https://images.cdn-files-a.com/ready_uploads/media/209470/2000_5ceee0706a4bc.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    padding-left: 100px;
    padding-right: 50px;
    display: flex;
    align-items: center;
}
body {
    margin: 0px;
}
.container1h1{
    font-size: 60px;
}
.hh{
    padding-bottom: 20px;
}
.container2h1{
    text-align: center;
}
.img1{
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
.content1{
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 30px;
    border-radius: 10px;
}
.container2{
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    
}
.contenthub{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    background-color: black;
    color: white;
}
.footer1{
    display: flex;
    justify-content: flex-end;
}
@media(min-width: 768px) {
    .contenthub {
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .content1{
    height: 300px;
    width: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
}