@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}
.bg-container{
    height: 200vh;
}
.bg{
    text-align: center;
}
.head{
    color: #FFFFFF;
    font-family: Caveat;
    position: relative;
    bottom: 330px;
    font-size: 25px;
}
.para{
    color: #FFFFFF;
    position: relative;
    bottom: 330px;
    font-size: 10px;
    
}
.btn{
    background-color: #A31D1D;
    color: #FFFFFF;
    position: relative;
    bottom: 330px;
    font-size: 10px;
}
.image{
    height: 300px;
    width: 70vh;
    position: relative;
    bottom: 50px;
}
.bg1{
    background-color: #A94A4A;
    text-align: center;
    position: relative;
    bottom: 200px;
    left: 20px;
}
.head1{
    font-family: Caveat;
    color: white;
}
.para1{
    font-family: Roboto;
    color: white;
}
.para2{
    font-family: Roboto;
    color: white;
}
.para3{
    font-family: Caveat;
    color: white;
}
.bg2{
    background-color: #A31D1D;
    position: relative;
    bottom: 200px;
}
.text{
    font-family: Caveat;
    color: white;
    
}
.bg3{
    background-color: white;
    height: 50px;
    width: 100px;
}
.img1{
    height: 100px;
}

/*Write your CSS code below and don't modify anything above*/