@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.bg {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/food+banner+image.jpg');
    text-align: center;
    height: 300px;
    padding-top: 80px;

}

.h1 {
    font-weight: ;
    font-family: Caveat;
    color: #FFFFFF;
}

.p {
    color: #FFFFFF;
    font-family: Roboto;
}

.second-bg {
    background-color: #FFF0CE;
    text-align: center;
}

.thired-bg {
    background-color: #FFDE63;
    text-align: center;
    height: 200px;

}

.img {
    height: 100px;
    width: 130px;
}

.fourt-bg {
    background-color: #FFFFFF;
    height: 250px;
    width: 150px;
    margin: auto;
    padding: 10px;
}

.h1111 {
    font-size: 15px;
    font-weight: bold;
}

/*Write your CSS code below and don't modify anything above*/