@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.card {
    background-image: url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg");
    height: 70vh;
    width: 100vw;
    background-size: cover;
}

.head {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 30px;
    align-items: center;
    padding: 100px;
}

.button {
    background-color: green;
    color: #ffffff;
}

.header {
    color: green;
    padding: 10px;
}

.parag {
    color: black;
    font-size: 30px;
    font-family: bold;
}

.img {
    height: 30vh;
    width: 40vw;
}

.he {
    color: black;
    font-size: 20px;
    font-family: bold;
}

.paragh {
    color: #20341E;
    font-size: 15px;
}