@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.bg-container{
    background-image:url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
    background-size:cover;
    height:1000px;
    width:1000px;
    text-align:center;
    color:white;
    font-weight:bold;
    font-family:"Poppins";
    font-size:50px;
    background-color:transparent;
    justify-content: center;
}
.btn{
    border-radius:20px;
    background-color:green;
    font-size:30px;
    border-style: dotted;
    border-width:5px;
}
.head-2{
    color:green;
    font-size:30px;
    font-family: "Poppins";
}
.para-2{
    color:black;
    font-size:50px;
    font-family:Poppins;
    font-weight:bold;
}
.card-container{
    padding-bottom: 20px;
}
.head-3{
    color:black;
    font-size:50px;
}
.head-3:hover{
    color:green;
    
}
.para-3{
    color:grey;
    font-size:30px;
}