@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container-fluid {
    background-color: black;
}

.navbar-nav {
    color: #ffffff;
}

.tab1 {
    background-color: #343A40;
}

.img1 {
    height: 30vh;
    width: 50vh;
}

.text {
    color: #ffffff;
    font-family: Roboto;
    padding: 100px;
    text-align: left;
}

.button1 {
    background-color: #000000;
    color: #ffffff;

}

.block1 {
    background-color: #343A40;
    color: #ffffff;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    font-family: Roboto;
}

.img2 {
    height: 20vh;
    width: 30vh;
    padding: 20px;
}

.tab2 {
    background-color: #000000;
    color: #ffffff;
}