@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.bg-container{
    background-image:url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    background-size: cover;
    height: 70vh;
}
.para{
    color:white;
    text-align: center;
}
.head{
    text-align: center;
    color:white;
    text-decoration: underline;
}
.container{
    background-color: #f2ccff;
    height: 100vh;
    text-align: center;
    font-weight: bold;
}
.h1{
    text-align: center;
    text-decoration:underline;
    
}