@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.nav{
    background-color: #32AA27;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.navh{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.navp{
     font-size: 20px;
    font-weight: bold;
    color: white;
}
.p2{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.man{
    background-image: url('https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg');
    background-size: cover;
    height: 60vh;
}
.con{
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    height: 60vh;
    padding: 50px;
    
}
.jh{
    color: white;
    font-size: 70px;
    font-weight: bold;
    margin-left: 70px;

}
.ph{
    font-size: 30px;
    margin-left: 70px;
}
.btn{
    font-size: 30px;
    margin-left: 70px;
}
.cards{
    display: flex;
    flex-direction: row;
}
.footer{
     display: flex;
    flex-direction: row;
    margin-top: 60px;
}