.bg-container{
    background-color: black;
    height: 70px;
    width: 500px;
}
.heading{
    color: White;
    padding: 20px;
    font-size: 40px;
}
.picture.text{
  height: 100px;
  width: 1300px;
}
.green-heading{
  background-color: #32AA27;
    height: 1000px;
    width: 500PX;
}