@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.bg{
    background-color: #343A40;
    background-size: cover;
}
.bg1{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    background-size: cover;
    height: 70vh;
}
.bg2{
    background-color: #9BFAA9;
    background-size: cover;
    height: 39vh;
}
.bg3{
     background-color: #52FA6C;
    background-size: cover;
    height: 75vh;
}
.bg4{
     background-color: #9BFAA9;
    background-size: cover;
    height: 60vh;
}
.bg5{
     background-color: #52FA6C;
    background-size: cover;
    height: 50vh;
}
.bg6{
    background-color: #343A40;
    background-size: cover;
    height: 12vh;
}
.head{
    font-family: "Roboto";
    color: #FFFFFF;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
