@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/

.top{
    height: 8vh;
    background-color: #28A745;
    padding: 20px;
    
    
}
.a{
    color: white;
    text-align: start;
}
.b{
    color: white;
    text-align: end;
    
}
.c{
    color: white;
}
.d{
    color: white;
}
.e{
    padding: 0px;
}
.f{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/illustration-pongal-holiday-background-with-space-text_91314-448.jpg');
    height:44vh;
    text-align: center;
    
}
.same1{
    color: white;
    font-weight: bold;
    font-size: 28px;
    
}
.same2{
    color: white;
    
}
.bn{
    text-align: center;
}
.down{
    height: 38vh;
    background-color: #CBEAED;
}
.bottom{
    background-color: #28A745;
    height: 10vh;
    padding: 15px;
}
.x{
    color: white;
    text-align: center;
    
}