@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.navbar {
    background-color: black;
}

.mo-w {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;

}

.mo-btn {
    color: white;
    background-color: #0ec930;
    margin: 100px;
}

.mo-h {
    font-family: Caveat;
}

.mo-p {
    font-family: "Roboto";
}

.se-w {
    color: black;
    background-color: #9BFAA9;
    text-align: center;
    padding: 20px;
    height: 300px;
}

.se-h {
    font-family: Caveat;
    font-weight: bold;
}

.se-p2 {
    font-family: Caveat;
}

.cards {
    background-color: #52FA6c;
    text-align: center;
}

.card-h{
    font-size: 24px;
}
.card {
    margin: 10px;
}

.card-img {
    height: auto;
    width: auto;
    padding:10px;

}

.card-i {
    color: #0ec930;
}

.se-img {
    height: 400px;
    width: auto;
    padding: 20px;
}

.se-cards {
    background-color: #9BFAA9;
}

.fo-b {
    width: 100px;
}

.fo-h {
    font-family: Caveat;
    font-weight:bold;
}

.five {
    text-align: center;
    background-color: #52FA6c;
    padding: 30px;
    height: 300px;
}

.footer {
    color: white;
    background-color: black;
    text-align: center;
    height: 100px;
    padding: 20px;
}
