/* Submission 1 */
.k {
   background-color: lightblue;
   height: 100vh;
   
}
.i{
    font-family: "caveate";
    text-align: center;
    
}
.j{
    border-style: solid;
    text-align: center;
    padding: 20px;
   
}
.b{
    background-color: #007bff;
}
.z{
     color: lightblue;
}
