@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav-bar {
    display: flex;
    width: 100rem;

    justify-content: space-around;
    background-color: #32AA27;
    color: white;
    font-weight: bold;
}

.bg-container {
    font-family: Poppins;
    height: 100rem;
    width: 100rem;
}

.items {
    display: flex;

}

.i {
    margin: 5%;
    font-size: 8px;
}

.bg-img {
    background-image: url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
    height: 100rem;
    width: 100rem;
    background-size: cover;
}

.headele {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.para {
    color: white;

    font-size: 30px;
}

.btn {
    background-color: #32AA27;
    border-style: dashed;
    border-color: black;
    color: white;
    font-weight: bold;
    padding: 1%;


}

.head {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.paraele {
    color: #20341E;
    margin: 19px;
}

.headelement {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.img-size {
    height: 280px;
    width: 350px;
}

.c1 {
    width: 350%;

}

.cards {
    margin: 10px;
    display: flex;
}

.paraElement {
    color: #1A2A19;

}

.jj {
    background-color: white;
    margin: 5px;

}

.SmartPhone {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;


}

.SmartPhone:hover {
    color: green;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;


}

.cards {
    display: flex;
}

.c1:hover {
    width: 360%;


}

.nav {
    color: white;
    font-weight: bold;
}

.fotter {
    display: flex;
}

.fotter1 {
    background-color: #20341E;
    height: 20vh;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotter2 {
    background-color: #1A2A19;
    height: 20vh;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-widht:576px) {
    .nav-bar {
        display: flex;
        width: 100rem;

        justify-content: space-around;
        background-color: #32AA27;
        color: white;
        font-weight: bold;
    }

    .bg-container {
        font-family: Poppins;
        height: 100rem;
        width: 100rem;
    }

    .items {
        display: flex;

    }

    .i {
        margin: 5%;
        font-size: 8px;
    }

    .bg-img {
        background-image: url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
        height: 100rem;
        width: 100rem;
        background-size: cover;
    }

    .headele {
        color: white;
        font-weight: bold;
        font-size: 60px;
    }

    .para {
        color: white;

        font-size: 30px;
    }

    .btn {
        background-color: #32AA27;
        border-style: dashed;
        border-color: black;
        color: white;
        font-weight: bold;
        padding: 1%;


    }

    .head {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .paraele {
        color: #20341E;
        margin: 19px;
    }

    .headelement {
        color: black;
        font-size: 30px;
        font-weight: bold;
    }

    .img-size {
        height: 280px;
        width: 350px;
    }

    .c1 {
        width: 350%;

    }

    .cards {
        margin: 10px;
        
    }

    .paraElement {
        color: #1A2A19;

    }

    .jj {
        background-color: white;
        margin: 5px;

    }

    .SmartPhone {
        color: black;
        font-size: 25px;
        font-weight: bold;
        margin: 10px;


    }

    .SmartPhone:hover {
        color: green;
        font-size: 25px;
        font-weight: bold;
        margin: 10px;


    }

   

    .c1:hover {
        width: 360%;


    }

    .nav {
        color: white;
        font-weight: bold;
    }


    .fotter1 {
        background-color: #20341E;
        height: 20vh;
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fotter2 {
        background-color: #1A2A19;
        height: 20vh;
        width: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
}