@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container-fluid {
    background-color: #006d77;
}

.navbar-nav {
    color: #ffffff;
}

.hero{
    background-color:#83c5be;
    height: 30vh;
}
.image{
    height:30px;
}
.hero-image{
    background-color:#ffa69e;
    height:50vh;
}
.img2{
    height:90px;
    width:100px;
}
.p{
    font-size:10px;
}
.card{
    background-color:#ffa69e
}
.h{
    font-size:15px;
}