@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.bg-contianer{
    text-align: center;
    background-color: #000000;
    height: 20vh;
    width: 200px;
}
.img{
    height: 20vh;
    width: 500px;
}