@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

.bg_container {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/biryani+images.jpg");
    height: 33vh;
    background-size: cover;
    text-align: center;

}

.h1 {
    text-align: center;
    padding-top: 9vh;
    color: white;
    font-family: Caveat;
}

.p1 {
    text-align: center;
    color: white;
    font-family: Caveat;
    font-size: 20px;
}

.but {
    background-color: #A31D1D;
    padding: 5px;
    width: 150px;
    color: white;
    font-family: Roboto;
}

.bg_bottom1 {
    background-color: #A94A4A;
    height: 21vh;
    text-align: center;
    padding-top: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.h2 {
    color: white;
    font-family: Caveat;

}

.p2 {
    color: white;
    font-family: Caveat;
    font-size: 16px;
}

.bg_bottom2 {
    background-color: #A31D1D;
    height: 80vh;
    text-align: center;


}

.h3 {
    padding-top: 2vh;
    color: white;
    font-family: Caveat;
}

.card_1 {
    margin-left: 50px;
    width: 25vw;
}


.img1 {
    height: 200px;
    width: 240px;
    padding: 5px;
}

.h4 {
    color: black;
    font-weight: bold;
    font-family: Roboto;
}

.p5 {
    color: #343A40;
}

.p4 {
    color: #A31D1D;
}

.bg_bottomm {
    background-color: #A94A4A;
    height: 30vh;
    margin-top: 3vh;
    padding: 50px;
}

.img2 {
    height: 250px;
    width: 400px;
    text-align: left;
}

.abcd {
    padding: 30px;
    padding-top: 50px;
}

.h8 {
    color: white;
    font-family: Caveat;
}

.p8 {
    color: white;
    font-family: Caveat;
}

.buton {
    text-align: left;
    color: #A31D1D;
    padding: 3px;
}

.footer {
    padding: 30px;
    color: white;
    font-family: Caveat;
}


/*Write your CSS code below and don't modify anything above*/