/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.card1{
    background-color:#0018f9 ;
    height:55vh;
}
.head1{
    color:white;
    font-size:40px;
    padding-top:50px;

    text-align:center;
}
.para1{
    color:white;
    padding:5px;
    margin:20px;
    text-align:center;
    font-size:20px;
}
.card2{
    background-color:#f4f4f4;
    height:42vh;
    
}
.head2{
    color:black;
    font-weight:bold;
    font-size:30px;
    padding:20px;
    
}
.para2{
    color:#333;
   
    margin:20px;
    
}
.buton{
    padding:5px;
    margin:5px;
    width:300px;
    height:40px;
    
}
.butoncontact{
    color:blue;
    border-color:lightblue;
}
.card3{
    background-color:#333;
    height:10vh;
}
.foot{
    color:white;
    text-align:center;
    padding:30px;
}
