/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.main{
    text-align: center;
    color: white;
    background-color:#0018f9;
    padding:20px;
}
.kill{
font-weight: bold;
}
.kit{
    color:#333;
}
.hi{
    background-color: orange;
    border-width: 0px;
    border-radius:0px;
}
.wt{
    color: red;
    border-width:0px;
    border-radius: 0px;
}
.tt{
    background-color: red;
    border-width: 0px;
}
.like{
    background-color:lightblue;
    border-width: 0px;
}
