@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.a-color{
    flex-direction:horizantal;
    color: white;
    padding:10px;
    margin: 1px;
}
.b-color{
    background-image:url("https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg"); 
    background-size: cover;
    height: 40vh;
}
.c-color{
    font-family:"Poppins" ;
    font-size: 60px;
    font-weight: thick;
    padding:40px;
    margin: 0px;
}