@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.th{
    font-family: Caveat;
    color: white;
    font-weight: bold;
}
.tp{
    font-family: Roboto;
    color: white;
}
.bt{
    background-color: #0ec930;
    color: white;
    border: 0px;
}
.topg{
       background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg');
       height: 200px;
       background-size: cover;
       text-align: center;
}
.story{
    background-color: #9BFAA9;
    text-align: center;
    height: 200px;
}
.sh{
    font-family: Caveat;
    font-weight: bold;
    /* margin-top: 10px ; */
}
.sp{
    font-family: Roboto;
}
.spp{
    font-family: Caveat;
}
.menu{
    background-color: #52FA6C;
    text-align: center;
}
.mh{
    font-family: Caveat;
    font-weight: bold;
}
.card{
    background-color: white;
    margin: 10px;
    padding: 2px;
    text-align: center;
}
.i{
    height: 100px;
    width: 100px;
}
.ch{
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
}
.cp{
    font-family: Roboto;
}
.cpp{
    color: #0ec930;
}
.dis{
    background-color: #9BFAA9;
    padding: 10px;
    height: 300px;
}
.ii{
    height: 200px;
    width: 350px;
    margin-right:10px;
}
.dh{
    font-family: Caveat;
    font-weight: bold;
}
.dp{
    font-family: Roboto;
}
.db{
    background-color: white;
    padding: 5px;
    border: 0px;
}
.end{
    background-color:#52FA6C;
    text-align: center;
}
.eh{
    font-family: Caveat;
    font-weight: bold;
}
.ep{
    font-family: Roboto;
}
.eb{
    background-color: white;
    padding: 5px;
    border: 0px;
}
.foot{
    background-color: #343A40;
    text-align: center;
    height: 50px;
}
.fh{
    color: white;
    font-family: Roboto;
    font-size: 15px;
    margin: 10px;
}
.nav{
    color: white !important;
}