@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.upper-section {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/food+banner+image.jpg");
    color: white;
    text-align: center;
    font-style: italic;
    height: 200px;
}

.h1 {
    font-style: italic;
    font-size: 20px;
}

.button {
    background-color: #FF0000;
    padding: 5px;
    border: 10px;
    color: white;
    border-radius: 0px;
}

.second-section {
    background-color: #FFF0CE;
    text-align: center;
}

.heading1 {
    color: #FF0000;
    font-style: italic;
    font-size: 20px;
}

.para1 {
    color: #343A40;
    font-style: Roboto;

}

.para3 {
    color: #FF0000;
    font-style: italic;
    font-size: 15px;
}

.section-three {
    background-color: #FFDE63;
}

.heading2 {
    text-align: center;
    font-style: Roboto;
    font-size: 25px;

}

.image1 {
    padding: 10px;
}

.Bulgaria {
    height: 100px;
    width: 100px;
    background-color: white;


}

.imageheading {
    font-size: 15px;
}

.Pasta {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 15px;
}
.imageheading2{
    font-size: 15px;
}
.pizza{
    height: 100px;
    width: 100px;
}
.imageheading3{
    font-size: 15px;
}
.section-four{
    background-color: #FFF0CE;
    padding: 10px;
}