@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/

.bg{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg');
    background-size: cover;
    height: 50vh;
    text-align: center;
} 

.main-head{
    font-family: Roboto;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

.main-para{
    font-family: Roboto;
    color: #ffffff;
    
}

.button{
    color: #ffffff;
    background-color: #17A2B8;
    border-radius: 5px;
    border-width: 0px;
    height: 35px;
    
}

.navbg{
    background-color: #343A40;
} 

.navtext{
    color: #FFFFFF;
} 

.card-bg{
    background-color: #2C3E50;
    height: 50vh;
    text-align: center;
    padding: 20px;
} 

.card-head{
    font-family: Roboto;
    color: #ffffff;
    
    font-size: 30px;
}

.card{
    background-color: #FFFFFF;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    
} 

.card-text{
    text-align: center;
}
.card-para{
    font-size: ;
    color: #000000;
    
} 

.cardpara{
    color: #818281;
} 

.para-btn{
    width: 150px;
    height: 36px;
} 

.end{
    background-color: #000000;
    padding: 10px;
    color: white;
}