.navbar{
    background-color:#1b262c;
    height:10vh;
    color:white;
    font-size:40px;
    padding:10px;
}
.middle{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height:50vh;
    background-size:cover;
    padding:10px;
}
.middle-text{
    color:white;
    text-align: center;
    font-size:47px;
}
.line{
    text-align: center;
    color:#bf00ff;
    font-size:47px;
    font-weight: bold;
}
.middle-text-1{
    color:white;
    text-align: center;
    font-size:25px;
}
.bottom{
    background-color: #f2ccff;
    height:100vh;
    padding:10px;
}
.bottom-t{
    text-align: center;
    padding:10px;
    font-size: 35px;
    
}
.p{
    font-size:25px;
}
.img{
    height:20vh;
    border-radius:15px;
}