@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

.a {
    background-color: #c9182c;
}
.yy{
    text-align: right;
}
.ll{
    height: 80px;
    
}
.a1 {
    color: white;
    padding-left: 15px;
    padding-top: 15px;


}
.g1{
    background-color: #8bc28c;
}

.a2 {
    text-align: right;
    padding-right: 15px;
    margin-bottom: 20px;
}
