@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

#item1 {
    color: white;
}

#item2 {
    color: white;
}

#item3 {
    color: white;
}

#navhead {
    color: white !important;
}

.bg-img {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/imagenew.jpeg');
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    text-align: center;
}

.infodiv {
    background-color: #ff6b6b;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    padding: 30px;

}

.cakediv {
    background-color: #ffffff;
    color: #000000;
    height: 250px;
    width: 430px;
    border-radius: 15px;
    text-align: center;
}

#img-1 {
    color: #007bff;
}

#img-2 {
    color: #ffc107;
}

#img-3 {
    color: #28a745;
}