@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.head {
    background-color: #32AA27;
    font-family: Poppins;
    height: 10vh;
    font-size: 30px;
    color: white;
    padding: 10px;

}
.property{
    color: white;
    font-size: 30px;
    font-family: Monospacen;
   background-color: #1A2A19;
   padding: 10px;
}
.green{
    color:#32AA27;
    font-size: 20px;
    font-family: Times New Roman;
    padding: 10px;
}
.Discover{
    font-size: 30px;
    font-family: Roman;
    padding: 10px;
}
.media{
   font-size: 30px; 
  font-family: Roboto;
}
.listen{
    font-size: 25px;
    font-family: Monton;
    color: grey;
}