@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.hi{
    color: blue;
}
.home{
    background-color:#FAA533 ;
    height: 50vh;
    width: 75vh;
}
.text{
    padding:10px;
    
}
.h11{
    font-size: 25px;
  
}
.b1{
    width: 150px;
}
.b2{
    width: 150px;
}
.fig1{
    height: 50px;
    width: 50px;
 
}
.h2{
    background-color: #EF7722;
     height: 50vh;
    width: 75vh;
}
.hh{
    font-size: 40px;
}
.pp{
    font-size: 20px;
}