@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.mainbg {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/dusear+1.jpg');
    background-size: cover;
    height: 50vh;
    width: 100vw;
    text-align: center;
    font-family: "Roboto";
    font-size: 6px;
    
}

.colnav {
    background-color: #dc3545;
    width: 100vw;
    color: #ffffff;
}

.button1 {
    background-color: #dc3545;
    color: #ffffff;
}

.card1 {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: 8px;
    
}
.footerlast{
    background-color: #dc3545;
    text-align: center;
    color: #ffffff;
    width: 100vw;
}
.secondbg{
    background-color: #F08787;
}
.headingfest{
    font-size: 25px;
    padding: 6px;
    text-align: center;
    color: #000000;
}