@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav-bar {
    background-color: #162415;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-heading {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    font-family: "Poppins";
    margin-left: 20px;
}

.bg-container {
    background-image: url('https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg');
    height: 90vh;
    background-size: cover;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    color: #ffffff;
    font-size: 28px;
    font-family: "Poppins";
    margin-left: 20px;
}

.paragraph {
    color: #ffffff;
    font-size: 18px;
    font-family: "Poppins";
    margin-left: 20px;
}

.button {
    background-color: #32AA27;
    color: #ffffff;
    height: 45px;
    width: 130px;
    font-size: 14px;
    font-weight: 600;
    border-width: 0px;
    border-style: dotted;
    margin-left: 20px;
}

@media (min-width:600px) {
    .bg-container {
        height: 50vh;
        background-size: cover;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-bar {
        background-color: #162415;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .heading {
        color: #ffffff;
        font-size: 32px;
        font-family: "Poppins";
        margin-left: 90px;
    }

    .paragraph {
        color: #ffffff;
        font-size: 20px;
        font-family: "Poppins";
        margin-left: 20px;
        margin-left: 90px;
    }

    .button {
        background-color: #32AA27;
        color: #ffffff;
        height: 45px;
        width: 130px;
        font-size: 14px;
        font-weight: 600;
        border-width: 0px;
        border-style: dotted;
        margin-left: 90px;
    }
}
.consulting-container{
    background-color: #ffffff;
    height: 150vh;
}
.cons-heading{
    color: #32AA27;
    font-size: 22px;
    font-weight: 700;
    font-family: "Poppins";
    margin-top: 20px;
    margin-left: 20px;
}
.cons-heading2{
    color: #162415;
    font-size: 28px;
    font-weight: 700;
    font-family: "Poppins";
    margin-top: 20px;
    margin-left: 20px;
}
.card{
    background-color: #ffffff;
    height: 250px;
    width: 330px;
    margin-top: 10px;
}
.logo{
    height: 150px;
    width: 330px;;
}
.card-heading{
    color: #1A2A19;
    font-size: 22px;
    font-family: "Poppins";
}
.card-paragraph{
    color: #162415;
    font-family: "Poppins";
    font-size: 15px;
}
.cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width:600px){
    .cards-container{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding: 10px;
        margin: 10px;
    }
    .consulting-container{
        background-color: #ffffff;
        height: 50vh;
    }
    .footer-container{
        background-color: #1A2A19;
        height: 30vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.footer-container{
    background-color: #1A2A19;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-heading{
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    font-family: "Poppins";
    margin: 10px;
}
.footer-para{
    color: #ffffff;
    font-size: 24px;
    font-family: "Poppins";
    margin: 10px;
}
.footer-para2{
    color: #ffffff;
    font-size: 20px;
    font-family: "Poppins";
    margin: 10px;
    text-decoration: underline;
}
.bi{
    color: #ffffff;
    padding: 10px;
}