@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.nav-link {
    color: #000000;
}

.card1 {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pexels-suvan-chowdhury-37305-1580085.jpg");
    background-size: cover;
    height: 50vh;
    color: #ffffff;
    text-align: center;

}

.bt1 {
    background-color: #FFc107;
    border-width: 0px;
    color: #818281;
    border-radius: 3px;
    height: 25px;
}

.card3 {
    background-color: #FFC107;
    height: 40vh;
    text-align: center;
    padding: 10px;

}

.card4 {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
}

.bt2 {
    color: #17A2B8;
}

.bt2 {
    color: #dc3545;
}

.bt2 {
    color: #28a745;
}