@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.page{
    background-image: url("https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg");
    background-size:cover;
     
}
.nav{
    position:fixed;
}
body{
    font-family:Poppins;
}
.card:hover{
    transform:translate(20px,10px);
}
.head:hover{
    color:#558D97;
}