@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.fristpage{
    background-image:url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    background-size:cover;
    height:50vh;
    color: white;
    text-align:center; 

    
}
.carservices{
    height:25px;
    color:#1b262c;
    text-align: center;
    
    
}
.oilchange{
    /* height:50px; */
    background-size:cover;
    
}
.cards{
    background-color:#f2ccff;
}