@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg{
    background-image: url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg");
    height: 300px;
    width: 700px;
    background-size: cover;
}
.bar{
 background-color: #20341E;
 
 display: flex;
 flex-direction: row;
 width: 700px;
 
 
}
.but{
    background-color: #32AA27;
}

    .grid-cols-4{
        column-count: 4;
    }