@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.text-sm{
    color:#558D97 ;
}
.mt-5{
    color:#558D97 ;
}
.HI{
    background-color:#C4DDDE ;
    font-family: Poppins;
}
.bye{
background-color: #40677D;
font-family: Poppins;
text-align: center;
color: white;
}
.hello{
    text-decoration: underline;
}