@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.head {
    text-align: center;
    background-color: #f0f8ff;
    font-size: 10px;

}

.sand {
    color: skyblue;
    font-family: Roboto;
    font-size: 20px;


}

.img1 {
    width: 400px;
    height: 400px
00px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}
.btn1 {
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
}

.btn2 {
    color: white;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

.buttons {
    text-align: center;
    font-size: 7px;
    border-radius: 2px;
      text-align: center;

}

.btn {
    color: white;
    padding: 5px;
    border-radius: 5px;

}

/*Write your CSS code below and don't modify anything above*/