/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.blue{
    background-color: #0018f9;
    color: white;
    text-align: center;
    
}
.p2{
    padding-bottom: 120px;
    padding-top: 10px;
}
.h{
    padding-top: 10px; 
    padding-bottom: 5px;
    font-size: 30px;
}
.p{
    font-size: 10px;
}
.white{
    margin-top: 0px;
    padding-left: 10px;
    background-color: #f4f4f4;
    height: 300px;
}

.h2{
    color:#333;
    font-weight: bold;
    
}
.footer{
    background-color: #333;
    height: 50px;
    text-align: center;
    color: white;
    padding-top: 5px;
}
