@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}
/*Write your CSS code below and don't modify anything above*/
.navbar{
    background-color: #343A40;
}

.a{
    text-align: center;
}
.main_page{
background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/food+banner+image.jpg");
background-size: cover;
height:30vh;
width:90vw;
}

.heading{
    color: #FFFFFF;
    font-family: Caveat;
    text-align: center;
}

.sub-heading{
     color: #FFFFFF;
    font-family: Roboto;
    text-align: center;
    font-size: 5px;
}

.btn{
    background-color: red;
    text-align: center;
    color: #FFFFFF;
    
}


.b{
    text-align: center;
}
.background{
    background-color: #FFF0CE;
}

.heading1{
    font-family: Caveat;
    color: #FF0000;
}

.name{
    font-family: Caveat;
    color: #FF0000;
}

.c{
    text-align: center;
    background-color: #FFDE63;
}

.heading2{
    font-family: Caveat;
    color: #FF0000;
}

.abc{
    background-color: #FFF0CE;
    text-align: left;
}