@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.bg{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    background-size: cover;
    height:100vh;
    color:white;
    text-align: center;
}
.img{
    height: 150px;
   border-radius: 200px;
   width:150px;
}
.sec1{
    background-color: #d1e5f9;
    padding:20px;
}
.footer{
    background-color: #1b262c;
    color:#f9f9f9;
    padding:20px;
}