/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    font-family: "Roboto";
}

.i{
    background-size:cover;
    
    
}
.o{
    background-color:grey;
    color:white;
}
.k{
    background-color:#334443;
    font-size:10px;
    color:white;
    text-align: center;
}
.im{
    background-size:cover;
    height:100px;
    width:100px;
}
.ee{
    color:red;
    text-align:center;
}
.ii{
    background-color:blue;
    text-align:center;
}
.ww{
    background-color:#34656D;
}
/*Write your CSS code below and don't modify anything above*/
