@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.bg {
    background-color: #FAA533;
}
.h1{
    font-size: 20px;
    font-family: "Roboto";
}
.p{
    font-family: "Roboto";
}
.img{
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/pexels-kampus-8190804.jpg');
    background-size: cover;
    height: 20vh;
    width: 30vw;
    
}
.bg3{
    background-color: #Ef7722;
}
/*Write your CSS code below and don't modify anything above*/