/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

.bg1{
    background-color: #0018f9;
    height:50vh ;
    width:100vw;
}
.head1{
    color: #FFFFFF;
    text-align: center;
    font-family: Roboto;
}
.bg2{
    background-color: #f4f4f4;
    height: 40vh;
    width:100vw ;
}
.head2{
    font-family: Roboto;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
}
.mar{
    margin: 15px;
}
.bot1{
    color: #FFFFFF;
    background-color: green;
    border-radius:5px;
    font-family: Roboto;
    padding: 20px;
}
.bot2{
    color: pink;
    background-color: #FFFFFF;
    border-radius:5px;
    font-family: Roboto;
    border-color: blue;
    padding: 20px;
    
}
.bot3{
    color:#333 ;
    background-color: lightblue;
    border-radius:5px;
    font-family: Roboto;
   border-width: 0px;
   padding: 20px;
    
}
.bot4{
    color:#FFFFFF ;
    background-color: #333;
    border-radius:5px;
    font-family: Roboto;
   border-width: 0px;
   padding: 20px;
 
    
}
.bg3{
    background-color: #333;
    height:13vh ;
    width:100vw;
}
.head3{
    color: #FFFFFF;
    padding: 30px;
   
}
