/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

con{
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.main1 {
    background-color: lightblue;
    background-size: cover;
    width: 100vh;
    height: 80vh;

}

.mh {
    text-align: center;
    font-family: "Caveat";
    font-size: 35px;
}

.con {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-color: #0071e3;
    border: 5px;
    border-radius: 10px;
    margin: 5px;
}

.head1 {
    font-size: 20px;
    font-family: "Ceveat";
}

.b1 {
    font-family: "Ceveat";
}

.para {
    font-family: "Ceveat";
    font-size: 18px;
}



.head2 {
    font-size: 20px;
    font-family: "Ceveat";
}

.b2 {
    font-family: "Ceveat";
}





.head3 {
    font-size: 20px;
    font-family: "Ceveat";
}

.b3 {
    font-family: "Ceveat";
}
