@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.seconddiv{
    background-image: url('https://cdn.b12.io/client_media/pYiUYPFe/e1bbab32-0489-11f0-9106-0242ac110002-jpg-hero_image.jpeg') ;
    width: 100vw;
    height: 50vh;
    background-size: cover;
}

span{
    width: 120px;
    padding: 0px;
}