@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container-nav{
    height: 54px;
    width: 100vw;
    background-color: #466F87;
}
.nav-head{
    color: #ffffff;
    padding: 13px;
    font-size: 20px;
    font-weight: bold;
}
.img1{
    height: 450px;
    width: 100vw;
}
.bottom-container{
    background-image: url('https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg');
    height: 450px;
    width: 100vw;
    background-size: cover;
}
.map-head{
    color: #ffffff;
    font-size: 43px;
    font-weight: bold;
    padding: 15px;
    padding-top: 150px;
    padding-bottom: 0px;
    padding-left: 40px;
}
.para1{
    color: #ffffff;
    font-size: 27px;
    padding-left: 40px;
    font-weight: solid;
    
}
.button-EL{
    background-color: #558D97;
    color: #ffffff;
    height: 35px;
    width: 145px;
    margin: 35px;
    
    padding-bottom: 5px;
}
.last-container{
    background-color: #C4DDDE;
    height: 450px;
    width: 100vw;
    background-size: cover;
}
.para2{
    padding: 10px;
    color: #000000;
    font-size: 12px;
}
.journey{
    color: #000000;
    font-weight: bold;
    font-size: 32px;
    padding-left: 10px;
}