.container {
    background-image: url('https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg');
    height: 100vh;
}

.navbar {
    background-color: #466F87;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    navbar: fixed;
}

.nav-heading {
    color: white;
    font-weight: bold;
}

.fa {
    color: white;
    font-weight: bold;
}

.navbar-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    margin-top: 100px;
}

.navbar-description-heading {
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.navbar-description-paragraph {
    color: white;
    font-weight: 500;
}

.navbar-description-button {
    background-color: #466F87;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
}

.image-container {
    background-color: #C4DDDE;
    height: 100vh;
}
.image-container-padding{
    padding: 10px;
}
.image-container-heading{
    color:#558B97;
    font-weight: bold;
}
.image-container-paragraph{
    font-weight: 500;
}