@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.heading{
    background-color: green;
}
.container{
    background-image: url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
   height: 100vh;
    
 
}
.heading-2{
    text-align: center;
    align-items: center;
    color: white;
}
.btn{
    background-color: green;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.heading4{
    color: green;
}
.heading5{
   font-size: 30px;
}
.image::hover{
   transform: scale;
}

.card9{
    background-color: black;
    background-size: cover;
    height: 50vh;
    color: white;
}

.heading10{
    text-align: center;
    font-size: 24px;
}