@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
/*write your code below*/
.a{
    text-align: center;
    color: white;
    background-color: #0d3b66;
    padding :60px;
}
.b{
    background-color: #ee964b;
}
.ab{
    text-align: center;
    background-color: #faf0ca;
    padding: 30px;
    
    
}
.c{
    height: 140px;
    width: 160px;
}
.d{
    background-color: #f4d35e;
    text-align: center;
    margin: 40px;
    padding: 40px;
}
.q{
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 20px;
}
.h{
    background-color: #faf0ca;
    display: flex;
    justify-content: space-between;
}
