@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.bgc {
    background-image: url("https://cdn.b12.io/client_media/uRhFd1jE/4adf7c08-057d-11f0-adbc-0242ac110002-jpg-hero_image.jpeg");
    height: 55vh;
    width: 100vw;
}

.te {
    border-color: black;
    border-style: solid;
}

.he {
    color: #ffffff;
    font-family: Poppins;
    font-size: 26px;
}

.p {
    color: #ffffff;
    font-family: Poppins;
    font-weight: normal;
}

.te {
    color: #ffffff;
    font-family: Poppins;
}