@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.Welcome-to-telgu-veggi-container {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg');
    text-align: center;
    width: 100%;
    color: white;
    padding: 20px
}

.Welcome-to-telgu-veggi-heading {
    font-family: "Caveat";
    padding: 20px;
}

.Welcome-to-telgu-veggi-paragraph {
    font-family: "Roboto";
}

.Welcome-to-telgu-veggi-button {
    height: 40px;
    width: 80px;
}


.Our-story-container {
    background-color: #A8F1FF;
    text-align: center;
    width: 100%;
    padding: 20px
}

.Our-story-heading {
    font-family: "Caveat";
    font-weight: bold;
}

.Today-menu-container {
    background-color: #6FE6FC;
    background-size: cover;
    width: 100%;
}

.Today-menu-heading {
    font-family: "Caveat";
    font-weight: bold;
    text-align: center;
}

.Today-menu-card {
    background-color: white;
    height: 200px;
   
}

.Today-menu-card-img {
    height: 150px;
    width: 120px;
    ;
}

.Discount-and-offers{
    background-color: #A8F1FF;
}

.Discount-and-offers-heading{
    font-family: "Caveat";
}

.Book-a-Table{
    background-color: #4ED7F1;
}

.Book-a-Table-heading{
    font-family: "Caveat";
    text-align: center;
    font-weight: bold;
}