@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.images {
    background-image: url("https://cdn.b12.io/client_media/bgjFMIEJ/9b307e74-0572-11f0-833d-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
    height: 45vh;
    width: 100%;
}