@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.head {
    font-size: 14px;
}

.navbar {
    background-color: #3A3A40;
    color: white;
}

.fist {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg');
    background-size: cover;
    height: 40vh;
    color: white;
    font-family: "Caveat";
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    border-width: 0px;
    background-color: #0ec930;
    color: white;
}

.sec {
    background-color: #9BFAA9;
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.head-sec {
    font-family: "Caveat";
    font-weight: bold;
}


.thr-sec{
     background-color:  #9BFAA9;
     height: 25vh;
     display: flex;
     justify-content: center;
     align-content: center;
     
    
}
.img-last {
    height: 200px;
}
.btn-last{
    border-width: 0px;
    
}
.thr-last {
    background-color: #0ec930;
    height: 20vh;
    text-align: center;
    font-weight: bold;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
