@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.card1 {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg");
    background-size: cover;
    height: 50vh;
    width: 1280px;
}

.h1 {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.p1 {
    color: #818281;
    font-size: 30px;
    text-align: center;
}

.b1 {
    width: 150px;
    background-color: #28A745;
    color: #ffffff;
    border-width: 0px;
    border-radius: 5px;
}

.card2 {
    background-color: #28A745;
    height: 40vh;
}

.h2 {
    color: #ffffff;
    text-align: center;
    font-size: 40px;
}

.card3 {
    background-color: #ffffff;
    height: 20vh;
    text-align: center;
    border-radius: 10px;
}

.bi-basket2-fill {
    color: #FFC107;
}

.bi-moon-stars-fill {
    color: #007BFF;
}

.bi-suit-heart-fill {
    color: #dc3545;
}

.h3 {
    color: #000000;
}

.p2 {
    color: #818281;
}

.b2 {
    border-color: #FFC107;
    color: #FFC107;
    border-radius: 1px;
    background-color: #ffffff;
}

.b3 {
    border-color: #dc3545;
    color: #dc3545;
    border-radius: 1px;
    background-color: #ffffff;
}

.b4 {
    border-color: #007BFF;
    color: #007BFF;
    border-radius: 1px;
    background-color: #ffffff;
}

.h4 {
    color: #ffffff;
    font-size: 30px;
}

.p3 {
    color: #ffffff;
    font-size: 25px;
}