@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.topnavbar {
    background-color: #5c4a7a;
}

.heading_top_1 {
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
}

.navtext_1 {
    color: #f3edf7;
    padding: 10px;
    font-family: "Open Sans";
}

.navtext_1:hover {
    background-color: #f3edf7;
    text-decoration: none;
}

.top_container_1 {
    background-image: url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642069/ethereal/assets/images/background.jpg');
    background-size: cover;
    background-color: black;
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_ethernal {
    color: #e74c3c;
}

.heading_text {
    color: white;
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
}

.paragraph_text {
    color: #f3edf7;
    font-family: "Sans-Serif";
}

.button_1 {
    color: #f3edf7;
    font-family: "Open Sans";
    background-color: transparent;
    height: 50px;
    width: 130px;
    border-radius: 30px;
}

.icon_bulb {
    color: red;
    font-size: 40px;
    border-radius: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: #f3edf7;
    padding: 30px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;

}

.text_heading_2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.text_paragraph_2 {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
}

.text_container_top_2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

.paragraph_bulb {
    padding: 20px;
    padding-left: 30px;
}

.container_work {
    background-color: #f3edf7;
    width: 100vw;
}

.text_container_heading_1 {
    margin: 30px;
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    text-align: center;
}

.image_ourwork_1 {
    height: 300px;
    margin: 20px;
}

.button_edit2 {
    font-family: "Open Sans";
    text-align: center;
}

.button_edit21 {
    border-radius: 20px;
    color: #f3edf7;
    width: 180px;
    margin: 20px;
    font-family: "Open Sans";
}

.subscribecontainer {
    background-color: #333333;
    height: 30vh;
}

.text_container_subscribe {
    margin: 10px;
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    color: white;
}

.text_container_subscribe_p {
    margin: 10px;
    color: #f3edf7;
    font-family: "Open Sans";
}

.text_container_heading_aboutus {
    margin: 30px;
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: red;
    text-align: center;
}

.text_para_aboutus {
    margin: 10px;
    font-family: "Open Sans";
}

.container_aboutus_client {
    text-align: center;
    margin: 80px;
}

.para_aboutus_client {
    font-family: "Open Sans";
    font-weight: bold;
}

.client_number {
    font-size: 70px;
    color: red;
    font-family: "Open Sans";

}

.container_aboutus_flex {
    display: flex;
    justify-content: center;
}

.container_contact_us {
    background-color: grey;
}

.nametext_2 {
    padding-left: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #f3edf7;
    margin: 10px;

}

.text_underline {
    border-radius: 2px;
    border-style: solid;
    border-color: red;
    border-width: 3px;
}

.namemessage_2 {
    padding-left: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    color: #f3edf7;
    margin: 10px;
    padding-bottom: 80px;

}

.contactus_address {
    color: red;
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    margin: 20px;
}

.contactus_para {
    color: black;
    font-family: "Open Sans";
    font-weight: bold;
    margin: 20px;
}

.contactus_icon {
    display: flex;
    justify-content: center;
}

.iconat {
    color: red;
    margin: 5px;
}

.icontext {
    margin: 5px;
    font-family: "Open Sans";
}

.container_bottom_container {
    text-align: center;
}

.footer_text_1 {
    margin-top: 20px;
    color: grey;
    font-family: "Open Sans";
    font-weight: bold;
}

.icon_socialmedia {
    font-size: 20px;
    margin: 5px;
    border-radius: 50px;
    border-width: 12px;
    border-style: solid;
    padding: 2px;
}

.last_text {
    color: red;
}

.last_para {
    font-family: "Open Sans";
    margin: 10px;
}