@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.headerel{
    background-color: #008080;
    display:flex;
    gap:350px;
    color:white;
}
.icons{
    color:white;
    display:flex;
    flex-direction:row;
    gap:20px;
}
.bg-container{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8694926/2000_60d29a34c3df8.jpg");
    background-size:cover;
    height:400px;
}

.h1{
    color:white;
    font-family:"Roboto";
    padding-top:100px;
    padding-left:50px;
    
    font-size:50px;
}
.p1{
    color:white;
    font-family:"Roboto";
    padding-left:80px;
    font-size:20px;
}
.services-container{
    background-color:#ccffff;
}
.img1{
    height:200px;
    width:200px;
    border-radius: 100px;
    margin-left:50px;
}
.h2{
    color:black;
    font-size:30px;
    padding-left:20px;
}
.p2{
    color:black;
    font-size:20px;
    padding-bottom:30px;
    padding-left:20px;
}
.footer{
    display:flex;
}
.p3{
    display:flex;
    gap:10px;
}