@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}


/*Write your CSS code below and don't modify anything above*/
.mainof{
    
}


.first_container{
    text-align: center;
    padding: 150px;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg');
    background-size: cover;
    height: 20vh;
    
}
.second_container{
    text-align: center;
    padding:50px;
    background-color: #A8F1FF;
    background-size: cover;
    height: 15vh;
}
.third_container{
    text-align: center;
    background-color: #6FF6FC;
    height: 25vh;
}
.image_card{
    height: 250px;
    width: 300px;
    padding-top:  10px;
    
}
.bg_for_card{
    background-color: #FFFFFF;
    width: 320px;
    height: 380px;
}
.fourth_container{
    background-color: #A8F1FF;
    text-align: left;
    height: 17vh;
}
.image_for_veggie{
        height: 270px;   
        width: 425px;
        padding-top: 50px;
}
.fifth_container{
    text-align: center;
    background-color: #6FF6FC;
    height: 15vh;
    
}
.sixth_table{
    text-align: center;
    background-color: #343A40;
    height: 5vh;
    color: #FFFFFF;
}
.curly_fonts{
    font-family: Caveat;
}
.roboto_one{
    font-family: ro;
}