/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
h2{
    font-size: 25px;
}
.back{
    background-color: lightblue;
    height: 110vh;
    width: 100vw;
    text-align: center;
}
.heading{
    font-size: 40px;
    margin-top: 30px;
}
.white{
    background-color: #ffffff;
    border: solid ;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    text-align: left;
    margin: 5px;
    margin-right: 60px;
    margin-left: 60px;
}
.dot{
    list-style: square;
}
.center{
    text-align: center;
}
.white1{
    background-color: #ffffff;
    border: solid ;
    border-width: 2px;
    border-color: black;
    border-radius: 10px;
    text-align: left;
    margin: 5px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 50px;
}
.dot1{
    list-style-type: upper-roman;
}
.dot2{
    list-style: circle;
}
.dot4{
    list-style-type: upper-alpha;
    margin-bottom: 20px;
    margin-top: 20px;
}
.dot5{
    margin-bottom: 20px;
    margin-top: 20px;
}
