@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.background {
    background-color: #F08787;
    height: 40vh;
}

.background-image {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/dusear+1.jpg');
    height: 50vh;


}

.heading {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.para {
    font-family: "Roboto";
    color: #ffffff;
    text-align: center;
}

.card {
    background-color: #FFFFFF;
    width: 40vh;
    height: 20vh;
    ;
    text-align: center;
    border-radius: 10px;
}

.card-heading {
    font-family: "Roboto";
    font-size: 20px;
    text-align: center;
}

.venue-heading {
    font-family: "Roboto";
    text-align: center;
}