@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.heading{
    font-weight: bold;
}
.ser{
    gap: 20px;
}
.footer{
    display: flex;
    gap: 12px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    height: 4vh;
    margin-right: 40px;
}
.section2{
    background-image: url('https://cdn.b12.io/client_media/pYiUYPFe/e1bbab32-0489-11f0-9106-0242ac110002-jpg-hero_image.jpeg');
    height: 50vh;
    background-size: cover;
    padding: 190px;
}
.sechead{
    font-size: 60px;
    color: white;
    font-weight: bold;
}
.secpara{
    font-size: 30px;
    color: white;
    
}
.button1{
    border: none;
    background-color: #32AA27;
    height: 44px;
    color: white;
    width: 180px;
    
}
.sec3heading{
    color: green;
    margin: 20px;
}
.sec3para{
    font-weight: bold;
    font-size: 30px;
    margin: 20px;
}
.card1{
    height: 300px;
    width: 250px;
    text-align: center;
    background-color: gray;
    
}
.cardhead{
    font-weight: bold;
    color: black;
    padding: 2px;
}
.paracard{
    color: #f2f2f2;
    padding: 2px;

}
.card1:hover{
    color: green;
    transform: scale(20deg);
}
.alingin{
    display: flex;
    gap: 12px;
    margin: 20px;
    justify-content: center;
}
.leftcard{
    background-color: #e0e0e0;
    height: 16vh;
    width: 60vw;
    text-align: center;
    padding: 12px;
}
.Navigation{
    font-weight: bold;
    text-align: center;
    
}
.rightcard{
    background-color: #fafafa;
    height: 16vh;
    width: 60vw;
    text-decoration: underline;
    text-align: center;
    padding: 12px;
}