@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.bg{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/tfc+banner.jpg");
background-size:cover;
height:20vh;
    text-align:center;
    place-content:center;
}
.b{
    background-color:#0ec930;
    color:white;
    border-width:0px;
    width:130px;
}
.card{
    background-color:#9BFAA9;
    text-align:center;
    
}
.r{
 background-color:#0ec930; 
 text-align:center;
 height:50vh;
}
.image{
    height:100px;
    width:130px;
   
}
.image1{
     background-color:white;
}
.w{
 width:200px;   
 height:100px;
}
.n{
    background-color:#52FA6c;
}
.s{
    text-align:center;
    background-color: #0ec930;
}
.d{
    background-color:#343A40;
    text-align:center;
    
}
