@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.container-fluid {
    background-color: #2C3E50;
}

.navbar-brand {
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
}

.section_1{
    height: 100vh;
    min-width: 1280px;
    background-size: cover;
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/new+year.jpg');
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.head1{
    color: #ffffff;
}
.para1{
    color: #ffffff;
}
.section_2{
    height: 100vh;
}

.section_2{
    height: 100vh;
    background-size: cover;
    background-color:#2C3E50 ;
    text-align: center;
}
.bi_disc_fill{
    height: 20px;
    width: 30px;
    
    text-align: center;
}
.head2{
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.btn2{
    margin: 30px;
    border-radius: 10px;
    color: #28A745;
    border-style: outset;
}
.card{
    height: 200px;
    width: 240px;
    border-radius: 10px;
}