/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.a{
    background-color: #f2f4ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
     
}
.b{
    background-color: #FFF;
    height: 50vh;
    width: 30vw;
   margin: 300px;
   text-align: center;
    
}
.img{
    height: 20vh;
    
}
.black{
    color:black;
    font-weight: bold;
}
.d{
    background-color:#4e73df ;
    margin: 10px;
}
.e{
    background-color: #e2e2e2;
    margin: 10px;
}
.f{
    color: #8a8384;
}
.q{
    text-align: center;
}

/*Write your CSS code below and don't modify anything above*/
