@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.col{
     background-color:#FFE0CC ;
     color: #000000;
     text-align: left;
}

.ron{
   margin:0;
   font-family: "Roboto";
} 
.bon{
     background-color: white;
     width: ;
}
.col1{
     background-color:#DC3545 ;
     
     
}
.col2 { 
       background-color: #0761F2;
}
    
    
    
    
    
    
    
    
    
    
    
}

/*Write your CSS code below and don't modify anything above*/