@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.content1 {
    background-image: url('https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/trdseawsertdrs.jpg');
    background-size: cover;
    height: 60vh;
    text-align: center;
}

.heading {
    color: #ffffff;
    font-size: 15px;
    font-family: "Roboto";
}

.paragraph {
    color: #ffffff;
    font-size: 10px;
    font-family: "Roboto";
}

.button {
    background-color: #28A745;
    color: #ffffff;
    font-size: 8px;
    width: 90px;
    height: 20px;
    text-align: center;
    border-width: 0px;
}

.content2 {
    background-color: #28A745;
    height: 60vh;
    text-align: center;
    padding: 10px;
}

.heading0 {
    color: #ffffff;
    font-size: 18px;
}

.card1 {
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 5px;
}

.head {
    color: #000000;
    font-size: 12px;
}

.para {
    color: #818281;
    font-size: 10px;
}

.btn1 {
    font-size: 5px;
    border-style: solid;
    border-color: #FFC107;
    border-width: 1px;
    background-color: #FFFFFF;
    color: #FFC107;
}

.btn2 {
    font-size: 5px;
    border-style: solid;
    border-color: #dc3545;
    border-width: 1px;
    background-color: #FFFFFF;
    color: #dc3545;
}

.btn3 {
    font-size: 5px;
    border-style: solid;
    border-color: #007BFF;
    border-width: 1px;
    background-color: #FFFFFF;
    color: #007BFF;
}

* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/