@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: "Open Sans",sans-serif;
    text-align: center;
}
nav{
    color:white;
    background-color:#5c4a7a ;
}
#nav-color{
    font-family: Lobster;
    font-size: 30px;
    font-weight: 500;
    color:white;
}
.navbar-nav{
    margin-left: auto;
    color:white;
}
#linker:hover{
    border-bottom-width: 4px;
    border-color: #e74c3c;
    
}
.intro-section{
    height:70%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
     background-image:url('https://res.cloudinary.com/dg8n2jeur/image/upload/v1735642069/ethereal/assets/images/background.jpg') ;
    background-size: cover;
    
    padding: 40px;
    text-align: center;
    color:white;
}
.intro-section:before{
   background-color: #5c4a7a;
    opacity :0.4;
    z-index: 1;
}
h1,h2{
    font-family: Lobster;
}

h1 span{
    color:#e74c3c;
}
h2{
    font-size: 20px;
}

.intro-section button{
    background-color: transparent;
    padding: 20px;
    border-radius: 40px;
    color:#f3edf7;
    border: 3px solid ;
}
.intro-section button:hover{
     background-color: #f3edf7;
     color:black;
}
.container-fluid{
    display: flex;
    height:50%;
    margin-top: 50px;
     margin-bottom: 50px;
}
.card{
    width:40%;
   height:10%;
    border:0px;
    display: flex;
    flex-direction:row ;
    margin:auto;
    padding:6px ;
    text-align: left;
}
.tags{
    color:#e74c3c;
    font-size: 30px;
    padding:12px;
    padding-right: 5%;
    border:2px;
}
.container{
    text-align: center;
    padding-top: 50px;
}
h3{
    font-size: 30px;
    font-family: Lobster;
    text-decoration: underline;
    text-decoration-color: #e74c3c;
    text-decoration-style: solid;
}
.container button{
    margin:10px;
    padding: 10px;
    background-color: #e74c3c;
    border-radius: 6px;
    color: white;
    border:0px;
}
.container button:hover{
 background-color: #e74c3c;
 opacity: 0.7;
}
.images-gallery{
    height:50%;
    width: 50%;
    border-radius: 4px;
    margin-top:10px;
    transition: ease 1s;
}
.images-gallery:hover{
    transform:scaleY(1.1);
}
.subscribe div{
    text-align: left;
    padding:20px;
    color:#ffffff;
    
}
.button-subs{
    border: 0px;
    background-color: #e74c3c;
    padding:10px;
    border-radius: 50px;
    color:white;
}
.subscribe{
    display: flex;
    justify-content: space-between;
    background-color: #333333;
}
.button-subs-div{
    display: flex;
    justify-content: end;
    align-items: center;
    width:40%;
}
.para{
    font-size: 45px;
    color:#e74c3c;
}
.rowing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.one{
    display: flex;
    justify-content: center;
    align-content: center;
}
input{
    border-left: 0px;
    border-right: 0px;border-top: 0px;
    border-bottom-color: #e74c3c;
    padding: 10px;
    margin:2px;
}
.flexprops{
    display: flex;
    
}
.footer{
    background-color: #f3edf7;
    display: flex;
    justify-content: space-around;
    padding:9px;
    
}
.bot{
    background-color: #333333 ;
    color:#fff;
    height:30px;
    width:30px;
    border-radius: 3px;
    text-align: center;
    
}