@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.sec {
    background-image: url('https://cdn.b12.io/client_media/mr82EC4Y/91df2bea-060d-11f0-a157-0242ac110002-jpg-regular_image.jpeg');
    height: 100;
    background-size: cover;
}