/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg {
    background-color: #5c3d2e;
    height: 100vh;
    background-size: cover;

}
.top-color {
    background-color: #000000;
    color: #ffffff;
}
.text{
    background-color: ;
}
.btn-button{
    background-color: #ffA500;
    text-align: right;
    border-width: 0px;
    order: 1;
}
.txt{
    background-color: #5c3d2e;
    color: #ffffff;
    height: 800px;
    font-family:"Roboto";
}
.card{
    padding: px;
    background-color: #5c3d2e;
    color: #ffffff;
    height: 800px;
}
.b{
    background-color: #FFA500;
}
