@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.image {
    height: 250px;
    width: 400px;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.frst {
    text-align: center;
}

.head {
    text-align: center;
    color: skyblue;
    font-weight: normal;
    padding: 10px;
    font-family: "Roboto";
}

.para {
    font-size: 15px;
}

.image2 {
    height: 250px;
    width: 400px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.scnd {
    text-align: center;
}

.para2 {
    font-size: 15px;
}

.image3 {
    height: 250px;
    width: 400px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.thrd {
    text-align: center;
}

.para3 {
    font-size: 15px;
}

.bg {
    background-color: #f0f8ff;
    width: 1280px;
    height: 1260px;
}

.btn2 {
    background-color: orange;
    border-width: 0px;
    height: 38px;
    margin: 5px;
    width: 180px;

}

.btn {
    margin: 5px;
}