/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Caveat";
}

body{
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.bg{
    background-color:lightblue;
    height:600px;
    background-size:cover;
    font-family:"Caveat";
    text-align:center;
}
.cardone{
    height:27vh;
    background-size:cover;
    text-align:center;
    border-radius:7px;
    border-style: solid;
    border-color:#007bff;
    color:#007bff;
    background-color:#f8f9fa;
   
}
.card2{
    height:27vh;
    background-color:#f8f9fa;
    background-size:cover;
    color:#28a745;
    text-align:center;
    border-radius:7px;
    border-style: solid;
    border-color:#007bff;
}
.card3{

     background-color:#f8f9fa;

    color:#dc3545;
    text-align:center;
    
       height:27vh;

    background-size:cover;

 
    border-radius:7px;
    border-style: solid;
   border-color:#007bff;
}
p{
    color:#000000;
}
