@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
    background-image: url("https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: "Roboto";

}

.sections {
    font-size: 10px;
    justify-content: space-around;

}

.h1 {
    font-family: "Roboto";
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.p {
    font-family: "Roboto";
    font-size: 20px;
    color: #ffffff;
}

.button {
    background-color: green;
    color: #ffffff;
    font-family: "Roboto";
    border-radius: 10px;
    padding: 10px;
}

.content {
    padding: 10px;
    margin: 10px;
}
.cards{
    padding: 80px;
    margin: 20px;
}
.para{
    font-family: "Roboto";
    color: green;
    font-size: 20px;
}
.heading{
    font-family: "Roboto";
   font-weight: bold;
    font-size: 30px;
}
.image{
    height: 50vh;
}
.card1{
    padding: 20px;
    margin: 20px;
    
}
.h2{
    font-family: "Roboto";
   font-weight: bold;
   font-size: 30px;
    
}
.para2{
   font-family: "Roboto";
   font-size: 25px;
}
@media screen and (min-width:992){
    .cards{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.fotter{
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
    font-family: "Roboto";
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.p11{
    text-decoration: underline;
}