@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.div1{
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Veg+Banner+Image.jpg");
    height:50vh;
    background-size:cover;
    text-align: center;
    padding-top: 80px;
}
.div1 h1{
    font-family: Caveat;
    color: #FFFFFF;
    font-size: 25px;
}
.div1 p{
    color:#FFFFFF;
    font-family: Roboto;
    font-size:15px;
}
.div1 button{
    color:#FFFFFF;
    background-color: #6FE6FC;
    border-radius:5px;
    padding:7px;
}
.div2{
    background-color: #A8F1FF;
    height: 30vh;
    background-size: cover;
    text-align: center;
    padding-top:20px;
}
.div2 h1{
    font-family: Caveat;
    color: #000000;  
    font-weight: bold;
    font-size: 25px;
}
.p1{
    font-family: Roboto;
}
.p2{
    font-family: Roboto;
}
.p3{
    font-family: Caveat;
    font-weight: bold;
}
.img{
    height: 100px;
}
.div3{
    background-color: #6FE6FC;
    height: 40vh;
    background-size:cover;
    text-align: center;
}
.div3 h1{
    color:#000000 ;
    font-family: Caveat;
    font-size: 20px;
    font-weight: bold;
}
.div4{
    background-color: #FFFFFF;
    height: 200px;
    padding: 6px;
}
.div4 h1{
    font-family: Roboto;
    font-size: 17px;
}
.div4 a {
    color: #4ED7F1;
}
.div6{
    background-color: #A8F1FF;
    height: 30vh;
    background-size: cover;
    text-align: center;
    padding-top:20px;
}
.img1{
    width:250px;
    height: 150px;
}
.div6 h1{
    font-family: Caveat;
    font-weight: bold;
    font-size: 25px;
}
.div6 p{
    font-family: Roboto;
    font-size: 15px;
    text-align: left;
}
.div6 button{
    border-radius: 5px;
    background-color: #FFFFFF;
    color:#000000;
    border-width: 0px;
}
.div7{
    background-color: #6FE6FC;
    height: 30vh;
    background-size:cover;
    text-align: center; 
    padding-top:70px;
}
.div7 h1{
    font-family: Caveat;
    font-weight: bold;
    font-size: 25px;
}
.div7 p{
    font-family: Roboto;
    font-size: 15px;
}
.div7 button{
    border-radius: 5px;
    background-color: #FFFFFF;
    color:#000000;
    border-width: 0px;
}
.div8{
    background-color: #343A40;
    height: 5vh;
    padding-top: 10px;
}
.div8 p{
    color:#FFFFFF;
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
}