@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    font-family: "Roboto";
}
/*write your code below*/
.bg{
    background-color: #faf0ca;
}
.bg2{
       background-color: #faf0ca;
}
.bg1{
    background-color: #0d3b66;
}
button{
    background-color: #ee964b;
}
.cbg{
    background-color: #f4d35e;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
}
img{
    width: 100px;
}
.footer{
    background-color: #343a40;
    text-align: center;
}
.cdn p{
    color: #0d3b66;
}
