@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.card{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    background-size: cover;
    height: 320px;
    width: 450px;
    
    color: #FFFFFF;
}
.card1{
    color: white;
    text-align: center;
    
}
.card2{
    text-align: center;
    color: white;
}