@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.h{
    background-color: #c9182c;
}
.k{
    color: #FFFFFF;
    padding-left: 10px;
}
.l{
    color: #FFFFFF;
    background-color: #000000;
    border-color: #000000;
    border-radius: 5px;
    padding-left: 10px;
}
.m{
    background-color: #8bc28c;
} 
.x{
    background-color: #a7c957;
}
.o{
    background-color: #c5dbf0;
} 
.z{
    background-color: #797d62;
}
.w{
    color: #FFFFFF;
    font-size: 20px;
}
.as{
    color: #FFFFFF;
    font-size: 10px;
}
.r{
    background-color: #782832;
}
.cv{
    color: #FFFFFF;
    text-align: center;
}
