@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.bg1 {
    background-color: #83C5BE;
    width: 1280px;

}

.bg2 {
    background-color: #006d77;
}

.bg {
    width: 1280px;
    background-color: white;
    background-size: cover;
}

.img {
    height: 220px;
    width: 220px;
}

.pad {
    padding: 18px;
    margin: 28px;
}

.bg4 {
    background-color: #FFA69E;
}

.card {
    background-color: #F7F4EB;
    padding: 12px;
    margin: 14px;
    border-radius: 12px;
    text-align: center;
}

.img2 {
    height: 80px;
    width: 80px;

}

.pad2 {
    padding: 12px;
    font-family: Roboto;
}

.but1 {
    border-width: 0px;
    color: black;
}

.but2 {
    color: white;
    background-color: black;
    padding: 2px;
}