@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header {
    background-color: #1b262c;
    color: white;
    font-family: Roboto;
    text-align: justify;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.para1 {
    font-family: underline;
    text-align: end;
    padding-top: 0px;
}

.image-1{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/8501790/2000_608d22a928dfd.jpg");
    height: 50vh;
    width:100vw;
    background-size: cover;
}
.heading-2{
    color: white;
    font-family: Roboto;
    font-size:30px;
    text-align:center;
    padding-top:200px;
}
.underline{
    background-color: #bf00ff;
    padding-left:200px;
    margin-left:200px;
    height: 0px;
    border-color:#bf00ff;
    margin-top:0px;
}
.para2{
    color:white;
    font-family: Roboto;
    padding-left:200px;
    padding-top:20px;
    font-weight: bold;
}
.main_page_header{
    padding-top:0px;
}
.service_section{
    background-color: #f2ccff;
    height: 50vh;
    width:100vw;
}
.service_section{
    color: white;
    font-family: Roboto;
    font-size:30px;
    text-align:center;
    padding-top:60px;
}
.underline1{
    background-color: #bf00ff;
    padding-left:200px;
    margin-left:20px;
    height: 0px;
    border-color:#bf00ff;
    margin-bottom: 500px;
}