@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.intoban {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/food+banner+image.jpg");
    height: 300px;
    background-size: cover;
    text-align: center;
    padding: 75px;
}

.introhead {
    color: white;
    font-family: "Caveat";
}

.sec2 {
    text-align: center;
    background-color: #fff0ce;
    padding: 40px;
}

.sec2head {
    color: #ff0000;
    font-family: "Caveat";
}

.name {
    color: #ff0000;
    font-family: "Caveat";
    font-size: 24px;
}

.sec3 {
    background-color: #ffde63;
    text-align: center;
    padding: 20px;
}

.contmen {
    height: 280px;
    width: 225px;
    background-color: white;
    margin-right: 40px;
}

.menimg {
    padding-top: 15px;
    height: 150px;
    width: 200px;
}

.det {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.itemname {
    font-weight: bold;
    font-size: 26px;
}

.imglast {
    height: 225px;
    width: 400px;
}
.textcont{
    padding: 25px;
}
.sec4{
    background-color: #fff0ce;
    padding: 20px;
}
.sec5{
    background-color: #ffde63;
    padding: 50px;
    text-align:center;
}
.but{
    border-color: #ff0000;
}