@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.color {
    color: white;
}
.center{
    text-align: center;
}
.bg-container{
    background-color:#E9B3FB;
    background-size:cover;
    height:20vh;
}
.main-heading{
    font-family:"Caveat";
    color:black;
    font-size:24px;
}
.para{
    color:black;
    font-family:"Roboto";
    font-size:6px;
}
.para-3{
    font-family:"Caveat";
    color:black;
    font-size:6px;
}
.bg-container-2{
  background-color:#9112BC;
    background-size:cover;
    
}
.main-heading-1{
    font-family:"Caveat";
    color:black;
    font-size:20px;
    font-weight:bold;
}
.card{
    height:107px;
    width:120px;
    border-radius:0px;
    margin:10px;
    
}
.image-2{
    height:70px;
    width:119px;
    padding:3px;
}
.card-heading{
    font-family:"Roboto";
    color:black;
    font-size:9px;
    font-weight:bold;
}
.card-dollars{
    color:black;
    font-size:9px;
}
.view-menu{
    color:#ae75da;
    font-size:9px;
}
.fg{
    background-color:#E9B3FB;
}