@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* module.exports={
  theme: {
    extende:{
        colors : {
            'custom-blue':'#1da1f2',
            'custom-green':#17bf63',
            },
        },
    },
},
plugins: [
    require('@tailwindcss/forms'),
    require('@tailwindcss/typeography')
] */
.bg {
    background-image: url("https://cdn.b12.io/client_media/4DgJuwwE/27241e70-03e0-11f0-8f1e-0242ac110002-jpg-hero_image.jpeg");
}
.bg2{
    background-color: #C4DDDE;
}