@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.bg-container {
    background-color: #28a745;
    margin: 0;
    font-family: "Roboto";
}

.h1 {
    font-family: Roboto;
    font-size: 10px;
    color: #ffffff;
    padding: 10px;
}

.h2 {
    text-align: right;
}

.bg-background {
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/illustration-pongal-holiday-background-with-space-text_91314-448.jpg");
    background-size: cover;
    height: 40vh;
}

.H1 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-family: Roboto;
}

.p1 {
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-family: Roboto;
}

.button {
    background-color: #28a745;
    color: #ffffff;
}

.button1 {
    text-align: center;
    padding: 0px;
    margin: 0px;
    size: 20px;
}

.bg-container2 {
    background-color: #CBEAED;
    background-size: cover;
    height: 50vh;
}

.H2 {
    text-align: center;
    color: #000000;
    font-family: Roboto;
    font-size: 20px;
    padding:20px;
}