/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.bg-container {
    height: 100vh;
    width: 110vw;
    background-color: lightblue;
}

.head {
    text-align: center;
    padding: 30px;
}
.bg1{
    background-color: #FFFFFF;
    height: 20vh;
    width: 90vw;
    margin-left: 20px;
    border-width: 60px;
    border-radius: 8px;
   padding: 1px;
    margin: 2px;
    text-align: center;
    
}
.header{
    color: #007bff;
}
.hh{
    color: #28a745;
}
.hhh{
    color: #dc3545;
}
