/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.bg{
background-color: lightblue; 
background-size: cover;
padding: 20px;

}
.head{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
.bg1{
    background-color: #ffffff;
    margin: 10px;
    border-radius: 10px;
    font-size: 10px;
    
   
    
}

.orderlist{
    list-style-type: lower-roman;
}
.square{
    list-style-type: square;
}
.circle{
    list-style-type: circle;
}
.abcd{
    list-style-type: upper-alpha;
}

/*Write your CSS code below and don't modify anything above*/
