@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.p1{
    font-size: 30px;
    
}
.p11{
    font-size: 50px;
    font-weight: bold;
}
.btn1{
    
    background-color: #32aa27;
    padding: 3px;
}
.main{
    height: 400px;
}

.img1{
    height: 150px;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #20341e;
    height: 200px;
    width: 500px;
    color: white;
}
.second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a2a19;
    height: 200px;
    width: 500px;
    color: white;
}
.hero{
    height: 500px !important;
}


.box:hover{
    height:300px;
}