@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.*{
    box-sizing:border-box;
}
body{
    margin:0px;
}
.first-page{
    background-image:url("https://cdn.b12.io/client_media/4AY7x8u9/d11dd50e-04aa-11f0-b0d9-0242ac110002-jpg-hero_image.jpeg");
    background-size:cover;
    height:90vh;
    width:100vw;
}