/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.a{
    text-align: center;
    background-color:#0018f9 ;
    color: #FFFFFF;
}
.w{
    background-color:#f4f4f4;
}
.f{
    text-align: center;
    background-color: #333;
    color: #FFFFFF;
}
.b{
   color: #FFFFFF;
   border-radius: 8px;
   border-width: 0px;
   background-color:#f4f4f4;
}
.c{
    border-radius: 8px;
    padding: 5px;
    
}
.d{
   border-radius: 8px;
   border-width: 0px;
   padding: 5px;
}
.e{
  color: #FFFFFF;
  border-radius: 8px;
  border-width: 0px;
  background-color: #333;
  padding: 5px;
}
