@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/
.navbar-toggler-icon{
    color:white;
    height:10px;
    width:10px;
    justify-content:left;
    
}
.intro-container{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/buger+image.jpg");
    background-size:cover;
    height:400px;
    padding:30px;
}
.content-container{
    margin-top:50px;
    padding:1px;
    text-align:center;
    size:5px;
    color:white;
}
.headingg{
    font-family:"Caveat";
}
.btn{
    border-radius:2px;
    color:white;
    background-color:#F97A00;
}
.ourstory-container{
    background-color:#FFBC4C;
    text-align:center;
    padding:20px;
    size:5px;
    color:black;
}
.todaysmenu-container{
    background-color:#FAA533;
    text-align:center;
    
}
.image1{
    background-color:white;
    height:350px;
    padding:5px;
    text-align:center;
    margin-left:1px;
    margin-right:1px;
    margin-bottom:2px;
}
.img2{
    background-color:white;
    height:350px;
    padding:5px;
    text-align:center;
    margin-left:1px;
    margin-right:1px;
    margin-bottom:2px;
}
.img3{
    background-color:white;
    height:350px;
    padding:5px;
    text-align:center;
    margin-left:1px;
    margin-right:1px;
    margin-bottom:2px;
}
.img-content{
    size:10px:
    margin-bottom:1px;
}
.imagee{
    margin-top:20px;
    padding:30px;
}
.discount-section{
    background-color:#FFBC4C;
    text-align:right;
}
.table-container{
    background-color:#FAA533;
    text-align:center;
}
..btn1{
    color:black;
    border-color:white;
    border-radius:1px;
    background-color:white;
}
.footer{
    text-align:center;
    background-color:#343A40;