@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
.n{
    background-color:#000000 ;
    color: white;
    text-align: center;
    width: 100vw;
}
.d{
    display:flex;
    flex-direction: row;
}
i{
    padding-top:25px ;
    padding-left: 10px;
    padding-right: 200px;
}
.bg{
    background-image: url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg");
    width: 100vw;
    height: 50vh;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding-top:100px ;
}
hr{
    width: 100px;
    color: #39ff14;
    font-weight: bold;
}
h1{
    text-align: center;
    
}
.section{
    background-color: #d4ffcc;
    width: 100vw;
    height: 150vh;
    padding: 10px;
    
}
.card{
    background-color: white;
    margin: 50px;
    padding: 20px;
    text-align: center;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
}
footer{
    text-align: center;
    padding: 50px;
}
span{
    border: 2px;
    border-radius: 50%;
    border-color: black;
}
/* @media (min-width:567px){
    i{
    padding-top:25px ;
    padding-left: 10px;
    padding-right: 80px;
   }
} */
@media (min-width:768px){
    h1{
        text-align: center;
    }
    i{
    padding-top:25px ;
    padding-left: 10px;
    padding-right: 400px;
   }
   .section{
       display:flex;
       flex-direction: row;
       height: 50%;
   }
   .card{
       height:30vh;
       width: 300px;
   }
   
   .foot{
           text-align: left;
       }
   .h{
       text-align:right ;
   }
}