@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.card {
    background-color: #000000;
    height: 50vh;
    width: 100vh;
    flex-wrap: wrap;
    flex-flow: 2px;
}

.head {
    color: #d4ffcc;
    font-size: 15px;
    font-family: "Roboto";
}

.para {
    color: #d4ffcc;
    font-size: 8px;
    text-align: right;
}

.car {
    font-size: 40px;
    height: 50vh;
    width: 50vh;
    background-color: #000000;

}

.heade {
    font-size: 10px;
    color: #d4ffcc;
    font-family: "Roboto";
    

}

.pare {
    color: #d4ffcc;
    font-family: "Roboto";
}

.niat {
    background-color: #39ff14;
    height: 50vh;
    width: 50vh;
    flex-wrap: wrap;
    flex-direction: right;

    flex-grow: shadow;
}

.img {
    height: 50vh;
    width: 50vh;
}
.tie{
    background-color: #39ff14;
    flex-flow: 2px;
    flex-direction: right;
    flex-wrap: wrap;
    font-family: "Roboto";
}
.img4{
    font-size: 20px;
    
}