/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.main {
    background-color: lightblue;
    height: 100vh;
    padding: 30px;
}

.mainhead {
    text-align: center;
    font-family: "Roboto";
}

.card {
    border-style: solid;
    border-color: #3b3b3b;
    margin: 20px;
}

.lst {
    list-style-type: square;
}

.a {
    text-align: center;
}

.lst2 {
    list-style-type: upper-roman;
}

.lst3 {
    list-style-type: circle;
}
.lst4{
    list-style-type: upper-alpha;
}
