@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.bg-green-500 {
    background-color: green;
    height: 40px;
    width: 800px;
}

.btn-3{
    text-align:center;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bg-gradient {
    background-image: url("https://cdn.b12.io/client_media/mr82EC4Y/8ef60dea-060d-11f0-a157-0242ac110002-jpg-hero_image.jpeg");
    height: 500px;
    width: 800px;
    text-align: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: #38BF2C;
    width: 120px;
    text-align: center;
}

.bg-black-500 {
    background-color: black;
    height: 400px;
    width: 800px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hoverr:hover {
    height: 150px;
    width: 200px;
    transition: all;
}

.bg-green-600 {
    background-color: #34B229;
    height: 500px;
    width: 800px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg-green-700 {
    background-color: #34B229;
    height: 500px;
    width: 800px;
}
.flex-column {
    width:800px;
    display: flex;
    flex-direction: row;
}