@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.bg-cont{
    background-image: url("https://cdn.b12.io/client_media/KzcX3335/0f7ceb54-04b1-11f0-aa7d-0242ac110002-jpg-hero_image.jpeg");
    height:90vh;
    width:100vw;
    background-size: cover;
    
}
.pp{
    display: flex;
    flex-direction: row;
}
.bg-cc{
    background-color:black ;
    height:70px;
    width:100vw;
}
.bg-bb{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color:white;
    text-align: center;
    margin:200px;
    font-size: 30px;
    
}
.bg-ee{
    background-color: green;
    height:90vh;
    width: 100vw;
    padding:20px;
    
}
.imagg{
    
    height:80px;
}
.bg-dd{
    display:flex;
    flex-direction: row;
    align-items: center;
    
}
.did{
    background-color: white;
    height:180px;
    width:120px;
    text-align: center;
}