@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body{
   font-family: "Roboto", "Caveat";
}

.bg1{
    background-image:url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/buger+image.jpg");
    text-align:center;
    color: white;
    width: 100vw;
    height: 500px;
    background-size: cover;
    padding: 70px;
    
}

.h11{
    font-family: "Caveat";
    color: white;
}
.p11{
    font-family: "Roboto";
    color: white;
}
.bu1{
    background-color: #F97A00;
    color: white;
}
.bg2{
    background-color:#FFBC4C  ;
    text-align: center;
    padding: 5px;
    background-size: cover;
    
}
.h22{
    font-family: "Caveat";
    color: #000000;
    font-weight: bold;
    
}
.p22{
    font-family: "Roboto";
    color:#343A40;;
}
.p33{
    font-family: "Roboto";
    color: #343A40;
}
.p44{
    font-family: "Caveat";
    color: #000000;
}
.bg3{
    background-color:#FAA533 ;
    text-align: center;
    color: black;
    background-size: cover;
    height: 400px;
}
.h33{
    color: black;
    font-family: "Caveat";
    padding: 10px;
}
.card{
    height: 310px;
    width: 200px;
    text-align: center;
    margin: 10px;
   
    padding: 20px;
    background-size: cover;
}
.card-h{
    color: black;
    font-family: "Roboto";
    font-weight: bold;
}
.card-p{
    color: #343A40;
    
}
.card-p2{
    color: orange;
}
.bg4{
    background-color:#FFBC4C ;
    height: 250px;
    width: 800px;
    background-size: cover;
}
.img{
    height: 200px;
    margin-top: 20px;
}
.bg5{
      background-color:#FAA533 ;
    text-align: center;
    color: black;
    background-size: cover;
    height: 400px;
}
.h333{
    color: black;
    font-family: "Caveat";
}
.p333{
    color: #343A40;
    font-family: "Caveat";
}
.bg6{
   background-color: #343A40;
   color: #FFFFFF;
   text-align: center;
}