/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.head{
    background-color: #0018f9;
    height: 50vh;
    width: 100vw;
    text-align: center;
}
.h{
    padding: 10px;
}


.n{
    color: #ffffff;
    text-align: center;
    padding-bottom: 10px;
}
.d{
    background-color: #333;
    height: 40px;
    width: 100vw;
}
.white{
    background-color: #f4f4f4;
    height: 140vh;
    width: 100vw;
    
}
.p4{
    color: black;
}
.h4{
    color: black;
    font-weight: bold;
    padding: 10px;
}
.btn{
    color: black;
     
}

.h1{
    color: #ffffff;
    font-family: "Roboto";
}
.p1{
    color: #ffffff;
}
.p2{
    color: #ffffff;
}
