/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

.div1 {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

.div2 {
    padding-left: 25px;
}

.div3 {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #007bff;
}

.h1 {
    color: #007bff;
    text-align: center;
}

.b1 {
    color: #ffffff;
    background-color: #007bff;
    padding: 20px;
    border-radius: 15px;
    height:40px;
}
.div4 {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #28a745;
}
.b2 {
    color: #ffffff;
    background-color: #28a745;
    padding: 20px;
    border-radius: 15px;
    height:40px;
}
.h2 {
    color: #28a745;
    text-align: center;
}
.div5 {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: #dc3545;
}
.b3 {
    text-align: center;
    color: #ffffff;
    background-color: #dc3545;
    padding: 20px;
    border-radius: 15px;
    height:40px;
}
.h3 {
    color: #dc3545;
    text-align: center;
}

/*Write your CSS code below and don't modify anything above*/
