/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.containers {
   
}

.cont1 {
    background-color: #0018f9;
    text-align: center;
    color: #ffffff;
    width: 120vw;
    height: 22vh;
    padding: 30px;
    font-family: "Roboto";
}

.cont2 {
    background-color: #f4f4f4;
    height: 30vh;
    width: 120vw;
   font-family: "Roboto";



}

.ajay {
    margin: 10px;
}

.head {
    color: #000000;
}

.cont3 {
    background-color: #333;
    height: 60px;
    color: #ffffff;
    margin: 20px;
    padding: 15px;
    width: 120vw;
    text-align: center;
}
