@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subf{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight:  bold;
}
.secondpart{
    background-image: url("https://files.cdn-files-a.com/ready_uploads/media/15288910/2000_67c579a9dfe7e.jpg");
    background-size: cover;
    height:50vh;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third{
    background-color: #d1e5f9;
    
   
}
.imag{
    border-radius: 100px;
}
.services{
     display: flex;
    justify-content: center;
}
.bothimg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.imgg{
    border-radius: 50px;
}
.thdimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.foot{
    color:white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.both{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media(max-width:576px){
    .bothimg{display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
        
    }
    .foot{
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
        
    }
}