/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.container{
    background-color: #0018f9;
    height:30vh;
    width:200vh;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#ffffff;
    text-align: center;
    padding:30px;
}

.nithya1{
    border-radius:5px;
    color:white;
    
    border-width:0px;
    margin:5px;
    
}
.nithya2{
    
    color:yellow;
    border-style: solid;
    border-color: yellow;
    border-radius: 5px;
    border-width:2px;
    margin:5px;
    
}
.nithya3{
    border-radius: 5px;
    
    color:#333;
    border-width:0px;
    margin:5px;
}
.nithya4{
    border-radius: 5px;
    color:#f4f4f4;
    
    border-width:0px;
    margin:5px;
}
.harshith4{
    background-color: #333;
    background-size: cover;
    height:10vh;
    width:200vh;
    text-align: center;
    color:#ffffff;
    padding:20px;
}
.harshith3{
    font-weight: bold;
}
