@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Roboto";
}

.shad {
    background-color: #0d3b66;
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.navbar{
    background-color: #faf0ca;
}
.navbar-brand{
    color: black;
    font-weight: bold;
}
.ppp{
    background-color: #343a40;
}

.btn {
    background-color: #ee964b;
}

.main2 {
    background-color: #faf0ca;
    text-align: center;
    justify-content: center;
    align-items: center;


}

.iii {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #f4d35e;
    width: 70%;
    margin-left: 75px;
    margin-bottom: 15px;
}
.ppp{
    color: #ffffff;
    height: 30px;
}
.img1 {
    margin-top: 10px;
}

/*write your code below*/
