@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: "Roboto", "Caveat";
}

/*Write your CSS code below and don't modify anything above*/

.card_1 {
    background-color: #343A40;
    color: #FFFFFF;
    text-align: right;
}

.card_2 {
    text-align: center;
    background-image: url("https://nxtwave-website-media-files.s3.ap-south-1.amazonaws.com/placement-happenings/webcoding-gif/Ice+Banner+Image.jpg");
}

.paragraph {
    color: white;
}

.main_heading_2 {
    color: #FFFFFF;
    font-family: "Caveat";
}

.button_2 {
    background-color: #DC143C;
    color: #FFFFFF;
}

.card_3 {
    text-align: center;
    background-color: #F08787;
    padding: 5px;
}

.main_heading_3 {
    font-family: "Caveat";
    color: #FFFFFF;
}

.name {
    font-family: "Caveat";
    color: #FFFFFF;
}

.card_4 {
    text-align: center;
    background-color: #F75270;
}

.main_heading_4 {
    font-family: "Caveat";
    color: #FFFFFF;
}

.card_5 {
    text-align: right;
    background-color: #F08787;
}

.main_heading_5 {
    font-family: "Caveat";
    color: #FFFFFF;
}

.card_6 {
    background-color: #F75270;
    text-align: center;
}

.main_heading_6 {
    font-family: "Caveat";
    color: #FFFFFF;
}

.card_7 {
    background-color: #343A40;
    text-align: center;
}

.card_8 {
    padding: 15px;
}

.car_1 {
    background-color: white;
}

.car_2 {
    background-color: white;
}

card_3 {
    background-color: white;
}