@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body{
    font-family: Poppins;
    margin: 0px;
}
.navbar{
    background-color: #162415;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.nav-items{
    display: flex;
}
.home{
    margin-left: 220px;
    margin-right: 20px;
}
.container1{
    background-image: url("https://cdn.b12.io/client_media/GnGSNvDJ/a9cbbbaa-04ba-11f0-b3f7-0242ac110002-jpg-hero_image.jpeg");
    background-size: cover;
    height: 60vh;
}
.card{
    padding: 40px;
    padding-top: 40px;
    padding-left: 60px;
}
.head{
    font-weight:700;
    font-size:38px;
    padding-top: 40px;
    padding-bottom: 5px;
    color: #FFFFFF;
}
.para{
   color: #FFFFFF;
   font-size: 15px;
   font-weight: 400;
}
.btn{
    border-width: 0px;
    background-color:#38BF2C;
    height: 40px;
    color: #FFFFFF;
    
}
.container2{
    height: 100vh;
    padding: 40px;
    width: 100vw;
    flex-grow: 1;
}
.para2{
    color: #34B229;
}
.head2{
    color: #162415;
    font-weight: 500;
}
.cardcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: 30vh;
    width: 40vw;
    margin: 5px;
    flex-shrink: 0;
}
.card1{
    background-color: #FFFFFF;
    text-align: left;
    padding: 10px;
    border-color: black;
    border-width: 1px;
}
.footer{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
}
.lightbox{
    background-color:#38BF2C ;
    padding: 30px;
    width: 50vw;
    
}
.darkbox{
    background-color: #34B229;
        padding: 30px;
            width: 50vw;


}