/* Submission 1 */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    font-family: "Caveat";
}

body {
    font-family: "Caveat";
}

.main-container {
    background-color: lightblue;
    height: 95vh;
    background-size: cover;
    text-align: center;
    padding: 30px;
    font-family: Caveat;
}

.heading1 {
    color:#0071e3;
}
.heading2{
    color:#28a745;
}
.heading3{
    color:#dc3545;
}
.container{
    background-color: #FFFFFF;
    height:179px;
    padding: 20px;
    border-radius: 10px;
    border-style:solid;
    border-width:3px;
    border-color:#007bff;
}
