@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    font-family: "Roboto";
}

/*Write your CSS code below and don't modify anything above*/
.card1 {
    background-color: #FAA533;
    height: 35vh;
}

.h1 {
    font-size: 15px;
    padding-top: 30px;
    padding-left: 10px;
}

.p1 {
    font-size: 10px;
    padding-left: 10px;
}

.btn1 {
    background-color: #007bff;
    color: white;
    border-width: 0px;
}

.btn2 {
    background-color: #ff5b5b;
    color: white;
    border-width: 0px;
}

.img1 {
    height: 120px;
    width: 150px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
}

.card2 {
    background-color: #EF7722;
    height: 25vh;
}

.h2 {
    font-size: 18px;
}

.p2 {
    font-size: 10px;
}

.card3 {
    background-color: white;
    width: 200px;
    height: 120px;
    border-radius: 5px;
}

.img2 {
    height: 50px;
    width: 40px;
}

.kl {
    text-align: center;
}

.rt {
    text-align: center;
    font-size: 10px;
}

.j {
    margin: 10px;
}

.k {
    margin-right: 10px;
    margin-left: 10px;
}

.lk{
    padding-left: 10px;
}