@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.row{
    margin: 8px;
    background-color: #FFFFFF;
    font-weight: bold;
    font-family: Poppins;
}
.main_box{
    background-image: url('https://cdn.b12.io/client_media/pYiUYPFe/e1bbab32-0489-11f0-9106-0242ac110002-jpg-hero_image.jpeg');
    height: 50vh;
    background-size: cover;
    
    color: #FFFFFF;
    padding: 15px;
}
.h{
    font-size: 45px;
}
button{
    background-color: #32aa27;
    padding:15px;
    border-color: #32aa27;
    color: #FFFFFF;
}
.first{
    height: 50vh;
    width: 86vw;
}
.first_box{
    margin: 8px;
    background-color: #ffffff;
}
.second_box{
    margin: 8px;
    background-color: #ffffff;
}
.third_box{
    margin: 8px;
    background-color: #ffffff;
}
.Navigation{
    color: gray;
    text-align: center;
}
.d{
    color: black;
}
.Contact{
    color: gray;
    text-align: center;
}
.f{
    color: black;
    padding: 8px;
}