@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


*{
   margin:0;
   font-family: "Roboto";
}
.img1{
    height: 100vh;
}
.card1{
    background-color: #FFFFFF;
    border-radius: 10px;
    height: 250px;
    width: 400px;
    text-align: center;
    margin: 10px;
    padding: 70px;
}
.bg1{
    background-color: #F08787;
}
.h3{
    font-family: "Roboto";
    font-size: 20px;
}
.ll{
    text-align: center;
}

/*Write your CSS code below and don't modify anything above*/