@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

.nav{
    background-color:#000000;
}

.cycle{
    background-image: 'url("https://images.cdn-files-a.com/ready_uploads/media/9724/2000_5cda7f0650a69.jpg")';
    height:100%;
    width: 100%;
    background-size:cover;
}
.bg{
    background-color:#d4ffcc;
    background-size:cover;
    height:500px;
    padding:10px;
    text-align: center;
    font-weight:bold;
}
.green{
    width:30px;
    background-color:#39ff14;
    height:2px;
    border-radius:5px;
    margin-left:120px;
}
.card1{
    height:200px;
    width:150px;
    background-color:white;
    font-size: 10px;
    border-radius:5px;
    
}

.tata{
    height: 50px;
    width:50px;
    border-radius:25px;
    margin-left:40px;
    margin-top:5px;
    margin-bottom: 10px;
}
.card2{
    height:200px;
    width:150px;
    background-color:white;
    font-size: 10px;
    border-radius:10px;
    
}